Repository vu-sa/vusa.lt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Laravel Features, Vue Components, Vue Pages, Vue Composables

Better translation rules and factories
  app/Http/Requests/StoreStudyProgramRequest.php
  app/Http/Requests/UpdateStudyProgramRequest.php
  app/Rules/TranslatableField.php
  database/factories/CategoryFactory.php
  database/factories/Concerns/HasTranslatableFactory.php
  database/factories/StudyProgramFactory.php
  lang/shared/en/validation.php
  lang/shared/lt/validation.php
  tests/CLAUDE.md
  tests/Pest.php
  tests/Unit/Models/TranslatableExpectationsTest.php
  tests/Unit/Rules/TranslatableFieldTest.php
Due: backend, Laravel Features

Enhance problem management features and localization
  app/Http/Controllers/Admin/ProblemController.php
  database/factories/ProblemFactory.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  lang/admin/en/problems.php
  lang/admin/lt/problems.php
  lang/en.json
  resources/js/Components/AdminForms/ProblemForm.vue
  resources/js/Components/FormItems/MultiLocaleTiptapFormItem.vue
  resources/js/Components/ui/data-table/DataTableFilter.vue
  resources/js/Components/ui/data-table/__tests__/DataTableFilter.component.test.ts
  resources/js/Components/ui/data-table/cells/TruncatedLink.vue
  resources/js/Components/ui/data-table/cells/TruncatedText.vue
  resources/js/Pages/Admin/Problems/IndexProblem.vue
  tests/Feature/Admin/Problems/ProblemControllerTest.php
Due: backend, frontend, Laravel Controllers, Vue Components, Vue Pages

Institution graph revamp and refine search results
  app/Http/Controllers/Admin/DashboardController.php
  app/Http/Controllers/Api/Admin/InstitutionApiController.php
  app/Services/RelationshipService.php
  lang/admin/en/relationships.php
  lang/admin/lt/relationships.php
  lang/en.json
  resources/js/Components/Graphs/InstitutionGraph.vue
  resources/js/Components/Graphs/relationshipColors.ts
  resources/js/Features/Admin/AdminSearch/Components/Detail/AgendaItemDetailPreview.vue
  resources/js/Features/Admin/AdminSearch/Components/Detail/DutyDetailPreview.vue
  resources/js/Features/Admin/AdminSearch/Components/Detail/InstitutionDetailPreview.vue
  resources/js/Features/Admin/AdminSearch/Components/Detail/InstitutionRelationGraph.vue
  resources/js/Features/Admin/AdminSearch/Components/Detail/MeetingDetailPreview.vue
  resources/js/Features/Admin/AdminSearch/Components/Detail/NewsDetailPreview.vue
  resources/js/Features/Admin/AdminSearch/Components/Detail/PageDetailPreview.vue
  resources/js/Features/Admin/AdminSearch/Components/Detail/__tests__/InstitutionRelationGraph.component.test.ts
  resources/js/Features/Admin/AdminSearch/Utils/__tests__/searchHitMappers.component.test.ts
  resources/js/Features/Admin/AdminSearch/Utils/searchHitMappers.ts
  resources/js/Pages/Admin/ShowInstitutionGraph.vue
  tests/Feature/Admin/Search/InstitutionPreviewApiTest.php
  tests/Feature/Services/RelationshipServiceTest.php
Due: backend, frontend, Laravel Controllers, Laravel Services, Vue Components, Vue Pages

PHP Linting (Pint)
  app/Http/Controllers/Admin/ResourceController.php
Due: backend, Laravel Controllers

Change how the search bar looks and works
  resources/js/Components/CommandPalette/CommandPaletteTrigger.vue
  resources/js/Components/CommandPalette/__tests__/CommandPaletteTrigger.component.test.ts
  resources/js/Pages/Admin/Dashboard/Components/HomeSearchBar.vue
  resources/js/Pages/Admin/Dashboard/Components/__tests__/HomeSearchBar.component.test.ts
  resources/js/Pages/Admin/ShowAdminHome.vue
Due: frontend, Vue Components, Vue Pages

Potential fix for pull request finding 'CodeQL / Incomplete URL substring sanitization'
  resources/js/Components/RichContent/RCMixcloudEmbed.vue
Due: frontend, Vue Components

Potential fix for pull request finding 'CodeQL / Incomplete URL substring sanitization'
  resources/js/Components/RichContent/RCSpotifyEmbed.vue
Due: frontend, Vue Components

Fix some test errors
  app/Contracts/Commentable.php
  app/Http/Controllers/Admin/FilesController.php
  app/Http/Controllers/Api/Admin/CommentApiController.php
  app/Http/Controllers/Api/Admin/InstitutionApiController.php
  app/Http/Controllers/Api/Admin/ResourceAvailabilityApiController.php
  app/Listeners/NotifyUsersOfComment.php
  app/Models/Calendar.php
  app/Models/Comment.php
  app/Models/Document.php
  app/Models/Duty.php
  app/Models/Institution.php
  app/Models/Meeting.php
  app/Models/News.php
  app/Models/Page.php
  app/Models/Pivots/AgendaItem.php
  app/Models/Pivots/Relationshipable.php
  app/Models/PublicMeeting.php
  app/Models/Reservation.php
  app/Models/Resource.php
  app/Models/SharepointFile.php
  app/Models/Traits/HasComments.php
  app/Models/Type.php
  app/Models/User.php
  app/Services/CommentRecipientResolver.php
  app/Services/ContactPresentationService.php
  app/Services/PublicInstitutionSearchIndexBuilder.php
  app/Services/RelationshipService.php
  app/Services/VoteStatisticsCalculator.php
  app/Support/Commentables.php
  tests/Feature/Admin/Calendar/MeetingControllerTest.php
  tests/Feature/Admin/Management/ContactManagementTest.php
  tests/Feature/Admin/Management/DutyControllerTest.php
  tests/Feature/Admin/Management/InstitutionControllerTest.php
Due: backend, Laravel Controllers, Laravel Models, Laravel Services

PHP Linting (Pint)
  app/Contracts/Commentable.php
  app/Services/ContactPresentationService.php
Due: backend, Laravel Services

Security updates
  .env.example
  AGENTS.md
  _ide_helper.php
  app/Http/Controllers/Admin/DashboardController.php
  app/Http/Controllers/Admin/NavigationController.php
  app/Http/Controllers/Api/Admin/CommentApiController.php
  app/Http/Controllers/Api/Admin/TextBoxSubmissionApiController.php
  app/Models/Comment.php
  app/Models/Pivots/AgendaItem.php
  app/Models/Pivots/Relationshipable.php
  app/Models/Problem.php
  app/Models/Traits/HasComments.php
  app/Models/Type.php
  app/Services/HtmlSanitizerService.php
  app/Services/TanstackTableService.php
  composer.json
  composer.lock
  config/cors.php
  config/logging.php
  config/telescope.php
  package-lock.json
  package.json
  resources/js/Components/Tables/README.md
  resources/js/Types/enums.ts
  tests/Feature/Admin/Content/NewsControllerTest.php
  tests/Feature/Admin/Core/DashboardControllerTest.php
  tests/Feature/Admin/Discussions/CommentModelTest.php
  tests/Feature/Admin/Navigation/NavigationControllerTest.php
  tests/Feature/Api/TextBoxSubmissionAdminTest.php
  tests/Feature/Api/TextBoxSubmissionTest.php
  tests/Unit/Services/TanstackTableServiceTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Vue Components

Fix tests
  app/Http/Controllers/Admin/AgendaItemController.php
  app/Http/Controllers/Api/Admin/CommentApiController.php
  app/Http/Controllers/Api/Admin/CommentPollVoteApiController.php
  app/Http/Controllers/Api/Admin/CommentReactionApiController.php
  app/Policies/CommentPolicy.php
  app/Services/CommentRecipientResolver.php
  app/Services/ContactPresentationService.php
  app/Services/RelationshipService.php
  composer.json
  composer.lock
  tests/Feature/Services/RelationshipServiceTest.php
Due: backend, Laravel Controllers, Laravel Services

Refine DiscussionPanel.vue
  app/Http/Controllers/Admin/ReservationController.php
  app/Http/Controllers/AdminController.php
  app/Services/CommentableMentionResolver.php
  lang/en.json
  resources/js/Components/Discussions/CommentComposer.vue
  resources/js/Components/Discussions/DiscussionPanel.vue
  resources/js/Components/Discussions/__tests__/DiscussionPanel.component.test.ts
  resources/js/Pages/Admin/Reservations/ShowReservation.vue
  resources/js/Pages/Admin/Reservations/__tests__/ShowReservation.component.test.ts
  tests/Feature/Admin/Discussions/CommentApiTest.php
  tests/Feature/Permissions/DutiableSelfLockoutTest.php
Due: backend, frontend, Laravel Controllers, Laravel Services, Vue Components, Vue Pages

Support nested subdomains for cors
  config/cors.php
Due: none

Add rose badge variant and implement it more
  app/Enums/SearchableModelEnum.php
  resources/js/Components/Institutions/InstitutionOverviewSection.vue
  resources/js/Components/Public/Nav/MainNavigationMenuContent.vue
  resources/js/Components/Tables/ReservationResourceCard.vue
  resources/js/Components/Tables/ReservationResourceTable.vue
  resources/js/Components/Tasks/TaskDetailDialog.vue
  resources/js/Components/Tasks/TaskItem.vue
  resources/js/Components/TasksIndicator.vue
  resources/js/Components/ui/badge/index.ts
  resources/js/Features/Admin/AdminSearch/Components/Detail/UserDetailPreview.vue
  resources/js/Features/Admin/TaskManager/TaskDetailDialog.vue
  resources/js/Features/Admin/TaskManager/TaskManager.vue
  resources/js/Features/Admin/TaskManager/TaskTable.vue
  resources/js/Pages/Admin/Dashboard/Components/TasksCard.vue
  resources/js/Pages/Admin/People/ShowInstitution.vue
  resources/js/Types/enums.ts
  tests/Unit/Enums/SearchableModelEnumTest.php
Due: backend, frontend, Vue Components, Vue Pages

Optimize search detail components
  resources/js/Features/Admin/AdminSearch/Components/Detail/CalendarDetailPreview.vue
  resources/js/Features/Admin/AdminSearch/Components/Detail/DetailAsyncSection.vue
  resources/js/Features/Admin/AdminSearch/Components/Detail/DetailChipList.vue
  resources/js/Features/Admin/AdminSearch/Components/Detail/DetailInstitutionLink.vue
  resources/js/Features/Admin/AdminSearch/Components/Detail/DetailSection.vue
  resources/js/Features/Admin/AdminSearch/Components/Detail/NewsDetailPreview.vue
  resources/js/Features/Admin/AdminSearch/Components/Detail/PageDetailPreview.vue
  resources/js/Features/Admin/AdminSearch/Components/Detail/ResourceDetail.vue
  resources/js/Features/Admin/AdminSearch/Components/Detail/ResourceDetailPreview.vue
  resources/js/Features/Admin/AdminSearch/Components/Detail/__tests__/DetailAsyncSection.component.test.ts
  resources/js/Features/Admin/AdminSearch/Components/Detail/__tests__/DetailChipList.component.test.ts
  resources/js/Features/Admin/AdminSearch/Components/Detail/__tests__/DetailInstitutionLink.component.test.ts
  resources/js/Features/Admin/AdminSearch/Components/Detail/__tests__/DetailSection.component.test.ts
  resources/js/Features/Admin/AdminSearch/Components/Detail/__tests__/ResourceDetail.component.test.ts
  resources/js/Features/Admin/AdminSearch/Components/SearchDetailPane.vue
  resources/js/Features/Admin/AdminSearch/Components/Select/ResourceSelectContent.vue
  resources/js/Features/Admin/AdminSearch/Components/Select/ResourceSelectDetail.vue
  resources/js/Features/Admin/AdminSearch/Utils/__tests__/html.test.ts
  resources/js/Features/Admin/AdminSearch/Utils/__tests__/searchHitMappers.component.test.ts
  resources/js/Features/Admin/AdminSearch/Utils/html.ts
  resources/js/Features/Admin/AdminSearch/Utils/searchHitMappers.ts
Due: frontend

Optimize url resolution for tenant based models
  resources/js/Components/AdminForms/InstitutionForm.vue
  resources/js/Components/AdminForms/NavigationForm.vue
  resources/js/Components/AdminForms/NewsForm.vue
  resources/js/Components/AdminForms/PageForm.vue
  resources/js/Components/AdminForms/QuickLinkForm.vue
  resources/js/Components/Public/InstitutionFigure.vue
  resources/js/Composables/__tests__/useTenantSubdomain.test.ts
  resources/js/Composables/useTenantSubdomain.ts
  resources/js/Features/Admin/AdminSearch/Components/Detail/NewsDetailPreview.vue
  resources/js/Features/Admin/AdminSearch/Components/Detail/PageDetailPreview.vue
  resources/js/Features/Admin/AdminSearch/Components/Detail/ResourceDetail.vue
  resources/js/Features/Admin/AdminSearch/Components/Detail/__tests__/ResourceDetail.component.test.ts
  resources/js/Pages/Public/CategoryPage.vue
  resources/js/Pages/Public/Contacts/ShowContactCategory.vue
  resources/js/Pages/Public/Contacts/ShowStudentReps.vue
  resources/js/Pages/Public/PKP.vue
Due: frontend, Vue Components, Vue Pages, Vue Composables

Show all resources for all users in search
  app/Http/Controllers/Api/Admin/ResourceApiController.php
  app/Policies/ResourcePolicy.php
  app/Services/Typesense/TypesenseCollectionConfig.php
  tests/Feature/Api/Admin/ResourceApiControllerTest.php
  tests/Feature/Services/TypesenseScopedKeyServiceTest.php
  tests/Unit/Policies/ResourcePolicyTest.php
Due: backend, Laravel Controllers, Laravel Services

Add reservation hub
  app/Http/Controllers/Admin/ApprovalController.php
  app/Http/Controllers/Admin/DashboardController.php
  app/Models/Pivots/ReservationResource.php
  app/Services/ApprovalService.php
  lang/admin/en/reservations.php
  lang/admin/en/state.php
  lang/admin/lt/reservations.php
  lang/admin/lt/state.php
  lang/en.json
  resources/js/Components/AppSidebar.vue
  resources/js/Components/NavMain.vue
  resources/js/Components/Onboarding/SpotlightPopover.vue
  resources/js/Components/SmallElements/ReservationPeriod.vue
  resources/js/Components/SmallElements/__tests__/ReservationPeriod.component.test.ts
  resources/js/Components/Tables/ReservationBulkActionBar.vue
  resources/js/Components/Tables/ReservationResourceCard.vue
  resources/js/Components/Tables/ReservationResourceTable.vue
  resources/js/Components/Tag/ReservationResourceStateTag.vue
  resources/js/Components/ui/badge/index.ts
  resources/js/Components/ui/data-table/DataTable.vue
  resources/js/Pages/Admin/Dashboard/Partials/ReservationKpiStrip.vue
  resources/js/Pages/Admin/Dashboard/Partials/ReservationsTable.vue
  resources/js/Pages/Admin/Dashboard/ShowReservations.vue
  resources/js/Pages/Admin/Dashboard/__tests__/ReservationsTable.component.test.ts
  resources/js/Pages/Admin/Dashboard/__tests__/ShowReservations.component.test.ts
  resources/js/Utils/ReservationStatus.ts
  resources/js/Utils/__tests__/ReservationStatus.test.ts
  routes/admin.php
  tests/Feature/Admin/Core/DashboardControllerTest.php
  tests/Feature/Admin/Dashboard/ReservationsDashboardTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Vue Components, Vue Pages, Vue Composables

Update changelog
  docs/changelog/index.md
  docs/en/changelog/index.md
Due: none

Better context for reservations
  app/Http/Controllers/Admin/ReservationController.php
  app/Http/Controllers/Api/Admin/ResourceApiController.php
  app/Http/Controllers/Api/Admin/ResourceAvailabilityApiController.php
  app/Models/Resource.php
  app/Services/ResourceCapacityCalculator.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  lang/admin/en/reservations.php
  lang/admin/en/state.php
  lang/admin/lt/reservations.php
  lang/admin/lt/state.php
  lang/en.json
  resources/js/Components/SmallElements/ReservationPeriod.vue
  resources/js/Components/SmallElements/__tests__/ReservationPeriod.component.test.ts
  resources/js/Components/Tables/ReservationResourceCard.vue
  resources/js/Components/Tables/ReservationResourceTable.vue
  resources/js/Components/Tag/ReservationResourceStateTag.vue
  resources/js/Features/Admin/AdminSearch/Components/Detail/ResourceDetail.vue
  resources/js/Features/Admin/AdminSearch/Components/Detail/__tests__/ResourceDetail.component.test.ts
  resources/js/Features/Admin/AdminSearch/Components/SearchDetailPane.vue
  resources/js/Features/Admin/AdminSearch/Components/Select/ResourceSelectContent.vue
  resources/js/Features/Admin/AdminSearch/Composables/useResourceAvailability.ts
  resources/js/Pages/Admin/Dashboard/Partials/ReservationKpiStrip.vue
  resources/js/Pages/Admin/Dashboard/Partials/ReservationsTable.vue
  resources/js/Pages/Admin/Dashboard/ShowReservations.vue
  resources/js/Pages/Admin/Dashboard/__tests__/ShowReservations.component.test.ts
  resources/js/Pages/Admin/Reservations/ShowReservation.vue
  resources/js/Pages/Admin/Reservations/__tests__/ShowReservation.component.test.ts
  resources/js/Pages/Admin/ShowAdminHome.vue
  resources/js/Utils/ReservationStatus.ts
  resources/js/Utils/__tests__/ReservationStatus.test.ts
  tests/Feature/Admin/Search/ResourcePreviewApiTest.php
  tests/Feature/Api/Admin/ResourceApiControllerTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Vue Components, Vue Pages, Vue Composables

Add links to avatars
  resources/js/Components/AdminForms/DutyCard.vue
  resources/js/Components/Avatars/UserPopover.vue
  resources/js/Components/Avatars/UsersAvatarGroup.vue
  resources/js/Components/Avatars/__tests__/UserPopover.component.test.ts
  resources/js/Components/Avatars/__tests__/UsersAvatarGroup.component.test.ts
  resources/js/Components/Duties/DutyHolderCard.vue
  resources/js/Components/Institutions/InstitutionOverviewSection.vue
  resources/js/Components/Members/MemberHistoryCard.vue
  resources/js/Composables/__tests__/useIsAdminContext.test.ts
  resources/js/Composables/useIsAdminContext.ts
Due: frontend, Vue Components, Vue Composables

Add multiple-state reservation badge
  app/Http/Controllers/Admin/DashboardController.php
  lang/admin/en/reservations.php
  lang/admin/lt/reservations.php
  resources/js/Components/Tag/ReservationStateSummary.vue
  resources/js/Components/Tag/__tests__/ReservationStateSummary.component.test.ts
  resources/js/Features/Admin/AdminSearch/Components/Detail/__tests__/ResourceDetail.component.test.ts
  resources/js/Pages/Admin/Dashboard/Partials/ReservationsTable.vue
  resources/js/Pages/Admin/Reservations/Partials/ReservationHero.vue
  resources/js/Utils/ReservationStatus.ts
  resources/js/Utils/__tests__/ReservationStatus.test.ts
  tests/Feature/Admin/Search/ResourcePreviewApiTest.php
Due: backend, frontend, Laravel Controllers, Vue Components, Vue Pages, Vue Composables

Prepare for merge with some email and other testing
  app/Console/Commands/AuditExOfficioDutiables.php
  app/Console/Commands/ProcessNotificationDigests.php
  app/Console/Commands/PruneNotificationDigests.php
  app/Console/Commands/TestMail.php
  app/Console/Kernel.php
  app/Events/DutiableChanged.php
  app/Http/Controllers/Admin/DashboardController.php
  app/Listeners/HandleDutiableChange.php
  app/Listeners/SyncExOfficioDutiables.php
  app/Services/Permissions/AccessChangeAnalyzer.php
  app/Services/SystemMonitorService.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  lang/admin/en/notifications.php
  lang/admin/lt/notifications.php
  resources/js/Features/Admin/Notifications/NotificationPreferences.vue
  resources/js/Pages/Admin/SystemStatus.vue
  routes/admin.php
  tests/Feature/DigestEmailPreferencesTest.php
  tests/Feature/ExOfficioSyncTest.php
  tests/Feature/Notifications/DigestSystemTest.php
  tests/Feature/Notifications/PruneNotificationDigestsTest.php
  tests/Feature/Notifications/TestNotificationEmailTest.php
  tests/Feature/Permissions/AuditExOfficioDutiablesTest.php
  tests/Feature/Permissions/DutiableChangedListenerTest.php
  tests/Feature/Permissions/DutiableSelfLockoutTest.php
  tests/Feature/SystemMonitorStatusTest.php
Due: backend, frontend, Laravel Controllers, Laravel Services, Laravel Features, Vue Pages

Change how the server indexes typesense
  .env.example
  app/Console/Commands/ApplyTypesenseSearchConfigCommand.php
  app/Console/Commands/ReindexSearchCommand.php
  app/Services/Typesense/TypesenseCollectionConfig.php
  app/Services/Typesense/TypesenseManager.php
  config/scout.php
  tests/Feature/Services/TypesenseHostSplitTest.php
Due: backend, Laravel Services, Laravel Features

Fix how typesense frontend settings are returned
  app/Services/Typesense/TypesenseManager.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  tests/Feature/Services/TypesenseHostSplitTest.php
Due: backend, Laravel Services

Fix outstanding Telescope errors and other inconsistencies
  app/Http/Controllers/Admin/NavigationController.php
  app/Http/Controllers/Admin/NewsController.php
  app/Http/Requests/StoreNavigationRequest.php
  app/Http/Requests/StoreVoteRequest.php
  app/Http/Requests/UpdateAgendaItemRequest.php
  app/Http/Requests/UpdateNavigationRequest.php
  app/Http/Requests/UpdateVoteRequest.php
  app/Services/NavigationService.php
  database/migrations/2026_07_14_030052_increase_votes_title_length.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  resources/js/Components/AgendaItems/AgendaItemBody.vue
  resources/js/Components/Public/Nav/MainNavigationMenuContent.vue
  resources/js/Features/Admin/AdminSearch/Services/AdminSearchService.ts
  resources/js/Features/Admin/AdminSearch/Services/__tests__/AdminSearchService.test.ts
  resources/js/Pages/Admin/Dashboard/Partials/ReservationsTable.vue
  resources/js/Pages/Admin/Dashboard/ShowReservations.vue
  resources/js/Pages/Admin/Navigation/IndexNavigation.vue
  tests/Feature/Admin/Calendar/AgendaItemControllerTest.php
  tests/Feature/Admin/Content/NewsControllerTest.php
  tests/Feature/Admin/Navigation/NavigationControllerTest.php
  tests/Feature/VoteControllerTest.php
Due: backend, frontend, Laravel Controllers, Laravel Services, Laravel Features, Vue Components, Vue Pages

Don't count vacations for meeting periodicity
  app/Console/Commands/RepopulateTasks.php
  app/Http/Controllers/Admin/DashboardController.php
  app/Http/Controllers/Api/Admin/AcademicCalendarApiController.php
  app/Services/AcademicCalendarService.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  resources/js/Components/Graphs/renderers/renderVacations.ts
  resources/js/Composables/__tests__/useVacationPeriods.test.ts
  resources/js/Composables/useVacationPeriods.ts
  resources/js/Pages/Admin/Dashboard/Components/vacationConfig.ts
  tests/Feature/Api/Admin/AcademicCalendarApiControllerTest.php
  tests/Feature/Tasks/RepopulateInstitutionTasksTest.php
  tests/Unit/Services/AcademicCalendarServiceTest.php
Due: backend, frontend, Laravel Controllers, Laravel Services, Laravel Features, Vue Components, Vue Pages, Vue Composables

Minor changes
  app/Models/Pivots/ReservationResource.php
  docs/changelog/index.md
Due: backend, Laravel Models

Better message when page is in maintenance mode
  app/Console/Commands/DeploymentRun.php
  app/Exceptions/Handler.php
  lang/lt.json
  resources/views/errors/maintenance.blade.php
  tests/Feature/MaintenanceModeTest.php
Due: backend, Laravel Features

Cleanup and security fixes
  AGENTS.md
  app/Contracts/BelongsToProgramme.php
  app/Http/Controllers/Admin/ProgrammeBlockController.php
  app/Http/Controllers/Admin/ProgrammeController.php
  app/Http/Controllers/Admin/ProgrammeDayController.php
  app/Http/Controllers/Admin/ProgrammePartController.php
  app/Http/Controllers/Admin/ProgrammeSectionController.php
  app/Http/Controllers/Admin/RelationshipController.php
  app/Http/Controllers/Admin/ReservationController.php
  app/Http/Controllers/Admin/TypeController.php
  app/Http/Requests/StoreTypeRequest.php
  app/Http/Requests/UpdateProgrammeRequest.php
  app/Http/Requests/UpdateReservationRequest.php
  app/Http/Requests/UpdateTypeRequest.php
  app/Http/Traits/AuthorizesProgrammes.php
  app/Models/AgendaItemNote.php
  app/Models/Problem.php
  app/Models/Programme.php
  app/Models/ProgrammeBlock.php
  app/Models/ProgrammeDay.php
  app/Models/ProgrammePart.php
  app/Models/ProgrammeSection.php
  app/Models/Type.php
  app/Services/HtmlSanitizer/EmbedSourceSanitizer.php
  app/Services/HtmlSanitizerService.php
  app/Services/RelationshipService.php
  database/factories/ProgrammeDayFactory.php
  database/factories/ProgrammeSectionFactory.php
  resources/js/Components/AdminForms/ReservationForm.vue
  resources/js/Pages/Admin/Reservations/ActionColumn.vue
  resources/js/Pages/Admin/Reservations/EditReservation.vue
  routes/admin.php
  tests/Feature/Admin/Calendar/AgendaItemNoteTest.php
  tests/Feature/Admin/ModelMeta/TypeControllerTest.php
  tests/Feature/Admin/People/ProgrammeControllerTest.php
  tests/Feature/Admin/Problems/ProblemControllerTest.php
  tests/Feature/Admin/Resources/ResourceReservationTest.php
  tests/Unit/Services/HtmlSanitizerServiceTest.php
  tsconfig.json
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Laravel Features, Vue Components, Vue Pages

Add more useApi usage
  resources/js/Components/FileUpload/FileUploadArea.vue
  resources/js/Components/RichContent/Types/TextBoxDisplay.vue
  resources/js/Components/RichContent/Types/TextBoxSubmissionsDialog.vue
  resources/js/Components/TasksIndicator.vue
  resources/js/Features/Admin/ArchiveDocumentSelector.vue
  resources/js/Features/Admin/Notifications/PushDeviceManagement.vue
  resources/js/Features/Admin/SharepointFileManager/SharepointFileManager.vue
Due: frontend, Vue Components

Remove Posthog and add Umami analytics support
  .env.example
  .github/workflows/deploy-staging.yml
  .github/workflows/deploy.yml
  app/Http/Controllers/Admin/DashboardController.php
  app/Http/Controllers/Api/Admin/AnalyticsApiController.php
  app/Http/Controllers/PublicController.php
  app/Models/Tenant.php
  app/Services/UmamiClient.php
  config/services.php
  docker-compose.yml
  docs/changelog/index.md
  docs/en/changelog/index.md
  lang/admin/en/analytics.php
  lang/admin/lt/analytics.php
  lang/en.json
  package-lock.json
  package.json
  resources/js/Components/AppSidebar.vue
  resources/js/Components/Public/ConsentCard.vue
  resources/js/Components/Public/__tests__/ConsentCard.component.test.ts
  resources/js/Composables/__tests__/useCookieConsent.test.ts
  resources/js/Composables/useCookieConsent.ts
  resources/js/Composables/useDocumentDisplay.ts
  resources/js/Composables/useSearchUtils.ts
  resources/js/Pages/Admin/Dashboard/ShowSvetaine.vue
  resources/js/Pages/Admin/Dashboard/__tests__/ShowSvetaine.component.test.ts
  resources/js/Plugins/__tests__/umami.test.ts
  resources/js/Plugins/posthog.ts
  resources/js/Plugins/umami.ts
  resources/js/Types/api.d.ts
  resources/js/Types/global.d.ts
  resources/js/admin.ts
  resources/js/public.ts
  resources/views/app.blade.php
  routes/api.php
  tests/Feature/Admin/Core/DashboardControllerTest.php
  tests/Feature/Api/Admin/AnalyticsApiTest.php
  tests/Feature/Public/UmamiTrackerTest.php
  tests/Unit/Models/TenantHostnameTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Vue Components, Vue Pages, Vue Composables

Path conditions:
  backend: any of: app/
  frontend: any of: resources/js/
  Laravel Controllers: any of: app/Http/Controllers/**
  Laravel Models: any of: app/Models/**
  Laravel Services: any of: app/Services/**, app/Actions/**
  Laravel Features: any of: app/Jobs/**, app/Console/**, app/Traits/**, app/Http/Requests/**
  Vue Components: any of: resources/js/Components/**
  Vue Pages: any of: resources/js/Pages/**
  Vue Composables: any of: resources/js/Composables/**, resources/js/Utils/**
