Repository vu-sa/vusa.lt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Laravel Features, Vue Components, Vue Pages, Vue Composables

.codecov.yml:

codecov:
  require_ci_to_pass: no  # Allow reports even if some CI jobs fail
  notify:
    wait_for_ci: no        # Don't wait for all CI jobs

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project: off
    patch:
      default:
        target: 65%
        threshold: 3%
        if_ci_failed: ignore

component_management:
  individual_components:
    - component_id: laravel_controllers
      name: "Laravel Controllers"
      paths:
        - "app/Http/Controllers/**"
      statuses:
        - type: patch
          target: 70%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: laravel_models
      name: "Laravel Models"
      paths:
        - "app/Models/**"
      statuses:
        - type: patch
          target: 80%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: laravel_services
      name: "Laravel Services"
      paths:
        - "app/Services/**"
        - "app/Actions/**"
      statuses:
        - type: patch
          target: 75%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: laravel_features
      name: "Laravel Features"
      paths:
        - "app/Jobs/**"
        - "app/Console/**"
        - "app/Traits/**"
        - "app/Http/Requests/**"
      statuses:
        - type: patch
          target: 65%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: vue_components
      name: "Vue Components"
      paths:
        - "resources/js/Components/**"
      statuses:
        - type: patch
          target: 60%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: vue_pages
      name: "Vue Pages"
      paths:
        - "resources/js/Pages/**"
      statuses:
        - type: patch
          target: 55%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: vue_composables
      name: "Vue Composables"
      paths:
        - "resources/js/Composables/**"
        - "resources/js/Utils/**"
      statuses:
        - type: patch
          target: 75%
          threshold: 3%
          if_ci_failed: ignore

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no      # Don't require head report for comments
  show_carryforward_flags: true

# Add flags to separate frontend and backend coverage
flags:
  backend:
    paths:
      - "app/"
    carryforward: false
  frontend:
    paths:
      - "resources/js/"
    carryforward: false

feat: Implement search and filter functionality on individual study sets page
  app/Http/Controllers/Public/StudySetController.php
  lang/public/en/studySets.php
  lang/public/lt/studySets.php
  resources/js/Pages/Public/ShowStudySets.vue
Due: backend, frontend, Laravel Controllers, Vue Pages

feat: Enhance planning process with stage overview, additional meetings, and summary stats
  app/Http/Controllers/Admin/PlanningProcessController.php
  app/Http/Middleware/HandleInertiaRequests.php
  app/Http/Requests/UpdatePlanningProcessRequest.php
  app/Models/PlanningProcess.php
  app/Policies/PlanningProcessPolicy.php
  database/migrations/2026_03_13_135519_add_additional_meetings_to_planning_processes_table.php
  lang/admin/en/planning.php
  lang/admin/lt/planning.php
  resources/js/Components/AppSidebar.vue
  resources/js/Components/PlanningProcess/ActivityGrid.vue
  resources/js/Components/PlanningProcess/DeadlineBanner.vue
  resources/js/Components/PlanningProcess/ModeratorAssignment.vue
  resources/js/Components/PlanningProcess/StageDocuments.vue
  resources/js/Components/PlanningProcess/StageExpectations.vue
  resources/js/Components/PlanningProcess/StageMeetings.vue
  resources/js/Components/PlanningProcess/StageMonitoring.vue
  resources/js/Components/PlanningProcess/StageOverview.vue
  resources/js/Components/PlanningProcess/StageStepper.vue
  resources/js/Pages/Admin/PlanningProcesses/EditPlanningDeadlines.vue
  resources/js/Pages/Admin/PlanningProcesses/IndexPlanningProcess.vue
  resources/js/Pages/Admin/PlanningProcesses/ShowPlanningProcess.vue
  resources/js/Pages/Admin/ShowAdministration.vue
  resources/js/Types/entities.d.ts
  resources/js/Types/index.d.ts
  resources/js/Types/models.d.ts
  routes/admin.php
  tests/Feature/Admin/Management/PlanningProcessControllerTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Features, Vue Components, Vue Pages

feat: Add stage support to comments for planning processes and implement UI components for stage-specific discussions
  app/Http/Controllers/Admin/CommentController.php
  app/Http/Controllers/Admin/PlanningProcessController.php
  app/Models/Comment.php
  app/Models/PlanningProcess.php
  app/Models/Traits/HasComments.php
  database/migrations/2026_03_13_204755_add_stage_to_comments_table.php
  resources/js/Components/PlanningProcess/ActivityGrid.vue
  resources/js/Components/PlanningProcess/StageCommentThread.vue
  resources/js/Components/PlanningProcess/StageDocuments.vue
  resources/js/Components/PlanningProcess/StageExpectations.vue
  resources/js/Components/PlanningProcess/StageMeetings.vue
  resources/js/Components/PlanningProcess/StageMonitoring.vue
  resources/js/Features/Admin/CommentViewer/CommentViewer.vue
  resources/js/Pages/Admin/PlanningProcesses/ShowPlanningProcess.vue
  resources/js/Types/models.d.ts
  tests/Feature/Admin/Management/PlanningProcessStageCommentTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Vue Components, Vue Pages

feat: Implement document and goal rejection functionality with feedback for planning processes and implement file and goal change history
  app/Http/Controllers/Admin/PlanningProcessController.php
  app/Models/Approval.php
  app/Models/PlanningProcess.php
  database/migrations/2026_03_13_211717_add_approved_media_id_to_planning_processes_table.php
  database/migrations/2026_03_13_211717_add_context_to_approvals_table.php
  lang/admin/en/planning.php
  lang/admin/lt/planning.php
  resources/js/Components/PlanningProcess/DocumentSection.vue
  resources/js/Components/PlanningProcess/DocumentVersionList.vue
  resources/js/Components/PlanningProcess/FieldChangeHistory.vue
  resources/js/Components/PlanningProcess/StageDocuments.vue
  resources/js/Components/PlanningProcess/StageMeetings.vue
  resources/js/Components/PlanningProcess/StageOverview.vue
  resources/js/Pages/Admin/PlanningProcesses/ShowPlanningProcess.vue
  resources/js/Types/entities.d.ts
  resources/js/Types/models.d.ts
  routes/admin.php
  tests/Feature/Admin/Management/PlanningProcessControllerTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Vue Components, Vue Pages

feat: Add planning process editors system with auto-assignment and enhanced permissions.
  app/Http/Controllers/Admin/CommentController.php
  app/Http/Controllers/Admin/PlanningProcessController.php
  app/Http/Controllers/Api/Admin/UserSearchApiController.php
  app/Http/Middleware/HandleInertiaRequests.php
  app/Http/Requests/UpdatePlanningProcessRequest.php
  app/Models/PlanningProcess.php
  app/Models/Traits/HasComments.php
  app/Policies/PlanningProcessPolicy.php
  database/migrations/2026_03_14_185022_create_planning_process_editors_table.php
  docs/_parts/planningProcesses/en/description.md
  docs/_parts/planningProcesses/lt/description.md
  lang/admin/en/planning.php
  lang/admin/lt/planning.php
  resources/js/Components/AppSidebar.vue
  resources/js/Components/PlanningProcess/DocumentSection.vue
  resources/js/Components/PlanningProcess/EditorsManagement.vue
  resources/js/Components/PlanningProcess/ModeratorAssignment.vue
  resources/js/Components/PlanningProcess/StageDocuments.vue
  resources/js/Components/PlanningProcess/StageExpectations.vue
  resources/js/Components/PlanningProcess/StageMeetings.vue
  resources/js/Components/PlanningProcess/StageOverview.vue
  resources/js/Components/PlanningProcess/StageStepper.vue
  resources/js/Components/icons/model-icons.ts
  resources/js/Pages/Admin/PlanningProcesses/ShowPlanningProcess.vue
  resources/js/Utils/String.ts
  resources/js/entities.ts
  routes/admin.php
  tests/Feature/Admin/Management/PlanningProcessEditorTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Features, Vue Components, Vue Pages, Vue Composables

feat: Rename planning process routes and entities for localization consistency, Update the UI
  app/Http/Controllers/Admin/PlanningProcessController.php
  lang/admin/en/entities.php
  lang/admin/lt/entities.php
  resources/js/Components/AppSidebar.vue
  resources/js/Components/PlanningProcess/EditorsManagement.vue
  resources/js/Components/PlanningProcess/FieldChangeHistory.vue
  resources/js/Components/PlanningProcess/ModeratorAssignment.vue
  resources/js/Components/PlanningProcess/StageDocuments.vue
  resources/js/Components/PlanningProcess/StageExpectations.vue
  resources/js/Components/PlanningProcess/StageMeetings.vue
  resources/js/Components/PlanningProcess/StageMonitoring.vue
  resources/js/Components/PlanningProcess/StageOverview.vue
  resources/js/Pages/Admin/PlanningProcesses/CreatePlanningProcess.vue
  resources/js/Pages/Admin/PlanningProcesses/EditPlanningDeadlines.vue
  resources/js/Pages/Admin/PlanningProcesses/IndexPlanningProcess.vue
  resources/js/Pages/Admin/PlanningProcesses/ShowPlanningProcess.vue
  resources/js/Pages/Admin/ShowAdministration.vue
  routes/admin.php
  tests/Feature/Admin/Management/PlanningProcessControllerTest.php
  tests/Feature/Admin/Management/PlanningProcessEditorTest.php
  tests/Feature/Admin/Management/PlanningProcessStageCommentTest.php
Due: backend, frontend, Laravel Controllers, Vue Components, Vue Pages

UI improvements
  app/Http/Controllers/Admin/PlanningProcessController.php
  resources/js/Components/PlanningProcess/FieldChangeHistory.vue
  resources/js/Components/Tables/ServerDataTable.vue
  resources/js/Pages/Admin/PlanningProcesses/IndexPlanningProcess.vue
  resources/js/Pages/Admin/PlanningProcesses/ShowPlanningProcess.vue
Due: backend, frontend, Laravel Controllers, Vue Components, Vue Pages

feat: Update icons for planning process pages to enhance visual consistency
  resources/js/Pages/Admin/PlanningProcesses/IndexPlanningProcess.vue
  resources/js/Pages/Admin/PlanningProcesses/ShowPlanningProcess.vue
  resources/js/Pages/Admin/ShowAdministration.vue
Due: frontend, Vue Pages

feat: Implement centralized resource management for planning processes
  app/Http/Controllers/Admin/PlanningProcessController.php
  app/Http/Controllers/Admin/PlanningResourceController.php
  app/Http/Requests/StorePlanningResourceRequest.php
  app/Models/PlanningProcess.php
  app/Models/PlanningResource.php
  database/factories/PlanningResourceFactory.php
  database/migrations/2026_03_15_173619_create_planning_resources_table.php
  lang/admin/en/planning.php
  lang/admin/lt/planning.php
  resources/js/Components/PlanningProcess/PlanningResourcesSheet.vue
  resources/js/Components/PlanningProcess/StageDocuments.vue
  resources/js/Pages/Admin/PlanningProcesses/IndexPlanningProcess.vue
  resources/js/Pages/Admin/PlanningProcesses/ShowPlanningProcess.vue
  resources/js/Types/entities.d.ts
  routes/admin.php
  tests/Feature/Admin/Management/PlanningProcessEditorTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Features, Vue Components, Vue Pages

feat: Add document download functionality for planning processes
  app/Http/Controllers/Admin/PlanningProcessController.php
  lang/admin/en/planning.php
  lang/admin/lt/planning.php
  resources/js/Pages/Admin/PlanningProcesses/IndexPlanningProcess.vue
  routes/admin.php
  tests/Feature/Admin/Management/PlanningProcessControllerTest.php
Due: backend, frontend, Laravel Controllers, Vue Pages

Update ModelAuthorizer with global scope permission handling.
  app/Services/ModelAuthorizer.php
Due: backend, Laravel Services

Change "Archyvas" folder to "Dokumentų sistema"
  resources/js/Features/Admin/SharepointFilePicker/FilePicker.vue
Due: frontend

Disallow document permission deletion in local environment
  app/Observers/DocumentObserver.php
Due: backend

More robust permission checking for documents
  app/Models/Document.php
  app/Services/SharepointGraphService.php
  resources/js/Pages/Admin/Files/IndexDocument.vue
  tests/Feature/DocumentPermissionRevocationTest.php
Due: backend, frontend, Laravel Models, Laravel Services, Vue Pages

Update document list element
  app/Http/Controllers/Public/DocumentRedirectController.php
  lang/lt.json
  resources/js/Components/Public/Search/DocumentListItem.vue
  tests/Feature/DocumentRedirectTest.php
Due: backend, frontend, Laravel Controllers, Vue Components

PHP Linting (Pint)
  app/Http/Controllers/Public/DocumentRedirectController.php
Due: backend, Laravel Controllers

feat: Update curator registration year to 2026 and refresh registration form URLs.
  app/Http/Controllers/Public/PublicPageController.php
  resources/js/Pages/Public/CuratorRegistrations.vue
Due: backend, frontend, Laravel Controllers, Vue Pages

Docs revamp: blog, changelog, navigation, and styling updates
  docs/.vitepress/config.ts
  docs/.vitepress/en.ts
  docs/.vitepress/lt.ts
  docs/.vitepress/theme/VuSaLayout.vue
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/style.css
  docs/blog/2026-02-07-v1-modernization.md
  docs/blog/components/AuthorAvatar.vue
  docs/blog/components/BlogPostCard.vue
  docs/blog/index.md
  docs/changelog/index.md
  docs/components/ComponentScreenshot.vue
  docs/components/README.md
  docs/en/blog/2026-02-07-v1-modernization.md
  docs/en/blog/index.md
  docs/en/changelog/index.md
  docs/en/index.md
  docs/index.md
Due: none

feat: Batch duty user operations and remove N+1 pivot loading
  app/Http/Controllers/Admin/DutyController.php
  tests/Feature/Admin/Management/DutyControllerTest.php
Due: backend, Laravel Controllers

perf: Add caching to NavigationService with cache invalidation
  app/Models/Navigation.php
  app/Services/NavigationService.php
  tests/Unit/Services/NavigationServiceTest.php
Due: backend, Laravel Models, Laravel Services

feat: Add docs update indicator badge in admin sidebar
  resources/js/Components/AppSidebar.vue
  resources/js/Components/NavSecondary.vue
  resources/js/Composables/useDocsUpdateIndicator.ts
Due: frontend, Vue Components, Vue Composables

perf: Add request-level memoization to ModelAuthorizer permission checks
  app/Services/ModelAuthorizer.php
  tests/Unit/Services/ModelAuthorizerMemoizationTest.php
Due: backend, Laravel Services

perf: Add caching to IcalendarService with cache invalidation
  app/Models/Calendar.php
  app/Services/IcalendarService.php
  tests/Unit/Services/IcalendarServiceTest.php
Due: backend, Laravel Models, Laravel Services

fix: Add missing types eager loading in contact duty query
  app/Http/Controllers/Public/ContactController.php
  tests/Feature/Public/ContactEagerLoadingTest.php
Due: backend, Laravel Controllers

chore: Remove stale PHPDoc for non-existent files relation on Type model
  app/Models/Type.php
Due: backend, Laravel Models

docs: Add v1.1-v1.3 changelog entries for problem tracking, text box, and document improvements
  docs/blog/components/BlogPostHeader.vue
  docs/changelog/index.md
  docs/en/changelog/index.md
Due: none

docs: Update v1.0 blog post content
  docs/blog/2026-02-07-v1-modernization.md
  docs/en/blog/2026-02-07-v1-modernization.md
Due: none

feat: Add badge support to NavSecondary sidebar component
  resources/js/Components/NavSecondary.vue
Due: frontend, Vue Components

Update deps
  _ide_helper.php
  app/Models/Approval.php
  app/Models/Comment.php
  app/Models/ContentPart.php
  app/Models/Document.php
  app/Models/FormField.php
  app/Models/Institution.php
  app/Models/InstitutionCheckIn.php
  app/Models/InstitutionFollow.php
  app/Models/InstitutionNotificationMute.php
  app/Models/NotificationDigestQueue.php
  app/Models/Pivots/AgendaItem.php
  app/Models/Pivots/Dutiable.php
  app/Models/Pivots/MembershipUser.php
  app/Models/Pivots/ReservationResource.php
  app/Models/Problem.php
  app/Models/ProblemCategory.php
  app/Models/PublicInstitution.php
  app/Models/Registration.php
  app/Models/RoleType.php
  app/Models/Training.php
  app/Models/Type.php
  composer.lock
  package-lock.json
  resources/js/Types/enums.ts
  resources/js/Types/models.d.ts
Due: backend, frontend, Laravel Models

Show the site version in the footer of the sidebar
  resources/js/Components/AppSidebar.vue
  resources/js/Components/NavSecondary.vue
  resources/js/Pages/Admin/ShowUserSettings.vue
Due: frontend, Vue Components, Vue Pages

PHP Linting (Pint)
  app/Http/Controllers/Admin/DutyController.php
  tests/Feature/Admin/Management/DutyControllerTest.php
  tests/Unit/Services/ModelAuthorizerMemoizationTest.php
Due: backend, Laravel Controllers

Fix remaining outstanding issues
  app/Console/Commands/SyncDocumentsCommand.php
  app/Exports/TextBoxSubmissionsExport.php
  app/Http/Controllers/Admin/DutyController.php
  app/Http/Controllers/Api/Admin/TextBoxSubmissionApiController.php
  app/Listeners/HandleDutiableChange.php
  app/Models/Calendar.php
  app/Services/IcalendarService.php
  app/Services/ModelAuthorizer.php
  app/Services/SharepointGraphService.php
  composer.lock
  database/seeders/RoleStudentRepresentativeSeeder.php
  docs/.vitepress/en.ts
  docs/changelog/index.md
  package-lock.json
  resources/js/Components/AppSidebar.vue
  resources/js/Components/NavSecondary.vue
  resources/js/Composables/useDocsUpdateIndicator.ts
  tests/Feature/Auth/UserUpdateAuthorizationTest.php
  tests/Unit/Services/ModelAuthorizerCacheStateTest.php
  tests/Unit/Services/NavigationServiceTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Laravel Features, Vue Components, Vue Composables

Update contact manager test
  tests/Feature/Admin/Management/DutyControllerTest.php
Due: none

Readd nullsafe check for text box submission API controller and export
  app/Exports/TextBoxSubmissionsExport.php
  app/Http/Controllers/Api/Admin/TextBoxSubmissionApiController.php
Due: backend, Laravel Controllers

Style fixes
  app/Http/Controllers/Admin/CommentController.php
  app/Http/Controllers/Admin/SharepointFileController.php
  app/Http/Controllers/Api/Admin/SharepointApiController.php
  resources/js/Components/AdminForms/ProblemForm.vue
  resources/js/Components/AppSidebar.vue
  resources/js/Components/NavQuickActions.vue
  resources/js/Components/Public/Search/DocumentListItem.vue
  resources/js/Components/RichContent/RichContentEditor.vue
  resources/js/Components/RichContent/RichContentParser.vue
  resources/js/Components/RichContent/Types/TextBoxDisplay.vue
  resources/js/Components/RichContent/Types/TextBoxEditor.vue
  resources/js/Components/RichContent/Types/TextBoxSubmissionsDialog.vue
  resources/js/Components/RichContent/Types/index.ts
  resources/js/Components/icons/model-icons.ts
  resources/js/Composables/useDocsUpdateIndicator.ts
  resources/js/Features/Admin/ActivityLogViewer/ActivityLogItem.vue
  resources/js/Features/Admin/SharepointFilePicker/FilePicker.vue
  resources/js/Pages/Admin/Files/IndexDocument.vue
  resources/js/Pages/Admin/Problems/CreateProblem.vue
  resources/js/Pages/Admin/Problems/EditProblem.vue
  resources/js/Pages/Admin/Problems/IndexProblem.vue
  resources/js/Pages/Admin/Problems/ShowProblem.vue
  resources/js/Pages/Admin/ShowAdministration.vue
  resources/js/Types/Icons/regular.ts
  resources/js/Types/contentParts.ts
  resources/js/Types/enums.ts
  resources/js/Types/models.d.ts
  resources/js/entities.ts
Due: backend, frontend, Laravel Controllers, Vue Components, Vue Pages, Vue Composables

Validation and other fixes after merge
  app/Http/Requests/StoreNewsRequest.php
  app/Http/Requests/StorePageRequest.php
  app/Http/Requests/UpdateNewsRequest.php
  app/Http/Requests/UpdatePageRequest.php
  app/Models/PublicInstitution.php
  app/Models/PublicMeeting.php
  composer.lock
  package-lock.json
  resources/js/Components/AppSidebar.vue
  resources/js/Components/NavQuickActions.vue
  resources/js/Components/RichContent/RichContentParser.vue
  resources/js/Types/enums.ts
  resources/js/Types/models.d.ts
Due: backend, frontend, Laravel Models, Laravel Features, Vue Components

Use other impersonation method
  app/Http/Controllers/Api/Admin/ImpersonateApiController.php
  app/Http/Middleware/HandleInertiaRequests.php
  app/Http/Middleware/SetLocale.php
  app/Models/User.php
  config/impersonate.php
  dev/sailsetup.sh
  resources/js/Components/ImpersonateBanner.vue
  resources/js/Components/Layouts/AdminLayout.vue
  routes/api.php
  tests/Unit/Http/Middleware/SetLocaleTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Vue Components

Update laravel, inertia, php to latest versions + other packages
  app/Http/Controllers/Admin/DashboardController.php
  app/Http/Controllers/Admin/MeetingController.php
  app/Http/Controllers/Admin/NavigationController.php
  app/Http/Controllers/Admin/QuickLinkController.php
  app/Http/Controllers/Admin/RelationshipController.php
  app/Http/Controllers/Admin/ReservationController.php
  composer.json
  composer.lock
  config/database.php
  config/inertia.php
  docker-compose.yml
  package-lock.json
  package.json
  resources/js/app.ts
Due: backend, frontend, Laravel Controllers

Update PHP version for Github CI/CD
  .github/workflows/ci.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/deploy.yml
  .github/workflows/security-scan.yml
  .github/workflows/setup.yml
Due: none
