Repository vu-sa/vusa.lt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Laravel Features, Vue Components, Vue Pages, Vue Composables

.codecov.yml:

codecov:
  require_ci_to_pass: no  # Allow reports even if some CI jobs fail
  notify:
    wait_for_ci: no        # Don't wait for all CI jobs

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project: off
    patch:
      default:
        target: 65%
        threshold: 3%
        if_ci_failed: ignore

component_management:
  individual_components:
    - component_id: laravel_controllers
      name: "Laravel Controllers"
      paths:
        - "app/Http/Controllers/**"
      statuses:
        - type: patch
          target: 70%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: laravel_models
      name: "Laravel Models"
      paths:
        - "app/Models/**"
      statuses:
        - type: patch
          target: 80%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: laravel_services
      name: "Laravel Services"
      paths:
        - "app/Services/**"
        - "app/Actions/**"
      statuses:
        - type: patch
          target: 75%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: laravel_features
      name: "Laravel Features"
      paths:
        - "app/Jobs/**"
        - "app/Console/**"
        - "app/Traits/**"
        - "app/Http/Requests/**"
      statuses:
        - type: patch
          target: 65%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: vue_components
      name: "Vue Components"
      paths:
        - "resources/js/Components/**"
      statuses:
        - type: patch
          target: 60%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: vue_pages
      name: "Vue Pages"
      paths:
        - "resources/js/Pages/**"
      statuses:
        - type: patch
          target: 55%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: vue_composables
      name: "Vue Composables"
      paths:
        - "resources/js/Composables/**"
        - "resources/js/Utils/**"
      statuses:
        - type: patch
          target: 75%
          threshold: 3%
          if_ci_failed: ignore

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no      # Don't require head report for comments
  show_carryforward_flags: true

# Add flags to separate frontend and backend coverage
flags:
  backend:
    paths:
      - "app/"
    carryforward: false
  frontend:
    paths:
      - "resources/js/"
    carryforward: false

Add StatusBadge, status label maps and entity-type registry
  .ai/redesign/admin/plan.md
  lang/en.json
  resources/js/Components/EntityTypeMark.stories.ts
  resources/js/Components/EntityTypeMark.vue
  resources/js/Components/Patterns/ColourSystem.stories.ts
  resources/js/Components/Patterns/StatusBadge.stories.ts
  resources/js/Components/Patterns/StatusBadge.vue
  resources/js/Components/Patterns/__tests__/StatusBadge.component.test.ts
  resources/js/Components/Patterns/index.ts
  resources/js/Components/__tests__/EntityTypeMark.component.test.ts
  resources/js/Components/icons/index.ts
  resources/js/Components/icons/model-icons.ts
  resources/js/Constants/entityTypes.ts
  resources/js/Constants/statuses.ts
  resources/js/__tests__/entityTypes.test.ts
  resources/js/__tests__/statusPresentations.test.ts
  resources/js/entities.ts
Due: frontend, Vue Components

Add EmptyState, content skeletons, progress bar and date formatter
  .ai/redesign/admin/plan.md
  resources/css/admin/surface.css
  resources/js/Components/CLAUDE.md
  resources/js/Components/Empty/EmptyState.vue
  resources/js/Components/Empty/__tests__/EmptyState.component.test.ts
  resources/js/Components/Patterns/EmptyState.stories.ts
  resources/js/Components/Patterns/EmptyState.vue
  resources/js/Components/Patterns/Skeletons.stories.ts
  resources/js/Components/Patterns/Skeletons/CollectionSkeleton.vue
  resources/js/Components/Patterns/Skeletons/FormSkeleton.vue
  resources/js/Components/Patterns/Skeletons/RecordSkeleton.vue
  resources/js/Components/Patterns/Skeletons/SectionCardSkeleton.vue
  resources/js/Components/Patterns/TopProgressBar.stories.ts
  resources/js/Components/Patterns/TopProgressBar.vue
  resources/js/Components/Patterns/__tests__/EmptyState.component.test.ts
  resources/js/Components/Patterns/__tests__/Skeletons.component.test.ts
  resources/js/Components/Patterns/__tests__/TopProgressBar.component.test.ts
  resources/js/Components/Patterns/index.ts
  resources/js/Components/Tables/ServerDataTable.vue
  resources/js/Components/Tables/__tests__/ServerDataTable.component.test.ts
  resources/js/Composables/useDateFormatter.ts
  resources/js/Utils/IntlTime.ts
  resources/js/Utils/__tests__/dateTime.test.ts
  resources/js/Utils/dateTime.ts
Due: frontend, Vue Components, Vue Composables

Tokenise UI primitives, rework pickers, scaffold lint fence
  .ai/redesign/admin/plan.md
  eslint.config.mjs
  resources/js/Components/ActionWindow/screens/MeetingDateScreen.vue
  resources/js/Components/Patterns/AdminPickers.stories.ts
  resources/js/Components/ui/calendar/CalendarCell.vue
  resources/js/Components/ui/calendar/CalendarCellTrigger.vue
  resources/js/Components/ui/calendar/CalendarHeadCell.vue
  resources/js/Components/ui/command/Command.vue
  resources/js/Components/ui/command/CommandGroup.vue
  resources/js/Components/ui/command/CommandInput.vue
  resources/js/Components/ui/command/CommandItem.vue
  resources/js/Components/ui/command/CommandSeparator.vue
  resources/js/Components/ui/command/CommandShortcut.vue
  resources/js/Components/ui/date-picker/DatePicker.vue
  resources/js/Components/ui/date-picker/DateTimePicker.vue
  resources/js/Components/ui/date-picker/__tests__/DatePicker.component.test.ts
  resources/js/Components/ui/date-range-picker/DateRangePicker.vue
  resources/js/Components/ui/dialog/DialogContent.vue
  resources/js/Components/ui/dialog/DialogDescription.vue
  resources/js/Components/ui/dialog/DialogScrollContent.vue
  resources/js/Components/ui/input/Input.vue
  resources/js/Components/ui/range-calendar/RangeCalendarCell.vue
  resources/js/Components/ui/range-calendar/RangeCalendarCellTrigger.vue
  resources/js/Components/ui/range-calendar/RangeCalendarHeadCell.vue
  resources/js/Components/ui/select/SelectContent.vue
  resources/js/Components/ui/select/SelectItem.vue
  resources/js/Components/ui/select/SelectTrigger.vue
  resources/js/Components/ui/sheet/SheetContent.vue
  resources/js/Components/ui/sheet/SheetDescription.vue
  resources/js/Components/ui/sheet/SheetTitle.vue
  resources/js/Components/ui/table/TableCaption.vue
  resources/js/Components/ui/table/TableEmpty.vue
  resources/js/Components/ui/table/TableFooter.vue
  resources/js/Components/ui/table/TableHead.vue
  resources/js/Components/ui/table/TableRow.vue
  resources/js/Components/ui/tabs/TabsList.vue
  resources/js/Components/ui/tabs/TabsTrigger.vue
  resources/js/Components/ui/time-picker/TimePicker.vue
  resources/js/Composables/useCoarsePointer.ts
Due: frontend, Vue Components, Vue Composables

Fix TopProgressBar defaults, add institution activity statuses
  .ai/redesign/admin/plan.md
  eslint.config.mjs
  lang/en.json
  resources/js/Components/Patterns/TopProgressBar.vue
  resources/js/Components/ui/input/Input.vue
  resources/js/Constants/statuses.ts
  resources/js/__tests__/statusPresentations.test.ts
Due: frontend, Vue Components

Add server-side admin navigation catalog
  .ai/redesign/admin/plan.md
  app/Http/Middleware/HandleInertiaRequests.php
  app/Services/AdminNavigation/AdminNavigationCatalog.php
  app/Services/AdminNavigation/CreateAction.php
  app/Services/AdminNavigation/Section.php
  app/Services/AdminNavigation/Visibility.php
  app/Services/AdminNavigation/Workspace.php
  app/Services/Permissions/PermissionMapBuilder.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  lang/admin/en/shell.php
  lang/admin/lt/shell.php
  resources/js/Components/CommandPalette/__tests__/useCommandActions.test.ts
  resources/js/Components/CommandPalette/useCommandActions.ts
  resources/js/Pages/Admin/ShowAdministration.vue
  resources/js/Pages/Admin/__tests__/ShowAdministration.component.test.ts
  resources/js/Types/index.d.ts
  tests/Feature/System/AdminNavigationCatalogTest.php
Due: backend, frontend, Laravel Services, Vue Components, Vue Pages

Harden merge-candidate API, mark legacy navigation deprecated
  .ai/redesign/admin/README.md
  .ai/redesign/admin/plan.md
  .ai/redesign/admin/playbook.md
  .ai/redesign/admin/process.md
  app/Http/Controllers/Admin/AuthController.php
  app/Http/Controllers/Admin/UserController.php
  app/Http/Controllers/Api/Admin/MergeCandidateApiController.php
  resources/js/Components/ActionWindow/__tests__/ActionWindow.component.test.ts
  resources/js/Components/AppSidebar.vue
  resources/js/Components/Empty/EmptyState.vue
  resources/js/Components/NavMain.vue
  resources/js/Components/NavSecondary.vue
  resources/js/Components/Sidebar/FollowedInstitutionsHotbar.vue
  resources/js/Components/Sidebar/PinnedPagesSection.vue
  resources/js/Components/Sidebar/RecentPagesDialog.vue
  resources/js/Components/Sidebar/RecentlyVisitedSection.vue
  resources/js/Components/Sidebar/SidebarCustomizeDialog.vue
  resources/js/Components/SidebarStartFM.vue
  resources/js/Composables/adminPageCatalog.ts
  resources/js/Constants/entityTypes.ts
  resources/js/Types/models.d.ts
  resources/js/Utils/IntlTime.ts
  tests/Feature/Admin/Forms/FormAccessTest.php
  tests/Feature/System/AdminNavigationCatalogTest.php
Due: backend, frontend, Laravel Controllers, Vue Components, Vue Composables

Add prefetch, keyboard shortcuts and explanatory 403 page
  .ai/redesign/admin/plan.md
  app/Actions/ResolveForbiddenExplanation.php
  app/Policies/ModelPolicy.php
  app/Providers/AuthServiceProvider.php
  bootstrap/app.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  lang/admin/en/forbidden.php
  lang/admin/lt/forbidden.php
  lang/en.json
  resources/js/Components/AdminForms/AdminForm.vue
  resources/js/Components/AdminForms/__tests__/AdminForm.component.test.ts
  resources/js/Components/AppSidebar.vue
  resources/js/Components/KeyboardShortcutsDialog.vue
  resources/js/Components/Layouts/AdminLayout.vue
  resources/js/Components/Layouts/Shell/MobileBottomBar.vue
  resources/js/Components/Layouts/Shell/MobileMenuPanel.vue
  resources/js/Components/Layouts/Shell/SectionTabs.vue
  resources/js/Components/Layouts/Shell/ShellTopBar.vue
  resources/js/Components/Layouts/Shell/WorkspacePicker.vue
  resources/js/Components/Layouts/Shell/__tests__/MobileBottomBar.component.test.ts
  resources/js/Components/Layouts/Shell/__tests__/SectionTabs.component.test.ts
  resources/js/Components/Layouts/__tests__/AdminLayout.component.test.ts
  resources/js/Components/Tables/ServerDataTable.vue
  resources/js/Components/Tables/SimpleDataTable.vue
  resources/js/Components/Tables/__tests__/ServerDataTable.component.test.ts
  resources/js/Composables/useAdminNavigation.ts
  resources/js/Pages/Admin/AccessDenied.vue
  resources/js/Pages/Admin/__tests__/AccessDenied.component.test.ts
  resources/js/mocks/inertia.mock.ts
  tests/Browser/AdminShellTest.php
  tests/Feature/Admin/ForbiddenPageTest.php
Due: backend, frontend, Laravel Services, Vue Components, Vue Pages, Vue Composables

Bring mobile menu to parity, make welcome tour responsive
  .ai/redesign/admin/plan.md
  eslint.config.mjs
  resources/js/Components/KeyboardShortcutsDialog.vue
  resources/js/Components/Layouts/Shell/MobileBottomBar.vue
  resources/js/Components/Layouts/Shell/MobileMenuPanel.vue
  resources/js/Components/Layouts/Shell/ShellAccountMenu.vue
  resources/js/Components/Layouts/Shell/StartFmDock.vue
  resources/js/Components/Layouts/Shell/__tests__/MobileMenuPanel.component.test.ts
  resources/js/Composables/useProductTour.ts
  resources/js/Composables/useStartFm.ts
  resources/js/Pages/Admin/ShowAdminHome.vue
Due: frontend, Vue Components, Vue Pages, Vue Composables

Restyle ActionWindow as a guided flow with date presets
  .ai/redesign/admin/plan.md
  docs/changelog/index.md
  docs/en/changelog/index.md
  eslint.config.mjs
  lang/admin/en/action_window.php
  lang/admin/lt/action_window.php
  resources/js/Components/ActionWindow/ActionChoiceButton.vue
  resources/js/Components/ActionWindow/ActionChoiceList.vue
  resources/js/Components/ActionWindow/ActionWindow.stories.ts
  resources/js/Components/ActionWindow/ActionWindow.vue
  resources/js/Components/ActionWindow/ActionWindowBody.vue
  resources/js/Components/ActionWindow/ActionWindowPrimaryButton.vue
  resources/js/Components/ActionWindow/ActionWindowScreen.vue
  resources/js/Components/ActionWindow/AgendaItemsEditor.vue
  resources/js/Components/ActionWindow/ReviewRow.vue
  resources/js/Components/ActionWindow/__tests__/ActionWindow.component.test.ts
  resources/js/Components/ActionWindow/__tests__/MeetingDateScreen.component.test.ts
  resources/js/Components/ActionWindow/__tests__/MeetingWhenScreen.component.test.ts
  resources/js/Components/ActionWindow/screenRegistry.ts
  resources/js/Components/ActionWindow/screens/CheckInReviewScreen.vue
  resources/js/Components/ActionWindow/screens/CheckInUntilScreen.vue
  resources/js/Components/ActionWindow/screens/InstitutionPickerScreen.vue
  resources/js/Components/ActionWindow/screens/InstitutionSearchScreen.vue
  resources/js/Components/ActionWindow/screens/MeetingAgendaScreen.vue
  resources/js/Components/ActionWindow/screens/MeetingDateScreen.vue
  resources/js/Components/ActionWindow/screens/MeetingPickerScreen.vue
  resources/js/Components/ActionWindow/screens/MeetingReviewScreen.vue
  resources/js/Components/ActionWindow/screens/MeetingTimeScreen.vue
  resources/js/Components/ActionWindow/screens/MeetingTypeScreen.vue
  resources/js/Components/ActionWindow/screens/MeetingWhenScreen.vue
  resources/js/Components/ActionWindow/screens/PersonaActionsScreen.vue
  resources/js/Components/ActionWindow/screens/PersonaScreen.vue
  resources/js/Components/ActionWindow/useWindowDates.ts
  resources/js/Composables/useActionWindowCatalog.ts
  resources/js/Types/MeetingType.ts
  tests/Browser/ActionWindowTest.php
Due: frontend, Vue Components, Vue Composables

Rebuild duty record and form; add FormPage, SheetForm, assign sheet
  .ai/redesign/admin/plan.md
  app/Http/Controllers/Admin/DutiableController.php
  app/Http/Controllers/Admin/DutyController.php
  app/Http/Requests/StoreDutiableRequest.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  eslint.config.mjs
  resources/js/Components/AdminForms/DutyForm.vue
  resources/js/Components/AdminForms/__tests__/DutyForm.component.test.ts
  resources/js/Components/Discussions/DiscussionPanel.vue
  resources/js/Components/Discussions/__tests__/DiscussionPanel.component.test.ts
  resources/js/Components/Layouts/FormPage.vue
  resources/js/Components/Layouts/__tests__/FormPage.component.test.ts
  resources/js/Components/Patterns/FormSection.vue
  resources/js/Components/Patterns/SheetForm.vue
  resources/js/Components/Patterns/__tests__/SheetForm.component.test.ts
  resources/js/Components/Patterns/index.ts
  resources/js/Composables/useDiscussionThread.ts
  resources/js/Features/Admin/Occupancy/AssignDutyUserSheet.vue
  resources/js/Features/Admin/Occupancy/__tests__/AssignDutyUserSheet.component.test.ts
  resources/js/Features/Admin/Occupancy/index.ts
  resources/js/Pages/Admin/People/CreateDuty.vue
  resources/js/Pages/Admin/People/EditDuty.vue
  resources/js/Pages/Admin/People/ShowDuty.vue
  resources/js/Pages/Admin/People/__tests__/ShowDuty.component.test.ts
  resources/js/Pages/Admin/Representation/EditAgendaItem.vue
  resources/js/Pages/Admin/Representation/ShowMeeting.vue
  routes/admin.php
  vitest.config.ts
Due: backend, frontend, Laravel Controllers, Laravel Features, Vue Components, Vue Pages, Vue Composables

Complete trash flows for reservations and tags; review fixes
  .ai/redesign/admin/plan.md
  eslint.config.mjs
  resources/js/Components/Layouts/RecordPage.vue
  resources/js/Composables/useCollectionSource.ts
  resources/js/Pages/Admin/Content/IndexTag.vue
  resources/js/Pages/Admin/Representation/ShowMeeting.vue
  resources/js/Pages/Admin/Reservations/IndexReservation.vue
  resources/js/Pages/Admin/ShowAdminHome.vue
  tests/Feature/Docs/DocsCoverageCommandTest.php
Due: frontend, Vue Components, Vue Pages, Vue Composables

Add notification content contract and render it in-app
  .ai/redesign/admin/plan.md
  app/Notifications/ApprovalDecisionNotification.php
  app/Notifications/ApprovalRequestedNotification.php
  app/Notifications/AssignedToResourceNotification.php
  app/Notifications/BaseNotification.php
  app/Notifications/CommentPostedNotification.php
  app/Notifications/DutyExpiringNotification.php
  app/Notifications/InstitutionActivityNotification.php
  app/Notifications/MeetingAgendaCompletedNotification.php
  app/Notifications/MeetingCreatedNotification.php
  app/Notifications/MeetingReminderNotification.php
  app/Notifications/MemberRegistrationNotification.php
  app/Notifications/ReservationStatusChangedNotification.php
  app/Notifications/StudentRepRegistrationNotification.php
  app/Notifications/TaskAssignedNotification.php
  app/Notifications/TaskAutoCompletedNotification.php
  app/Notifications/TaskCompletedNotification.php
  app/Notifications/TaskOverdueNotification.php
  app/Notifications/TaskReminderNotification.php
  app/Notifications/WelcomeNotification.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  lang/admin/en/notifications.php
  lang/admin/lt/notifications.php
  resources/js/Components/NotificationsIndicator.vue
  resources/js/Composables/__tests__/useNotificationFormatting.test.ts
  resources/js/Composables/useNotificationFormatting.ts
  resources/js/Features/Admin/Notifications/NotificationCard.vue
  resources/js/Features/Admin/Notifications/NotificationItem.vue
  resources/js/Features/Admin/Notifications/NotificationTypes/MemberRegistered.vue
  resources/js/Features/Admin/Notifications/NotificationTypes/ModelCommented.vue
  resources/js/Features/Admin/Notifications/NotificationTypes/UnifiedNotification.vue
  resources/js/Features/Admin/Notifications/__tests__/NotificationCard.component.test.ts
  tests/Feature/System/TranslationIntegrityTest.php
  tests/Unit/Notifications/NotificationContractTest.php
Due: backend, frontend, Vue Components, Vue Composables

Remove news and calendar notifications
  .ai/redesign/admin/messages.md
  .ai/redesign/admin/plan.md
  app/Console/Commands/SendCalendarReminders.php
  app/Console/Commands/SendNewsNotifications.php
  app/Console/Commands/StagingRefreshDatabase.php
  app/Enums/NotificationCategory.php
  app/Http/Requests/UpdateNotificationPreferencesRequest.php
  app/Models/Traits/HasNotificationPreferences.php
  app/Notifications/BaseNotification.php
  app/Notifications/CalendarReminderNotification.php
  app/Notifications/NewsPublishedNotification.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  lang/admin/en/notifications.php
  lang/admin/lt/notifications.php
  resources/js/Composables/useNotificationFormatting.ts
  resources/js/Features/Admin/Notifications/NotificationPreferences.vue
  resources/js/Types/enums.ts
  routes/console.php
  tests/Unit/Models/Traits/HasNotificationPreferencesTest.php
  tests/Unit/Notifications/NewsCalendarNotificationsTest.php
Due: backend, frontend, Laravel Models, Laravel Features, Vue Composables

Migrate problems and forms to collection, record and form pages
  .ai/redesign/admin/plan.md
  app/Actions/BuildFormIndexQuery.php
  app/Actions/BuildProblemIndexQuery.php
  app/Actions/SerializeFormsForTable.php
  app/Http/Controllers/Admin/FormController.php
  app/Http/Controllers/Admin/ProblemController.php
  app/Http/Controllers/Api/Admin/FormApiController.php
  app/Http/Controllers/Api/Admin/ProblemApiController.php
  eslint.config.mjs
  resources/js/Components/AdminForms/FormFieldForm.vue
  resources/js/Components/AdminForms/FormForm.vue
  resources/js/Components/AdminForms/ProblemForm.vue
  resources/js/Components/AdminForms/__tests__/FormForm.component.test.ts
  resources/js/Constants/statuses.ts
  resources/js/Pages/Admin/Forms/CreateForm.vue
  resources/js/Pages/Admin/Forms/EditForm.vue
  resources/js/Pages/Admin/Forms/IndexForm.vue
  resources/js/Pages/Admin/Forms/ShowForm.vue
  resources/js/Pages/Admin/Problems/CreateProblem.vue
  resources/js/Pages/Admin/Problems/EditProblem.vue
  resources/js/Pages/Admin/Problems/IndexProblem.vue
  resources/js/Pages/Admin/Problems/ShowProblem.vue
  routes/api.php
  tests/Feature/Api/Admin/FormApiControllerTest.php
  tests/Feature/Api/Admin/ProblemApiControllerTest.php
Due: backend, frontend, Laravel Controllers, Laravel Services, Vue Components, Vue Pages

Migrate page, news and calendar editors to FormPage
  .ai/redesign/admin/plan.md
  app/Http/Controllers/Admin/CalendarController.php
  eslint.config.mjs
  resources/js/Components/AdminForms/CalendarForm.vue
  resources/js/Components/AdminForms/FormFieldWrapper.vue
  resources/js/Components/AdminForms/FormLinkButton.vue
  resources/js/Components/AdminForms/FormStatusHeader.vue
  resources/js/Components/AdminForms/NewsForm.vue
  resources/js/Components/AdminForms/PageForm.vue
  resources/js/Components/AdminForms/PermalinkField.vue
  resources/js/Components/AdminForms/PermalinkPreviewHint.vue
  resources/js/Components/AdminForms/SEOPreview.vue
  resources/js/Components/AdminForms/__tests__/NewsForm.component.test.ts
  resources/js/Components/AdminForms/__tests__/PageForm.component.test.ts
  resources/js/Components/Analytics/ContentAnalyticsCard.vue
  resources/js/Components/Layouts/FormPage.vue
  resources/js/Pages/Admin/Calendar/CreateCalendarEvent.vue
  resources/js/Pages/Admin/Calendar/EditCalendarEvent.vue
  resources/js/Pages/Admin/Content/CreateNews.vue
  resources/js/Pages/Admin/Content/CreatePage.vue
  resources/js/Pages/Admin/Content/EditHomePage.vue
  resources/js/Pages/Admin/Content/EditNews.vue
  resources/js/Pages/Admin/Content/EditPage.vue
  tests/Feature/Admin/Calendar/CalendarControllerTest.php
Due: backend, frontend, Laravel Controllers, Vue Components, Vue Pages

Migrate banners, quick links, event types and navigation builder
  .ai/redesign/admin/plan.md
  app/Http/Controllers/Admin/EventTypeController.php
  app/Http/Controllers/Api/Admin/BannerApiController.php
  app/Http/Controllers/Api/Admin/EventTypeApiController.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  eslint.config.mjs
  resources/js/Components/AdminForms/BannerForm.vue
  resources/js/Components/AdminForms/NavigationForm.vue
  resources/js/Components/AdminForms/NavigationParentForm.vue
  resources/js/Components/AdminForms/QuickLinkForm.vue
  resources/js/Components/AdminForms/__tests__/BannerForm.component.test.ts
  resources/js/Components/AdminForms/__tests__/NavigationForm.component.test.ts
  resources/js/Components/AdminForms/__tests__/QuickLinkForm.component.test.ts
  resources/js/Features/Admin/EventTypes/EventTypeSheetForm.vue
  resources/js/Features/Admin/EventTypes/__tests__/EventTypeSheetForm.component.test.ts
  resources/js/Features/Admin/NavigationBuilder/FooterNavigationManager.vue
  resources/js/Features/Admin/NavigationBuilder/NavigationBuilder.vue
  resources/js/Features/Admin/NavigationBuilder/NavigationColumn.vue
  resources/js/Features/Admin/NavigationBuilder/NavigationLinkCard.vue
  resources/js/Features/Admin/NavigationBuilder/NavigationPreview.vue
  resources/js/Features/Admin/NavigationBuilder/NavigationRootItem.vue
  resources/js/Pages/Admin/Calendar/CreateEventType.vue
  resources/js/Pages/Admin/Calendar/EditEventType.vue
  resources/js/Pages/Admin/Calendar/IndexEventType.vue
  resources/js/Pages/Admin/Content/CreateBanner.vue
  resources/js/Pages/Admin/Content/CreateQuickLink.vue
  resources/js/Pages/Admin/Content/EditBanner.vue
  resources/js/Pages/Admin/Content/EditQuickLink.vue
  resources/js/Pages/Admin/Content/IndexBanner.vue
  resources/js/Pages/Admin/Content/IndexQuickLink.vue
  resources/js/Pages/Admin/Content/__tests__/EditHomePage.component.test.ts
  resources/js/Pages/Admin/Navigation/CreateNavigation.vue
  resources/js/Pages/Admin/Navigation/EditNavigation.vue
  resources/js/Pages/Admin/Navigation/IndexNavigation.vue
  routes/api.php
  tests/Feature/Admin/Calendar/EventTypeControllerTest.php
  tests/Feature/Api/Admin/BannerApiControllerTest.php
  tests/Feature/Api/Admin/EventTypeApiControllerTest.php
  tests/Unit/Support/AdminEntityTranslationsTest.php
Due: backend, frontend, Laravel Controllers, Vue Components, Vue Pages

Fix merge validation, event type N+1 and read-only calendar view
  app/Http/Controllers/Admin/CalendarController.php
  app/Http/Controllers/Api/Admin/EventTypeApiController.php
  app/Http/Controllers/Api/Admin/MergeCandidateApiController.php
  app/Http/Requests/Api/Admin/MergeCandidatesRequest.php
  app/Http/Requests/MergeDutiesRequest.php
  app/Http/Requests/MergeStudyProgramsRequest.php
  app/Http/Requests/MergeTagsRequest.php
  app/Http/Requests/MergeUsersRequest.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  lang/en.json
  resources/js/Components/AdminForms/CalendarForm.vue
  resources/js/Components/AdminForms/FormStatusHeader.vue
  resources/js/Components/AdminForms/TagMultiSelect.vue
  resources/js/Components/AdminForms/__tests__/CalendarForm.component.test.ts
  resources/js/Components/FormItems/VisualOptionSelect.vue
  resources/js/Components/Layouts/FormPage.vue
  resources/js/Components/Layouts/__tests__/FormPage.component.test.ts
  resources/js/Pages/Admin/Calendar/EditCalendarEvent.vue
  tests/Feature/Admin/Calendar/CalendarControllerTest.php
  tests/Feature/Admin/Content/TagControllerTest.php
  tests/Feature/Admin/DutyMergeTest.php
  tests/Feature/Admin/Management/StudyProgramControllerTest.php
  tests/Feature/Admin/UserMergeTest.php
  tests/Feature/Api/Admin/EventTypeApiControllerTest.php
  tests/Feature/Api/Admin/MergeCandidateApiControllerTest.php
Due: backend, frontend, Laravel Controllers, Laravel Features, Vue Components, Vue Pages

Migrate documents, file manager and SharePoint pages
  .ai/redesign/admin/plan.md
  app/Http/Controllers/Admin/DocumentController.php
  eslint.config.mjs
  resources/js/Features/Admin/FileManager/Components/FileGrid.vue
  resources/js/Features/Admin/FileManager/Components/FileItem.vue
  resources/js/Features/Admin/FileManager/Components/FileManagerHeader.vue
  resources/js/Features/Admin/FileManager/Components/FilePropertiesDrawer.vue
  resources/js/Features/Admin/FileManager/Components/FolderStrip.vue
  resources/js/Features/Admin/FileManager/FileManager.vue
  resources/js/Features/Admin/FileManager/FileSelector.vue
  resources/js/Features/Admin/SharepointFileManager/SharepointFileManager.vue
  resources/js/Features/Admin/SharepointFileManager/Uploader/FileForm.vue
  resources/js/Features/Admin/SharepointFileManager/Uploader/FileUploader.vue
  resources/js/Features/Admin/SharepointFileManager/Uploader/generateNameForFile.ts
  resources/js/Features/Admin/SharepointFileManager/Viewer/FileButton.vue
  resources/js/Features/Admin/SharepointFileManager/Viewer/FileButtonSkeletonWrapper.vue
  resources/js/Features/Admin/SharepointFileManager/Viewer/SimpleFileViewer.vue
  resources/js/Pages/Admin/Files/Index.vue
  resources/js/Pages/Admin/Files/IndexDocument.vue
  resources/js/Pages/Admin/Files/IndexSharepoint.vue
  tests/Feature/Admin/Resources/DocumentControllerTest.php
Due: backend, frontend, Laravel Controllers, Vue Pages

Partly migrate Sistema: role/type/relationship records, status, mail
  app/Http/Controllers/Admin/MailQueueController.php
  app/Http/Controllers/Admin/RelationshipController.php
  app/Http/Controllers/Admin/RoleController.php
  app/Http/Controllers/Admin/SystemStatusController.php
  app/Http/Controllers/Admin/TypeController.php
  app/Http/Requests/Relationships/StoreModelRelationshipRequest.php
  app/Http/Requests/StoreTypeRequest.php
  app/Http/Requests/SyncRoleAttachableTypesRequest.php
  app/Http/Requests/SyncRoleDutiesRequest.php
  app/Http/Requests/UpdateTypeRequest.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  eslint.config.mjs
  resources/js/Pages/Admin/MailQueue.vue
  resources/js/Pages/Admin/ModelMeta/ShowRelationship.vue
  resources/js/Pages/Admin/ModelMeta/ShowType.vue
  resources/js/Pages/Admin/Permissions/ShowRole.vue
  resources/js/Pages/Admin/SupportRequests/ShowSupportRequest.vue
  resources/js/Pages/Admin/SystemStatus.vue
  tests/Feature/Admin/Content/RelationshipControllerTest.php
  tests/Feature/Notifications/MailQueueControllerTest.php
Due: backend, frontend, Laravel Controllers, Laravel Features, Vue Pages

Split Paskyra settings; restyle tasks and notifications
  .ai/redesign/admin/plan.md
  app/Http/Controllers/Admin/ProfileController.php
  eslint.config.mjs
  lang/admin/en/shell.php
  lang/admin/lt/shell.php
  resources/js/Components/CommandPalette/__tests__/useCommandActions.test.ts
  resources/js/Components/CommandPalette/useCommandActions.ts
  resources/js/Components/Layouts/Shell/MobileMenuPanel.vue
  resources/js/Components/Layouts/Shell/ShellAccountMenu.vue
  resources/js/Components/Tasks/TaskDetailDialog.vue
  resources/js/Components/Tasks/TaskItem.vue
  resources/js/Features/Admin/Notifications/DigestEmailSelector.vue
  resources/js/Features/Admin/Notifications/NotificationCard.vue
  resources/js/Features/Admin/Notifications/NotificationPreferences.vue
  resources/js/Features/Admin/Notifications/PushDeviceManagement.vue
  resources/js/Features/Admin/TaskManager/TaskCard.vue
  resources/js/Features/Admin/TaskManager/TaskDetailDialog.vue
  resources/js/Features/Admin/TaskManager/TaskManager.vue
  resources/js/Features/Admin/TaskManager/TaskPagination.vue
  resources/js/Features/Admin/TaskManager/TaskStatsCards.vue
  resources/js/Features/Admin/TaskManager/TaskTable.vue
  resources/js/Pages/Admin/ShowNotificationSettings.vue
  resources/js/Pages/Admin/ShowNotifications.vue
  resources/js/Pages/Admin/ShowProfile.vue
  resources/js/Pages/Admin/ShowTasks.vue
  resources/js/Pages/Admin/ShowTasksSummary.vue
  resources/js/Pages/Admin/ShowUserSettings.vue
  routes/admin.php
  tests/Feature/DigestEmailPreferencesTest.php
  tests/Feature/Profile/ProfileControllerTest.php
  tests/Feature/System/AdminNavigationCatalogTest.php
Due: backend, frontend, Laravel Controllers, Vue Components, Vue Pages

Readjust the admin page feel
  app/Http/Controllers/Admin/DashboardController.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  lang/admin/en/shell.php
  lang/admin/lt/shell.php
  lang/en.json
  lang/lt.json
  resources/js/Components/Brand/MediaFrame.vue
  resources/js/Components/Brand/index.ts
  resources/js/Components/Calendar/EventCard.vue
  resources/js/Components/Home/AttentionQueue.vue
  resources/js/Components/Home/Home.stories.ts
  resources/js/Components/Home/SiteContentLists.vue
  resources/js/Components/Home/__tests__/AttentionQueue.component.test.ts
  resources/js/Components/Home/__tests__/SiteContentLists.component.test.ts
  resources/js/Components/Home/types.ts
  resources/js/Components/Layouts/OverviewPage.vue
  resources/js/Components/Layouts/Shell/AdminShell.vue
  resources/js/Components/Layouts/Shell/PaletteField.vue
  resources/js/Components/Layouts/Shell/SectionTabs.vue
  resources/js/Components/Layouts/Shell/ShellAccountMenu.vue
  resources/js/Components/Layouts/Shell/ShellTopBar.vue
  resources/js/Components/Layouts/Shell/__tests__/SectionTabs.component.test.ts
  resources/js/Components/News/NewsCard.vue
  resources/js/Components/NotificationsIndicator.vue
  resources/js/Components/Public/Base/MediaFrame.vue
  resources/js/Components/Public/News/NewsCard.vue
  resources/js/Constants/adminSections.ts
  resources/js/Pages/Admin/ShowAdminHome.vue
  resources/js/Pages/Admin/__tests__/ShowAdminHome.component.test.ts
  tests/Browser/AdminHomeLayoutTest.php
  tests/Browser/AdminShellTest.php
  tests/Feature/Admin/Core/DashboardControllerTest.php
Due: backend, frontend, Laravel Controllers, Vue Components, Vue Pages

Updated the login form page
  docs/changelog/index.md
  docs/en/changelog/index.md
  eslint.config.mjs
  lang/shared/en/auth.php
  lang/shared/lt/auth.php
  resources/js/Components/Buttons/MicrosoftLoginButton.vue
  resources/js/Pages/Admin/LoginForm.stories.ts
  resources/js/Pages/Admin/LoginForm.vue
  resources/js/Pages/Admin/__tests__/LoginForm.component.test.ts
Due: frontend, Vue Components, Vue Pages

Update user menu
  resources/js/Components/Layouts/Shell/ShellAccountMenu.vue
  resources/js/Components/Layouts/Shell/__tests__/ShellAccountMenu.component.test.ts
  resources/js/Components/ui/dropdown-menu/DropdownMenuItem.vue
  resources/js/Components/ui/dropdown-menu/DropdownMenuSubTrigger.vue
Due: frontend, Vue Components

Refining the admin style a bit
  .ai/rules/components-home.md
  .ai/rules/index.md
  .ai/rules/js-pages-admin.md
  AGENTS.md
  docs/changelog/index.md
  docs/en/changelog/index.md
  lang/admin/en/home.php
  lang/admin/lt/home.php
  resources/js/Components/CLAUDE.md
  resources/js/Components/Home/AttentionQueue.vue
  resources/js/Components/Home/CoordinatorCard.vue
  resources/js/Components/Home/CreateShortcuts.vue
  resources/js/Components/Home/FirstLoginChecklist.vue
  resources/js/Components/Home/InstitutionsNeedingAttention.vue
  resources/js/Components/Home/QuickAccess.vue
  resources/js/Components/Home/RecentlyEditedList.vue
  resources/js/Components/Home/SiteContentLists.vue
  resources/js/Components/Home/UpcomingMeetingsList.vue
  resources/js/Components/Home/__tests__/AttentionQueue.component.test.ts
  resources/js/Components/Home/__tests__/HomeActions.component.test.ts
  resources/js/Components/Home/__tests__/HomeSections.component.test.ts
  resources/js/Components/Layouts/AdminLayout.vue
  resources/js/Components/Layouts/FormPage.vue
  resources/js/Components/Layouts/OverviewPage.vue
  resources/js/Components/Layouts/RecordPage.vue
  resources/js/Components/Layouts/Shell/PaletteField.vue
  resources/js/Components/Layouts/Shell/__tests__/PaletteField.component.test.ts
  resources/js/Components/Patterns/OverviewSection.vue
  resources/js/Components/ui/button/index.ts
  resources/js/Pages/Admin/ShowAdminHome.vue
  resources/js/Pages/Admin/__tests__/ShowAdminHome.component.test.ts
Due: frontend, Vue Components, Vue Pages

Adjust headline text sizes
  docs/changelog/index.md
  docs/en/changelog/index.md
  resources/css/public/typography.css
  resources/js/Components/Calendar/EventHero.vue
  resources/js/Components/Public/Base/DisplayHeading.vue
  resources/js/Components/Public/News/NewsArticleLayout.vue
  resources/js/Components/RichContent/RCHeroCarousel/HeroCarouselSlideView.vue
  resources/js/Components/RichContent/RCHeroCarousel/__tests__/HeroCarousel.component.test.ts
  resources/js/Components/RichContent/RCHeroSection/heroLayout.ts
  resources/js/Components/RichContent/RCSpotifyPromoDisplay.vue
  resources/js/Pages/Public/Contacts/ShowInstitution.vue
  resources/js/Pages/Public/ContentPage.vue
  resources/js/Pages/Public/__tests__/ContentPage.component.test.ts
Due: frontend, Vue Components, Vue Pages
