Repository vu-sa/vusa.lt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Laravel Features, Vue Components, Vue Pages, Vue Composables

.codecov.yml:

codecov:
  require_ci_to_pass: no  # Allow reports even if some CI jobs fail
  notify:
    wait_for_ci: no        # Don't wait for all CI jobs

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project: off
    patch:
      default:
        target: 65%
        threshold: 3%
        if_ci_failed: ignore

component_management:
  individual_components:
    - component_id: laravel_controllers
      name: "Laravel Controllers"
      paths:
        - "app/Http/Controllers/**"
      statuses:
        - type: patch
          target: 70%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: laravel_models
      name: "Laravel Models"
      paths:
        - "app/Models/**"
      statuses:
        - type: patch
          target: 80%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: laravel_services
      name: "Laravel Services"
      paths:
        - "app/Services/**"
        - "app/Actions/**"
      statuses:
        - type: patch
          target: 75%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: laravel_features
      name: "Laravel Features"
      paths:
        - "app/Jobs/**"
        - "app/Console/**"
        - "app/Traits/**"
        - "app/Http/Requests/**"
      statuses:
        - type: patch
          target: 65%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: vue_components
      name: "Vue Components"
      paths:
        - "resources/js/Components/**"
      statuses:
        - type: patch
          target: 60%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: vue_pages
      name: "Vue Pages"
      paths:
        - "resources/js/Pages/**"
      statuses:
        - type: patch
          target: 55%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: vue_composables
      name: "Vue Composables"
      paths:
        - "resources/js/Composables/**"
        - "resources/js/Utils/**"
      statuses:
        - type: patch
          target: 75%
          threshold: 3%
          if_ci_failed: ignore

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no      # Don't require head report for comments
  show_carryforward_flags: true

# Add flags to separate frontend and backend coverage
flags:
  backend:
    paths:
      - "app/"
    carryforward: false
  frontend:
    paths:
      - "resources/js/"
    carryforward: false

Small admin fixes
  docs/.vitepress/config.ts
  docs/.vitepress/en.ts
  docs/.vitepress/lt.ts
  lang/admin/en/rich-content.php
  lang/admin/lt/rich-content.php
  resources/js/Components/RichContent/BlockPickerDialog.vue
  resources/js/Components/RichContent/Editor/RCImageTileGrid.vue
  resources/js/Components/RichContent/Types/PhotoGalleryGridEditor.vue
  resources/js/Components/RichContent/Types/PhotoGalleryTileSettingsFields.vue
  resources/js/Components/RichContent/Types/SocialEmbedEditor.vue
  resources/js/Components/RichContent/Types/TextBoxSubmissionsDialog.vue
  resources/js/Components/RichContent/Types/TimetableEditor.vue
  resources/js/Pages/Admin/Calendar/EditCalendarEvent.vue
  vite.config.mts
Due: frontend, Vue Components, Vue Pages

Update docs more
  docs/mano/pranesimai.md
  docs/pagrindai/padaliniai-ir-pareigybes.md
  docs/pagrindai/pranesimai.md
  docs/sistema/nustatymai.md
  docs/sistema/roles-ir-leidimai.md
  docs/visak/komentarai.md
Due: none

Fix inconsistencies with fb embed
  resources/js/Components/RichContent/RCSocialEmbed.vue
  resources/js/Components/RichContent/RCSocialEmbed/SocialEmbedBlockToolbar.vue
  resources/js/Components/RichContent/RCSocialEmbed/__tests__/SocialEmbedBlockToolbar.component.test.ts
  resources/js/Components/RichContent/Types/SocialEmbedEditor.vue
  resources/js/Components/RichContent/Types/SocialEmbedPreview.vue
  resources/js/Components/RichContent/Types/__tests__/SocialEmbedEditor.component.test.ts
  resources/js/Components/RichContent/__tests__/RCSocialEmbed.component.test.ts
  resources/js/Components/RichContent/__tests__/embedUrl.test.ts
  resources/js/Components/RichContent/embedUrl.ts
Due: frontend, Vue Components

Optimized queries
  app/Http/Controllers/PublicController.php
  app/Http/Middleware/HandleInertiaRequests.php
  app/Models/Institution.php
  app/Models/Page.php
  app/Models/Tenant.php
  app/Services/ModelAuthorizer.php
  app/Services/TanstackTableService.php
  app/Settings/SiteSettings.php
  resources/js/Components/ActionWindow/__tests__/ActionWindow.component.test.ts
  resources/js/Components/Home/__tests__/HomeActions.component.test.ts
  resources/js/Types/index.d.ts
  tests/Feature/Admin/Core/SiteSettingsTest.php
  tests/Feature/System/SharedInertiaCacheTest.php
  tests/Feature/System/SharedInertiaPropsTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Vue Components

Fix ssr issues
  package-lock.json
  package.json
  resources/js/Components/Buttons/DarkModeButton.vue
  resources/js/Components/News/NewsCard.vue
  resources/js/Components/Public/Base/AccessibilityMenu.vue
  resources/js/Components/Public/FeedbackPopover.vue
  resources/js/Components/Public/Institutions/NewInstitutionCard.vue
  resources/js/Components/Public/Institutions/__tests__/NewInstitutionCard.component.test.ts
  resources/js/Components/Public/Nav/Mobile/MobileNavigation.vue
  resources/js/Components/Public/Nav/Mobile/__tests__/MobileNavigation.component.test.ts
  resources/js/Components/Public/Nav/StartFM.vue
  resources/js/Components/Public/SmartLink.vue
  resources/js/Components/Public/__tests__/SmartLink.component.test.ts
  resources/js/Components/RichContent/RCHeroSection/HeroElement.vue
  resources/js/Components/RichContent/RCMixcloudEmbed.vue
  resources/js/Components/RichContent/RCPhotoGalleryGrid/PhotoGalleryGridDisplay.vue
  resources/js/Components/RichContent/RCProcessSteps/ProcessStepsDisplay.vue
  resources/js/Components/RichContent/RCProcessSteps/__tests__/ProcessStepsDisplay.component.test.ts
  resources/js/Components/RichContent/RCSpotifyEmbed.vue
  resources/js/Components/RichContent/RCSpotifyPromoDisplay.vue
  resources/js/Components/RichContent/RCTextBox/__tests__/TextBoxDisplay.component.test.ts
  resources/js/Components/RichContent/RichContentTiptapHTML.vue
  resources/js/Components/RichContent/Types/TextBoxDisplay.vue
  resources/js/Components/RichContent/__tests__/RCSpotifyEmbed.component.test.ts
  resources/js/Components/RichContent/__tests__/RCSpotifyPromoDisplay.component.test.ts
  resources/js/Components/RichContent/__tests__/RichContentTiptapHTML.component.test.ts
  resources/js/Components/RichContent/__tests__/embedUrl.ssr.test.ts
  resources/js/Components/RichContent/__tests__/generateHTMLfromTiptap.ssr.test.ts
  resources/js/Components/RichContent/embedUrl.ts
  resources/js/Components/TipTap/extensions/render.ts
  resources/js/Utils/String.ts
  resources/js/public.ts
  resources/js/ssr.ts
  resources/js/tests/helpers/ssrRoundTrip.ts
Due: frontend, Vue Components, Vue Composables

Optimize queries
  app/Actions/BuildCalendarIndexQuery.php
  app/Actions/BuildTaskIndexQuery.php
  app/Http/Controllers/Admin/AgendaItemController.php
  app/Http/Controllers/Admin/AtstovavimasDashboardController.php
  app/Http/Controllers/Admin/CalendarController.php
  app/Http/Controllers/Admin/DashboardController.php
  app/Http/Controllers/Admin/DutyController.php
  app/Http/Controllers/Admin/InstitutionController.php
  app/Http/Controllers/Admin/MeetingController.php
  app/Http/Controllers/Admin/ReservationController.php
  app/Http/Controllers/Admin/TaskController.php
  app/Http/Controllers/Admin/UserController.php
  app/Http/Middleware/HandleInertiaRequests.php
  app/Models/Task.php
  app/Policies/MeetingPolicy.php
  app/Policies/Traits/HasCommonChecks.php
  app/Services/ModelAuthorizer.php
  app/Services/ResourceServices/DutyService.php
  app/Support/MorphMap.php
  tests/Feature/Admin/Reservations/ReservationControllerTest.php
  tests/Feature/Permissions/StudentRepresentativeRoleTest.php
Due: backend, Laravel Controllers, Laravel Models, Laravel Services

Optimize how icons and translations are loaded in SSR
  app/Http/Controllers/Public/ContactController.php
  app/Http/Controllers/PublicController.php
  app/Services/PublicAssetService.php
  docs/changelog/v2.md
  docs/en/changelog/v2.md
  docs/svetaine/greitosios-nuorodos.md
  resources/js/Components/Public/Base/HeaderWordmark.vue
  resources/js/Components/Public/Base/__tests__/HeaderWordmark.component.test.ts
  resources/js/Components/Public/Nav/QuickLink.vue
  resources/js/Components/Public/Nav/__tests__/QuickLink.component.test.ts
  resources/js/Types/index.d.ts
  resources/js/Utils/__tests__/fluentIcons.test.ts
  resources/js/Utils/__tests__/mountTranslatedApp.test.ts
  resources/js/Utils/mountTranslatedApp.ts
  resources/js/public.ts
  resources/views/app.blade.php
  tests/Browser/PublicInitialRenderTest.php
  tests/Feature/Public/InertiaSsrTest.php
  tests/Feature/Public/PublicAssetsTest.php
  vite-plugins/fluent-icons.ts
  vite.config.mts
Due: backend, frontend, Laravel Controllers, Laravel Services, Vue Components, Vue Composables

Update deps
  .agents/skills/laravel-best-practices/rules/config.md
  .agents/skills/laravel-best-practices/rules/events-notifications.md
  .agents/skills/laravel-best-practices/rules/mail.md
  .agents/skills/laravel-best-practices/rules/migrations.md
  .agents/skills/laravel-best-practices/rules/scheduling.md
  .agents/skills/laravel-best-practices/rules/security.md
  .claude/skills/laravel-best-practices/rules/config.md
  .claude/skills/laravel-best-practices/rules/events-notifications.md
  .claude/skills/laravel-best-practices/rules/mail.md
  .claude/skills/laravel-best-practices/rules/migrations.md
  .claude/skills/laravel-best-practices/rules/scheduling.md
  .claude/skills/laravel-best-practices/rules/security.md
  AGENTS.md
  _ide_helper.php
  app/Http/Controllers/Admin/AtstovavimasDashboardController.php
  app/Http/Controllers/Admin/DashboardController.php
  app/Http/Controllers/Admin/InstitutionController.php
  app/Http/Controllers/Admin/MeetingController.php
  app/Http/Controllers/Admin/ReservationController.php
  app/Http/Controllers/Api/Admin/ContentEditorApiController.php
  app/Models/ContentEditorDraft.php
  app/Models/Goal.php
  app/Models/Pivots/AgendaItem.php
  app/Models/Problem.php
  app/Models/ProblemCategory.php
  app/Models/Step.php
  app/Models/Tenant.php
  app/Services/ModelAuthorizer.php
  composer.lock
  package-lock.json
  package.json
  resources/js/Types/models.d.ts
  tests/Browser/PublicInitialRenderTest.php
  tests/Browser/PublicSsrHydrationTest.php
  tests/Feature/Admin/Goals/GoalControllerTest.php
  tests/Feature/Admin/Reservations/ReservationControllerTest.php
  tests/Feature/DeployWorkflowTest.php
  tests/Feature/Permissions/StudentRepresentativeRoleTest.php
  tests/Feature/Public/InertiaSsrTest.php
  tests/Feature/Public/PublicAssetsTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services

Fix failing tests
  .storybook/main.ts
  app/Http/Controllers/Admin/ProblemController.php
  app/Http/Controllers/Public/PublicPageController.php
  app/Http/Requests/PreviewContentPartsRequest.php
  app/Http/Resources/ProblemSummaryResource.php
  app/Http/Traits/ResolvesPublicContent.php
  app/Models/Page.php
  app/Models/Problem.php
  app/Models/ProblemCategory.php
  app/Models/Tenant.php
  app/Settings/SiteSettings.php
  app/Support/PublicCacheTags.php
  dev/benchmark-ssr.mjs
  dev/benchmark-ssr.test.mjs
  tests/Browser/GanttDateStackingTest.php
  tests/Pest.php
  tsconfig.json
  vite.config.mts
  vitest.config.ts
Due: backend, Laravel Controllers, Laravel Models, Laravel Features

Set up Claude Code on the web sessions without Sail
  .claude/hooks/session-start.sh
  .claude/settings.json
  .mcp.json
  AGENTS.md
Due: none

Make the cloud session hook install and test end to end
  .claude/hooks/seed-composer-dist-cache.php
  .claude/hooks/session-start.sh
  AGENTS.md
  tests/Pest.php
Due: none

Update docs
  docs/ivadas.md
  docs/maintainers/authoring.md
  docs/mano/pranesimai.md
  docs/organizacija/formos-ir-registracijos.md
  docs/organizacija/nariai.md
  docs/organizacija/padaliniai.md
  docs/organizacija/pareigybiu-atnaujinimas.md
  docs/organizacija/studiju-programos.md
  docs/sistema/laisku-eile.md
  docs/sistema/nustatymai.md
  docs/sistema/roles-ir-leidimai.md
  docs/svetaine/baneriai.md
  docs/svetaine/failai.md
  docs/svetaine/greitosios-nuorodos.md
  docs/svetaine/kalendorius.md
  docs/svetaine/naujienos.md
  docs/svetaine/navigacija.md
  docs/svetaine/puslapiai.md
  docs/svetaine/renginiu-tipai.md
  docs/svetaine/studiju-rinkiniai.md
  docs/svetaine/zymos.md
Due: none

Start Typesense in cloud sessions; skip vendor in typecheck
  .claude/hooks/session-start.sh
  tsconfig.json
Due: none

SSR on staging; bundle analysis fix
  .github/workflows/deploy-common.yml
  .github/workflows/setup.yml
  .gitignore
  app/Console/Commands/DeploymentDeployAssets.php
  app/Services/PublicAssetService.php
  app/Services/StagingIsolationService.php
  config/inertia.php
  deployment/env/staging.env.example
  deployment/supervisor/README.md
  deployment/supervisor/staging-inertia-ssr.conf
  resources/js/Components/Public/Nav/MainNavigationMenuContent.vue
  resources/js/Components/Public/Nav/Mobile/MobileNavLinkRow.vue
  resources/js/Components/Public/Nav/Mobile/MobileNavRootPanel.vue
  resources/js/Components/Public/Nav/Mobile/__tests__/MobileNavRootPanel.component.test.ts
  tests/Feature/DeployWorkflowTest.php
  tests/Feature/StagingIsolationTest.php
  vite-plugins/fluent-icons.ts
  vite.config.mts
Due: backend, frontend, Laravel Services, Laravel Features, Vue Components

Fix Gantt test and bundle
  .github/workflows/setup.yml
  tests/Browser/GanttDateStackingTest.php
  vite.config.mts
Due: none

Remove some $with properties from models
  app/Actions/Dutiables/BuildDutiableTimeline.php
  app/Actions/Dutiables/PlanDutiableTimelineChanges.php
  app/Actions/SerializeReservationsForTable.php
  app/Http/Requests/Dutiables/DutiableTimelineOperationsRequest.php
  app/Http/Requests/Dutiables/MergeDutiablesRequest.php
  app/Models/Pivots/Dutiable.php
  app/Models/Pivots/ReservationResource.php
  docs/visak/pareigybiu-laikotarpiai.md
  resources/js/Features/Admin/Occupancy/AssignDutyUserSheet.vue
  tests/Feature/Admin/People/DutiableDiagnosticsTest.php
  tests/Feature/PivotEagerLoadingTest.php
Due: backend, frontend, Laravel Models, Laravel Services, Laravel Features

Update the style of spotlight popover
  AGENTS.md
  lang/admin/en/tutorials.php
  lang/admin/lt/tutorials.php
  resources/css/theme/design-tokens.css
  resources/js/Components/Onboarding/SpotlightBadge.vue
  resources/js/Components/Onboarding/SpotlightPopover.vue
  resources/js/Components/Onboarding/__tests__/SpotlightPopover.component.test.ts
  resources/js/Composables/useFeatureSpotlight.ts
  resources/js/Features/Admin/Responsibilities/DutyResponsibilitiesSection.vue
  resources/js/Pages/Admin/ModelMeta/IndexTypes.vue
Due: frontend, Vue Components, Vue Pages, Vue Composables

Cleanup some composables event listeners
  resources/js/Components/Graphs/composables/__tests__/useGanttViewport.test.ts
  resources/js/Components/Graphs/composables/useColumnResize.ts
  resources/js/Components/Graphs/composables/useDragSelection.ts
  resources/js/Components/Graphs/composables/useGanttViewport.ts
Due: frontend, Vue Components

Link PKP institution cards on contact category pages to www
  docs/changelog/index.md
  docs/en/changelog/index.md
  resources/js/Components/Cards/StudentRepInstitutionCard.vue
  resources/js/Components/Cards/__tests__/StudentRepInstitutionCard.component.test.ts
Due: frontend, Vue Components

Auto-open feature spotlights on hover-less devices
  docs/changelog/v3.md
  docs/en/changelog/v3.md
  resources/js/Components/Onboarding/SpotlightPopover.vue
  resources/js/Components/Onboarding/__tests__/SpotlightPopover.component.test.ts
Due: frontend, Vue Components

Load quick links once when reordering
  app/Http/Controllers/Admin/QuickLinkController.php
  tests/Feature/Admin/Content/QuickLinkControllerTest.php
Due: backend, Laravel Controllers

Slim the impersonation launcher and show duties in its search
  app/Http/Controllers/Api/Admin/ImpersonateApiController.php
  lang/en.json
  resources/js/Components/ImpersonateBanner.vue
  resources/js/Components/__tests__/ImpersonateBanner.component.test.ts
  tests/Feature/Admin/Core/ImpersonateApiTest.php
Due: backend, frontend, Laravel Controllers, Vue Components

Update the style of notification items
  docs/changelog/v3.md
  docs/en/changelog/v3.md
  docs/mano/pranesimai.md
  resources/js/Components/NotificationsIndicator.vue
  resources/js/Components/__tests__/NotificationsIndicator.component.test.ts
  resources/js/Composables/__tests__/useNotificationFormatting.test.ts
  resources/js/Composables/useNotificationFormatting.ts
  resources/js/Features/Admin/Notifications/NotificationCard.vue
  resources/js/Features/Admin/Notifications/__tests__/NotificationCard.component.test.ts
Due: frontend, Vue Components, Vue Composables
