Repository vu-sa/vusa.lt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Laravel Features, Vue Components, Vue Pages, Vue Composables

Show images in calendar event listing
  resources/js/Components/Calendar/EventCard.vue
Due: frontend, Vue Components

Use proper urls for new login form photos
  resources/js/Pages/Admin/LoginForm.vue
Due: frontend, Vue Pages

Update login form and number section styles
  resources/js/Components/Buttons/MicrosoftLoginButton.vue
  resources/js/Components/RichContent/RCNumberStatSection/RCNumberSection.vue
  resources/js/Components/RichContent/RCNumberStatSection/RCNumberStatistic.vue
  resources/js/Components/ui/ImageWithDecorations.vue
  resources/js/Pages/Admin/LoginForm.vue
  resources/js/Pages/Public/MembershipPage.vue
Due: frontend, Vue Components, Vue Pages

Async load Typesense search
  resources/js/Components/Public/Nav/SearchButton.vue
  vite.config.mts
Due: frontend, Vue Components

Add a treeshakable way to use named icons
  CLAUDE.md
  package-lock.json
  package.json
  resources/js/Components/Cards/DocumentCard.vue
  resources/js/Components/icons/form-icons.ts
  resources/js/Components/icons/index.ts
  resources/js/Components/icons/model-icons.ts
  resources/js/Components/icons/other-icons.ts
  resources/js/Composables/useBreadcrumbsUnified.ts
  resources/js/Pages/Admin/ShowUserSettings.vue
  resources/js/entities.ts
  vite.config.mts
Due: frontend, Vue Components, Vue Pages, Vue Composables

Prevent dark mode flash
  resources/css/app.css
  resources/views/app.blade.php
Due: none

Add image upload via Tiptap, and more optimization
  CLAUDE.md
  lang/en/rich-content.php
  lang/lt/rich-content.php
  package-lock.json
  package.json
  resources/js/Components/RichContent/Types/TiptapEditor.vue
  resources/js/Components/TipTap/OriginalTipTap.vue
  resources/js/Components/TipTap/TiptapImageButton.vue
  resources/js/Components/VCropper.vue
  resources/js/Features/Admin/FileManager/Components/FileGrid.vue
  resources/js/Features/Admin/FileManager/Components/FileItem.vue
  resources/js/Features/Admin/FileManager/FileManager.vue
Due: frontend, Vue Components

Add a file usage test for files
  app/Http/Controllers/Admin/FilesController.php
  app/Services/FileUsageScanner.php
  resources/js/Features/Admin/FileManager/Components/FilePropertiesDrawer.vue
  routes/admin.php
  tests/Feature/Admin/Resources/FilesControllerTest.php
Due: backend, frontend, Laravel Controllers, Laravel Services

Add a file compress method for FileManager
  app/Http/Controllers/Admin/FilesController.php
  resources/js/Features/Admin/FileManager/Components/FilePropertiesDrawer.vue
  routes/admin.php
Due: backend, frontend, Laravel Controllers

Update Rich Content Editor experience
  lang/en/rich-content.php
  lang/lt/rich-content.php
  package-lock.json
  package.json
  resources/js/Components/RichContent/Types/CardEditor.vue
  resources/js/Components/RichContent/Types/TiptapEditor.vue
  resources/js/Components/RichContentEditor.vue
  resources/js/Components/RichContentFormElement.vue
  resources/js/Components/TipTap/AccessibleImage.ts
  resources/js/Components/TipTap/ImageAccessibilityDialog.vue
  resources/js/Components/TipTap/ModernTipTap.vue
  resources/js/Components/TipTap/TiptapImageButton.vue
  resources/js/Components/TipTap/TiptapLinkButton.vue
  resources/js/Components/TipTap/TiptapVideoButton.vue
  resources/js/Components/TipTap/TiptapYoutubeButton.vue
  resources/js/Components/TipTap/accessible-image-commands.d.ts
  resources/js/Components/TipTap/index.d.ts
  resources/js/Components/ui/combobox/Combobox.vue
  resources/js/Components/ui/combobox/ComboboxAnchor.vue
  resources/js/Components/ui/combobox/ComboboxEmpty.vue
  resources/js/Components/ui/combobox/ComboboxGroup.vue
  resources/js/Components/ui/combobox/ComboboxInput.vue
  resources/js/Components/ui/combobox/ComboboxItem.vue
  resources/js/Components/ui/combobox/ComboboxItemIndicator.vue
  resources/js/Components/ui/combobox/ComboboxList.vue
  resources/js/Components/ui/combobox/ComboboxSeparator.vue
  resources/js/Components/ui/combobox/ComboboxTrigger.vue
  resources/js/Components/ui/combobox/ComboboxViewport.vue
  resources/js/Components/ui/combobox/index.ts
  resources/js/Components/ui/separator/Separator.vue
  resources/js/Components/ui/separator/index.ts
  resources/js/Features/Admin/ArchiveDocumentSelector.vue
Due: frontend, Vue Components

Fix ArchiveDocumentSelector.vue
  app/Http/Controllers/Api/DocumentController.php
  resources/js/Components/RichContent/ContentEditorFactory.vue
  resources/js/Components/RichContentEditor.vue
  resources/js/Components/RichContentFormElement.vue
  resources/js/Components/TipTap/ModernTipTap.vue
  resources/js/Features/Admin/ArchiveDocumentSelector.vue
Due: backend, frontend, Laravel Controllers, Vue Components

PHP Linting (Pint)
  app/Http/Controllers/Admin/FilesController.php
  app/Services/FileUsageScanner.php
  tests/Feature/Admin/Resources/FilesControllerTest.php
Due: backend, Laravel Controllers, Laravel Services

Fix PHPStan errors
  CLAUDE.md
  app/Models/Content.php
  app/Models/ContentPart.php
  app/Services/ContentService.php
  app/Services/FileUsageScanner.php
Due: backend, Laravel Models, Laravel Services

Refactor event filtering and localization in PublicPageController and SummerCamps.vue. Added locale-based filtering for international events and updated faculty name display to support localization.
  app/Http/Controllers/Public/PublicPageController.php
  resources/js/Pages/Public/SummerCamps.vue
Due: backend, frontend, Laravel Controllers, Vue Pages

Refactor file upload handling to support UploadImageWithCropper
  app/Http/Controllers/Admin/FilesController.php
  app/Services/FileUsageScanner.php
  tests/Feature/Admin/Resources/FilesControllerTest.php
Due: backend, Laravel Controllers, Laravel Services

Update translation for "Curators" to "Mentors" in en.json
  lang/en.json
Due: none

Update translations for "Curators" to "Mentors" in en.json
  lang/en.json
Due: none

Add new translations to en.json for event-related terms, enhancing multilingual support for the Summer Camps page.
  lang/en.json
Due: none

Fallback to stateless authentication
  app/Http/Controllers/Admin/UserController.php
  routes/web.php
Due: backend, Laravel Controllers

Optimize FileUsageScanner.php
  app/Http/Controllers/Admin/FilesController.php
  app/Http/Controllers/Public/PublicPageController.php
  app/Services/FileUsageScanner.php
  tests/Feature/Admin/Resources/FilesControllerTest.php
Due: backend, Laravel Controllers, Laravel Services

Lint; update deps
  _ide_helper.php
  composer.lock
  package-lock.json
  tests/Feature/Admin/Resources/FilesControllerTest.php
Due: none

Remove the 3 symbol limit for document search
  lang/en/search.php
  lang/lt/search.php
  resources/js/Components/Public/Search/DocumentResults.vue
  resources/js/Components/Public/Search/DocumentSearchInput.vue
  resources/js/Components/Public/Search/DocumentSearchInterface.vue
  resources/js/Composables/useDocumentSearch.ts
  resources/js/Utils/SearchUtils.ts
Due: frontend, Vue Components, Vue Composables

Make FileManager more convenient
  resources/js/Features/Admin/FileManager/Components/FilePropertiesDrawer.vue
  resources/js/Features/Admin/FileManager/FileManager.vue
Due: frontend

Refactor SummerCamps.vue to use dynamic locale for language parameter in SmartLink routes
  resources/js/Pages/Public/SummerCamps.vue
Due: frontend, Vue Pages

Format document
  resources/js/Pages/Public/SummerCamps.vue
Due: frontend, Vue Pages

Integrate NConfigProvider for theme support in ActionColumns, IndexDataTable, and IndexSearchInput components, enabling dark mode functionality.
  resources/js/Components/Layouts/IndexModel/ActionColumns.vue
  resources/js/Components/Layouts/IndexModel/IndexDataTable.vue
  resources/js/Components/Layouts/IndexModel/IndexSearchInput.vue
Due: frontend, Vue Components

Enhance CalendarForm and MultiLocaleInput components with NConfigProvider for theme support, enabling dark mode functionality.
  resources/js/Components/AdminForms/CalendarForm.vue
  resources/js/Components/FormItems/MultiLocaleInput.vue
Due: frontend, Vue Components

Integrate NConfigProvider in UserForm component for theme support, enabling dark mode functionality.
  resources/js/Components/AdminForms/UserForm.vue
Due: frontend, Vue Components

Integrate NConfigProvider in DutyForm and MultiLocaleInput components for enhanced theme support, enabling dark mode functionality.
  resources/js/Components/AdminForms/DutyForm.vue
  resources/js/Components/FormItems/MultiLocaleInput.vue
Due: frontend, Vue Components

Refactor AdminForms components to utilize ThemeProvider for improved theme support, enhancing dark mode functionality across the application.
  resources/js/Components/AdminForms/AdminForm.vue
  resources/js/Components/AdminForms/CalendarForm.vue
  resources/js/Components/AdminForms/DutyForm.vue
  resources/js/Components/AdminForms/FormElement.vue
  resources/js/Components/AdminForms/UserForm.vue
  resources/js/Components/Providers/ThemeProvider.vue
  resources/js/Components/ui/breadcrumb/BreadcrumbLink.vue
  resources/js/Pages/Admin/Content/IndexPages.vue
  resources/js/Pages/Admin/Dashboard/ShowAtstovavimasActivity.vue
  resources/js/Pages/Admin/Dashboard/ShowReservations.vue
  resources/js/Pages/Admin/Dashboard/ShowSvetaine.vue
  resources/js/Pages/Admin/Navigation/IndexNavigation.vue
  resources/js/Pages/Admin/ShowUserSettings.vue
Due: frontend, Vue Components, Vue Pages

Update ShowContactCategory.vue to enhance dark mode support by changing background color class for navigation section
  resources/js/Pages/Public/Contacts/ShowContactCategory.vue
Due: frontend, Vue Pages

PHP Linting (Pint)
  app/Http/Controllers/Public/ContactController.php
Due: backend, Laravel Controllers

Make it so MembershipPage.vue works on all tenants
  resources/js/Pages/Public/MembershipPage.vue
  routes/web.php
Due: frontend, Vue Pages

Fix tests and lint
  app/Http/Controllers/Public/ContactController.php
  resources/js/Components/Public/Search/__tests__/DocumentSearchInput.component.test.ts
  resources/js/Components/Public/Search/__tests__/DocumentSearchInterface.component.test.ts
  resources/js/Utils/__tests__/SearchUtils.test.ts
Due: backend, frontend, Laravel Controllers, Vue Components, Vue Composables

Membership form links to the form
  app/Listeners/SendMemberRegistrationNotification.php
  app/Mail/InformChairAboutMemberRegistration.php
  app/Notifications/MemberRegistered.php
  resources/views/emails/memberRegistration/inform.blade.php
Due: backend

Show link to registration form by default for all tenants
  app/Http/Controllers/Admin/FormController.php
  resources/js/Pages/Admin/Forms/IndexForm.vue
Due: backend, frontend, Laravel Controllers, Vue Pages

Show tenant name in registration form table
  resources/js/Pages/Admin/Forms/ShowForm.vue
Due: frontend, Vue Pages

PHP Linting (Pint)
  app/Http/Controllers/Admin/FormController.php
Due: backend, Laravel Controllers

Update composer deps
  _ide_helper.php
  composer.lock
Due: none

Path conditions:
  backend: any of: app/
  frontend: any of: resources/js/
  Laravel Controllers: any of: app/Http/Controllers/**
  Laravel Models: any of: app/Models/**
  Laravel Services: any of: app/Services/**, app/Actions/**
  Laravel Features: any of: app/Jobs/**, app/Console/**, app/Traits/**, app/Http/Requests/**
  Vue Components: any of: resources/js/Components/**
  Vue Pages: any of: resources/js/Pages/**
  Vue Composables: any of: resources/js/Composables/**, resources/js/Utils/**
