Repository vu-sa/vusa.lt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Laravel Features, Vue Components, Vue Pages, Vue Composables

Enhance reindexing process by adding error handling and document count verification for Typesense collections
  app/Console/Commands/ReindexSearchCommand.php
Due: backend, Laravel Features

Reindex public meetings and institutions after updating meeting settings to reflect visibility criteria changes
  app/Http/Controllers/Admin/SettingsController.php
Due: backend, Laravel Controllers

When reindex based on settings change, actually remove from index
  app/Http/Controllers/Admin/SettingsController.php
Due: backend, Laravel Controllers

Update dependencies and improve test assertions
  .env.example
  .storybook/CLAUDE.md
  .storybook/preview.ts
  .storybook/vitest.setup.ts
  _ide_helper.php
  app/Models/PublicInstitution.php
  composer.lock
  dev/storybook-setup.sh
  package-lock.json
  package.json
  tests/Unit/Actions/DuplicateNewsActionTest.php
  vitest.config.ts
Due: backend, Laravel Models

Don't force to complete the tours
  lang/admin/en/tutorials.php
  lang/admin/lt/tutorials.php
  resources/js/Components/Layouts/AdminLayout.vue
  resources/js/Composables/useProductTour.ts
Due: frontend, Vue Components, Vue Composables

Enhance relationship management with bidirectional support
  app/Http/Controllers/Admin/DashboardController.php
  app/Http/Controllers/Admin/InstitutionController.php
  app/Http/Controllers/Admin/RelationshipController.php
  app/Models/Meeting.php
  app/Models/Pivots/Relationshipable.php
  app/Models/Traits/HasContentRelationships.php
  app/Policies/MeetingPolicy.php
  app/Policies/Traits/HasCommonChecks.php
  app/Services/RelationshipService.php
  app/Services/ResourceServices/DutyService.php
  database/migrations/2025_12_20_010658_add_bidirectional_to_relationshipables_table.php
  lang/admin/en/relationships.php
  lang/admin/lt/relationships.php
  lang/en.json
  lang/lt.json
  resources/js/Components/Carousels/RelatedInstitutions.vue
  resources/js/Components/Graphs/MeetingsGantt.vue
  resources/js/Components/Graphs/ganttColors.ts
  resources/js/Components/Graphs/renderers/GanttTooltip.ts
  resources/js/Components/Graphs/renderers/renderMeetings.ts
  resources/js/Composables/useProductTour.ts
  resources/js/Pages/Admin/Dashboard/Components/FullscreenGanttModal.vue
  resources/js/Pages/Admin/Dashboard/Components/TimelineGanttChart.vue
  resources/js/Pages/Admin/Dashboard/Components/UserTimelineSection.vue
  resources/js/Pages/Admin/Dashboard/Composables/useGanttChartData.ts
  resources/js/Pages/Admin/Dashboard/types.ts
  resources/js/Pages/Admin/ModelMeta/EditRelationship.vue
  resources/js/Types/models.d.ts
  routes/admin.php
  tests/Feature/Admin/Calendar/MeetingControllerTest.php
  tests/Feature/Admin/Content/RelationshipControllerTest.php
  tests/Feature/Admin/Core/DashboardControllerTest.php
  tests/Feature/Services/RelationshipServiceTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Vue Components, Vue Pages, Vue Composables

Implement cross-tenant sibling relationships with authorization control
  app/Models/Type.php
  app/Observers/TypeObserver.php
  app/Services/RelationshipService.php
  lang/admin/en/relationships.php
  lang/admin/lt/relationships.php
  resources/js/Components/AdminForms/TypeForm.vue
  resources/js/Components/Carousels/RelatedInstitutions.vue
  resources/js/Pages/Admin/ModelMeta/EditRelationship.vue
  resources/js/Pages/Admin/People/ShowInstitution.vue
  tests/Feature/Services/RelationshipServiceTest.php
Due: backend, frontend, Laravel Models, Laravel Services, Vue Components, Vue Pages

Remove max length validation for agenda item titles and update title validation in requests
  app/Http/Requests/StoreAgendaItemsRequest.php
  app/Http/Requests/UpdateAgendaItemRequest.php
Due: backend, Laravel Features

Refactor meeting completion status handling and UI components
  app/Http/Controllers/Admin/MeetingController.php
  app/Http/Requests/IndexMeetingRequest.php
  app/Models/Meeting.php
  app/Models/PublicMeeting.php
  app/Models/Type.php
  config/google-fonts.php
  config/scout.php
  resources/css/app.css
  resources/js/Components/Public/Search/MeetingCompactListItem.vue
  resources/js/Components/Public/Search/MeetingFacetSidebar.vue
  resources/js/Components/Public/Search/MeetingSearchInterface.vue
  resources/js/Composables/useMeetingSearch.ts
  resources/js/Pages/Admin/Representation/IndexMeeting.vue
  resources/js/Pages/Public/Meetings/ShowMeeting.vue
  resources/js/Pages/Public/Meetings/ShowMeetings.vue
  resources/js/Services/MeetingSearchService.ts
  resources/js/Types/MeetingSearchTypes.ts
  resources/js/Types/models.d.ts
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Features, Vue Components, Vue Pages, Vue Composables

Use view transitions, more prefetching
  app/Http/Controllers/Public/PublicPageController.php
  config/querydetector.php
  resources/css/app.css
  resources/js/Components/AppSidebar.vue
  resources/js/Components/Graphs/MeetingsGantt.vue
  resources/js/Components/Graphs/renderers/renderMeetings.ts
  resources/js/Components/Meetings/MeetingHero.vue
  resources/js/Components/NavMain.vue
  resources/js/Components/Public/FullWidth/EventCalendarElement.vue
  resources/js/Components/Public/Layouts/PublicLayout.vue
  resources/js/Components/Public/Nav/QuickLink.vue
  resources/js/Components/Public/News/NewsArticleLayout.vue
  resources/js/Components/Public/News/NewsCard.vue
  resources/js/Components/Public/NewsElement.vue
  resources/js/Components/Public/SmartLink.vue
  resources/js/Components/UnifiedBreadcrumbs.vue
  resources/js/Components/ui/breadcrumb/BreadcrumbLink.vue
  resources/js/Composables/useBreadcrumbsUnified.ts
  resources/js/Pages/Admin/Dashboard/Components/PersonalOverviewSection.vue
  resources/js/Pages/Admin/Dashboard/Components/UpcomingMeetingsCard.vue
  resources/js/Pages/Admin/Dashboard/ShowAtstovavimas.vue
  resources/js/Pages/Admin/ShowUserSettings.vue
  resources/js/Pages/Public/CalendarEventList.vue
  resources/js/Pages/Public/NewsArchive.vue
  resources/js/admin.ts
  resources/js/public.ts
Due: backend, frontend, Laravel Controllers, Vue Components, Vue Pages, Vue Composables

Enhance Calendar Events
  app/Http/Controllers/Api/CalendarController.php
  lang/en.json
  lang/lt.json
  package-lock.json
  package.json
  resources/css/app.css
  resources/js/Components/Calendar/EventCalendar.vue
  resources/js/Components/Calendar/EventHero.vue
  resources/js/Components/Calendar/EventHoverCard.vue
  resources/js/Components/Calendar/EventSocialShare.vue
  resources/js/Components/Calendar/EventTimeline.vue
  resources/js/Components/Calendar/EventTimelineVertical.vue
  resources/js/Components/Calendar/UpcomingEventsCompact.vue
  resources/js/Components/Public/FullWidth/EventCalendarElement.vue
  resources/js/Components/Public/Layouts/PublicLayout.vue
  resources/js/Components/Public/NewsElement.vue
  resources/js/Components/Public/PublicBreadcrumb.vue
  resources/js/Components/RichContentParser.vue
  resources/js/Pages/Admin/Dashboard/Components/CalendarEventsCard.vue
  resources/js/Pages/Public/CalendarEvent.vue
  resources/js/Pages/Public/CalendarEventList.vue
  resources/js/Pages/Public/CategoryPage.vue
  resources/js/Pages/Public/Contacts/ShowContacts.vue
  resources/js/Pages/Public/NewsArchive.vue
  resources/js/Pages/Public/ShowDocuments.vue
  resources/js/Services/ContentService.ts
Due: backend, frontend, Laravel Controllers, Vue Components, Vue Pages

Add 'brought by students' feature to agenda items and related forms
  app/Http/Controllers/Admin/AgendaItemController.php
  app/Http/Controllers/Admin/MeetingController.php
  app/Http/Requests/StoreAgendaItemsRequest.php
  app/Http/Requests/StoreMeetingRequest.php
  app/Http/Requests/UpdateAgendaItemRequest.php
  app/Models/Pivots/AgendaItem.php
  database/migrations/2025_12_20_120000_add_brought_by_students_to_agenda_items_table.php
  lang/en.json
  lang/lt.json
  resources/js/Components/AdminForms/AddAgendaItemForm.vue
  resources/js/Components/AdminForms/AgendaItemForm.vue
  resources/js/Components/AdminForms/MeetingReviewForm.vue
  resources/js/Components/AdminForms/Special/AgendaItemsForm.vue
  resources/js/Components/AgendaItems/AgendaItemCard.vue
  resources/js/Components/Modals/NewMeetingModal.vue
  resources/js/Components/Public/MeetingCard.vue
  resources/js/Components/Public/MeetingInfoModal.vue
  resources/js/Components/ui/badge/index.ts
  resources/js/Composables/useMeetingCreation.ts
  resources/js/Pages/Admin/Representation/ShowMeeting.vue
  resources/js/Pages/Public/Meetings/ShowMeeting.vue
  resources/js/Types/models.d.ts
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Features, Vue Components, Vue Pages, Vue Composables

Add error message for login redirect when no user or duty is found
  app/Http/Controllers/Admin/UserController.php
  resources/js/Pages/Admin/LoginForm.vue
Due: backend, frontend, Laravel Controllers, Vue Pages

Enhance UI components and improve breadcrumb functionality across various pages
  app/Http/Controllers/Public/ContactController.php
  resources/js/Components/Calendar/EventTimeline.vue
  resources/js/Components/Public/Layouts/PublicLayout.vue
  resources/js/Components/Public/Nav/SecondMenu.vue
  resources/js/Pages/Admin/ShowAdminHome.vue
  resources/js/Pages/Public/CalendarEvent.vue
  resources/js/Pages/Public/Contacts/ContactInstitutionOrType.vue
  resources/js/Pages/Public/Contacts/ShowContactCategory.vue
  resources/js/Pages/Public/Contacts/ShowStudentReps.vue
Due: backend, frontend, Laravel Controllers, Vue Components, Vue Pages

PHP Linting (Pint)
  app/Console/Commands/ReindexSearchCommand.php
  app/Http/Controllers/Admin/AgendaItemController.php
  app/Http/Controllers/Admin/DashboardController.php
  app/Http/Controllers/Admin/DutyController.php
  app/Http/Controllers/Admin/InstitutionController.php
  app/Http/Controllers/Admin/MeetingController.php
  app/Http/Controllers/Admin/SettingsController.php
  app/Http/Controllers/Admin/TutorialController.php
  app/Http/Controllers/Api/CalendarController.php
  app/Http/Controllers/Public/ContactController.php
  app/Http/Middleware/StagingReadOnlyMode.php
  app/Http/Requests/StoreInstitutionCheckInRequest.php
  app/Listeners/UpdateSharepointFolder.php
  app/Observers/TypeObserver.php
  app/Policies/InstitutionCheckInPolicy.php
  app/Policies/MeetingPolicy.php
  app/Providers/AppServiceProvider.php
  app/Providers/AuthServiceProvider.php
  app/Providers/EventServiceProvider.php
  app/Services/RelationshipService.php
  app/Services/ResourceServices/DutyService.php
  config/debugbar.php
  database/factories/AgendaItemFactory.php
  database/migrations/2024_12_10_000001_add_highlights_and_layout_to_news_and_pages.php
  database/migrations/2025_08_08_000000_create_institution_check_ins_table.php
  database/migrations/2025_12_10_045517_remove_tasks_with_doing_taskable_type.php
  lang/admin/en/relationships.php
  lang/admin/en/tutorials.php
  lang/admin/en/voting.php
  lang/admin/lt/relationships.php
  lang/admin/lt/tutorials.php
  lang/admin/lt/voting.php
  tests/Feature/Admin/Calendar/MeetingControllerTest.php
  tests/Feature/Admin/Core/AtstovavimasSettingsTest.php
  tests/Feature/Admin/Core/DashboardControllerTest.php
  tests/Feature/Admin/Management/DutyUserWizardTest.php
  tests/Feature/Services/RelationshipServiceTest.php
  tests/Feature/SplitTranslationTest.php
Due: backend, Laravel Controllers, Laravel Services, Laravel Features

Refactor relatedInstitutions loading to use Inertia::optional for improved performance
  app/Http/Controllers/Admin/DashboardController.php
Due: backend, Laravel Controllers

Replace NNumberAnimation with static upcoming meetings count display
  resources/js/Pages/Admin/Dashboard/Components/UpcomingMeetingsCard.vue
Due: frontend, Vue Pages

Remove completion status badge from MeetingCard component
  resources/js/Components/Public/MeetingCard.vue
Due: frontend, Vue Components

Add laravel boost
  .github/copilot-instructions.md
  .mcp.json
  .vscode/mcp.json
  _ide_helper.php
  boost.json
  composer.json
  composer.lock
  package-lock.json
  package.json
Due: none

Add student representative registration form
  app/Events/StudentRepRegistrationCreated.php
  app/Http/Controllers/Admin/FormController.php
  app/Http/Controllers/Admin/SettingsController.php
  app/Http/Controllers/Public/ContactController.php
  app/Http/Controllers/Public/PublicPageController.php
  app/Http/Controllers/RegistrationController.php
  app/Http/Requests/UpdateFormSettingsRequest.php
  app/Listeners/SendStudentRepRegistrationNotification.php
  app/Mail/ConfirmStudentRepRegistration.php
  app/Mail/InformManagerAboutStudentRepRegistration.php
  app/Notifications/StudentRepRegistered.php
  app/Providers/EventServiceProvider.php
  app/Settings/FormSettings.php
  database/seeders/StudentRepRegistrationFormSeeder.php
  database/settings/2026_01_11_000000_create_student_rep_registration_form_settings.php
  lang/admin/en/settings.php
  lang/admin/lt/settings.php
  lang/en.json
  lang/lt.json
  lang/shared/en/mail.php
  lang/shared/lt/mail.php
  resources/js/Components/Public/EmptyContactsState.vue
  resources/js/Components/Public/InstitutionContacts.vue
  resources/js/Components/Public/NewsElement.vue
  resources/js/Features/Registrations/RegistrationForm.vue
  resources/js/Pages/Admin/Forms/IndexForm.vue
  resources/js/Pages/Admin/Forms/ShowForm.vue
  resources/js/Pages/Admin/Settings/EditFormSettings.vue
  resources/js/Pages/Public/Contacts/ContactInstitutionOrType.vue
  resources/js/Pages/Public/RegistrationPage.vue
  resources/views/emails/studentRepRegistration/confirm.blade.php
  resources/views/emails/studentRepRegistration/inform.blade.php
  tests/Feature/Forms/StudentRepRegistrationTest.php
Due: backend, frontend, Laravel Controllers, Laravel Features, Vue Components, Vue Pages

Separate concerns for the UserController
  app/Actions/DeleteUserPassword.php
  app/Actions/GenerateUserPassword.php
  app/Actions/MergeUsers.php
  app/Http/Controllers/Admin/AuthController.php
  app/Http/Controllers/Admin/UserController.php
  app/Http/Requests/UpdateUserRequest.php
  app/Services/ResourceServices/UserDutyService.php
  routes/admin.php
  routes/web.php
Due: backend, Laravel Controllers, Laravel Services, Laravel Features

Refactor CSS imports and add admin-specific styles
  resources/css/admin.css
  resources/css/app.css
  resources/js/admin.ts
Due: frontend

Enhance URL validation patterns for Facebook and Instagram in SocialEmbedEditor
  resources/js/Components/RichContent/Types/SocialEmbedEditor.vue
Due: frontend, Vue Components

Extract Gantt chart logic into composables
  resources/js/Components/AdminForms/Special/SpecialDoingForm.vue
  resources/js/Components/Graphs/MeetingsGantt.vue
  resources/js/Components/Graphs/composables/index.ts
  resources/js/Components/Graphs/composables/useColumnResize.ts
  resources/js/Components/Graphs/composables/useGanttFiltering.ts
  resources/js/Components/Graphs/composables/useGanttLabels.ts
  resources/js/Components/Graphs/composables/useGanttLayout.ts
Due: frontend, Vue Components

Rename Unified to AdminBreadcrumbs
  resources/js/Components/AdminBreadcrumbs.vue
  resources/js/Components/Layouts/AdminLayout.vue
  resources/js/Components/Public/Layouts/PublicLayout.vue
  resources/js/Components/Public/PublicBreadcrumbs.vue
  resources/js/Components/__tests__/AdminBreadcrumbs.component.test.ts
  resources/js/Components/__tests__/PublicBreadcrumbs.component.test.ts
  resources/js/Composables/CLAUDE.md
  resources/js/Pages/Public/CalendarEvent.vue
Due: frontend, Vue Components, Vue Pages, Vue Composables

Use already used card classes for dashboard cards
  resources/js/Components/Institutions/AddCheckInDialog.vue
  resources/js/Pages/Admin/Dashboard/Components/InstitutionsOverviewCard.vue
  resources/js/Pages/Admin/Dashboard/Components/PersonalOverviewSection.vue
  resources/js/Pages/Admin/Dashboard/Components/TasksCard.vue
  resources/js/Pages/Admin/Dashboard/Components/UpcomingMeetingsCard.vue
  resources/js/Pages/Admin/Dashboard/ShowAtstovavimas.vue
  resources/js/Pages/Admin/People/ShowInstitution.vue
Due: frontend, Vue Components, Vue Pages

Add MultiSelect component for user selection and remove deprecated components
  package-lock.json
  package.json
  resources/js/Components/Forms/MultiSelectUsers.vue
  resources/js/Components/Forms/UserMultiSelect.vue
  resources/js/Components/ui/multi-select/MultiSelect.vue
  resources/js/Features/Admin/TaskManager/CreateTaskDialog.vue
  resources/js/Pages/Admin/Reservations/ShowReservation.vue
Due: frontend, Vue Components, Vue Pages

Use (and enhance) the DateTimePicker component
  resources/js/Components/AdminForms/CalendarForm.vue
  resources/js/Components/AdminForms/MeetingDetailsForm.vue
  resources/js/Components/AdminForms/MeetingForm.vue
  resources/js/Components/ui/calendar/Calendar.vue
  resources/js/Components/ui/date-picker/DateTimePicker.vue
  resources/js/Components/ui/time-picker/TimePicker.vue
Due: frontend, Vue Components

Refactor Gantt chart components, add week diff from today, remove some elements
  resources/js/Components/Graphs/MeetingsGantt.vue
  resources/js/Components/Graphs/renderers/renderCenterLine.ts
  resources/js/Pages/Admin/Dashboard/Components/FullscreenGanttModal.vue
  resources/js/Pages/Admin/Dashboard/Components/UserTimelineSection.vue
  resources/js/Pages/Admin/Dashboard/Composables/useGanttChartData.ts
  resources/js/Pages/Admin/Dashboard/Composables/useUserTimelineData.ts
  resources/js/Pages/Admin/Dashboard/ShowAtstovavimas.vue
  resources/js/Pages/Admin/Dashboard/utils/ganttHelpers.ts
Due: frontend, Vue Components, Vue Pages

Update CalendarSyncModal.vue
  resources/js/Components/Modals/CalendarSyncModal.vue
Due: frontend, Vue Components

Update the institution form
  app/Http/Controllers/Admin/DutyController.php
  app/Http/Controllers/Admin/InstitutionController.php
  lang/en.json
  lang/lt.json
  resources/js/Components/AdminForms/DutyCard.vue
  resources/js/Components/AdminForms/FormElement.vue
  resources/js/Components/AdminForms/InstitutionForm.vue
  resources/js/Components/FormItems/MultiLocaleInput.vue
  resources/js/Components/Tables/SortableDutiesTable.vue
  resources/js/Components/ui/input/InputWithOverlappingLabel.vue
  resources/js/Components/ui/input/index.ts
  resources/js/Pages/Admin/People/CreateDuty.vue
Due: backend, frontend, Laravel Controllers, Vue Components, Vue Pages

Add form status headers and modernize some forms
  app/Http/Controllers/Admin/PageController.php
  lang/en.json
  lang/lt.json
  resources/js/Components/AdminForms/AdminForm.vue
  resources/js/Components/AdminForms/CalendarForm.vue
  resources/js/Components/AdminForms/FormLinkButton.vue
  resources/js/Components/AdminForms/FormStatusHeader.vue
  resources/js/Components/AdminForms/InstitutionForm.vue
  resources/js/Components/AdminForms/NewsForm.vue
  resources/js/Components/AdminForms/PageForm.vue
  resources/js/Components/RichContentFormElement.vue
  resources/js/Components/ui/ordered-list-input/OrderedListInput.vue
  resources/js/Components/ui/ordered-list-input/index.ts
  resources/js/Components/ui/upload/ImageUpload.vue
Due: backend, frontend, Laravel Controllers, Vue Components

Disable autosave on create forms
  lang/en.json
  resources/js/Components/AdminForms/AdminForm.vue
Due: frontend, Vue Components

Remove duplicated delete confirm dialog
  resources/js/Pages/Admin/People/IndexInstitution.vue
  resources/js/Pages/Admin/Representation/IndexMeeting.vue
Due: frontend, Vue Pages

Remove old PreviewModelButton.vue
  resources/js/Components/Buttons/PreviewModelButton.vue
  resources/js/Pages/Admin/Content/IndexNews.vue
  resources/js/Pages/Admin/Content/IndexPages.vue
  resources/js/Pages/Admin/People/EditInstitution.vue
  resources/js/Pages/Admin/People/IndexInstitution.vue
Due: frontend, Vue Components, Vue Pages

Implement real-time notifications
  .env.example
  _ide_helper.php
  app/Http/Middleware/SetLocale.php
  app/Providers/BroadcastServiceProvider.php
  composer.json
  composer.lock
  config/broadcasting.php
  config/reverb.php
  config/websockets.php
  docker-compose.yml
  docker/nginx/templates/default.conf.template
  lang/en.json
  lang/lt.json
  package-lock.json
  package.json
  resources/js/Components/NotificationsIndicator.vue
  resources/js/Composables/useRealtimeNotifications.ts
  resources/js/echo.ts
  tests/Unit/Http/Middleware/SetLocaleTest.php
Due: backend, frontend, Vue Components, Vue Composables

Path conditions:
  backend: any of: app/
  frontend: any of: resources/js/
  Laravel Controllers: any of: app/Http/Controllers/**
  Laravel Models: any of: app/Models/**
  Laravel Services: any of: app/Services/**, app/Actions/**
  Laravel Features: any of: app/Jobs/**, app/Console/**, app/Traits/**, app/Http/Requests/**
  Vue Components: any of: resources/js/Components/**
  Vue Pages: any of: resources/js/Pages/**
  Vue Composables: any of: resources/js/Composables/**, resources/js/Utils/**
