Repository vu-sa/vusa.lt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Laravel Features, Vue Components, Vue Pages, Vue Composables

.codecov.yml:

codecov:
  require_ci_to_pass: no  # Allow reports even if some CI jobs fail
  notify:
    wait_for_ci: no        # Don't wait for all CI jobs

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project: off
    patch:
      default:
        target: 65%
        threshold: 3%
        if_ci_failed: ignore

component_management:
  individual_components:
    - component_id: laravel_controllers
      name: "Laravel Controllers"
      paths:
        - "app/Http/Controllers/**"
      statuses:
        - type: patch
          target: 70%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: laravel_models
      name: "Laravel Models"
      paths:
        - "app/Models/**"
      statuses:
        - type: patch
          target: 80%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: laravel_services
      name: "Laravel Services"
      paths:
        - "app/Services/**"
        - "app/Actions/**"
      statuses:
        - type: patch
          target: 75%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: laravel_features
      name: "Laravel Features"
      paths:
        - "app/Jobs/**"
        - "app/Console/**"
        - "app/Traits/**"
        - "app/Http/Requests/**"
      statuses:
        - type: patch
          target: 65%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: vue_components
      name: "Vue Components"
      paths:
        - "resources/js/Components/**"
      statuses:
        - type: patch
          target: 60%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: vue_pages
      name: "Vue Pages"
      paths:
        - "resources/js/Pages/**"
      statuses:
        - type: patch
          target: 55%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: vue_composables
      name: "Vue Composables"
      paths:
        - "resources/js/Composables/**"
        - "resources/js/Utils/**"
      statuses:
        - type: patch
          target: 75%
          threshold: 3%
          if_ci_failed: ignore

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no      # Don't require head report for comments
  show_carryforward_flags: true

# Add flags to separate frontend and backend coverage
flags:
  backend:
    paths:
      - "app/"
    carryforward: false
  frontend:
    paths:
      - "resources/js/"
    carryforward: false

Remove duplicate translation entries
  lang/en.json
  lang/lt.json
Due: none

Add banner creation order safeguard
  app/Models/Banner.php
  database/factories/BannerFactory.php
Due: backend, Laravel Models

Fix PHP tests
  app/Collections/NewsCollection.php
  app/Http/Controllers/Admin/AgendaItemController.php
  app/Http/Controllers/Admin/DashboardController.php
  app/Http/Controllers/Public/ContactController.php
  app/Http/Controllers/Public/PublicPageController.php
  app/Models/Banner.php
  app/Models/ContentPart.php
  app/Models/Meeting.php
  app/Models/News.php
  app/Models/Pivots/AgendaItem.php
  app/Models/Vote.php
  app/Services/ResourceServices/DutyService.php
  composer.lock
  database/factories/CategoryFactory.php
  tests/Feature/Api/NewsApiTest.php
Due: backend, Laravel Controllers, Laravel Models, Laravel Services

Increase PHPStan memory limit, update news subdomain logic
  .github/workflows/ci.yml
  resources/js/Pages/Admin/Dashboard/Components/NewsListCard.vue
  vitest.config.ts
Due: frontend, Vue Pages

Refactor role checks to use isSuperAdmin() method for consistency
  app/Actions/GetAttachableTypesForDuty.php
  app/Http/Controllers/Admin/FilesController.php
  app/Http/Controllers/Admin/InstitutionController.php
  app/Http/Controllers/Admin/NewsController.php
  app/Http/Controllers/Admin/PageController.php
  app/Http/Controllers/Admin/QuickLinkController.php
  app/Http/Controllers/Admin/RoleController.php
  app/Http/Controllers/Admin/UserController.php
  app/Http/Requests/GenerateUserPasswordRequest.php
  app/Models/User.php
  app/Services/PermissionService.php
  app/Services/ResourceServices/UserDutyService.php
Due: backend, Laravel Controllers, Laravel Models, Laravel Services, Laravel Features

Refactor main_image migration to use direct database copying for performance improvements
  database/migrations/2026_01_11_220233_backfill_main_image_from_media_in_calendar.php
Due: none

Add digest email preferences and selection component for user notifications
  app/Console/Commands/ProcessNotificationDigests.php
  app/Http/Controllers/Admin/DashboardController.php
  app/Models/Traits/HasNotificationPreferences.php
  lang/admin/en/notifications.php
  lang/admin/lt/notifications.php
  resources/js/Features/Admin/Notifications/DigestEmailSelector.vue
  resources/js/Features/Admin/Notifications/NotificationPreferences.vue
  resources/js/Pages/Admin/ShowUserSettings.vue
  tests/Feature/DigestEmailPreferencesTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Features, Vue Pages

Refactor agenda item handling to use enum types and add tooltips for better user guidance
  app/Tasks/Handlers/AgendaCompletionTaskHandler.php
  database/factories/AgendaItemFactory.php
  lang/admin/en/voting.php
  lang/admin/lt/tutorials.php
  lang/admin/lt/voting.php
  resources/js/Components/AdminForms/Special/AgendaItemsForm.vue
  resources/js/Components/AgendaItems/InlineAgendaItemCard.vue
  resources/js/Components/Meetings/MeetingOverviewSection.vue
  tests/Feature/Tasks/Subscribers/MeetingTaskSubscriberTest.php
Due: backend, frontend, Vue Components

Better user selection for merge
  .env.example
  .github/workflows/deploy-staging.yml
  .github/workflows/deploy.yml
  resources/js/Pages/Admin/People/MergeUser.vue
Due: frontend, Vue Pages

UI updates
  resources/js/Components/AgendaItems/InlineAgendaItemCard.vue
  resources/js/Features/Admin/PermissionTable/PermissionTableRow.vue
  resources/js/Pages/Admin/People/MergeUser.vue
Due: frontend, Vue Components, Vue Pages

Add date formatting in UpdateDutiableRequest before validation
  app/Http/Requests/UpdateDutiableRequest.php
Due: backend, Laravel Features

Enhance meeting management: add vote statistics and improve UI for meetings overview
  app/Http/Controllers/Admin/InstitutionController.php
  resources/js/Components/Institutions/InstitutionOverviewSection.vue
  resources/js/Pages/Admin/People/ShowInstitution.vue
Due: backend, frontend, Laravel Controllers, Vue Components, Vue Pages

Fix validation for file upload in sharepoint
  app/Http/Controllers/Admin/SharepointFileController.php
Due: backend, Laravel Controllers

Remove deprecated or unused code
  app/Console/Commands/MigrateSharepointFiles.php
  app/Contracts/SharepointFileableContract.php
  app/Http/Controllers/Admin/InstitutionController.php
  app/Http/Controllers/Admin/MeetingController.php
  app/Http/Controllers/Admin/RegistrationController.php
  app/Http/Middleware/CachePublicContent.php
  app/Http/Middleware/TrustHosts.php
  app/Models/Traits/HasSharepointFiles.php
  app/Services/FileUsageScanner.php
  app/Services/Typesense/TypesenseScopedKeyService.php
  app/Services/UserContactService.php
  resources/js/Components/Graphs/composables/useGanttInteractions.ts
  resources/js/Components/Graphs/renderers/GanttTooltip.ts
  resources/js/Composables/__tests__/useDocumentSearch.refactored.test.ts
  resources/js/Composables/__tests__/useDocumentSearch.test.ts
  resources/js/Composables/__tests__/useInstitutionSearch.test.ts
  resources/js/Composables/__tests__/useMeetingSearch.test.ts
  resources/js/Types/BaseSearchTypes.ts
  resources/js/Types/TableConfigTypes.ts
  routes/admin.php
  tests/Feature/Tasks/MeetingTaskTestHelpers.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Laravel Features, Vue Components, Vue Composables

Fix document upload and use iframe
  package-lock.json
  resources/js/Features/Admin/SharepointFilePicker/FilePicker.vue
  resources/views/app.blade.php
Due: frontend

More robust sharepoint permission management
  app/Console/Commands/SyncDocumentsCommand.php
  app/Http/Controllers/Api/DocumentController.php
  app/Jobs/RevokeSharepointPermissionJob.php
  app/Jobs/SyncDocumentFromSharePointJob.php
  app/Models/Document.php
  app/Observers/DocumentObserver.php
  app/Providers/EventServiceProvider.php
  app/Services/SharepointGraphService.php
  database/migrations/2026_02_13_074733_add_sharepoint_permission_id_to_documents_table.php
  tests/Feature/Admin/Resources/DocumentControllerTest.php
  tests/Feature/DocumentPermissionRevocationTest.php
Due: backend, Laravel Controllers, Laravel Models, Laravel Services, Laravel Features

Update typesense version in CI workflow
  .github/workflows/ci.yml
Due: none

Update the command for documents:sync
  app/Console/Commands/SyncDocumentsCommand.php
Due: backend, Laravel Features

Update the typesense docker client
  .github/workflows/ci.yml
Due: none

More robust key return for front facing models
  app/Services/Typesense/TypesenseManager.php
Due: backend, Laravel Services

Drop the 0. for the typesense fetch
  .github/workflows/ci.yml
Due: none

Improve validation for types
  app/Http/Controllers/Admin/CommentController.php
  app/Http/Controllers/Admin/NavigationController.php
  app/Http/Controllers/Admin/SharepointFileController.php
  app/Http/Controllers/Api/Admin/SharepointApiController.php
Due: backend, Laravel Controllers

Add quick action for creating new problems in NavQuickActions component
  resources/js/Components/NavQuickActions.vue
Due: frontend, Vue Components

Implement problem status update functionality and enhance problem viewing permissions
  app/Http/Controllers/Admin/ProblemController.php
  app/Policies/ProblemPolicy.php
  database/seeders/RoleStudentRepresentativeCoordinatorSeeder.php
  lang/en.json
  resources/js/Features/Admin/ActivityLogViewer/ActivityLogButton.vue
  resources/js/Features/Admin/ActivityLogViewer/ActivityLogItem.vue
  resources/js/Pages/Admin/Problems/IndexProblem.vue
  resources/js/Pages/Admin/Problems/ShowProblem.vue
  routes/admin.php
Due: backend, frontend, Laravel Controllers, Vue Pages

Refactor problem user references to use snake_case naming convention
  resources/js/Pages/Admin/Problems/IndexProblem.vue
  resources/js/Pages/Admin/Problems/ShowProblem.vue
  resources/js/Types/models.d.ts
Due: frontend, Vue Pages

Implement user search API and update problem forms to use dynamic user selection
  app/Http/Controllers/Admin/ProblemController.php
  app/Http/Controllers/Api/Admin/UserSearchApiController.php
  resources/js/Components/AdminForms/ProblemForm.vue
  resources/js/Pages/Admin/Problems/CreateProblem.vue
  resources/js/Pages/Admin/Problems/EditProblem.vue
  routes/api.php
Due: backend, frontend, Laravel Controllers, Vue Components, Vue Pages

Add 'problems' model to scope restrictions for padaliniai
  app/Enums/ModelEnum.php
Due: backend

PHP Linting (Pint)
  app/Http/Controllers/Api/Admin/UserSearchApiController.php
Due: backend, Laravel Controllers

feat: Add Text Box submission feature with export functionality
  app/Enums/ContentPartEnum.php
  app/Exports/TextBoxSubmissionsExport.php
  app/Http/Controllers/Api/Admin/TextBoxSubmissionApiController.php
  app/Http/Controllers/Api/TextBoxSubmissionController.php
  app/Http/Requests/StoreTextBoxSubmissionRequest.php
  app/Models/ContentPart.php
  app/Models/TextBoxSubmission.php
  app/Providers/RouteServiceProvider.php
  database/factories/TextBoxSubmissionFactory.php
  database/migrations/2026_03_10_203441_create_text_box_submissions_table.php
  lang/admin/en/rich-content.php
  lang/admin/lt/rich-content.php
  lang/public/en/rich-content.php
  lang/public/lt/rich-content.php
  resources/js/Components/RichContent/ContentEditorFactory.vue
  resources/js/Components/RichContent/Types/TextBoxDisplay.vue
  resources/js/Components/RichContent/Types/TextBoxEditor.vue
  resources/js/Components/RichContent/Types/TextBoxSubmissionsDialog.vue
  resources/js/Components/RichContent/Types/index.ts
  resources/js/Components/RichContentEditor.vue
  resources/js/Components/RichContentParser.vue
  resources/js/Types/contentParts.ts
  routes/api.php
  tests/Feature/Api/TextBoxSubmissionTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Features, Vue Components

feat: Implement delete functionality for text box submissions and enhance validation
  app/Http/Controllers/Api/Admin/TextBoxSubmissionApiController.php
  app/Http/Controllers/Api/TextBoxSubmissionController.php
  app/Http/Requests/StoreTextBoxSubmissionRequest.php
  lang/admin/en/rich-content.php
  lang/admin/lt/rich-content.php
  lang/public/en/rich-content.php
  lang/public/lt/rich-content.php
  resources/js/Components/RichContent/Types/TextBoxDisplay.vue
  resources/js/Components/RichContent/Types/TextBoxEditor.vue
  resources/js/Components/RichContent/Types/TextBoxSubmissionsDialog.vue
  resources/js/Components/RichContent/Types/index.ts
  resources/js/Types/contentParts.ts
  routes/api.php
  tests/Feature/Api/TextBoxSubmissionTest.php
Due: backend, frontend, Laravel Controllers, Laravel Features, Vue Components

feat: Add 'web' middleware to text box submissions for session handling
  routes/api.php
Due: none

feat: Enhance text box submission handling with validation messages and UI improvements
  app/Http/Requests/StoreTextBoxSubmissionRequest.php
  lang/admin/en/rich-content.php
  lang/admin/lt/rich-content.php
  resources/js/Components/RichContent/Types/TextBoxSubmissionsDialog.vue
  resources/js/Components/RichContentEditor.vue
Due: backend, frontend, Laravel Features, Vue Components

Updated deps and laravel boost
  .agents/skills/echo-development/SKILL.md
  .agents/skills/inertia-vue-development/SKILL.md
  .agents/skills/medialibrary-development/SKILL.md
  .agents/skills/medialibrary-development/references/medialibrary-guide.md
  .agents/skills/pest-testing/SKILL.md
  .agents/skills/scout-development/SKILL.md
  .agents/skills/socialite-development/SKILL.md
  .agents/skills/tailwindcss-development/SKILL.md
  .claude/skills/echo-development/SKILL.md
  .claude/skills/inertia-vue-development/SKILL.md
  .claude/skills/medialibrary-development/SKILL.md
  .claude/skills/medialibrary-development/references/medialibrary-guide.md
  .claude/skills/pest-testing/SKILL.md
  .claude/skills/scout-development/SKILL.md
  .claude/skills/socialite-development/SKILL.md
  .claude/skills/tailwindcss-development/SKILL.md
  .codex/config.toml
  .gemini/settings.json
  .github/skills/echo-development/SKILL.md
  .github/skills/inertia-vue-development/SKILL.md
  .github/skills/medialibrary-development/SKILL.md
  .github/skills/medialibrary-development/references/medialibrary-guide.md
  .github/skills/pest-testing/SKILL.md
  .github/skills/scout-development/SKILL.md
  .github/skills/socialite-development/SKILL.md
  .github/skills/tailwindcss-development/SKILL.md
  AGENTS.md
  GEMINI.md
  _ide_helper.php
  app/Models/ContentPart.php
  app/Models/Institution.php
  app/Models/Problem.php
  app/Models/ProblemCategory.php
  app/Models/PublicInstitution.php
  boost.json
  composer.lock
  package-lock.json
  resources/js/Types/enums.ts
  resources/js/Types/models.d.ts
Due: backend, frontend, Laravel Models

feat: Add Study Set functionality with courses and lecturer reviews
  app/Enums/ModelEnum.php
  app/Http/Controllers/Admin/StudySetController.php
  app/Http/Controllers/Public/StudySetController.php
  app/Http/Requests/IndexStudySetRequest.php
  app/Http/Requests/StoreStudySetRequest.php
  app/Http/Requests/UpdateStudySetRequest.php
  app/Models/LecturerReview.php
  app/Models/StudySet.php
  app/Models/StudySetCourse.php
  app/Models/Tenant.php
  app/Policies/StudySetPolicy.php
  database/factories/LecturerReviewFactory.php
  database/factories/StudySetCourseFactory.php
  database/factories/StudySetFactory.php
  database/migrations/2026_03_12_190319_create_study_sets_table.php
  lang/en.json
  lang/lt.json
  lang/public/en/studySets.php
  lang/public/lt/studySets.php
  resources/js/Components/AdminForms/StudySetForm.vue
  resources/js/Pages/Admin/StudySets/CreateStudySet.vue
  resources/js/Pages/Admin/StudySets/EditStudySet.vue
  resources/js/Pages/Admin/StudySets/IndexStudySet.vue
  resources/js/Pages/Public/ShowStudySets.vue
  resources/js/Types/Icons/regular.ts
  resources/js/Types/enums.ts
  resources/js/Types/formTemplates.ts
  routes/admin.php
  routes/web.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Features, Vue Components, Vue Pages

feat: Enhance individual study sets page with faculty selector and improved no sets messaging
  lang/public/en/studySets.php
  lang/public/lt/studySets.php
  resources/js/Pages/Public/ShowStudySets.vue
Due: frontend, Vue Pages
