Repository vu-sa/vusa.lt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Laravel Features, Vue Components, Vue Pages, Vue Composables

.codecov.yml:

codecov:
  require_ci_to_pass: no  # Allow reports even if some CI jobs fail
  notify:
    wait_for_ci: no        # Don't wait for all CI jobs

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project: off
    patch:
      default:
        target: 65%
        threshold: 3%
        if_ci_failed: ignore

component_management:
  individual_components:
    - component_id: laravel_controllers
      name: "Laravel Controllers"
      paths:
        - "app/Http/Controllers/**"
      statuses:
        - type: patch
          target: 70%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: laravel_models
      name: "Laravel Models"
      paths:
        - "app/Models/**"
      statuses:
        - type: patch
          target: 80%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: laravel_services
      name: "Laravel Services"
      paths:
        - "app/Services/**"
        - "app/Actions/**"
      statuses:
        - type: patch
          target: 75%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: laravel_features
      name: "Laravel Features"
      paths:
        - "app/Jobs/**"
        - "app/Console/**"
        - "app/Traits/**"
        - "app/Http/Requests/**"
      statuses:
        - type: patch
          target: 65%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: vue_components
      name: "Vue Components"
      paths:
        - "resources/js/Components/**"
      statuses:
        - type: patch
          target: 60%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: vue_pages
      name: "Vue Pages"
      paths:
        - "resources/js/Pages/**"
      statuses:
        - type: patch
          target: 55%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: vue_composables
      name: "Vue Composables"
      paths:
        - "resources/js/Composables/**"
        - "resources/js/Utils/**"
      statuses:
        - type: patch
          target: 75%
          threshold: 3%
          if_ci_failed: ignore

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no      # Don't require head report for comments
  show_carryforward_flags: true

# Add flags to separate frontend and backend coverage
flags:
  backend:
    paths:
      - "app/"
    carryforward: false
  frontend:
    paths:
      - "resources/js/"
    carryforward: false

Fix merging of users
  app/Http/Controllers/Admin/UserController.php
Due: backend, Laravel Controllers

Add setting to exclude institutions from ShowAtstovavimas.vue
  app/Http/Controllers/Admin/DashboardController.php
  app/Http/Controllers/Admin/SettingsController.php
  app/Http/Requests/UpdateMeetingSettingsRequest.php
  app/Settings/MeetingSettings.php
  database/settings/2025_12_08_000000_add_excluded_institution_type_ids_to_meeting_settings.php
  lang/en/settings.php
  lang/lt/settings.php
  resources/js/Pages/Admin/Settings/EditMeetingSettings.vue
Due: backend, frontend, Laravel Controllers, Laravel Features, Vue Pages

Add filter in fullscreen gantt view
  resources/js/Components/Graphs/MeetingsGantt.vue
  resources/js/Pages/Admin/Dashboard/Components/FullscreenGanttModal.vue
  resources/js/Pages/Admin/Dashboard/ShowAtstovavimas.vue
Due: frontend, Vue Components, Vue Pages

Really enhance the gantt
  app/Services/ResourceServices/DutyService.php
  lang/en.json
  lang/lt.json
  resources/js/Components/AdminForms/Special/InstitutionSelectorForm.vue
  resources/js/Components/Graphs/GanttLegendModal.vue
  resources/js/Components/Graphs/MeetingsGantt.vue
  resources/js/Components/Graphs/composables/index.ts
  resources/js/Components/Graphs/composables/useGanttInteractions.ts
  resources/js/Components/Graphs/composables/useGanttViewport.ts
  resources/js/Components/Graphs/ganttColors.ts
  resources/js/Components/Graphs/renderers/GanttTooltip.ts
  resources/js/Components/Graphs/renderers/index.ts
  resources/js/Components/Graphs/renderers/renderAxis.ts
  resources/js/Components/Graphs/renderers/renderBackground.ts
  resources/js/Components/Graphs/renderers/renderCenterLine.ts
  resources/js/Components/Graphs/renderers/renderDutyMembers.ts
  resources/js/Components/Graphs/renderers/renderGaps.ts
  resources/js/Components/Graphs/renderers/renderHoverEffects.ts
  resources/js/Components/Graphs/renderers/renderInactivePeriods.ts
  resources/js/Components/Graphs/renderers/renderMeetings.ts
  resources/js/Components/Graphs/renderers/renderTodayLine.ts
  resources/js/Components/Graphs/renderers/renderVacations.ts
  resources/js/Components/Graphs/renderers/setupDefs.ts
  resources/js/Composables/useMeetingCreation.ts
  resources/js/Pages/Admin/Dashboard/Components/FullscreenGanttModal.vue
  resources/js/Pages/Admin/Dashboard/Components/GanttFilterDropdown.vue
  resources/js/Pages/Admin/Dashboard/Components/TenantTimelineSection.vue
  resources/js/Pages/Admin/Dashboard/Components/TimelineGanttChart.vue
  resources/js/Pages/Admin/Dashboard/Components/UserTimelineSection.vue
  resources/js/Pages/Admin/Dashboard/Composables/useGanttChartData.ts
  resources/js/Pages/Admin/Dashboard/Composables/useGanttSettings.ts
  resources/js/Pages/Admin/Dashboard/Composables/useTimelineFilters.ts
  resources/js/Pages/Admin/Dashboard/ShowAtstovavimas.vue
  resources/js/Pages/Admin/Dashboard/types.ts
Due: backend, frontend, Laravel Services, Vue Components, Vue Pages, Vue Composables

Add vertical scrolling persistence
  resources/js/Components/Graphs/MeetingsGantt.vue
  resources/js/Pages/Admin/Dashboard/Composables/useGanttSettings.ts
Due: frontend, Vue Components, Vue Pages

Add meeting periodicity feature for institutions
  app/Http/Controllers/Admin/DashboardController.php
  app/Http/Controllers/Admin/InstitutionController.php
  app/Http/Controllers/Admin/TypeController.php
  app/Models/Institution.php
  app/Models/Type.php
  database/migrations/2025_12_09_152637_add_extra_attributes_and_periodicity_columns.php
  resources/js/Components/AdminForms/InstitutionForm.vue
  resources/js/Components/AdminForms/TypeForm.vue
  resources/js/Components/Graphs/MeetingsGantt.vue
  resources/js/Components/Graphs/ganttColors.ts
  resources/js/Components/Graphs/renderers/renderAxis.ts
  resources/js/Components/Graphs/renderers/renderMeetings.ts
  resources/js/Components/Institutions/InstitutionHero.vue
  resources/js/Pages/Admin/Dashboard/Components/FullscreenGanttModal.vue
  resources/js/Pages/Admin/Dashboard/Components/TenantTimelineSection.vue
  resources/js/Pages/Admin/Dashboard/Components/TimelineGanttChart.vue
  resources/js/Pages/Admin/Dashboard/Components/UpcomingMeetingsCard.vue
  resources/js/Pages/Admin/Dashboard/Components/UserTimelineSection.vue
  resources/js/Pages/Admin/Dashboard/Composables/useAtstovavimasData.ts
  resources/js/Pages/Admin/Dashboard/Composables/useGanttChartData.ts
  resources/js/Pages/Admin/Dashboard/ShowAtstovavimas.vue
  resources/js/Pages/Admin/Dashboard/types.ts
  resources/js/Types/formTemplates.ts
  resources/js/Types/models.d.ts
Due: backend, frontend, Laravel Controllers, Laravel Models, Vue Components, Vue Pages

Add more proper authorization
  app/Http/Controllers/Admin/DashboardController.php
  app/Http/Controllers/Admin/SettingsController.php
  app/Http/Requests/UpdateAtstovavimasSettingsRequest.php
  app/Observers/UserPermissionObserver.php
  app/Services/ResourceServices/DutyService.php
  app/Settings/AtstovavimasSettings.php
  database/settings/2025_12_09_000000_create_atstovavimas_settings.php
  lang/en/settings.php
  lang/lt/settings.php
  resources/js/Pages/Admin/Settings/EditAtstovavimasSettings.vue
  resources/js/Pages/Admin/Settings/IndexSettings.vue
  routes/admin.php
  tests/Feature/Admin/Core/AtstovavimasSettingsTest.php
  tests/Feature/Admin/Core/DashboardControllerTest.php
Due: backend, frontend, Laravel Controllers, Laravel Services, Laravel Features, Vue Pages

Update the styling of the ShowAtstovavimas
  lang/en.json
  resources/js/Components/CheckIns/InstitutionCheckInCard.vue
  resources/js/Components/Institutions/InstitutionCompactCard.vue
  resources/js/Pages/Admin/Dashboard/Components/UpcomingMeetingsCard.vue
  resources/js/Pages/Admin/Dashboard/Composables/useAtstovavimasData.ts
  resources/js/Pages/Admin/Dashboard/types.ts
Due: frontend, Vue Components, Vue Pages

Add allInstitutionIds to context for rendering inactive periods
  resources/js/Components/Graphs/MeetingsGantt.vue
  resources/js/Components/Graphs/renderers/renderInactivePeriods.ts
Due: frontend, Vue Components

Add related institutions to user gantt timeline view
  app/Http/Controllers/Admin/DashboardController.php
  app/Http/Controllers/Admin/InstitutionController.php
  app/Observers/InstitutionObserver.php
  app/Observers/RelationshipableObserver.php
  app/Providers/EventServiceProvider.php
  app/Services/RelationshipService.php
  lang/en.json
  lang/lt.json
  resources/js/Components/Carousels/RelatedInstitutions.vue
  resources/js/Components/Graphs/MeetingsGantt.vue
  resources/js/Pages/Admin/Dashboard/Components/GanttFilterDropdown.vue
  resources/js/Pages/Admin/Dashboard/Components/TimelineGanttChart.vue
  resources/js/Pages/Admin/Dashboard/Components/UserTimelineSection.vue
  resources/js/Pages/Admin/Dashboard/Composables/useTimelineFilters.ts
  resources/js/Pages/Admin/Dashboard/ShowAtstovavimas.vue
  resources/js/Pages/Admin/Dashboard/types.ts
  tests/Feature/Services/RelationshipServiceTest.php
Due: backend, frontend, Laravel Controllers, Laravel Services, Vue Components, Vue Pages

Refresh main admin page experience, Add ViSAK branding
  app/Http/Controllers/Admin/DashboardController.php
  app/Models/Task.php
  database/factories/TaskFactory.php
  database/migrations/2025_12_10_045517_remove_tasks_with_doing_taskable_type.php
  lang/en.json
  lang/en/visak.php
  lang/lt/visak.php
  resources/js/Components/AppSidebar.vue
  resources/js/Components/CheckIns/InstitutionCheckInCard.vue
  resources/js/Components/Graphs/GanttLegendModal.vue
  resources/js/Components/Hero/PageHero.vue
  resources/js/Components/Institutions/InstitutionCompactCard.vue
  resources/js/Components/Modals/VisakInfoModal.vue
  resources/js/Components/NavQuickActions.vue
  resources/js/Components/NavSecondary.vue
  resources/js/Components/NotificationsIndicator.vue
  resources/js/Components/TasksIndicator.vue
  resources/js/Components/ui/sidebar/SidebarContent.vue
  resources/js/Composables/useDashboardCardStyles.ts
  resources/js/Pages/Admin/Dashboard/Components/CalendarEventsCard.vue
  resources/js/Pages/Admin/Dashboard/Components/GanttFilterDropdown.vue
  resources/js/Pages/Admin/Dashboard/Components/NewsListCard.vue
  resources/js/Pages/Admin/Dashboard/Components/TasksCard.vue
  resources/js/Pages/Admin/Dashboard/Components/UpcomingMeetingsCard.vue
  resources/js/Pages/Admin/Dashboard/ShowAtstovavimas.vue
  resources/js/Pages/Admin/ShowAdminHome.vue
  tests/Feature/Admin/Core/DashboardControllerTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Vue Components, Vue Pages, Vue Composables

Add Facebook and Instagram embeds to rich content editor
  app/Enums/ContentPartEnum.php
  lang/en/rich-content.php
  lang/lt/rich-content.php
  resources/js/Components/RichContent/ContentEditorFactory.vue
  resources/js/Components/RichContent/RCSocialEmbed.vue
  resources/js/Components/RichContent/Types/SocialEmbedEditor.vue
  resources/js/Components/RichContent/Types/SocialEmbedPreview.vue
  resources/js/Components/RichContent/Types/index.ts
  resources/js/Components/RichContentEditor.vue
  resources/js/Components/RichContentParser.vue
  resources/js/Types/contentParts.ts
Due: backend, frontend, Vue Components

Refactor Rich Content Editor components to use centralized type definitions
  app/Helpers/ContentHelper.php
  app/Models/ContentPart.php
  lang/en/rich-content.php
  lang/lt/rich-content.php
  resources/js/Components/RichContent/ContentEditorFactory.vue
  resources/js/Components/RichContent/RCHeroSection/HeroForm.vue
  resources/js/Components/RichContent/Types/AccordionEditor.vue
  resources/js/Components/RichContent/Types/CalendarEditor.vue
  resources/js/Components/RichContent/Types/CardEditor.vue
  resources/js/Components/RichContent/Types/FlowGraphEditor.vue
  resources/js/Components/RichContent/Types/ImageGridEditor.vue
  resources/js/Components/RichContent/Types/NewsEditor.vue
  resources/js/Components/RichContent/Types/NumberStatEditor.vue
  resources/js/Components/RichContent/Types/SocialEmbedEditor.vue
  resources/js/Components/RichContent/Types/SpotifyEmbedEditor.vue
  resources/js/Components/RichContent/Types/TiptapEditor.vue
  resources/js/Components/RichContent/Types/index.ts
  resources/js/Components/RichContent/Types/types.ts
  resources/js/Components/RichContentEditor.vue
  resources/js/Components/RichContentParser.vue
  resources/js/Components/TipTap/ImageSelector.vue
  resources/js/Components/TipTap/ModernTipTap.vue
  resources/js/Features/Admin/FileManager/FileSelector.vue
  resources/js/Pages/Admin/Dashboard/Components/CalendarEventsCard.vue
  resources/js/Pages/Admin/Dashboard/Components/NewsListCard.vue
  resources/js/Types/formTemplates.ts
Due: backend, frontend, Laravel Models, Vue Components, Vue Pages

Add padalinys-pagrindinis type relationships
  app/Http/Controllers/Admin/RelationshipController.php
  app/Models/Pivots/Relationshipable.php
  app/Models/Traits/HasContentRelationships.php
  app/Policies/Traits/HasCommonChecks.php
  app/Services/RelationshipService.php
  database/migrations/2025_12_10_214007_add_scope_to_relationshipables_table.php
  lang/en.json
  lang/en/forms.php
  lang/lt/forms.php
  resources/js/Components/Graphs/MeetingsGantt.vue
  resources/js/Pages/Admin/Dashboard/Components/FullscreenGanttModal.vue
  resources/js/Pages/Admin/Dashboard/Components/GanttFilterDropdown.vue
  resources/js/Pages/Admin/Dashboard/Components/TenantTimelineSection.vue
  resources/js/Pages/Admin/Dashboard/Components/TimelineGanttChart.vue
  resources/js/Pages/Admin/Dashboard/Components/UserTimelineSection.vue
  resources/js/Pages/Admin/Dashboard/Composables/useGanttSettings.ts
  resources/js/Pages/Admin/ModelMeta/EditRelationship.vue
  tests/Feature/Admin/Content/RelationshipControllerTest.php
  tests/Feature/Services/RelationshipServiceTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Vue Components, Vue Pages

Add access control for administration features and update sidebar visibility
  app/Http/Middleware/HandleInertiaRequests.php
  app/Providers/AuthServiceProvider.php
  resources/js/Components/AppSidebar.vue
  resources/js/Types/index.d.ts
  routes/admin.php
Due: backend, frontend, Vue Components

Refactor timeline filters and Gantt chart components for improved state management
  app/Services/RelationshipService.php
  app/Services/ResourceServices/DutyService.php
  resources/js/Components/Graphs/MeetingsGantt.vue
  resources/js/Components/Graphs/renderers/GanttTooltip.ts
  resources/js/Components/Graphs/renderers/renderMeetings.ts
  resources/js/Pages/Admin/Dashboard/Components/FullscreenGanttModal.vue
  resources/js/Pages/Admin/Dashboard/Components/TenantTimelineSection.vue
  resources/js/Pages/Admin/Dashboard/Components/TimelineGanttChart.vue
  resources/js/Pages/Admin/Dashboard/Components/UserTimelineSection.vue
  resources/js/Pages/Admin/Dashboard/Composables/useAtstovavimasData.ts
  resources/js/Pages/Admin/Dashboard/Composables/useGanttChartData.ts
  resources/js/Pages/Admin/Dashboard/Composables/useGanttSettings.ts
  resources/js/Pages/Admin/Dashboard/Composables/useTimelineFilters.ts
  resources/js/Pages/Admin/Dashboard/ShowAtstovavimas.vue
  resources/js/Pages/Admin/Dashboard/types.ts
Due: backend, frontend, Laravel Services, Vue Components, Vue Pages

Add GNU Affero General Public License v3
  LICENSE
Due: none

Enhance error handling for Microsoft OAuth and SharePoint updates
  app/Http/Controllers/Admin/UserController.php
  app/Listeners/UpdateSharepointFolder.php
  app/Services/SharepointGraphService.php
Due: backend, Laravel Controllers, Laravel Services

Update LoginForm layout and styles for improved user experience
  resources/js/Pages/Admin/LoginForm.vue
Due: frontend, Vue Pages

Add middleware to block search engine indexing on staging domains
  app/Http/Kernel.php
  app/Http/Middleware/BlockRobotsOnStagingDomains.php
Due: backend

Implement interactive product tour for Admin Dashboard with localized content
  lang/en/tutorials.php
  lang/lt/tutorials.php
  resources/js/Components/AppSidebar.vue
  resources/js/Components/Layouts/AdminLayout.vue
  resources/js/Components/NavMain.vue
  resources/js/Components/NavQuickActions.vue
  resources/js/Components/NavSecondary.vue
  resources/js/Components/NotificationsIndicator.vue
  resources/js/Components/TasksIndicator.vue
  resources/js/Composables/useTourProvider.ts
  resources/js/Pages/Admin/Dashboard/ShowAtstovavimas.vue
  resources/js/Pages/Admin/ShowAdminHome.vue
Due: frontend, Vue Components, Vue Pages, Vue Composables

Unify JSON and PHP handling in admin and public components
  resources/js/admin.ts
  resources/js/public.ts
Due: frontend

Implement Duty User Update Wizard and related functionality
  app/Http/Controllers/Admin/DutyController.php
  app/Http/Controllers/Admin/InstitutionController.php
  app/Models/Duty.php
  app/Services/ResourceServices/DutyService.php
  resources/js/Components/DutyUserWizard/Step1InstitutionSelect.vue
  resources/js/Components/DutyUserWizard/Step2DutySelect.vue
  resources/js/Components/DutyUserWizard/Step3UserAssignment.vue
  resources/js/Components/DutyUserWizard/Step4Review.vue
  resources/js/Components/NavQuickActions.vue
  resources/js/Components/Public/Search/UnifiedResults.vue
  resources/js/Composables/__tests__/useDutyUserWizard.test.ts
  resources/js/Composables/useDutyUserWizard.ts
  resources/js/Pages/Admin/People/CreateDuty.vue
  resources/js/Pages/Admin/People/CreateInstitution.vue
  resources/js/Pages/Admin/People/DutyUserUpdateWizard.vue
  routes/admin.php
  tests/Feature/Admin/Management/DutyUserWizardTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Vue Components, Vue Pages, Vue Composables

Add a staging environment with basic auth and read-only modes
  .env.example
  .github/workflows/deploy-staging.yml
  .gitignore
  app/Actions/GetAliasSubdomainForPublic.php
  app/Console/Commands/DeploymentHealthCheck.php
  app/Http/Controllers/SitemapController.php
  app/Http/Kernel.php
  app/Http/Middleware/StagingBasicAuth.php
  app/Http/Middleware/StagingEnvironmentWarnings.php
  app/Http/Middleware/StagingReadOnlyMode.php
  config/app.php
  config/feed.php
  resources/js/Components/AppSidebar.vue
  resources/js/Components/Layouts/AdminLayout.vue
  resources/js/Components/Public/Layouts/PublicLayout.vue
  resources/js/Components/StagingBanner.vue
  resources/js/Features/Admin/FileManager/FileManager.vue
  resources/views/emails/welcome.blade.php
  resources/views/mail/reminder-to-login-notification.blade.php
Due: backend, frontend, Laravel Controllers, Laravel Services, Laravel Features, Vue Components

Handle subdomain removal for hostname and update TooltipContent for consistent class binding
  resources/js/Components/Public/Nav/PadalinysSelector.vue
  resources/js/Components/ui/tooltip/TooltipContent.vue
Due: frontend, Vue Components

Readded debugbar, tried to optimize translation loading
  app/Models/ContentPart.php
  app/Models/Meeting.php
  app/Models/News.php
  app/Models/Page.php
  app/Models/PublicInstitution.php
  app/Models/Task.php
  app/Models/Type.php
  app/Models/User.php
  composer.json
  composer.lock
  config/debugbar.php
  resources/js/Composables/useProductTour.ts
  resources/js/Pages/Admin/People/ShowInstitution.vue
  resources/js/Pages/Admin/ShowAdminHome.vue
  resources/js/Types/enums.ts
  resources/js/Types/models.d.ts
Due: backend, frontend, Laravel Models, Vue Pages, Vue Composables

Refactor DashboardController to use user-specific institutions and improve performance
  app/Http/Controllers/Admin/DashboardController.php
  app/Models/Duty.php
  app/Models/Institution.php
  app/Services/RelationshipService.php
  app/Services/ResourceServices/DutyService.php
  resources/js/Pages/Admin/Dashboard/Components/FullscreenGanttModal.vue
  resources/js/Pages/Admin/Dashboard/Components/TenantTimelineSection.vue
  resources/js/Pages/Admin/Dashboard/Components/UserTimelineSection.vue
  resources/js/Pages/Admin/Dashboard/Composables/useGanttChartData.ts
  resources/js/Pages/Admin/Dashboard/Composables/useTimelineFilters.ts
  resources/js/Pages/Admin/Dashboard/ShowAtstovavimas.vue
  tests/Feature/Admin/Core/AtstovavimasSettingsTest.php
  tests/Feature/Admin/Core/DashboardControllerTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Vue Pages

Implement sibling relationship functionality for institutions and update related observers
  app/Models/Pivots/Relationshipable.php
  app/Models/Type.php
  app/Observers/TypeObserver.php
  app/Observers/TypeableObserver.php
  app/Providers/EventServiceProvider.php
  app/Services/RelationshipService.php
  resources/js/Components/AdminForms/TypeForm.vue
Due: backend, frontend, Laravel Models, Laravel Services, Vue Components

Enhance Gantt chart functionality by merging user meetings with related institutions' meetings
  resources/js/Pages/Admin/Dashboard/Components/FullscreenGanttModal.vue
  resources/js/Pages/Admin/Dashboard/Components/TenantTimelineSection.vue
  resources/js/Pages/Admin/Dashboard/Components/UserTimelineSection.vue
  resources/js/Pages/Admin/Dashboard/ShowAtstovavimas.vue
Due: frontend, Vue Pages

Implement lazy loading for users, study programs, and duty types in DutyUserUpdateWizard
  app/Http/Controllers/Admin/DutyController.php
  resources/js/Components/DutyUserWizard/Step2DutySelect.vue
  resources/js/Components/DutyUserWizard/Step3UserAssignment.vue
  resources/js/Composables/useDutyUserWizard.ts
  resources/js/Pages/Admin/People/DutyUserUpdateWizard.vue
  tests/Feature/Admin/Management/DutyUserWizardTest.php
Due: backend, frontend, Laravel Controllers, Vue Components, Vue Pages, Vue Composables

Update impersonation configuration to enable in staging environment
  config/impersonate.php
Due: none

Add vendor as a bypassable segment
  app/Http/Middleware/SetLocale.php
Due: backend

Update Gantt settings to enable tenant section headers by default
  resources/js/Pages/Admin/Dashboard/Composables/useGanttSettings.ts
Due: frontend, Vue Pages

Account for scout prefix when indexing public models
  app/Models/PublicInstitution.php
  app/Models/PublicMeeting.php
Due: backend, Laravel Models

Enhance sidebar navigation by updating active state logic and improving button styles
  resources/js/Components/AppSidebar.vue
  resources/js/Components/NavMain.vue
  resources/js/Components/ui/sidebar/index.ts
Due: frontend, Vue Components

Add support for dynamic collection names with environment prefix in Typesense configuration
  app/Services/Typesense/TypesenseManager.php
  resources/js/Components/Public/Search/TypesenseSearch.vue
  resources/js/Composables/useInstitutionSearch.ts
  resources/js/Composables/useMeetingSearch.ts
  resources/js/Composables/useSearchController.ts
  resources/js/Services/InstitutionSearchService.ts
  resources/js/Services/MeetingSearchService.ts
  resources/js/Types/BaseSearchTypes.ts
Due: backend, frontend, Laravel Services, Vue Components, Vue Composables

Remove multiple declarations of variable
  resources/js/Composables/useInstitutionSearch.ts
  resources/js/Composables/useMeetingSearch.ts
Due: frontend, Vue Composables
