Repository vu-sa/vusa.lt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Laravel Features, Vue Components, Vue Pages, Vue Composables

.codecov.yml:

codecov:
  require_ci_to_pass: no  # Allow reports even if some CI jobs fail
  notify:
    wait_for_ci: no        # Don't wait for all CI jobs

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project: off
    patch:
      default:
        target: 65%
        threshold: 3%
        if_ci_failed: ignore

component_management:
  individual_components:
    - component_id: laravel_controllers
      name: "Laravel Controllers"
      paths:
        - "app/Http/Controllers/**"
      statuses:
        - type: patch
          target: 70%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: laravel_models
      name: "Laravel Models"
      paths:
        - "app/Models/**"
      statuses:
        - type: patch
          target: 80%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: laravel_services
      name: "Laravel Services"
      paths:
        - "app/Services/**"
        - "app/Actions/**"
      statuses:
        - type: patch
          target: 75%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: laravel_features
      name: "Laravel Features"
      paths:
        - "app/Jobs/**"
        - "app/Console/**"
        - "app/Traits/**"
        - "app/Http/Requests/**"
      statuses:
        - type: patch
          target: 65%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: vue_components
      name: "Vue Components"
      paths:
        - "resources/js/Components/**"
      statuses:
        - type: patch
          target: 60%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: vue_pages
      name: "Vue Pages"
      paths:
        - "resources/js/Pages/**"
      statuses:
        - type: patch
          target: 55%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: vue_composables
      name: "Vue Composables"
      paths:
        - "resources/js/Composables/**"
        - "resources/js/Utils/**"
      statuses:
        - type: patch
          target: 75%
          threshold: 3%
          if_ci_failed: ignore

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no      # Don't require head report for comments
  show_carryforward_flags: true

# Add flags to separate frontend and backend coverage
flags:
  backend:
    paths:
      - "app/"
    carryforward: false
  frontend:
    paths:
      - "resources/js/"
    carryforward: false

Wider calendar sync
  app/Http/Controllers/Api/CalendarController.php
  lang/en.json
  lang/lt.json
  resources/js/Components/Dialogs/CalendarSyncModal.vue
  resources/js/Components/Dialogs/__tests__/CalendarSyncModal.component.test.ts
Due: backend, frontend, Laravel Controllers, Vue Components

Some validation and other fixes
  app/Http/Requests/Concerns/ValidatesContentParts.php
  app/Http/Requests/NewsRequest.php
  app/Http/Requests/StorePageRequest.php
  app/Http/Requests/UpdateContentRequest.php
  app/Http/Requests/UpdatePageRequest.php
  app/Models/Tenant.php
  app/Support/MorphMap.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  resources/js/Components/RichContent/Editor/Fullscreen/RCFullscreenEditor.vue
  resources/js/Components/RichContent/Editor/Fullscreen/__tests__/RCFullscreenEditor.component.test.ts
  resources/js/Components/RichContent/Editor/RCInsertAffordance.vue
  resources/js/Components/RichContent/Editor/__tests__/RCInsertAffordance.component.test.ts
  resources/js/Services/ContentService.ts
  resources/js/Types/models.d.ts
  tests/Feature/Admin/Management/TenantControllerTest.php
  tests/Unit/Tiptap/TiptapEditorTest.php
Due: backend, frontend, Laravel Models, Laravel Features, Vue Components

Update full width hero gradient settings
  lang/admin/en/rich-content.php
  lang/admin/lt/rich-content.php
  resources/js/Components/RichContent/RCHeroCarousel/HeroCarouselBlockToolbar.vue
  resources/js/Components/RichContent/RCHeroCarousel/HeroCarouselImageHotspot.vue
  resources/js/Components/RichContent/RCHeroCarousel/HeroCarouselSlideSettingsHotspot.vue
  resources/js/Components/RichContent/RCHeroCarousel/HeroCarouselSlideView.vue
  resources/js/Components/RichContent/RCHeroCarousel/__tests__/HeroCarousel.component.test.ts
  resources/js/Components/RichContent/RCHeroCarousel/__tests__/HeroCarouselSlideSettingsHotspot.component.test.ts
  resources/js/Components/RichContent/Types/HeroCarouselEditor.vue
  resources/js/Types/contentParts.ts
Due: frontend, Vue Components

Fix setting some hero carousel options and center align
  app/Http/Controllers/Admin/TenantController.php
  resources/js/Components/RichContent/RCHeroCarousel/HeroCarouselSlideView.vue
  resources/js/Components/RichContent/RCHeroCarousel/__tests__/HeroCarousel.component.test.ts
  resources/js/Components/RichContent/RCHeroSection/HeroButtons.vue
  resources/js/Components/RichContent/RCHeroSection/HeroButtonsEditable.vue
  tests/Feature/Admin/Management/TenantControllerTest.php
Due: backend, frontend, Laravel Controllers, Vue Components

Fix some calendar and institution forms
  app/Actions/GetTenantsForUpserts.php
  resources/js/Components/AdminForms/CalendarForm.vue
  resources/js/Components/AdminForms/InstitutionForm.vue
  resources/js/Components/AdminForms/__tests__/CalendarForm.component.test.ts
  resources/js/Components/AdminForms/__tests__/InstitutionForm.component.test.ts
Due: backend, frontend, Laravel Services, Vue Components

More hero carousel editing fixes
  resources/js/Components/RichContent/RCHeroCarousel/HeroCarouselSlideView.vue
  resources/js/Components/RichContent/RCHeroCarousel/__tests__/HeroCarousel.component.test.ts
Due: frontend, Vue Components

Return relative links for display
  app/Services/HtmlSanitizerService.php
Due: backend, Laravel Services

Update .md files
  .ai/rules/browser.md
  .ai/rules/controllers-providers.md
  .ai/rules/general.md
  .ai/rules/index.md
  AGENTS.md
  CLAUDE.md
  boost.json
  tests/CLAUDE.md
Due: none

Better dashboard controller concern separation
  app/Http/Controllers/Admin/AtstovavimasDashboardController.php
  app/Http/Controllers/Admin/DashboardController.php
  app/Http/Controllers/Admin/ProfileController.php
  app/Http/Controllers/Admin/ReservationsDashboardController.php
  app/Http/Controllers/Admin/SvetaineDashboardController.php
  app/Http/Controllers/Admin/TaskController.php
  app/Models/Meeting.php
  app/Services/InstitutionAccessService.php
  resources/js/Components/CommandPalette/useCommandActions.ts
  resources/js/Composables/adminPageCatalog.ts
  routes/admin.php
  tests/Feature/Admin/Core/DashboardControllerTest.php
  tests/Feature/Admin/Dashboard/AtstovavimasDashboardTest.php
  tests/Feature/Admin/Dashboard/ReservationsDashboardTest.php
  tests/Feature/Admin/Dashboard/SvetaineDashboardTest.php
  tests/Feature/Admin/Dashboard/UserTasksTest.php
  tests/Feature/Profile/ProfileControllerTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Vue Components, Vue Composables

Fix tenant filters in search pages
  .github/workflows/ci.yml
  app/Http/Controllers/Public/PublicPageController.php
  app/Http/Controllers/Public/SearchController.php
  app/Http/Controllers/Public/StudySetController.php
  resources/js/Pages/Public/CalendarEventList.vue
  resources/js/Pages/Public/NewsArchive.vue
  resources/js/Pages/Public/ShowStudySets.vue
  resources/js/Pages/Public/__tests__/NewsArchive.component.test.ts
  routes/web.php
  tests/Browser/RichContentFullscreenEditorTest.php
  tests/Feature/Public/CalendarCanonicalUrlTest.php
  tests/Feature/Public/PublicControllerSeoTest.php
Due: backend, frontend, Laravel Controllers, Vue Pages

Fix tests
  app/Models/ContentPart.php
  app/Services/FormOptionResolver.php
  resources/js/Components/RichContent/__tests__/BlockPickerDialog.component.test.ts
Due: backend, frontend, Laravel Models, Laravel Services, Vue Components

Change the route name to avoid collision
  .ai/rules/index.md
  .ai/rules/routes.md
  routes/admin.php
Due: none

Remove unneeded changelog entries
  docs/changelog/index.md
  docs/en/changelog/index.md
Due: none

Don't expand filter row on first visit always
  resources/js/Pages/Public/CalendarEventList.vue
  resources/js/Pages/Public/Contacts/ShowContacts.vue
  resources/js/Pages/Public/Meetings/ShowMeetings.vue
  resources/js/Pages/Public/NewsArchive.vue
  resources/js/Pages/Public/ShowDocuments.vue
  resources/js/Pages/Public/__tests__/NewsArchive.component.test.ts
Due: frontend, Vue Pages

Fix tenant field in the news and page forms
  .ai/rules/tests.md
  app/Http/Controllers/Admin/NewsController.php
  app/Http/Controllers/Admin/PageController.php
  app/Http/Requests/StoreNewsRequest.php
  app/Http/Requests/StorePageRequest.php
  resources/js/Components/AdminForms/NewsForm.vue
  resources/js/Components/AdminForms/PageForm.vue
  resources/js/Components/AdminForms/__tests__/NewsForm.component.test.ts
  resources/js/Components/AdminForms/__tests__/PageForm.component.test.ts
  resources/js/Pages/Admin/Content/CreateNews.vue
  resources/js/Pages/Admin/Content/CreatePage.vue
  resources/js/Types/formTemplates.ts
  tests/Feature/Admin/Content/NewsControllerTest.php
  tests/Feature/Admin/Content/PageControllerTest.php
Due: backend, frontend, Laravel Controllers, Laravel Features, Vue Components, Vue Pages

Fix queue job bugs found in production failed_jobs: notification retry duplicate-key, SharePoint file-sync timeout, missing-document race
  app/Jobs/SyncDocumentFromSharePointJob.php
  app/Jobs/SyncFileableFilesJob.php
  app/Notifications/Channels/IdempotentDatabaseChannel.php
  app/Providers/AppServiceProvider.php
  tests/Feature/DocumentSyncMissingModelTest.php
  tests/Feature/DocumentSyncTest.php
  tests/Feature/Notifications/DatabaseChannelIdempotencyTest.php
  tests/Feature/SyncFileableFilesJobTest.php
Due: backend, Laravel Features

Fix toolbar dropdown for support requests
  resources/js/Components/AppSidebar.vue
  resources/js/Components/Layouts/AdminLayout.vue
Due: frontend, Vue Components

Fix PHPStan errors
  app/Http/Controllers/Admin/MySupportRequestController.php
  app/Models/Role.php
Due: backend, Laravel Controllers, Laravel Models

Remove spotlight
  resources/js/Components/AppSidebar.vue
Due: frontend, Vue Components

Fix link addition in full screen editor
  resources/js/Components/RichContent/Types/TiptapDisplay.vue
  resources/js/Components/RichContent/Types/__tests__/TiptapDisplay.component.test.ts
  resources/js/Components/TipTap/RCSmartTiptapToolbar.vue
  resources/js/Components/TipTap/__tests__/RCSmartTiptapToolbar.component.test.ts
Due: frontend, Vue Components

Fix the edit link for public pages
  app/Http/Controllers/Public/PublicPageController.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  tests/Feature/Public/PublicEditLinkTest.php
Due: backend, Laravel Controllers

Review indexing rules for institutions
  app/Console/Commands/SyncPublicSearchIndex.php
  app/Listeners/SyncContactSearchIndexes.php
  app/Models/Duty.php
  app/Models/Role.php
  app/Models/User.php
  app/Providers/EventServiceProvider.php
  app/Services/ContactSearchIndexSynchronizer.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  tests/Feature/Search/ContactSearchIndexSyncTest.php
  tests/Feature/Search/PublicSearchIndexSyncTest.php
Due: backend, Laravel Models, Laravel Services, Laravel Features

Cleanup calendar model; simplify form
  app/Models/Calendar.php
  database/migrations/2026_09_14_231826_drop_main_image_from_calendar_table.php
  resources/js/Components/AdminForms/CalendarForm.vue
  resources/js/Components/AdminForms/__tests__/CalendarForm.component.test.ts
  resources/js/Components/Calendar/EventCard.vue
  resources/js/Types/formTemplates.ts
  resources/js/Types/forms.d.ts
  resources/js/Types/models.d.ts
Due: backend, frontend, Laravel Models, Vue Components

Phase 3 of taxonomy - page hierarchy
  app/Http/Controllers/Admin/PageController.php
  app/Http/Controllers/Public/PublicPageController.php
  app/Http/Requests/StorePageRequest.php
  app/Http/Requests/UpdatePageRequest.php
  app/Models/Page.php
  app/Rules/ValidPageParent.php
  database/migrations/2026_09_15_120000_add_hierarchy_to_pages_table.php
  lang/en.json
  lang/shared/en/validation.php
  lang/shared/lt/validation.php
  resources/js/Components/AdminForms/PageForm.vue
  resources/js/Pages/Admin/Content/CreatePage.vue
  resources/js/Pages/Admin/Content/EditPage.vue
  resources/js/Pages/Public/ContentPage.vue
  resources/js/Types/models.d.ts
  tests/Feature/Admin/Content/PageHierarchyTest.php
  tests/Feature/Public/PublicPageControllerTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Features, Vue Components, Vue Pages

Fix some new taxonomy cases
  .ai/rules/single-select.md
  app/Http/Controllers/Public/NewsController.php
  app/Http/Controllers/Public/PublicPageController.php
  app/Http/Controllers/Public/TopicController.php
  app/Http/Controllers/PublicController.php
  resources/js/Composables/adminPageCatalog.ts
  resources/js/Pages/Admin/ShowAdministration.vue
  resources/js/Pages/Public/ContentPage.vue
  resources/js/Pages/Public/__tests__/ContentPage.component.test.ts
  resources/js/Types/models.d.ts
  routes/web.php
  tests/Feature/Admin/Calendar/EventTypeControllerTest.php
  tests/Feature/Public/NewsArchiveTest.php
  tests/Feature/Public/PublicPageControllerTest.php
  tests/Feature/Public/TopicControllerTest.php
Due: backend, frontend, Laravel Controllers, Vue Pages, Vue Composables

Stricter authorization for user updates
  .ai/rules/index.md
  .ai/rules/policies-http-requests.md
  app/Http/Controllers/Admin/UserController.php
  app/Http/Requests/UpdateUserRequest.php
  app/Policies/UserPolicy.php
  lang/admin/en/users.php
  lang/admin/lt/users.php
  resources/js/Components/AdminForms/UserForm.vue
  resources/js/Components/AdminForms/__tests__/UserForm.component.test.ts
  tests/Feature/ActivityLog/RelationshipActivityTest.php
  tests/Feature/Admin/Management/ContactManagementTest.php
  tests/Feature/Admin/Management/UserControllerTest.php
  tests/Feature/Auth/UserUpdateAuthorizationTest.php
  tests/Feature/Permissions/UnclaimedUserVisibilityTest.php
  tests/Feature/Permissions/UserIdentityAuthorizationTest.php
Due: backend, frontend, Laravel Controllers, Laravel Features, Vue Components

Fix phpstan issues
  app/Http/Controllers/Public/NewsController.php
  app/Http/Controllers/Public/PublicPageController.php
  app/Models/News.php
  app/Models/Page.php
Due: backend, Laravel Controllers, Laravel Models

Add admin redesign plan, rules and AGENTS.md pointer
  .ai/redesign/admin/README.md
  .ai/redesign/admin/decisions.md
  .ai/redesign/admin/evidence.md
  .ai/redesign/admin/messages.md
  .ai/redesign/admin/plan.md
  .ai/redesign/admin/playbook.md
  .ai/redesign/admin/process.md
  .ai/redesign/admin/reps.md
  .ai/redesign/admin/rules/navigation.md
  .ai/redesign/admin/rules/pages.md
  .ai/redesign/admin/rules/visual.md
  AGENTS.md
Due: none

Add reservation backtrack
  app/Http/Controllers/Admin/ApprovalController.php
  app/Http/Controllers/Admin/ReservationController.php
  app/Http/Controllers/Admin/ReservationsDashboardController.php
  app/Http/Requests/Approvals/BacktrackApprovalsRequest.php
  app/Models/Approval.php
  app/Models/Pivots/ReservationResource.php
  app/Services/ApprovalService.php
  app/States/ReservationResource/ReservationResourceState.php
  app/Tasks/Handlers/ReservationTaskSynchronizer.php
  app/Tasks/Subscribers/ReservationTaskSubscriber.php
  database/migrations/2026_09_18_164415_add_reversion_fields_to_approvals_table.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  lang/admin/en/reservations.php
  lang/admin/lt/reservations.php
  resources/js/Components/Tables/ReservationResourceTable.vue
  resources/js/Components/Tables/__tests__/ReservationResourceTable.component.test.ts
  resources/js/Pages/Admin/Dashboard/Partials/ReservationsTable.vue
  resources/js/Pages/Admin/Dashboard/__tests__/ReservationsTable.component.test.ts
  resources/js/Pages/Admin/Dashboard/__tests__/ShowReservations.component.test.ts
  resources/js/Types/models.d.ts
  resources/js/Utils/ReservationStatus.ts
  resources/js/Utils/__tests__/ReservationStatus.test.ts
  routes/admin.php
  tests/Feature/Admin/Dashboard/ReservationsDashboardTest.php
  tests/Feature/Approvals/ApprovalControllerTest.php
  tests/Feature/Tasks/Subscribers/ReservationTaskSubscriberTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Laravel Features, Vue Components, Vue Pages, Vue Composables

Move ReservationTaskSynchronizer out of Tasks/Handlers namespace
  app/Tasks/README.md
  app/Tasks/Subscribers/ReservationTaskSubscriber.php
  app/Tasks/Synchronizers/ReservationTaskSynchronizer.php
Due: backend

Add admin surface tokens, colour system and opt-in shell flag
  .ai/redesign/admin/decisions.md
  .ai/redesign/admin/plan.md
  .ai/redesign/admin/rules/visual.md
  .storybook/preview.ts
  app/Enums/NotificationCategory.php
  app/Http/Controllers/Api/Admin/UserPreferencesApiController.php
  app/Http/Requests/UpdateUIPreferencesRequest.php
  app/Models/Traits/HasUIPreferences.php
  app/Support/DesignSurface.php
  resources/css/admin/surface.css
  resources/css/app.css
  resources/css/base/reset.css
  resources/css/theme/base-tokens.css
  resources/css/theme/design-tokens.css
  resources/js/Components/Layouts/AdminLayout.vue
  resources/js/Components/Patterns/AdminSurface.stories.ts
  resources/js/Components/Patterns/ColourSystem.stories.ts
  resources/js/Components/Public/Search/MeetingCompactListItem.vue
  resources/js/Components/Public/Search/MeetingOutcomeIndicators.vue
  resources/js/Composables/__tests__/useUIPreferences.component.test.ts
  resources/js/Composables/useUIPreferences.ts
  resources/js/__tests__/designTokens.test.ts
  resources/views/app.blade.php
  tests/Browser/AdminDesignSurfaceTest.php
  tests/Feature/Profile/UIPreferencesTest.php
  tests/Feature/Public/DesignSurfaceTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Features, Vue Components, Vue Composables
