Repository vu-sa/vusa.lt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Laravel Features, Vue Components, Vue Pages, Vue Composables

.codecov.yml:

codecov:
  require_ci_to_pass: no  # Allow reports even if some CI jobs fail
  notify:
    wait_for_ci: no        # Don't wait for all CI jobs

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project: off
    patch:
      default:
        target: 65%
        threshold: 3%
        if_ci_failed: ignore

component_management:
  individual_components:
    - component_id: laravel_controllers
      name: "Laravel Controllers"
      paths:
        - "app/Http/Controllers/**"
      statuses:
        - type: patch
          target: 70%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: laravel_models
      name: "Laravel Models"
      paths:
        - "app/Models/**"
      statuses:
        - type: patch
          target: 80%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: laravel_services
      name: "Laravel Services"
      paths:
        - "app/Services/**"
        - "app/Actions/**"
      statuses:
        - type: patch
          target: 75%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: laravel_features
      name: "Laravel Features"
      paths:
        - "app/Jobs/**"
        - "app/Console/**"
        - "app/Traits/**"
        - "app/Http/Requests/**"
      statuses:
        - type: patch
          target: 65%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: vue_components
      name: "Vue Components"
      paths:
        - "resources/js/Components/**"
      statuses:
        - type: patch
          target: 60%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: vue_pages
      name: "Vue Pages"
      paths:
        - "resources/js/Pages/**"
      statuses:
        - type: patch
          target: 55%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: vue_composables
      name: "Vue Composables"
      paths:
        - "resources/js/Composables/**"
        - "resources/js/Utils/**"
      statuses:
        - type: patch
          target: 75%
          threshold: 3%
          if_ci_failed: ignore

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no      # Don't require head report for comments
  show_carryforward_flags: true

# Add flags to separate frontend and backend coverage
flags:
  backend:
    paths:
      - "app/"
    carryforward: false
  frontend:
    paths:
      - "resources/js/"
    carryforward: false

Don't show past events in the calendar timeline immediately
  resources/js/Components/Calendar/EventTimelineVertical.vue
Due: frontend, Vue Components

Show today's meetings on the dashboard, even if the time has already passed
  app/Http/Controllers/Admin/DashboardController.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  resources/js/Pages/Admin/Dashboard/Components/UpcomingMeetingsCard.vue
  resources/js/Pages/Admin/Dashboard/Composables/useAtstovavimasData.ts
Due: backend, frontend, Laravel Controllers, Vue Pages

Add PHP 8.5 setup jobs
  .github/workflows/ci.yml
Due: none

Fix documentation links
  resources/js/Components/AppSidebar.vue
  resources/js/Components/Calendar/EventTimelineVertical.vue
  resources/js/Components/NavSecondary.vue
Due: frontend, Vue Components

PHP Linting (Pint)
  config/database.php
Due: none

Fix phpstan issues
  app/Http/Controllers/Admin/FilesController.php
  app/Http/Controllers/Api/Admin/ImpersonateApiController.php
  app/Services/ImageUploadService.php
  app/Services/ModelAuthorizer.php
Due: backend, Laravel Controllers, Laravel Services

Update deps and lint
  _ide_helper.php
  app/Models/Duty.php
  app/Models/Permission.php
  app/Models/Role.php
  app/Models/Typeable.php
  app/Models/User.php
  composer.json
  composer.lock
  package-lock.json
  package.json
  resources/js/Components/ImpersonateBanner.vue
  resources/js/Types/models.d.ts
Due: backend, frontend, Laravel Models, Vue Components

Change php83 to php85
  .github/workflows/deploy-staging.yml
  .github/workflows/deploy.yml
Due: none

Fix TOC scroll, when clicking in pages
  app/Tiptap/CustomHeading.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  resources/js/Components/TipTap/CustomHeading.ts
  tests/Unit/Tiptap/TiptapEditorTest.php
Due: backend, frontend, Vue Components

Update problems title to text
  database/migrations/2026_04_06_014907_change_problems_title_to_text.php
  docs/changelog/index.md
  docs/en/changelog/index.md
Due: none

Fix 500, when going to a calendar event without EN title
  .github/copilot-instructions.md
  app/Http/Controllers/Public/PublicPageController.php
  docs/changelog/index.md
  docs/en/changelog/index.md
Due: backend, Laravel Controllers

Use proper route for allowed-types in FileUploadArea.vue
  resources/js/Components/FileUpload/FileUploadArea.vue
Due: frontend, Vue Components

Fix error when viewing pages with empty content
  app/Helpers/ContentHelper.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  resources/js/Components/RichContent/Types/TiptapDisplay.vue
Due: backend, frontend, Vue Components

Reservation form optimizations
  CLAUDE.md
  app/Http/Controllers/Admin/ReservationController.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  package-lock.json
  resources/js/Components/AdminForms/ReservationForm.vue
  resources/js/Components/TipTap/CustomHeading.ts
  resources/js/Components/ui/select/SelectItem.vue
  resources/js/Components/ui/select/SelectValue.vue
  resources/js/Components/ui/select/SelectVirtualizer.vue
  resources/js/Components/ui/select/index.ts
Due: backend, frontend, Laravel Controllers, Vue Components

Revert jsdom to v27
  package-lock.json
  package.json
Due: none

Center timeline dots
  resources/js/Components/Public/TableOfContents.vue
  resources/js/Pages/Admin/Dashboard/Components/CalendarEventsCard.vue
Due: frontend, Vue Components, Vue Pages

Show default main page, if the page is assigned to content with no parts
  app/Http/Controllers/Public/PublicPageController.php
  tests/Feature/Public/PublicPageControllerTest.php
Due: backend, Laravel Controllers

JSON-LD schema updates
  app/Http/Controllers/Public/ContactController.php
  app/Http/Controllers/Public/NewsController.php
  app/Http/Controllers/Public/PublicPageController.php
  app/Http/Controllers/PublicController.php
  app/Models/Calendar.php
Due: backend, Laravel Controllers, Laravel Models

Notification system improvements
  app/Http/Controllers/Admin/UserNotificationsController.php
  app/Listeners/QueueNotificationForDigest.php
  app/Notifications/TaskOverdueNotification.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  tests/Feature/Notifications/DigestSystemTest.php
Due: backend, Laravel Controllers

Add Github links to changelog entries
  docs/changelog/index.md
  docs/en/changelog/index.md
Due: none

PHP Linting (Pint)
  tests/Feature/Public/PublicPageControllerTest.php
Due: none

Fix tests
  app/Http/Controllers/Public/NewsController.php
  app/Http/Controllers/PublicController.php
  app/Models/Calendar.php
Due: backend, Laravel Controllers, Laravel Models

Fix test to properly select tested task
  tests/Feature/Notifications/DigestSystemTest.php
Due: none

fix: display study set faculties with VU shortnames
  resources/js/Pages/Public/ShowStudySets.vue
  resources/js/Utils/Tenant.ts
  resources/js/Utils/__tests__/Tenant.test.ts
Due: frontend, Vue Pages, Vue Composables

fix: normalize study set faculty labels
  resources/js/Utils/Tenant.ts
  resources/js/Utils/__tests__/Tenant.test.ts
Due: frontend, Vue Composables

Remove maatwebsite/laravel-excel dependency
  _ide_helper.php
  app/Exports/FormRegistrationsExport.php
  app/Exports/TextBoxSubmissionsExport.php
  app/Http/Controllers/Admin/FormController.php
  app/Http/Controllers/Admin/MembershipController.php
  app/Http/Controllers/Api/Admin/TextBoxSubmissionApiController.php
  app/Imports/MembershipUsersImport.php
  app/Imports/MembershipUsersImportSheet.php
  app/Support/Spreadsheet/SpreadsheetReader.php
  app/Support/Spreadsheet/SpreadsheetWriter.php
  composer.json
  composer.lock
  config/excel.php
  tests/Feature/Admin/Management/MembershipImportTest.php
  tests/Feature/Api/TextBoxSubmissionTest.php
  tests/Unit/Support/SpreadsheetTest.php
Due: backend, Laravel Controllers

Make AdminForm.vue more robust and fix FormForm.vue
  .github/copilot-instructions.md
  .storybook/CLAUDE.md
  AGENTS.md
  CLAUDE.md
  opencode.json
  package.json
  resources/js/CLAUDE.md
  resources/js/Components/AdminForms/AdminForm.vue
  resources/js/Components/AdminForms/FormForm.vue
  resources/js/Components/AdminForms/Special/__tests__/AgendaItemsForm.component.test.ts
  resources/js/Components/AdminForms/Special/__tests__/InstitutionSelectorForm.component.test.ts
  resources/js/Components/AdminForms/TrainingUpdateForm.vue
  resources/js/Components/AdminForms/__tests__/AdminForm.component.test.ts
  resources/js/Components/AdminForms/__tests__/FormForm.component.test.ts
  resources/js/Components/Dialogs/__tests__/NewMeetingDialog.component.test.ts
  resources/js/Components/Public/Search/__tests__/DocumentFacetSidebar.component.test.ts
  resources/js/Components/Public/Search/__tests__/DocumentSearchInterface.component.test.ts
  resources/js/Composables/__tests__/useDocumentSearch.test.ts
  resources/js/Composables/__tests__/useDutyUserWizard.test.ts
  resources/js/Composables/__tests__/useInstitutionSearch.test.ts
  resources/js/Composables/__tests__/useMeetingSearch.test.ts
  resources/js/Pages/Admin/Dashboard/Composables/__tests__/useInstitutionSubscription.test.ts
  resources/js/Pages/Admin/Forms/CreateForm.vue
  resources/js/Pages/Admin/Forms/EditForm.vue
  resources/js/mocks/inertia.mock.ts
  resources/js/tests/helpers/createMockForm.ts
  resources/js/tests/helpers/createMockPage.ts
  resources/js/tests/stubs/common.ts
  resources/js/tests/stubs/index.ts
  tests/CLAUDE.md
  tests/setup.ts
Due: frontend, Vue Components, Vue Pages, Vue Composables

Update eslint and fix linting errors
  eslint.config.mjs
  package-lock.json
  package.json
  resources/js/Components/AdminForms/StudySetForm.vue
  resources/js/Components/AdminForms/__tests__/AdminForm.component.test.ts
  resources/js/Composables/__tests__/useDocumentSearch.test.ts
  resources/js/Composables/__tests__/useInstitutionSearch.test.ts
  resources/js/Composables/__tests__/useMeetingSearch.test.ts
  resources/js/Pages/Admin/Dashboard/Composables/__tests__/useInstitutionSubscription.test.ts
  resources/js/Pages/Admin/StudySets/CreateStudySet.vue
  resources/js/Pages/Admin/StudySets/EditStudySet.vue
  resources/js/Pages/Admin/StudySets/IndexStudySet.vue
  resources/js/Pages/Public/ShowStudySets.vue
  resources/js/Services/DocumentSearchService.ts
  resources/js/Services/InstitutionSearchService.ts
  resources/js/Services/MeetingSearchService.ts
  resources/js/Types/Icons/filled.ts
  resources/js/Types/Icons/regular.ts
  resources/js/Types/enums.ts
  resources/js/Types/models.d.ts
  resources/js/Utils/Tenant.ts
  resources/js/Utils/__tests__/Tenant.test.ts
Due: frontend, Vue Components, Vue Pages, Vue Composables

Don't show 23:59 for email meetings
  app/Http/Controllers/Admin/MeetingController.php
  app/Http/Controllers/Public/ContactController.php
  resources/js/Components/Graphs/renderers/GanttTooltip.ts
  resources/js/Components/Graphs/renderers/renderMeetings.ts
  resources/js/Components/Meetings/MeetingNavigationCards.vue
  resources/js/Components/Meetings/MeetingOverviewSection.vue
  resources/js/Components/Public/MeetingCard.vue
  resources/js/Pages/Admin/Dashboard/Components/UpcomingMeetingsCard.vue
  resources/js/Pages/Admin/Representation/ShowMeeting.vue
  resources/js/Pages/Public/Meetings/ShowMeeting.vue
  resources/js/Utils/MeetingDisplay.ts
  resources/js/Utils/__tests__/MeetingDisplay.test.ts
Due: backend, frontend, Laravel Controllers, Vue Components, Vue Pages, Vue Composables

Fix and optimize big single select forms
  resources/js/Components/AdminForms/DutiableForm.vue
  resources/js/Components/AdminForms/DutyForm.vue
  resources/js/Components/AdminForms/NavigationForm.vue
  resources/js/Components/AdminForms/NewsForm.vue
  resources/js/Components/AdminForms/PageForm.vue
  resources/js/Components/AdminForms/ReservationForm.vue
  resources/js/Components/AdminForms/ReservationResourceForm.vue
  resources/js/Components/AdminForms/TenantForm.vue
  resources/js/Components/AdminForms/TrainingCreateForm.vue
  resources/js/Components/AdminForms/TrainingUpdateForm.vue
  resources/js/Components/ui/single-select/SingleSelect.vue
  resources/js/Components/ui/single-select/__tests__/SingleSelect.component.test.ts
  resources/js/Components/ui/single-select/index.ts
  resources/js/Pages/Admin/People/MergeUser.vue
Due: frontend, Vue Components, Vue Pages

Optimize quick link form and index page
  app/Http/Controllers/Admin/QuickLinkController.php
  app/Models/QuickLink.php
  lang/en.json
  resources/js/Components/AdminForms/QuickLinkForm.vue
  resources/js/Components/FormItems/FluentIconSelect.vue
  resources/js/Pages/Admin/Content/EditQuickLinkOrder.vue
  resources/js/Pages/Admin/Content/IndexQuickLink.vue
  routes/admin.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Vue Components, Vue Pages

PHP Linting (Pint)
  app/Http/Controllers/Admin/QuickLinkController.php
Due: backend, Laravel Controllers

Optimize the display of tables some more
  resources/js/Components/AdminBreadcrumbs.vue
  resources/js/Components/Layouts/IndexTablePage.vue
  resources/js/Components/Tables/ServerDataTable.vue
  resources/js/Components/ui/data-table/DataTable.vue
  resources/js/Components/ui/data-table/DataTableProvider.vue
  resources/js/Pages/Admin/Content/IndexTag.vue
  resources/js/Pages/Admin/Files/IndexDocument.vue
  resources/js/Pages/Admin/People/IndexInstitution.vue
  resources/js/Pages/Admin/People/IndexStudyProgram.vue
  resources/js/Pages/Admin/Representation/IndexMeeting.vue
  resources/js/Pages/Admin/Reservations/IndexReservation.vue
  resources/js/Types/TableConfigTypes.ts
Due: frontend, Vue Components, Vue Pages

More clear UserForm about the emails
  app/Http/Controllers/Admin/DutiableController.php
  app/Http/Requests/BaseIndexRequest.php
  app/Http/Requests/UpdateDutiableRequest.php
  lang/en.json
  lang/lt.json
  package-lock.json
  resources/js/Components/AdminForms/UserForm.vue
  resources/js/Components/AdminForms/__tests__/UserForm.component.test.ts
  resources/js/Components/Tables/ServerDataTable.vue
  tests/Feature/Admin/Management/DutiableControllerTest.php
  tests/Unit/Http/Requests/BaseIndexRequestTest.php
Due: backend, frontend, Laravel Controllers, Laravel Features, Vue Components

Support meetings with multiple institutions
  app/Http/Controllers/Admin/MeetingController.php
  app/Models/Meeting.php
  resources/js/Pages/Admin/Representation/ShowMeeting.vue
  routes/admin.php
  tests/Feature/Admin/Calendar/MeetingControllerTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Vue Pages

Update ShowMeeting.vue display elements
  resources/js/Components/Hero/ShowPageHero.vue
  resources/js/Components/Meetings/MeetingOverviewSection.vue
  resources/js/Pages/Admin/Representation/ShowMeeting.vue
Due: frontend, Vue Components, Vue Pages
