Repository vu-sa/vusa.lt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Laravel Features, Vue Components, Vue Pages, Vue Composables

.codecov.yml:

codecov:
  require_ci_to_pass: no  # Allow reports even if some CI jobs fail
  notify:
    wait_for_ci: no        # Don't wait for all CI jobs

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project: off
    patch:
      default:
        target: 65%
        threshold: 3%
        if_ci_failed: ignore

component_management:
  individual_components:
    - component_id: laravel_controllers
      name: "Laravel Controllers"
      paths:
        - "app/Http/Controllers/**"
      statuses:
        - type: patch
          target: 70%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: laravel_models
      name: "Laravel Models"
      paths:
        - "app/Models/**"
      statuses:
        - type: patch
          target: 80%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: laravel_services
      name: "Laravel Services"
      paths:
        - "app/Services/**"
        - "app/Actions/**"
      statuses:
        - type: patch
          target: 75%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: laravel_features
      name: "Laravel Features"
      paths:
        - "app/Jobs/**"
        - "app/Console/**"
        - "app/Traits/**"
        - "app/Http/Requests/**"
      statuses:
        - type: patch
          target: 65%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: vue_components
      name: "Vue Components"
      paths:
        - "resources/js/Components/**"
      statuses:
        - type: patch
          target: 60%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: vue_pages
      name: "Vue Pages"
      paths:
        - "resources/js/Pages/**"
      statuses:
        - type: patch
          target: 55%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: vue_composables
      name: "Vue Composables"
      paths:
        - "resources/js/Composables/**"
        - "resources/js/Utils/**"
      statuses:
        - type: patch
          target: 75%
          threshold: 3%
          if_ci_failed: ignore

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no      # Don't require head report for comments
  show_carryforward_flags: true

# Add flags to separate frontend and backend coverage
flags:
  backend:
    paths:
      - "app/"
    carryforward: false
  frontend:
    paths:
      - "resources/js/"
    carryforward: false

Fix some section flow options
  lang/admin/en/rich-content.php
  lang/admin/lt/rich-content.php
  resources/js/Components/RichContent/ContentEditorFactory.vue
  resources/js/Components/RichContent/Editor/Fullscreen/RCFullscreenBlock.vue
  resources/js/Components/RichContent/Editor/Fullscreen/__tests__/RCFullscreenBlock.component.test.ts
  resources/js/Components/RichContent/Editor/RCBlockCard.vue
  resources/js/Components/RichContent/Editor/RCPresentationPicker.vue
  resources/js/Components/RichContent/Editor/__tests__/RCPresentationPicker.component.test.ts
  resources/js/Components/RichContent/Editor/sectionPresentation.ts
  resources/js/Components/RichContent/RCHeroSection/HeroBlockToolbar.vue
  resources/js/Components/RichContent/RichContentEditor.vue
  resources/js/Components/RichContent/RichContentParser.vue
  resources/js/Components/RichContent/__tests__/RichContentEditor.component.test.ts
  resources/js/Components/RichContent/__tests__/bandLayout.test.ts
  resources/js/Components/RichContent/__tests__/sectionGrouping.component.test.ts
  resources/js/Components/RichContent/bandLayout.ts
Due: frontend, Vue Components

Migrate calendar event page
  app/Http/Requests/CalendarRequest.php
  app/Models/Calendar.php
  database/migrations/2026_09_05_161301_add_main_image_focal_point_to_calendar_table.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  resources/js/Components/AdminForms/CalendarForm.vue
  resources/js/Components/Calendar/EventActions.vue
  resources/js/Components/Calendar/EventCard.vue
  resources/js/Components/Calendar/EventDetailsCard.vue
  resources/js/Components/Calendar/EventHero.vue
  resources/js/Components/Calendar/EventHoverCard.vue
  resources/js/Components/Calendar/EventImageGallery.vue
  resources/js/Components/Calendar/EventLocationMap.vue
  resources/js/Components/Calendar/EventTimeline.vue
  resources/js/Components/Calendar/EventTimelineVertical.vue
  resources/js/Components/Calendar/__tests__/EventHero.component.test.ts
  resources/js/Components/Public/PublicAgendaItemRow.vue
  resources/js/Components/Public/PublicAgendaList.vue
  resources/js/Components/Public/PublicMeetingDocuments.vue
  resources/js/Components/ui/upload/Upload.vue
  resources/js/Components/ui/upload/__tests__/Upload.component.test.ts
  resources/js/Pages/Public/CalendarEvent.vue
  resources/js/Pages/Public/__tests__/CalendarEvent.component.test.ts
  resources/js/Types/forms.d.ts
  resources/js/Types/models.d.ts
  tests/Feature/Admin/Calendar/CalendarControllerTest.php
Due: backend, frontend, Laravel Models, Laravel Features, Vue Components, Vue Pages

Migrate the hero carousel to fullscreen editor
  docs/changelog/index.md
  docs/en/changelog/index.md
  lang/admin/en/rich-content.php
  lang/admin/lt/rich-content.php
  resources/js/Components/RichContent/Blocks.stories.ts
  resources/js/Components/RichContent/Editor/Fullscreen/RCFullscreenBlock.vue
  resources/js/Components/RichContent/RCHeroCarousel/HeroCarouselBlockToolbar.vue
  resources/js/Components/RichContent/RCHeroCarousel/HeroCarouselDisplay.vue
  resources/js/Components/RichContent/RCHeroCarousel/HeroCarouselImageHotspot.vue
  resources/js/Components/RichContent/RCHeroCarousel/HeroCarouselSlideView.vue
  resources/js/Components/RichContent/RCHeroCarousel/__tests__/HeroCarousel.component.test.ts
  resources/js/Components/RichContent/RCHeroCarousel/__tests__/HeroCarouselBlockToolbar.component.test.ts
  resources/js/Components/RichContent/RCHeroCarousel/__tests__/HeroCarouselImageHotspot.component.test.ts
  resources/js/Components/RichContent/Types/HeroCarouselEditor.vue
  resources/js/Components/RichContent/Types/index.ts
Due: frontend, Vue Components

Show which elements have been migrated
  lang/admin/en/rich-content.php
  lang/admin/lt/rich-content.php
  resources/js/Components/RichContent/BlockPickerDialog.vue
  resources/js/Components/RichContent/Editor/RCInsertAffordance.vue
  resources/js/Components/RichContent/RCHeroCarousel/HeroCarouselBlockToolbar.vue
  resources/js/Components/RichContent/RichContentEditor.vue
  resources/js/Components/RichContent/Types/index.ts
  resources/js/Components/RichContent/__tests__/BlockPickerDialog.component.test.ts
Due: frontend, Vue Components

Fix dark mode theme switch
  resources/js/Components/Buttons/DarkModeButton.vue
  resources/js/Components/Buttons/__tests__/DarkModeButton.component.test.ts
  resources/js/Composables/useThemeColor.ts
Due: frontend, Vue Components, Vue Composables

Event calendar shows synchronize button once
  resources/js/Components/Public/FullWidth/EventCalendarElement.vue
  resources/js/Components/Public/FullWidth/__tests__/EventCalendarElement.component.test.ts
Due: frontend, Vue Components

Set accordion with one editable item immediately
  resources/js/Components/RichContent/Types/__tests__/registry.component.test.ts
  resources/js/Components/RichContent/Types/index.ts
Due: frontend, Vue Components

Reformat changelog to mark the changes v2
  docs/changelog/index.md
  docs/en/changelog/index.md
Due: none

Add turtle-loader
  .ai/rules/index.md
  .ai/rules/js-js.md
  resources/css/app.css
  resources/css/components/turtle-loader.css
  resources/js/Components/Empty/EmptyState.vue
  resources/js/Components/Empty/TurtleMascot.vue
  resources/js/Components/Empty/__tests__/EmptyState.component.test.ts
  resources/js/admin.ts
  resources/js/public.ts
  resources/views/app.blade.php
  resources/views/turtle-loader.blade.php
Due: frontend, Vue Components

Add new calendar page
  app/Models/Calendar.php
  config/scout.php
  resources/js/Components/Calendar/CalendarFilterPopover.vue
  resources/js/Components/Calendar/EventCard.vue
  resources/js/Components/Calendar/__tests__/CalendarFilterPopover.component.test.ts
  resources/js/Components/Calendar/__tests__/EventCard.component.test.ts
  resources/js/Components/Dialogs/CalendarSyncModal.vue
  resources/js/Components/Public/Base/PageTitleBand.vue
  resources/js/Components/Public/Base/Primitives.stories.ts
  resources/js/Components/Public/Base/TagChip.vue
  resources/js/Components/Public/Base/__tests__/TagChip.component.test.ts
  resources/js/Composables/__tests__/useCalendarSearch.test.ts
  resources/js/Composables/useCalendarSearch.ts
  resources/js/Pages/Public/CalendarEventList.vue
  resources/js/Types/enums.ts
Due: backend, frontend, Laravel Models, Vue Components, Vue Pages, Vue Composables

Update changelog and add antigravity
  .agents/mcp_config.json
  AGENTS.md
  CLAUDE.md
  boost.json
  docs/changelog/index.md
  docs/en/changelog/index.md
  lang/en.json
Due: none

Fix doubled CI runs
  .github/workflows/ci.yml
  .github/workflows/deploy-staging.yml
  tests/Feature/DeployWorkflowTest.php
Due: none

Add more buttons for view, edit to admin command pallete
  resources/js/Components/CommandPalette/AdminCommandPalette.vue
  resources/js/Features/Admin/AdminSearch/Components/SearchHitRow.vue
  resources/js/Features/Admin/AdminSearch/Utils/searchHitMappers.ts
Due: frontend, Vue Components

Migrate photo components to full width editor
  docs/changelog/index.md
  docs/en/changelog/index.md
  lang/en.json
  resources/js/Components/RichContent/Editor/Fullscreen/RCFullscreenBlock.vue
  resources/js/Components/RichContent/Editor/Fullscreen/RCFullscreenEditor.vue
  resources/js/Components/RichContent/Editor/Fullscreen/RCImageHotspot.vue
  resources/js/Components/RichContent/Editor/Fullscreen/RCImageListBlockToolbar.vue
  resources/js/Components/RichContent/Editor/Fullscreen/__tests__/RCFullscreenBlock.component.test.ts
  resources/js/Components/RichContent/Editor/Fullscreen/__tests__/RCFullscreenEditor.component.test.ts
  resources/js/Components/RichContent/Editor/Fullscreen/__tests__/RCImageHotspot.component.test.ts
  resources/js/Components/RichContent/Editor/Fullscreen/__tests__/RCImageListBlockToolbar.component.test.ts
  resources/js/Components/RichContent/Editor/RCImageTileGrid.vue
  resources/js/Components/RichContent/RCHeroCarousel/HeroCarouselBlockToolbar.vue
  resources/js/Components/RichContent/RCHeroCarousel/__tests__/HeroCarouselBlockToolbar.component.test.ts
  resources/js/Components/RichContent/RCPhotoGalleryGrid/PhotoGalleryGridDisplay.vue
  resources/js/Components/RichContent/Types/ImageGridDisplay.vue
  resources/js/Components/RichContent/Types/__tests__/ImageGridEditor.component.test.ts
  resources/js/Components/RichContent/Types/index.ts
  resources/js/Components/RichContent/__tests__/newBlockTypes.component.test.ts
Due: frontend, Vue Components

Update the news archive page
  app/Collections/NewsCollection.php
  app/Http/Controllers/Public/NewsController.php
  app/Http/Requests/StoreNewsRequest.php
  app/Models/News.php
  config/scout.php
  public/images/icons/naujienu_foto.png
  resources/js/Components/AdminForms/NewsForm.vue
  resources/js/Components/Calendar/CalendarFilterPopover.vue
  resources/js/Components/Public/Base/MediaFrame.vue
  resources/js/Components/Public/Base/PublicFilterPopover.vue
  resources/js/Components/Public/Base/index.ts
  resources/js/Components/Public/News/NewsCard.vue
  resources/js/Components/Public/NewsElement.vue
  resources/js/Composables/__tests__/useNewsSearch.test.ts
  resources/js/Composables/useNewsSearch.ts
  resources/js/Pages/Admin/Dashboard/Components/NewsListCard.vue
  resources/js/Pages/Public/CalendarEventList.vue
  resources/js/Pages/Public/NewsArchive.vue
  resources/js/Pages/Public/__tests__/NewsArchive.component.test.ts
  resources/js/Types/contentParts.ts
  tests/Feature/Admin/Core/DashboardControllerTest.php
  tests/Feature/Api/NewsApiTest.php
  tests/Feature/FeedTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Features, Vue Components, Vue Pages, Vue Composables

Update rich content editor for news
  lang/admin/en/rich-content.php
  lang/admin/lt/rich-content.php
  resources/js/Components/RichContent/Editor/Fullscreen/RCFullscreenBlock.vue
  resources/js/Components/RichContent/Editor/Fullscreen/__tests__/RCFullscreenBlock.component.test.ts
  resources/js/Components/RichContent/Editor/RCTagAliasSelect.vue
  resources/js/Components/RichContent/RCNews/NewsBlockToolbar.vue
  resources/js/Components/RichContent/RCNews/__tests__/NewsBlockToolbar.component.test.ts
  resources/js/Components/RichContent/Types/NewsEditor.vue
  resources/js/Components/RichContent/Types/NewsOptionsFields.vue
  resources/js/Components/RichContent/Types/__tests__/registry.component.test.ts
  resources/js/Components/RichContent/Types/index.ts
Due: frontend, Vue Components

Update search pages
  app/Http/Middleware/HandleInertiaRequests.php
  app/Models/Tag.php
  app/Services/ContentResolution/Resolvers/NewsBlockResolver.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  resources/js/Components/Cards/NewInstitutionCard.vue
  resources/js/Components/Public/Base/PublicFilterPopover.vue
  resources/js/Components/Public/NewsElement.vue
  resources/js/Components/Public/Search/DocumentCompactListItem.vue
  resources/js/Components/Public/Search/DocumentListItem.vue
  resources/js/Components/Public/Search/DocumentResultsSkeleton.vue
  resources/js/Components/Public/Search/InstitutionCompactListItem.vue
  resources/js/Components/Public/Search/InstitutionResultsSkeleton.vue
  resources/js/Components/Public/Search/MeetingCompactListItem.vue
  resources/js/Components/Public/Search/MeetingOutcomeIndicators.vue
  resources/js/Components/Public/Search/MeetingResultsSkeleton.vue
  resources/js/Components/Public/__tests__/NewsElement.component.test.ts
  resources/js/Composables/useDocumentDisplay.ts
  resources/js/Composables/useDocumentSearch.ts
  resources/js/Composables/useMeetingSearch.ts
  resources/js/Pages/Public/Contacts/ShowContacts.vue
  resources/js/Pages/Public/Meetings/ShowMeetings.vue
  resources/js/Pages/Public/ShowDocuments.vue
  resources/js/Services/DocumentSearchService.ts
  resources/js/Services/InstitutionSearchService.ts
  resources/js/Services/MeetingSearchService.ts
  resources/js/Services/__tests__/DocumentSearchService.test.ts
  resources/js/Shared/Search/composables/useBaseSearch.ts
  resources/js/Types/DocumentSearchTypes.ts
  resources/js/Types/MeetingSearchTypes.ts
  resources/js/Types/contentParts.ts
  resources/js/Types/index.d.ts
  tests/Feature/Services/ContentResolution/ContentPartResolverTest.php
Due: backend, frontend, Laravel Models, Laravel Services, Vue Components, Vue Pages, Vue Composables

Add navigation link rewrite command
  app/Console/Commands/DeploymentRun.php
  app/Console/Commands/GenerateDocumentSearchKey.php
  app/Console/Commands/RewriteVusaUrls.php
  app/Console/Commands/StagingRefreshDatabase.php
  tests/Feature/DeployWorkflowTest.php
  tests/Feature/RewriteVusaUrlsTest.php
  tests/Feature/StagingRefreshDatabaseTest.php
Due: backend, Laravel Features

Migrate flow graph; fix tests
  docs/changelog/index.md
  docs/en/changelog/index.md
  resources/css/theme/base-tokens.css
  resources/css/vendor/vue-flow.css
  resources/js/Components/RichContent/Editor/Fullscreen/RCFullscreenBlock.vue
  resources/js/Components/RichContent/Editor/Fullscreen/__tests__/RCFullscreenBlock.component.test.ts
  resources/js/Components/RichContent/RCFlowGraph.vue
  resources/js/Components/RichContent/RCFlowGraph/FlowGraphBlockToolbar.vue
  resources/js/Components/RichContent/Types/FlowGraphEditor.vue
  resources/js/Components/RichContent/Types/index.ts
  resources/js/Composables/__tests__/useDocumentSearch.test.ts
  resources/js/Composables/__tests__/useMeetingSearch.test.ts
  resources/js/Features/StructureGraph/MultipleHandleNode.vue
  resources/js/Features/StructureGraph/ParentNode.vue
  resources/js/Features/StructureGraph/StructureGraph.vue
  resources/js/Features/StructureGraph/presets/VusaStructure.vue
  tests/Browser/MailQueueTest.php
  tests/Browser/PublicDesignSurfaceTest.php
  tests/Browser/TmpNavigationImageTest.php
Due: frontend, Vue Components, Vue Composables

Fix flow graph styling
  resources/css/vendor/vue-flow.css
  resources/js/Components/RichContent/RCFlowGraph/FlowGraphBlockToolbar.vue
  resources/js/Features/StructureGraph/StructureGraph.vue
  tests/Browser/PublicDesignSurfaceTest.php
Due: frontend, Vue Components

Fix staging env refresh
  app/Console/Commands/StagingRefreshDatabase.php
  tests/Feature/StagingRefreshDatabaseTest.php
Due: backend, Laravel Features

Migrate almost all RC elements; optimize css
  app/Tiptap/TiptapEditor.php
  resources/css/app.css
  resources/js/Components/AgendaItems/AgendaItemNotesEditor.vue
  resources/js/Components/Discussions/CommentComposer.vue
  resources/js/Components/Public/Base/MediaFrame.vue
  resources/js/Components/RichContent/Editor/BlockPreviewRenderer.vue
  resources/js/Components/RichContent/Editor/Fullscreen/RCFullscreenBlock.vue
  resources/js/Components/RichContent/Editor/Fullscreen/__tests__/RCFullscreenBlock.component.test.ts
  resources/js/Components/RichContent/RCSocialEmbed.vue
  resources/js/Components/RichContent/RCSocialEmbed/SocialEmbedBlockToolbar.vue
  resources/js/Components/RichContent/RCSocialEmbed/__tests__/SocialEmbedBlockToolbar.component.test.ts
  resources/js/Components/RichContent/RCSpotify/SpotifyBlockToolbar.vue
  resources/js/Components/RichContent/RCSpotify/__tests__/SpotifyBlockToolbar.component.test.ts
  resources/js/Components/RichContent/RCSpotifyEmbed.vue
  resources/js/Components/RichContent/RCSpotifyPromoDisplay.vue
  resources/js/Components/RichContent/RCTextBox/TextBoxBlockToolbar.vue
  resources/js/Components/RichContent/RCTextBox/__tests__/TextBoxBlockToolbar.component.test.ts
  resources/js/Components/RichContent/RCTextBox/__tests__/TextBoxDisplay.component.test.ts
  resources/js/Components/RichContent/RCTimetable/TimetableBlockToolbar.vue
  resources/js/Components/RichContent/RCTimetable/TimetableDisplay.vue
  resources/js/Components/RichContent/RCTimetable/__tests__/TimetableBlockToolbar.component.test.ts
  resources/js/Components/RichContent/RCTimetable/__tests__/TimetableDisplay.component.test.ts
  resources/js/Components/RichContent/Types/TextBoxDisplay.vue
  resources/js/Components/RichContent/Types/TextBoxEditor.vue
  resources/js/Components/RichContent/Types/TiptapDisplay.vue
  resources/js/Components/RichContent/Types/__tests__/TiptapDisplay.component.test.ts
  resources/js/Components/RichContent/Types/index.ts
  resources/js/Components/RichContent/__tests__/BlockPickerDialog.component.test.ts
  resources/js/Components/RichContent/__tests__/RCSocialEmbed.component.test.ts
  resources/js/Components/RichContent/__tests__/RCSpotifyPromoDisplay.component.test.ts
  resources/js/Components/TipTap/RCSmartTiptapToolbar.vue
  resources/js/Components/TipTap/__tests__/RCSmartTiptapToolbar.component.test.ts
  resources/js/Components/TipTap/extensions/presets.ts
  resources/js/Components/TipTap/tiptap-base.css
  resources/js/Features/StructureGraph/StructureGraph.vue
  resources/js/public.ts
  tests/Unit/Tiptap/TiptapEditorTest.php
Due: backend, frontend, Vue Components

Fix CodeQL sanitization and escaping notices
  resources/js/Components/RichContent/RCCarouselSlideDeck/CarouselSlideDeckDisplay.vue
  resources/js/Components/RichContent/RCHeroCarousel/HeroCarouselSlideView.vue
  resources/js/Components/RichContent/RCHeroSection/HeroElement.vue
  resources/js/Composables/useCalendarSearch.ts
  resources/js/Composables/useNewsSearch.ts
  resources/js/Utils/String.ts
  resources/js/Utils/__tests__/String.test.ts
Due: frontend, Vue Components, Vue Composables

Convert RC components to fetch editable parts async
  docs/changelog/index.md
  docs/en/changelog/index.md
  resources/js/Components/RichContent/Editor/BlockPreviewRenderer.vue
  resources/js/Components/RichContent/RCAccordion.vue
  resources/js/Components/RichContent/RCCardStack/CardStackDisplay.vue
  resources/js/Components/RichContent/RCCardStack/__tests__/CardStackDisplay.component.test.ts
  resources/js/Components/RichContent/RCCarouselSlideDeck/CarouselSlideDeckDisplay.vue
  resources/js/Components/RichContent/RCCarouselSlideDeck/__tests__/CarouselSlideDeckDisplay.component.test.ts
  resources/js/Components/RichContent/RCHeroCarousel/HeroCarouselDisplay.vue
  resources/js/Components/RichContent/RCHeroCarousel/HeroCarouselSlideView.vue
  resources/js/Components/RichContent/RCHeroCarousel/__tests__/HeroCarousel.component.test.ts
  resources/js/Components/RichContent/RCHeroSection/HeroEditableElement.vue
  resources/js/Components/RichContent/RCHeroSection/HeroElement.vue
  resources/js/Components/RichContent/RCHeroSection/__tests__/HeroEditableElement.component.test.ts
  resources/js/Components/RichContent/RCHeroSection/__tests__/HeroElement.component.test.ts
  resources/js/Components/RichContent/RCHeroSection/heroLayout.ts
  resources/js/Components/RichContent/RCNumberStatSection/RCNumberSection.vue
  resources/js/Components/RichContent/RCPersonQuote/PersonQuoteDisplay.vue
  resources/js/Components/RichContent/RCPersonQuote/__tests__/PersonQuoteDisplay.component.test.ts
  resources/js/Components/RichContent/RCPhotoGalleryGrid/PhotoGalleryGridDisplay.vue
  resources/js/Components/RichContent/RCProcessSteps/ProcessStepsDisplay.vue
  resources/js/Components/RichContent/RCProcessSteps/__tests__/ProcessStepsDisplay.component.test.ts
  resources/js/Components/RichContent/RCSection/SectionDisplay.vue
  resources/js/Components/RichContent/RCSection/__tests__/SectionDisplay.component.test.ts
  resources/js/Components/RichContent/RCTimetable/TimetableDisplay.vue
  resources/js/Components/RichContent/RichContentCard.vue
  resources/js/Components/RichContent/Types/ContentGridDisplay.vue
  resources/js/Components/RichContent/Types/ImageGridDisplay.vue
  resources/js/Components/RichContent/Types/__tests__/ContentGridDisplay.editable.component.test.ts
  resources/js/Components/RichContent/Types/index.ts
  resources/js/Components/RichContent/__tests__/RCAccordion.component.test.ts
  resources/js/Components/RichContent/__tests__/newBlockTypes.component.test.ts
  resources/js/tests/helpers/waitForSelector.ts
Due: frontend, Vue Components

Add migration per v5 changelog
  database/migrations/2026_09_07_012424_increase_push_subscriptions_endpoint_length.php
Due: none

Fixes for CalendarEvent.vue
  lang/en.json
  resources/js/Components/Calendar/EventActions.vue
  resources/js/Components/Calendar/EventDetailsCard.vue
  resources/js/Components/Calendar/__tests__/EventActions.component.test.ts
  resources/js/Components/Calendar/__tests__/EventDetailsCard.component.test.ts
  resources/js/Pages/Public/CalendarEvent.vue
  resources/js/Pages/Public/__tests__/CalendarEvent.component.test.ts
Due: frontend, Vue Components, Vue Pages

Fix app logo issues
  resources/js/Components/AppLogo.vue
  resources/js/Components/Public/Layouts/MainNavigation.vue
Due: frontend, Vue Components

Fix institution pages; add working hours field
  app/Http/Requests/InstitutionRequest.php
  app/Models/Institution.php
  app/Models/PublicInstitution.php
  database/migrations/2026_09_07_025225_add_working_hours_to_institutions_table.php
  lang/en.json
  lang/lt.json
  resources/js/Components/AdminForms/InstitutionForm.vue
  resources/js/Pages/Admin/People/CreateInstitution.vue
  resources/js/Pages/Public/Contacts/ShowInstitution.vue
  tests/Feature/Admin/Management/InstitutionControllerTest.php
Due: backend, frontend, Laravel Models, Laravel Features, Vue Components, Vue Pages

Fix images to show 16x9 appropriately
  resources/js/Components/AdminForms/NewsForm.vue
  resources/js/Components/AdminForms/__tests__/NewsForm.component.test.ts
  resources/js/Components/Calendar/EventCard.vue
  resources/js/Components/Calendar/EventHero.vue
  resources/js/Components/Public/News/NewsCard.vue
  resources/js/Components/Public/NewsElement.vue
  resources/js/Pages/Public/CalendarEvent.vue
  resources/js/Pages/Public/CalendarEventList.vue
  resources/js/Pages/Public/NewsArchive.vue
Due: frontend, Vue Components, Vue Pages

Make longer titles smaller
  resources/js/Pages/Public/ContentPage.vue
  resources/js/Pages/Public/__tests__/ContentPage.component.test.ts
Due: frontend, Vue Pages

Tiptap editor improvements
  app/Http/Controllers/Public/ContactController.php
  app/Models/ContentPart.php
  lang/admin/en/rich-content.php
  lang/admin/lt/rich-content.php
  resources/js/Components/RichContent/Editor/RCInsertAffordance.vue
  resources/js/Components/RichContent/RCProcessSteps/ProcessStepsBlockToolbar.vue
  resources/js/Components/RichContent/RCProcessSteps/ProcessStepsDisplay.vue
  resources/js/Components/RichContent/RCProcessSteps/__tests__/ProcessStepsDisplay.component.test.ts
  resources/js/Components/RichContent/Types/ProcessStepsEditor.vue
  resources/js/Components/TipTap/TiptapEditor.vue
  resources/js/Components/TipTap/__tests__/TiptapEditorMobileToolbar.component.test.ts
  resources/js/Components/TipTap/__tests__/tiptapExtensions.test.ts
  resources/js/Components/TipTap/extensions/presets.ts
Due: backend, frontend, Laravel Controllers, Laravel Models, Vue Components

Wrap tables in tiptap
  resources/js/Components/AdminForms/NewsForm.vue
  resources/js/Components/AdminForms/__tests__/NewsForm.component.test.ts
  resources/js/Components/RichContent/RichContentTiptapHTML.vue
  resources/js/Components/RichContent/__tests__/RichContentTiptapHTML.component.test.ts
  resources/js/Components/TipTap/extensions/presets.ts
  resources/js/Components/TipTap/tiptap-base.css
Due: frontend, Vue Components

Allow editing only English home page
  app/Http/Controllers/Admin/TenantController.php
  app/Http/Controllers/Public/PublicPageController.php
  app/Http/Requests/UpdateContentRequest.php
  app/Models/Content.php
  app/Models/Institution.php
  app/Models/PublicInstitution.php
  app/Models/Tenant.php
  app/Models/TenantHomepageContent.php
  app/Services/FileUsageScanner.php
  app/Support/ActivityRoots.php
  app/Tiptap/TiptapEditor.php
  database/migrations/2026_09_07_031433_create_tenant_homepage_contents_table.php
  database/seeders/DatabaseSeeder.php
  resources/js/Components/Calendar/EventHoverCard.vue
  resources/js/Components/Calendar/EventTimeline.vue
  resources/js/Components/Calendar/EventTimelineVertical.vue
  resources/js/Pages/Admin/Content/EditHomePage.vue
  resources/js/Pages/Admin/Content/__tests__/EditHomePage.component.test.ts
  tests/Feature/ActivityLog/ActivityRootResolverTest.php
  tests/Feature/Admin/Management/TenantControllerTest.php
  tests/Feature/Api/Admin/ActivityLogApiControllerTest.php
  tests/Feature/Public/PublicPageControllerTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Laravel Features, Vue Components, Vue Pages
