Repository vu-sa/vusa.lt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Laravel Features, Vue Components, Vue Pages, Vue Composables

.codecov.yml:

codecov:
  require_ci_to_pass: no  # Allow reports even if some CI jobs fail
  notify:
    wait_for_ci: no        # Don't wait for all CI jobs

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project: off
    patch:
      default:
        target: 65%
        threshold: 3%
        if_ci_failed: ignore

component_management:
  individual_components:
    - component_id: laravel_controllers
      name: "Laravel Controllers"
      paths:
        - "app/Http/Controllers/**"
      statuses:
        - type: patch
          target: 70%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: laravel_models
      name: "Laravel Models"
      paths:
        - "app/Models/**"
      statuses:
        - type: patch
          target: 80%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: laravel_services
      name: "Laravel Services"
      paths:
        - "app/Services/**"
        - "app/Actions/**"
      statuses:
        - type: patch
          target: 75%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: laravel_features
      name: "Laravel Features"
      paths:
        - "app/Jobs/**"
        - "app/Console/**"
        - "app/Traits/**"
        - "app/Http/Requests/**"
      statuses:
        - type: patch
          target: 65%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: vue_components
      name: "Vue Components"
      paths:
        - "resources/js/Components/**"
      statuses:
        - type: patch
          target: 60%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: vue_pages
      name: "Vue Pages"
      paths:
        - "resources/js/Pages/**"
      statuses:
        - type: patch
          target: 55%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: vue_composables
      name: "Vue Composables"
      paths:
        - "resources/js/Composables/**"
        - "resources/js/Utils/**"
      statuses:
        - type: patch
          target: 75%
          threshold: 3%
          if_ci_failed: ignore

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no      # Don't require head report for comments
  show_carryforward_flags: true

# Add flags to separate frontend and backend coverage
flags:
  backend:
    paths:
      - "app/"
    carryforward: false
  frontend:
    paths:
      - "resources/js/"
    carryforward: false

Integrate analytics to edit page views
  .env.example
  app/Http/Controllers/Api/Admin/AnalyticsApiController.php
  app/Services/UmamiClient.php
  config/services.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  lang/admin/en/analytics.php
  lang/admin/lt/analytics.php
  resources/js/Components/Analytics/ContentAnalyticsCard.vue
  resources/js/Components/Analytics/__tests__/ContentAnalyticsCard.component.test.ts
  resources/js/Pages/Admin/Content/EditNews.vue
  resources/js/Pages/Admin/Content/EditPage.vue
  resources/js/Types/api.d.ts
  routes/api.php
  tests/Feature/Api/Admin/AnalyticsApiTest.php
Due: backend, frontend, Laravel Controllers, Laravel Services, Vue Components, Vue Pages

Update deps
  _ide_helper.php
  app/Models/ProgrammeBlock.php
  composer.lock
  package-lock.json
  package.json
  resources/js/Types/models.d.ts
Due: backend, frontend, Laravel Models

Some static fixes
  app/Http/Controllers/Api/Admin/AnalyticsApiController.php
  app/Models/ProgrammeBlock.php
Due: backend, Laravel Controllers, Laravel Models

Cache action changes
  .github/workflows/deploy-staging.yml
  .github/workflows/deploy.yml
Due: none

Add search and web vitals to umami
  docs/changelog/index.md
  docs/en/changelog/index.md
  resources/js/Composables/__tests__/usePublicMultiSearch.test.ts
  resources/js/Composables/usePublicMultiSearch.ts
  resources/js/Composables/useSearchUtils.ts
  resources/views/app.blade.php
  tests/Feature/Public/UmamiTrackerTest.php
Due: frontend, Vue Composables

Testing optimizations
  .github/workflows/ci.yml
  .github/workflows/setup.yml
  app/Jobs/SyncStaleDocumentsJob.php
  app/Providers/TestingServiceProvider.php
  config/app.php
  tests/CLAUDE.md
  tests/Feature/DocumentSyncTest.php
  tests/Unit/DocumentModelTest.php
  tests/Unit/DocumentModelUnitTest.php
Due: backend, Laravel Features

Fix contact grouping for duties
  app/Http/Requests/InstitutionRequest.php
  app/Models/Institution.php
  app/Models/PublicInstitution.php
  app/Services/ContactPresentationService.php
  database/migrations/2026_07_26_213454_remove_contacts_layout_from_institutions_table.php
  lang/en.json
  resources/js/Components/AdminForms/InstitutionForm.vue
  resources/js/Components/DutyUserWizard/Step1InstitutionSelect.vue
  resources/js/Components/Public/ContactWithPhoto.vue
  resources/js/Pages/Admin/People/CreateInstitution.vue
  resources/js/Pages/Public/Contacts/ShowInstitution.vue
  resources/js/Types/models.d.ts
  resources/js/mocks/fixtures/institution.ts
  tests/Feature/Admin/Management/InstitutionControllerTest.php
  tests/Feature/Public/PublicPagesTest.php
  tests/Unit/Services/ContactPresentationServiceTest.php
Due: backend, frontend, Laravel Models, Laravel Services, Laravel Features, Vue Components, Vue Pages

Enhance impersonation styling
  resources/js/Components/ImpersonateBanner.vue
  resources/js/Components/Layouts/AdminLayout.vue
  resources/js/Components/Public/Layouts/PublicLayout.vue
  resources/js/Components/StagingBanner.vue
  resources/js/Components/__tests__/ImpersonateBanner.component.test.ts
  resources/js/Components/__tests__/StagingBanner.component.test.ts
Due: frontend, Vue Components

Fix quick actions
  docs/changelog/index.md
  docs/en/changelog/index.md
  resources/js/Components/__tests__/NavQuickActions.component.test.ts
  resources/js/Composables/useQuickActions.ts
Due: frontend, Vue Components, Vue Composables

Fix phpstan errors
  AGENTS.md
  app/Http/Controllers/Public/PublicPageController.php
  app/Http/Traits/HandlesSoftDeletes.php
  app/Models/Institution.php
  app/Services/AtstovavimasDashboardService.php
  app/Services/ContactPresentationService.php
  app/Services/TanstackTableService.php
Due: backend, Laravel Controllers, Laravel Models, Laravel Services

Refreshen the summer camps and calendar events pages
  app/Http/Controllers/Public/PublicPageController.php
  app/Services/LocationGeocoder.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  lang/en.json
  lang/public/en/summerCamps.php
  lang/public/lt/summerCamps.php
  resources/js/Components/AdminForms/CalendarForm.vue
  resources/js/Components/Calendar/CalendarEventMeta.vue
  resources/js/Components/Calendar/EventActions.vue
  resources/js/Components/Calendar/EventCard.vue
  resources/js/Components/Calendar/EventDetailsCard.vue
  resources/js/Components/Calendar/EventHero.vue
  resources/js/Components/Calendar/EventLocationMap.vue
  resources/js/Components/Calendar/EventTimeline.vue
  resources/js/Components/Calendar/EventTimelineVertical.vue
  resources/js/Components/Calendar/UpcomingEventsCompact.vue
  resources/js/Components/Public/SummerCamps/SummerCampCard.vue
  resources/js/Components/Public/SummerCamps/__tests__/SummerCampCard.component.test.ts
  resources/js/Composables/__tests__/useEventStatus.test.ts
  resources/js/Composables/useEventStatus.ts
  resources/js/Pages/Public/CalendarEvent.vue
  resources/js/Pages/Public/SummerCamps.vue
  resources/js/Utils/IntlTime.ts
  resources/js/Utils/__tests__/IntlTime.test.ts
  resources/js/mocks/i18n.ts
  tests/Feature/Public/CalendarEventPageTest.php
  tests/Feature/Public/SummerCampsPageTest.php
  tests/Unit/Services/LocationGeocoderTest.php
Due: backend, frontend, Laravel Controllers, Laravel Services, Vue Components, Vue Pages, Vue Composables

Update typesense version in CI
  .github/workflows/ci.yml
Due: none

Refine some search experiences
  AGENTS.md
  lang/public/en/search.php
  lang/public/lt/search.php
  package.json
  resources/js/Components/Public/Layouts/PublicLayout.vue
  resources/js/Components/Public/Search/DocumentFacetSidebar.vue
  resources/js/Components/Public/Search/InstitutionFacetSidebar.vue
  resources/js/Components/Public/Search/LanguageFilterList.vue
  resources/js/Components/Public/Search/MeetingFacetSidebar.vue
  resources/js/Components/Public/Search/SearchPageSwitcher.vue
  resources/js/Components/Public/Search/Shared/BaseSearchInput.vue
  resources/js/Components/Public/Search/Shared/BaseSearchInterface.vue
  resources/js/Components/Public/Search/Shared/BaseSearchResults.vue
  resources/js/Components/Public/Search/Shared/FilterAccordionItem.vue
  resources/js/Components/Public/Search/UnifiedResultItem.vue
  resources/js/Components/Shared/Search/CheckboxFilter.vue
  resources/js/Components/Shared/Search/FilterAccordion.vue
  resources/js/Components/Shared/Search/facetIconColors.ts
  resources/js/Components/Shared/Search/index.ts
  resources/js/Composables/__tests__/usePublicMultiSearch.test.ts
  resources/js/Composables/usePublicMultiSearch.ts
  resources/js/Features/Admin/AdminSearch/Components/AdminFacetSidebar.vue
  resources/js/Pages/Public/Search.vue
  resources/js/Pages/Public/__tests__/Search.component.test.ts
Due: frontend, Vue Components, Vue Pages, Vue Composables

Some finalizing fixes for rich content
  app/Services/ContentResolution/Resolvers/EventListResolver.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  resources/css/app.css
  resources/js/Components/ImpersonateBanner.vue
  resources/js/Components/RichContent/Editor/__tests__/blockSummary.test.ts
  resources/js/Components/RichContent/Editor/blockSummary.ts
  resources/js/Components/RichContent/RichContentBlock.vue
  resources/js/Components/RichContent/RichContentCard.vue
  resources/js/Components/RichContent/Types/AccordionEditor.vue
  resources/js/Components/RichContent/Types/CardEditor.vue
  resources/js/Components/RichContent/Types/CarouselSlideDeckEditor.vue
  resources/js/Components/RichContent/__tests__/RichContentBlock.component.test.ts
  resources/js/Components/TipTap/TiptapEditor.vue
  resources/js/Components/TipTap/__tests__/rcProseEditingCss.test.ts
Due: backend, frontend, Laravel Services, Vue Components

Fix duplicating news
  app/Actions/DuplicateNewsAction.php
  tests/Unit/Actions/DuplicateNewsActionTest.php
Due: backend, Laravel Services

Fix data actions delete style
  resources/js/Components/ui/data-table/DataTableActionsColumn.vue
  resources/js/Components/ui/dropdown-menu/DropdownMenuItem.vue
Due: frontend, Vue Components

Permalink validation fixes for news and pages
  app/Http/Controllers/Admin/PageController.php
  app/Http/Controllers/Public/NewsController.php
  app/Http/Requests/StoreNewsRequest.php
  app/Http/Requests/StorePageRequest.php
  app/Http/Requests/UpdateNewsRequest.php
  app/Http/Requests/UpdatePageRequest.php
  database/migrations/2026_07_28_223349_drop_global_unique_index_from_news_permalink.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  lang/en.json
  resources/js/Components/AdminForms/NewsForm.vue
  resources/js/Components/AdminForms/PageForm.vue
  resources/js/Components/AdminForms/PermalinkField.vue
  resources/js/Components/AdminForms/__tests__/NewsForm.component.test.ts
  resources/js/Components/AdminForms/__tests__/PageForm.component.test.ts
  resources/js/Components/AdminForms/__tests__/PermalinkField.component.test.ts
  routes/web.php
  tests/Feature/Admin/Content/NewsControllerTest.php
  tests/Feature/Admin/Content/PageControllerTest.php
  tests/Feature/Public/PublicPagesTest.php
Due: backend, frontend, Laravel Controllers, Laravel Features, Vue Components

Open .url links in ShowDocuments
  app/Console/Commands/SyncDocumentsCommand.php
  app/Helpers/InternetShortcutParser.php
  app/Http/Controllers/Public/DocumentRedirectController.php
  app/Models/Document.php
  app/Services/DocumentSharepointSyncService.php
  app/Services/SharepointGraphService.php
  config/scout.php
  database/migrations/2026_07_28_221836_add_link_url_to_documents_table.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  lang/public/en/search.php
  lang/public/lt/search.php
  resources/js/Components/Public/Search/DocumentCompactListItem.vue
  resources/js/Components/Public/Search/DocumentListItem.vue
  resources/js/Components/Public/Search/UnifiedResultItem.vue
  resources/js/Components/Public/Search/__tests__/DocumentCompactListItem.component.test.ts
  resources/js/Components/Public/Search/__tests__/DocumentListItem.component.test.ts
  resources/js/Composables/__tests__/useDocumentDisplay.test.ts
  resources/js/Composables/useDocumentDisplay.ts
  resources/js/Composables/useSearchUtils.ts
  tests/Feature/DocumentRedirectTest.php
  tests/Feature/DocumentShortcutSyncTest.php
  tests/Feature/DocumentSyncTest.php
  tests/Unit/DocumentModelTest.php
  tests/Unit/DocumentModelUnitTest.php
  tests/Unit/InternetShortcutParserTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Laravel Features, Vue Components, Vue Composables

Fix failing tests
  resources/js/Components/AdminForms/PageForm.vue
  resources/js/Components/AdminForms/__tests__/PermalinkField.component.test.ts
Due: frontend, Vue Components

Styling updates
  resources/css/app.css
  resources/js/Components/Public/News/NewsArticleLayout.vue
  resources/js/Components/RichContent/__tests__/rcProseReadabilityCss.test.ts
  resources/js/Components/TipTap/extensions/presets.ts
  resources/js/Pages/Public/ContentPage.vue
  resources/js/Pages/Public/__tests__/ContentPage.component.test.ts
Due: frontend, Vue Components, Vue Pages

Better section customization options
  lang/admin/en/rich-content.php
  lang/admin/lt/rich-content.php
  resources/js/Components/RichContent/Editor/RCBlockCard.vue
  resources/js/Components/RichContent/Editor/RCSectionOptions.vue
  resources/js/Components/RichContent/Editor/RCSectionOptionsFields.vue
  resources/js/Components/RichContent/Editor/__tests__/RCBlockCard.component.test.ts
  resources/js/Components/RichContent/Editor/__tests__/RCSectionOptions.component.test.ts
  resources/js/Components/RichContent/RCAccordion.vue
  resources/js/Components/RichContent/RCCardStack/CardStackDisplay.vue
  resources/js/Components/RichContent/RCCarouselSlideDeck/CarouselSlideDeckDisplay.vue
  resources/js/Components/RichContent/RCEventList/EventListDisplay.vue
  resources/js/Components/RichContent/RCLinkList/LinkListDisplay.vue
  resources/js/Components/RichContent/RCNumberStatSection/RCNumberSection.vue
  resources/js/Components/RichContent/RCPersonQuote/PersonQuoteDisplay.vue
  resources/js/Components/RichContent/RCPhotoGalleryGrid/PhotoGalleryGridDisplay.vue
  resources/js/Components/RichContent/RCSection.vue
  resources/js/Components/RichContent/RCSection/SectionDisplay.vue
  resources/js/Components/RichContent/Types/ContentGridDisplay.vue
  resources/js/Components/RichContent/Types/index.ts
  resources/js/Components/RichContent/sectionClasses.ts
  resources/js/Components/ui/SectionHeader.vue
  resources/js/Components/ui/__tests__/SectionHeader.component.test.ts
  resources/js/Types/contentParts.ts
Due: frontend, Vue Components

Validate translatable titles in content part options
  app/Http/Requests/Concerns/ValidatesContentParts.php
  tests/Feature/Admin/Content/NewsControllerTest.php
  tests/Feature/Admin/Content/PageControllerTest.php
Due: backend, Laravel Features

Fix (not completely) the document selector in tiptap links
  resources/js/Components/TipTap/TiptapEditor.vue
  resources/js/Components/TipTap/TiptapLinkButton.vue
  resources/js/Components/TipTap/__tests__/TiptapLinkButton.component.test.ts
  resources/js/Features/Admin/AdminSearch/Components/Select/InlineCollectionSelect.vue
  resources/js/Features/Admin/AdminSearch/Components/Select/index.ts
Due: frontend, Vue Components

Properly resolve calendar images in the event display
  app/Services/ContentResolution/Resolvers/EventListResolver.php
  tests/Feature/Services/ContentResolution/ContentPartResolverTest.php
Due: backend, Laravel Services

Disable old routes for obsolete custom pages
  routes/web.php
Due: none

Skip summer camp page tests for now
  tests/Feature/Public/SummerCampsPageTest.php
Due: none

Change the order of calendar page components on mobile
  resources/js/Components/Calendar/EventActions.vue
  resources/js/Components/Calendar/__tests__/EventActions.component.test.ts
  resources/js/Pages/Public/CalendarEvent.vue
  resources/js/Pages/Public/__tests__/CalendarEvent.component.test.ts
Due: frontend, Vue Components, Vue Pages

Place the registration button in the upper position for events
  resources/js/Components/Calendar/EventActions.vue
  resources/js/Components/Calendar/__tests__/EventActions.component.test.ts
  resources/js/Pages/Public/CalendarEvent.vue
  resources/js/Pages/Public/__tests__/CalendarEvent.component.test.ts
Due: frontend, Vue Components, Vue Pages

Update Pest and Laravel Transformer
  .gitignore
  app/Models/News.php
  app/Models/Page.php
  app/Providers/TypeScriptTransformerServiceProvider.php
  app/Support/TypeScript/SpatieEnumTransformer.php
  composer.json
  composer.lock
  config/app.php
  config/typescript-transformer.php
  resources/js/Types/enums.ts
  resources/js/Types/models.d.ts
  tests/Feature/System/TypeScriptTransformCommandTest.php
  tests/Unit/Support/TypeScript/SpatieEnumTransformerTest.php
Due: backend, frontend, Laravel Models

Catch a 500 case for document sync when batches fail
  app/Services/SharepointGraphService.php
  tests/Unit/Services/Sharepoint/SharepointRobustnessTest.php
Due: backend, Laravel Services

Fix problems with managing resources
  app/Http/Controllers/Admin/ResourceController.php
  app/Http/Requests/StoreResourceRequest.php
  app/Http/Requests/UpdateResourceRequest.php
  app/Models/Resource.php
  resources/js/Components/AdminForms/ResourceForm.vue
  resources/js/Components/AdminForms/__tests__/ResourceForm.component.test.ts
  resources/js/Pages/Admin/Reservations/CreateResource.vue
  resources/js/Pages/Admin/Reservations/EditResource.vue
  tests/Feature/Admin/Resources/ResourceControllerTest.php
  tests/Unit/Models/ResourceTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Features, Vue Components, Vue Pages

Update packages
  package-lock.json
  package.json
Due: none
