Repository vu-sa/vusa.lt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Laravel Features, Vue Components, Vue Pages, Vue Composables

.codecov.yml:

codecov:
  require_ci_to_pass: no  # Allow reports even if some CI jobs fail
  notify:
    wait_for_ci: no        # Don't wait for all CI jobs

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project: off
    patch:
      default:
        target: 65%
        threshold: 3%
        if_ci_failed: ignore

component_management:
  individual_components:
    - component_id: laravel_controllers
      name: "Laravel Controllers"
      paths:
        - "app/Http/Controllers/**"
      statuses:
        - type: patch
          target: 70%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: laravel_models
      name: "Laravel Models"
      paths:
        - "app/Models/**"
      statuses:
        - type: patch
          target: 80%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: laravel_services
      name: "Laravel Services"
      paths:
        - "app/Services/**"
        - "app/Actions/**"
      statuses:
        - type: patch
          target: 75%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: laravel_features
      name: "Laravel Features"
      paths:
        - "app/Jobs/**"
        - "app/Console/**"
        - "app/Traits/**"
        - "app/Http/Requests/**"
      statuses:
        - type: patch
          target: 65%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: vue_components
      name: "Vue Components"
      paths:
        - "resources/js/Components/**"
      statuses:
        - type: patch
          target: 60%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: vue_pages
      name: "Vue Pages"
      paths:
        - "resources/js/Pages/**"
      statuses:
        - type: patch
          target: 55%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: vue_composables
      name: "Vue Composables"
      paths:
        - "resources/js/Composables/**"
        - "resources/js/Utils/**"
      statuses:
        - type: patch
          target: 75%
          threshold: 3%
          if_ci_failed: ignore

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no      # Don't require head report for comments
  show_carryforward_flags: true

# Add flags to separate frontend and backend coverage
flags:
  backend:
    paths:
      - "app/"
    carryforward: false
  frontend:
    paths:
      - "resources/js/"
    carryforward: false

Hide "Search" items in sidebar
  resources/js/Components/AppSidebar.vue
Due: frontend, Vue Components

Enhance Command Palette with improved navigation and search result display
  resources/js/Components/CommandPalette/AdminCommandPalette.vue
  resources/js/Components/CommandPalette/CommandPaletteTrigger.vue
  resources/js/Components/CommandPalette/results/DocumentResult.vue
  resources/js/Components/ui/command/CommandGroup.vue
Due: frontend, Vue Components

Implement image fallback for news items and add API tests for image handling
  app/Http/Controllers/Api/NewsController.php
  resources/js/Pages/Admin/Dashboard/Components/NewsListCard.vue
  tests/Feature/Admin/Core/DashboardControllerTest.php
  tests/Feature/Api/NewsApiTest.php
Due: backend, frontend, Laravel Controllers, Vue Pages

Add news and calendar notifications with opt-in preferences
  app/Console/Commands/SendCalendarReminders.php
  app/Console/Commands/SendNewsNotifications.php
  app/Console/Kernel.php
  app/Enums/NotificationCategory.php
  app/Http/Controllers/Admin/DashboardController.php
  app/Models/Traits/HasNotificationPreferences.php
  app/Notifications/BaseNotification.php
  app/Notifications/CalendarReminderNotification.php
  app/Notifications/NewsPublishedNotification.php
  lang/admin/en/notifications.php
  lang/admin/lt/notifications.php
  resources/js/Components/NavMain.vue
  resources/js/Features/Admin/Notifications/NotificationPreferences.vue
  tests/Unit/Models/Traits/HasNotificationPreferencesTest.php
  tests/Unit/Notifications/NewsCalendarNotificationsTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Features, Vue Components

Implement institution subscription management features and related UI updates
  app/Http/Controllers/Admin/InstitutionController.php
  lang/admin/en/visak.php
  lang/admin/lt/visak.php
  resources/js/Components/Sidebar/FollowedInstitutionsHotbar.vue
  resources/js/Composables/__tests__/useApi.test.ts
  resources/js/Composables/useApi.ts
  resources/js/Pages/Admin/Dashboard/Components/InstitutionsOverviewCard.vue
  resources/js/Pages/Admin/Dashboard/Components/ManageSubscriptionsModal.vue
  resources/js/Pages/Admin/Dashboard/Components/PersonalOverviewSection.vue
  resources/js/Pages/Admin/Dashboard/Composables/__tests__/useInstitutionSubscription.test.ts
  resources/js/Pages/Admin/Dashboard/Composables/useInstitutionSubscription.ts
  resources/js/Pages/Admin/Dashboard/ShowAtstovavimas.vue
  resources/js/Pages/Admin/People/ShowInstitution.vue
  tsconfig.json
Due: backend, frontend, Laravel Controllers, Vue Components, Vue Pages, Vue Composables

Fix class attribute formatting in FieldSeparator, Progress, and SheetContent components
  resources/js/Components/ui/field/FieldSeparator.vue
  resources/js/Components/ui/progress/Progress.vue
  resources/js/Components/ui/sheet/SheetContent.vue
Due: frontend, Vue Components

More responsiveness for main elements
  lang/en.json
  lang/lt.json
  resources/js/Components/AgendaItems/AgendaItemCard.vue
  resources/js/Components/AgendaItems/InlineVoteControl.vue
  resources/js/Components/Cards/StatCard.vue
  resources/js/Components/CommandPalette/AdminCommandPalette.vue
  resources/js/Components/Hero/ShowPageHero.vue
  resources/js/Components/Institutions/InstitutionCompactCard.vue
  resources/js/Components/Layouts/AdminLayout.vue
  resources/js/Components/NotificationsIndicator.vue
  resources/js/Components/ui/tabs/TabsList.vue
  resources/js/Composables/useDocumentSearch.ts
  resources/js/Composables/usePWA.ts
  resources/js/Pages/Admin/Dashboard/Components/InstitutionDataTable.vue
  resources/js/Pages/Admin/Dashboard/Components/RelatedInstitutionCard.vue
  resources/js/Pages/Admin/Dashboard/Components/UpcomingMeetingsCard.vue
  resources/js/Pages/Admin/Representation/ShowMeeting.vue
  resources/js/Pages/Admin/ShowAdminHome.vue
  resources/js/Services/DocumentSearchService.ts
  vite.config.mts
Due: frontend, Vue Components, Vue Pages, Vue Composables

Enhance SearchableModelEnum and TypesenseCollectionConfig for improved model handling and add alias tooltip in InstitutionResult component
  app/Enums/SearchableModelEnum.php
  app/Services/Typesense/TypesenseCollectionConfig.php
  resources/js/Components/CommandPalette/results/InstitutionResult.vue
Due: backend, frontend, Laravel Services, Vue Components

Add more repopulation for meeting tasks
  app/Console/Commands/RepopulateTasks.php
  app/Http/Controllers/Admin/InstitutionController.php
  app/Models/Institution.php
  app/Tasks/README.md
  resources/js/Pages/Admin/People/ShowInstitution.vue
  tests/Architecture/TasksArchitectureTest.php
  tests/Feature/Admin/Management/InstitutionControllerTest.php
  tests/Feature/Tasks/Handlers/PeriodicityGapTaskHandlerTest.php
  tests/Feature/Tasks/Subscribers/ApprovalTaskSubscriberTest.php
  tests/Feature/Tasks/Subscribers/InstitutionCheckInTaskSubscriberTest.php
  tests/Feature/Tasks/Subscribers/MeetingTaskSubscriberTest.php
  tests/Feature/Tasks/Subscribers/ReservationTaskSubscriberTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Features, Vue Pages

Enhance notifications and task handling to include user context for agenda completion and auto-completion events
  app/Notifications/MeetingAgendaCompletedNotification.php
  app/Notifications/TaskAutoCompletedNotification.php
  app/Tasks/DTOs/CreateTaskData.php
  app/Tasks/Handlers/AgendaCompletionTaskHandler.php
  app/Tasks/Handlers/AgendaCreationTaskHandler.php
  app/Tasks/Handlers/BaseTaskHandler.php
  app/Tasks/Subscribers/MeetingTaskSubscriber.php
  lang/admin/en/notifications.php
  lang/admin/en/tasks.php
  lang/admin/lt/notifications.php
  lang/admin/lt/tasks.php
Due: backend

Update the styling of the MeetingsGantt
  app/Services/ResourceServices/DutyService.php
  resources/js/Components/Graphs/GanttLegendModal.vue
  resources/js/Components/Graphs/MeetingsGantt.vue
  resources/js/Components/Graphs/ganttColors.ts
  resources/js/Components/Graphs/renderers/renderGaps.ts
  resources/js/Components/Graphs/renderers/renderMeetings.ts
  resources/js/Components/Graphs/renderers/renderVacations.ts
  resources/js/Components/Graphs/renderers/setupDefs.ts
  resources/js/Pages/Admin/Dashboard/Composables/useAtstovavimasData.ts
  resources/js/Pages/Admin/Dashboard/Composables/useGanttChartData.ts
  resources/js/Pages/Admin/Dashboard/types.ts
  resources/js/Pages/Admin/Dashboard/utils/ganttHelpers.ts
Due: backend, frontend, Laravel Services, Vue Components, Vue Pages

Implement short URL functionality for documents
  app/Helpers/ShortUrlHelper.php
  app/Http/Controllers/Public/DocumentRedirectController.php
  app/Http/Middleware/SetLocale.php
  app/Models/Document.php
  app/Models/Institution.php
  app/Models/PublicInstitution.php
  app/Models/User.php
  composer.json
  composer.lock
  config/scout.php
  lang/en.json
  lang/lt.json
  resources/js/Components/Public/Search/DocumentListItem.vue
  resources/js/Composables/useDocumentDisplay.ts
  resources/js/Types/enums.ts
  resources/js/Types/models.d.ts
  routes/web.php
  tests/Feature/DocumentRedirectTest.php
  tests/Unit/ShortUrlHelperTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Vue Components, Vue Composables

Most important document types and copyable URLs with filters
  app/Http/Controllers/Admin/SettingsController.php
  app/Http/Controllers/Public/DocumentController.php
  app/Http/Requests/UpdateDocumentSettingsRequest.php
  app/Settings/DocumentSettings.php
  database/settings/2026_01_20_000000_create_document_settings.php
  lang/admin/en/settings.php
  lang/admin/lt/settings.php
  lang/public/en/search.php
  lang/public/lt/search.php
  resources/js/Components/Public/Search/ContentTypeFilter.vue
  resources/js/Components/Public/Search/DocumentFacetSidebar.vue
  resources/js/Components/Public/Search/DocumentSearchInterface.vue
  resources/js/Composables/useDocumentSearch.ts
  resources/js/Pages/Admin/Settings/EditDocumentSettings.vue
  resources/js/Pages/Admin/Settings/IndexSettings.vue
  resources/js/Pages/Public/ShowDocuments.vue
  routes/admin.php
Due: backend, frontend, Laravel Controllers, Laravel Features, Vue Components, Vue Pages, Vue Composables

Fix some CodeQL errors
  resources/js/Composables/useProductTour.ts
  resources/js/Features/Admin/AdminSearch/Services/AdminSearchService.ts
  resources/js/Features/Admin/AdminSearch/Services/__tests__/AdminSearchService.test.ts
  resources/js/Pages/Admin/Search/SearchAgendaItems.vue
  resources/js/Pages/Admin/Search/SearchInstitutions.vue
  resources/js/Pages/Admin/Search/SearchMeetings.vue
  resources/js/Pages/Admin/Search/SearchResources.vue
  resources/js/Shared/Search/__tests__/SearchClientFactory.test.ts
  resources/js/Shared/Search/services/SearchClientFactory.ts
Due: frontend, Vue Pages, Vue Composables

Add EditorConfig for consistent coding styles, update ESLint configuration, and enhance package dependencies
  .editorconfig
  eslint.config.mjs
  package-lock.json
  package.json
  resources/js/Composables/useProductTour.ts
Due: frontend, Vue Composables

Remove deprecated latinize package
  eslint.config.mjs
  package-lock.json
  package.json
  resources/js/Components/AdminForms/CalendarForm.vue
  resources/js/Components/AdminForms/NewsForm.vue
  resources/js/Components/AdminForms/PageForm.vue
  resources/js/Components/TipTap/ModernTipTap.vue
  resources/js/Components/TipTap/OriginalTipTap.vue
  resources/js/Utils/Route.ts
  resources/js/Utils/String.ts
  resources/js/Utils/__tests__/String.test.ts
Due: frontend, Vue Components, Vue Composables

Add JS quality checks for TypeScript and ESLint in CI workflow; remove unused NewsImage cast
  .github/workflows/ci.yml
  app/Casts/NewsImage.php
  eslint.config.mjs
  tests/setup.ts
  tsconfig.json
  vite.config.mts
  vitest.config.ts
Due: backend

Fix tests up to 21 failing
  .github/workflows/ci.yml
  app/Http/Controllers/Admin/PageController.php
  app/Listeners/NotifyUsersOfComment.php
  app/Models/FileableFile.php
  app/Models/Traits/HasComments.php
  app/Observers/UserPermissionObserver.php
  package.json
  tests/CLAUDE.md
  tests/Feature/Notifications/MutingBehaviorTest.php
  tests/Feature/Notifications/NotificationCountTest.php
  tests/Feature/Notifications/NotificationFiringTest.php
  tests/Feature/Notifications/NotificationTestHelpers.php
  tests/Feature/Tasks/Subscribers/MeetingTaskSubscriberTest.php
  tests/README.md
  tests/Unit/Models/FileableFileTest.php
Due: backend, Laravel Controllers, Laravel Models

Fix PHP pest tests (or skipped for now)
  resources/views/emails/comment-posted.blade.php
  tests/Feature/Admin/Resources/ReservationControllerTest.php
  tests/Feature/Resources/ResourceReservationTest.php
  tests/Feature/Services/TypesenseScopedKeyServiceTest.php
  tests/Feature/System/ApiEndpointsTest.php
  tests/Feature/System/IntegrationTest.php
  tests/Feature/System/TenantDataIsolationTest.php
Due: none

Add Codecov integration for bundle analysis and update CI configuration
  .codecov.yml
  .github/workflows/ci.yml
  .github/workflows/setup.yml
  package-lock.json
  package.json
  vite.config.mts
Due: none

Add BROADCAST_CONNECTION environment variable and clean up tsconfig types
  .github/workflows/ci.yml
  eslint.config.mjs
  phpunit.xml
  vite.config.mts
Due: none

Use enum for meeting types instead of a morph
  .github/workflows/ci.yml
  app/Enums/MeetingType.php
  app/Http/Controllers/Admin/MeetingController.php
  app/Http/Requests/StoreMeetingRequest.php
  app/Models/Meeting.php
  app/Models/PublicMeeting.php
  app/Models/Type.php
  app/Services/RelationshipService.php
  app/Services/ResourceServices/DutyService.php
  database/migrations/2026_01_21_224626_add_type_column_to_meetings_table.php
  database/seeders/TypeSeeder.php
  resources/js/Components/AdminForms/MeetingDetailsForm.vue
  resources/js/Components/AdminForms/MeetingForm.vue
  resources/js/Components/Dialogs/NewMeetingDialog.vue
  resources/js/Components/Graphs/renderers/renderMeetings.ts
  resources/js/Components/Meetings/MeetingCreationWizard.vue
  resources/js/Composables/useMeetingCreation.ts
  resources/js/Composables/useMeetingForm.ts
  resources/js/Pages/Admin/Dashboard/Composables/useAtstovavimasData.ts
  resources/js/Pages/Admin/Dashboard/Composables/useGanttChartData.ts
  resources/js/Pages/Admin/Dashboard/utils/ganttHelpers.ts
  resources/js/Pages/Admin/Representation/ShowMeeting.vue
  resources/js/Types/MeetingType.ts
  resources/js/Types/enums.ts
  resources/js/Types/models.d.ts
  tests/Feature/Admin/Calendar/AgendaItemControllerTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Laravel Features, Vue Components, Vue Pages, Vue Composables

Refactor tiptap components and remove gsap
  package-lock.json
  package.json
  resources/js/Components/AdminForms/BannerForm.vue
  resources/js/Components/AdminForms/CalendarForm.vue
  resources/js/Components/AdminForms/DutiableForm.vue
  resources/js/Components/AdminForms/DutyForm.vue
  resources/js/Components/AdminForms/FormForm.vue
  resources/js/Components/AdminForms/InstitutionForm.vue
  resources/js/Components/AdminForms/NewsForm.vue
  resources/js/Components/AdminForms/TrainingCreateForm.vue
  resources/js/Components/AdminForms/TrainingUpdateForm.vue
  resources/js/Components/AdminForms/TypeForm.vue
  resources/js/Components/AdminForms/UserForm.vue
  resources/js/Components/Buttons/UploadImageWithCropper.vue
  resources/js/Components/FormItems/MultiLocaleTiptapFormItem.vue
  resources/js/Components/RichContent/RCHeroSection/HeroForm.vue
  resources/js/Components/RichContent/RCNumberStatSection/RCNumberCounter.vue
  resources/js/Components/RichContent/Types/AccordionEditor.vue
  resources/js/Components/RichContent/Types/CardEditor.vue
  resources/js/Components/RichContent/Types/ContentGridEditor.vue
  resources/js/Components/RichContent/Types/TiptapEditor.vue
  resources/js/Components/RichContentTiptapHTML.vue
  resources/js/Components/TipTap/CompactTiptap.vue
  resources/js/Components/TipTap/OriginalTipTap.vue
  resources/js/Components/TipTap/TiptapEditor.vue
  resources/js/Components/TipTap/composables/index.ts
  resources/js/Components/TipTap/composables/useTiptapEditor.ts
  resources/js/Components/TipTap/composables/useTiptapFileUpload.ts
  resources/js/Components/TipTap/composables/useTiptapImageControls.ts
  resources/js/Components/TipTap/extensions/presets.ts
  resources/js/Components/TipTap/index.ts
  resources/js/Components/TipTap/tiptap-base.css
  resources/js/Components/Transitions/StaggeredTransitionGroup.vue
  resources/js/Components/VCropper.vue
  resources/js/Features/Admin/CommentViewer/CommentTipTap.vue
  resources/js/Pages/Admin/ShowUserSettings.vue
  resources/js/Pages/Admin/SystemStatus.vue
  tests/Feature/Admin/Resources/FilesControllerTest.php
Due: frontend, Vue Components, Vue Pages

Replace lodash debounce with useDebounceFn from @vueuse/core for improved tree-shaking
  eslint.config.mjs
  resources/js/Components/Tables/ServerDataTable.vue
  resources/js/Components/Tables/SimpleServerTable.vue
Due: frontend, Vue Components

Parse Tiptap content from server
  app/Models/ContentPart.php
  app/Tiptap/TipTapListItem.php
  app/Tiptap/TiptapEditor.php
  app/Tiptap/Video.php
  app/Tiptap/Youtube.php
  resources/js/Components/RichContent/Types/TiptapDisplay.vue
  tests/Unit/Tiptap/TiptapEditorTest.php
Due: backend, frontend, Laravel Models, Vue Components

Refactor components to utilize prefetched data for improved performance; optimize margin
  app/Collections/NewsCollection.php
  app/Http/Controllers/Api/NewsController.php
  app/Http/Controllers/Public/PublicPageController.php
  app/Models/News.php
  resources/js/Components/Public/FullWidth/EventCalendarElement.vue
  resources/js/Components/Public/Layouts/MainNavigation.vue
  resources/js/Components/Public/Layouts/PublicLayout.vue
  resources/js/Components/Public/NewsElement.vue
  resources/js/Components/RichContentParser.vue
  resources/js/Composables/useSecondMenu.ts
  resources/js/Pages/Public/HomePage.vue
  resources/js/Services/ContentService.ts
  resources/js/Types/contentParts.ts
Due: backend, frontend, Laravel Controllers, Laravel Models, Vue Components, Vue Pages, Vue Composables

Adjust breadcrumb and layout styles
  resources/js/Components/AdminBreadcrumbs.vue
  resources/js/Components/CommandPalette/CommandPaletteTrigger.vue
  resources/js/Components/Layouts/AdminLayout.vue
Due: frontend, Vue Components

Add meeting_periodicity_days validation to institution requests and tests
  app/Http/Requests/StoreInstitutionRequest.php
  app/Http/Requests/UpdateInstitutionRequest.php
  app/Services/ResourceServices/DutyService.php
  tests/Feature/Admin/Core/DashboardControllerTest.php
  tests/Feature/Admin/Management/InstitutionControllerTest.php
Due: backend, Laravel Services, Laravel Features

Meeting creation fixes (from Gantt and inside the dialog)
  lang/en.json
  lang/lt.json
  resources/js/Components/AdminForms/MeetingForm.vue
  resources/js/Components/AdminForms/MeetingReviewForm.vue
  resources/js/Components/AdminForms/Special/InstitutionSelectorForm.vue
  resources/js/Components/Graphs/MeetingsGantt.vue
  resources/js/Components/Graphs/renderers/renderGaps.ts
  resources/js/Components/Graphs/renderers/renderHoverEffects.ts
  resources/js/Components/Meetings/MeetingCreationWizard.vue
  resources/js/Composables/useMeetingCreation.ts
  resources/js/Composables/useMeetingForm.ts
  resources/js/Pages/Admin/Dashboard/Components/TenantTimelineSection.vue
  resources/js/Pages/Admin/Dashboard/Components/TimelineGanttChart.vue
  resources/js/Pages/Admin/Dashboard/Composables/useAtstovavimasActions.ts
Due: frontend, Vue Components, Vue Pages, Vue Composables

Enchance task management with more action buttons
  app/Http/Controllers/Admin/DashboardController.php
  app/Http/Controllers/Admin/TaskController.php
  lang/admin/en/tasks.php
  lang/admin/lt/tasks.php
  resources/js/Components/AdminForms/Special/AgendaItemsForm.vue
  resources/js/Features/Admin/TaskManager/TaskCard.vue
  resources/js/Features/Admin/TaskManager/TaskManager.vue
  resources/js/Features/Admin/TaskManager/TaskTable.vue
  resources/js/Pages/Admin/Representation/ShowMeeting.vue
  resources/js/Pages/Admin/ShowTasks.vue
  resources/js/Pages/Admin/ShowTasksSummary.vue
Due: backend, frontend, Laravel Controllers, Vue Components, Vue Pages

Update agenda items relationship to include 'brought_by_students' and votes details
  app/Services/RelationshipService.php
  app/Services/ResourceServices/DutyService.php
Due: backend, Laravel Services

Add consensus voting feature with related updates across models, requests, and UI components
  app/Enums/VoteValue.php
  app/Http/Controllers/Admin/AgendaItemController.php
  app/Http/Requests/UpdateAgendaItemRequest.php
  app/Models/Pivots/AgendaItem.php
  app/Models/Vote.php
  database/factories/VoteFactory.php
  database/migrations/2026_01_28_122320_add_is_consensus_to_votes_table.php
  lang/en.json
  lang/lt.json
  resources/js/Components/AgendaItems/InlineAgendaItemCard.vue
  resources/js/Components/AgendaItems/VoteSelectionBadge.vue
  resources/js/Composables/useAgendaItemStyling.ts
  resources/js/Types/models.d.ts
  tests/Feature/VoteControllerTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Features, Vue Components, Vue Composables

Update deps
  _ide_helper.php
  composer.json
  composer.lock
  package-lock.json
  package.json
  resources/js/Types/models.d.ts
Due: frontend

Enhance SEO handling and tenant subdomain management
  app/Http/Controllers/Public/ContactController.php
  app/Http/Controllers/Public/DocumentController.php
  app/Http/Controllers/Public/MeetingController.php
  app/Http/Controllers/Public/NewsController.php
  app/Http/Controllers/Public/PublicPageController.php
  app/Http/Controllers/PublicController.php
  resources/views/app.blade.php
  tests/Feature/Public/PublicControllerSeoTest.php
  tests/Unit/Http/PublicControllerHelpersTest.php
Due: backend, Laravel Controllers

Theme support for spotify element
  resources/js/Components/RichContent/RCSpotifyEmbed.vue
Due: frontend, Vue Components

Add rep activity for student rep admins
  app/Http/Controllers/Admin/DashboardController.php
  app/Services/ResourceServices/DutyService.php
  lang/admin/en/visak.php
  lang/admin/lt/visak.php
  lang/en.json
  lang/lt.json
  resources/js/Components/Graphs/MeetingsGantt.vue
  resources/js/Components/Graphs/renderers/GanttTooltip.ts
  resources/js/Components/Graphs/renderers/renderDutyMembers.ts
  resources/js/Components/ui/avatar/AvatarImage.vue
  resources/js/Pages/Admin/Dashboard/Components/FullscreenGanttModal.vue
  resources/js/Pages/Admin/Dashboard/Components/GanttFilterDropdown.vue
  resources/js/Pages/Admin/Dashboard/Components/RepresentativeActivitySection.vue
  resources/js/Pages/Admin/Dashboard/Components/RepresentativeDataTable.vue
  resources/js/Pages/Admin/Dashboard/Components/RepresentativeStatsCard.vue
  resources/js/Pages/Admin/Dashboard/Components/RepresentativeUserRow.vue
  resources/js/Pages/Admin/Dashboard/Components/RepresentativeUsersCard.vue
  resources/js/Pages/Admin/Dashboard/Components/TenantTimelineSection.vue
  resources/js/Pages/Admin/Dashboard/Components/TimelineGanttChart.vue
  resources/js/Pages/Admin/Dashboard/Composables/useActivityStatus.ts
  resources/js/Pages/Admin/Dashboard/Composables/useTimelineFilters.ts
  resources/js/Pages/Admin/Dashboard/ShowAtstovavimas.vue
  resources/js/Pages/Admin/Dashboard/types.ts
Due: backend, frontend, Laravel Controllers, Laravel Services, Vue Components, Vue Pages
