Repository vu-sa/vusa.lt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Laravel Features, Vue Components, Vue Pages, Vue Composables

Simplify DutyController
  app/Actions/Dutiables/ApplyDutiableTimelineChanges.php
  app/Actions/UpdateDuty.php
  app/Http/Controllers/Admin/DutyController.php
  app/Http/Requests/UpdateDutyRequest.php
  app/Services/DutyAssignmentService.php
  docs/organizacija/pareigybes.md
  tests/Feature/Admin/Management/DutyControllerTest.php
  tests/Feature/Duties/DutyAssignmentServiceTest.php
  tests/Feature/Duties/UpdateDutyTest.php
  tests/Feature/Permissions/DutySelfLockoutTest.php
  tests/README.md
Due: backend, Laravel Controllers, Laravel Services, Laravel Features

Update some language used in the docs
  docs/darbai.md
  docs/ivadas.md
  docs/pagrindai/padaliniai-ir-pareigybes.md
Due: none

Make the file usage check find every real reference
  .ai/rules/services.md
  app/Services/FileUsage/FileReferenceMatcher.php
  app/Services/FileUsageScanner.php
  docs/changelog/v3.md
  docs/en/changelog/v3.md
  docs/svetaine/failai.md
  lang/admin/en/files.php
  lang/admin/lt/files.php
  resources/js/Features/Admin/FileManager/Components/FilePropertiesDrawer.vue
  resources/js/Features/Admin/FileManager/__tests__/FilePropertiesDrawer.component.test.ts
  tests/Feature/Admin/Resources/FilesControllerTest.php
  tests/Feature/Services/FileUsageScannerTest.php
  tests/Unit/Services/FileReferenceMatcherTest.php
Due: backend, frontend, Laravel Services

Add recommended documents
  app/Console/Commands/ApplyTypesenseSearchConfigCommand.php
  app/Http/Controllers/Admin/SettingsController.php
  app/Http/Controllers/Api/DocumentController.php
  app/Http/Controllers/Public/DocumentController.php
  app/Http/Requests/DocumentRecommendationSearchRequest.php
  app/Http/Requests/UpdateDocumentSettingsRequest.php
  app/Services/Typesense/DocumentRecommendations.php
  app/Services/Typesense/SearchProfiles.php
  app/Settings/DocumentSettings.php
  database/settings/2026_10_04_000000_add_document_recommendations.php
  docs/changelog/v3.md
  docs/en/changelog/v3.md
  docs/pagrindai/platforma.md
  docs/sistema/nustatymai.md
  docs/visak/dokumentai.md
  lang/admin/en/settings.php
  lang/admin/lt/settings.php
  lang/public/en/search.php
  lang/public/lt/search.php
  resources/js/Components/Public/Search/DocumentCompactListItem.vue
  resources/js/Components/Public/Search/DocumentListItem.vue
  resources/js/Components/Public/Search/__tests__/DocumentCompactListItem.component.test.ts
  resources/js/Components/Public/Search/__tests__/DocumentListItem.component.test.ts
  resources/js/Composables/__tests__/useDocumentSearch.test.ts
  resources/js/Composables/useDocumentDisplay.ts
  resources/js/Composables/useDocumentSearch.ts
  resources/js/Pages/Admin/Settings/EditDocumentSettings.vue
  resources/js/Pages/Admin/Settings/__tests__/EditDocumentSettings.component.test.ts
  resources/js/Pages/Public/ShowDocuments.vue
  resources/js/Services/DocumentSearchService.ts
  resources/js/Services/__tests__/DocumentSearchService.test.ts
  resources/js/Shared/Search/__tests__/SearchExperience.test.ts
  resources/js/Shared/Search/matches.ts
  resources/js/Shared/Search/profiles.ts
  resources/js/Shared/Search/services/SearchClientFactory.ts
  resources/js/Types/DocumentSearchTypes.ts
  routes/api.php
  tests/Browser/SearchExperienceTest.php
  tests/Feature/Admin/Core/DocumentSettingsTest.php
  tests/Feature/Search/SearchExperienceTest.php
Due: backend, frontend, Laravel Controllers, Laravel Services, Laravel Features, Vue Components, Vue Pages, Vue Composables

Fix tests not passing CI
  database/migrations/2026_10_03_184230_create_institution_activity_requests_table.php
  tests/Feature/Admin/Forms/FormControllerTest.php
  tests/Feature/Search/SearchExperienceTest.php
Due: none

Better calendar button responses
  resources/js/Components/Reservations/__tests__/ReservationCart.component.test.ts
  resources/js/Components/Reservations/useReservationCart.ts
  resources/js/Components/ui/calendar/Calendar.vue
  resources/js/Components/ui/calendar/__tests__/Calendar.component.test.ts
  resources/js/Utils/__tests__/viewTransition.test.ts
  resources/js/Utils/viewTransition.ts
  resources/js/admin.ts
Due: frontend, Vue Components, Vue Composables

Add a bit of animation to mobile UI
  resources/css/theme/design-tokens.css
  resources/js/Components/Layouts/Shell/MobileBottomBar.vue
  resources/js/Components/Layouts/Shell/MobileMenuPanel.vue
  resources/js/Components/Layouts/Shell/TaskCountBadge.vue
  resources/js/Components/Layouts/Shell/__tests__/MobileBottomBar.component.test.ts
  resources/js/mocks/inertia.mock.ts
Due: frontend, Vue Components

Fix the storybook test
  resources/js/mocks/inertia.storybook.ts
Due: frontend

Updates to changelog
  .ai/rules/changelog.md
  .ai/rules/docs.md
  .ai/rules/lang.md
  AGENTS.md
  docs/.vitepress/appLinks.ts
  docs/.vitepress/config.ts
  docs/.vitepress/en.ts
  docs/.vitepress/theme/__tests__/appLinks.component.test.ts
  docs/.vitepress/theme/style.css
  docs/changelog/v3.md
  docs/en/changelog/v3.md
  docs/pdf/markdown.ts
  lang/admin/en/shell.php
  lang/admin/lt/shell.php
  lang/en.json
  lang/lt.json
  resources/js/Components/StagingBanner.vue
  resources/js/Components/__tests__/StagingBanner.component.test.ts
  resources/js/Composables/__tests__/usePublicStagingToast.test.ts
  resources/js/Composables/usePublicStagingToast.ts
Due: frontend, Vue Components, Vue Composables

Some docs changes
  docs/changelog/v3.md
  docs/en/changelog/v3.md
  docs/ivadas.md
  docs/pdf/build-release.ts
  docs/pdf/release.typ
Due: none

Add involved people to support requests and fix @mentions
  app/Http/Controllers/Admin/MySupportRequestController.php
  app/Http/Controllers/Admin/SupportRequestController.php
  app/Http/Requests/StoreSupportRequestRequest.php
  app/Http/Requests/SyncSupportRequestInvolvedUsersRequest.php
  app/Models/SupportRequest.php
  app/Policies/SupportRequestPolicy.php
  app/Services/CommentableMentionResolver.php
  database/migrations/2026_10_06_192745_create_support_request_user_table.php
  lang/en.json
  resources/js/Components/SupportRequests/InvolvedUsersPicker.vue
  resources/js/Components/SupportRequests/SupportRequestForm.vue
  resources/js/Pages/Admin/SupportRequests/CreateSupportRequest.vue
  resources/js/Pages/Admin/SupportRequests/ShowSupportRequest.vue
  resources/js/Types/supportRequests.ts
  routes/admin.php
  tests/Feature/Admin/Discussions/CommentApiTest.php
  tests/Feature/Admin/SupportRequests/MySupportRequestControllerTest.php
  tests/Feature/Admin/SupportRequests/SupportRequestControllerTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Laravel Features, Vue Components, Vue Pages

Notify super admins of new support requests and show visibility
  app/Enums/NotificationType.php
  app/Http/Controllers/Admin/MySupportRequestController.php
  app/Http/Controllers/Admin/SupportRequestController.php
  app/Models/SupportRequest.php
  app/Notifications/SupportRequestAssignedNotification.php
  app/Notifications/SupportRequestCreatedNotification.php
  app/Notifications/SupportRequestInvolvedNotification.php
  app/Notifications/SupportRequestStatusChangedNotification.php
  app/Services/Notifications/NotificationAudience.php
  docs/sistema/pagalbos-uzklausos.md
  lang/admin/en/notifications.php
  lang/admin/lt/notifications.php
  resources/js/Components/SupportRequests/visibility.ts
  resources/js/Pages/Admin/Dashboard/ShowSupportRequests.vue
  resources/js/Pages/Admin/Dashboard/__tests__/ShowSupportRequests.component.test.ts
  resources/js/Pages/Admin/SupportRequests/ShowSupportRequest.vue
  resources/js/Types/enums.ts
  tests/Feature/Admin/SupportRequests/MySupportRequestControllerTest.php
  tests/Feature/Admin/SupportRequests/SupportRequestControllerTest.php
  tests/Feature/Notifications/NotificationSettingsTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Vue Components, Vue Pages

Refresh support request mentionables when its people change
  resources/js/Components/Discussions/DiscussionPanel.vue
  resources/js/Components/Discussions/__tests__/DiscussionPanel.component.test.ts
  resources/js/Composables/useDiscussionThread.ts
  resources/js/Pages/Admin/SupportRequests/ShowSupportRequest.vue
Due: frontend, Vue Components, Vue Pages, Vue Composables

Refresh reservation mentionables when its users change
  resources/js/Features/Admin/ActivityLogViewer/RecordActivity.vue
  resources/js/Features/Admin/ActivityLogViewer/__tests__/RecordActivity.component.test.ts
  resources/js/Pages/Admin/Reservations/ShowReservation.vue
Due: frontend, Vue Pages

Stop emailing every duty mailbox a commenter's audience ever held
  app/Listeners/NotifyUsersOfComment.php
  tests/Feature/Notifications/CommentNotificationTest.php
Due: backend

Add flow diagrams about the application
  docs/.vitepress/en.ts
  docs/.vitepress/lt.ts
  docs/.vitepress/structure.ts
  docs/.vitepress/theme/ArchitectureFlow.vue
  docs/.vitepress/theme/__tests__/ArchitectureFlow.component.test.ts
  docs/.vitepress/theme/__tests__/FlowStepNode.component.test.ts
  docs/.vitepress/theme/__tests__/architectureFlows.test.ts
  docs/.vitepress/theme/architecture/FlowCanvas.vue
  docs/.vitepress/theme/architecture/FlowStepNode.vue
  docs/.vitepress/theme/architecture/flows.ts
  docs/.vitepress/theme/index.ts
  docs/en/developers/example-calendar-event.md
  docs/en/developers/index.md
  docs/en/developers/request-lifecycle.md
  docs/kurejams/index.md
  docs/kurejams/pavyzdys-renginys.md
  docs/kurejams/uzklausos-kelias.md
  vitest.config.ts
Due: none

Update deps
  _ide_helper.php
  app/Http/Controllers/Admin/FilesController.php
  app/Http/Controllers/Api/Admin/ContentEditorDraftApiController.php
  app/Http/Requests/TypeAttributesRequest.php
  app/Models/Document.php
  composer.lock
  package-lock.json
  resources/js/Types/models.d.ts
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Features

Remove the InstitutionFollowMute
  .ai/rules/subscribers.md
  app/Actions/GetFollowedInstitutions.php
  app/Actions/GetInstitutionFollowersToNotify.php
  app/Actions/ResolveMeetingNotificationAudience.php
  app/Http/Controllers/Admin/InstitutionController.php
  app/Http/Controllers/Api/Admin/InstitutionSubscriptionApiController.php
  app/Models/InstitutionNotificationMute.php
  app/Models/User.php
  app/Services/InstitutionSubscriptionService.php
  app/Support/MorphMap.php
  database/migrations/2026_10_07_170600_remove_institution_notification_mutes_table.php
  docs/visak/institucijos.md
  docs/visak/posedziai.md
  lang/admin/en/notifications.php
  lang/admin/en/visak.php
  lang/admin/lt/notifications.php
  lang/admin/lt/visak.php
  resources/js/Components/Home/FollowedInstitutionsList.vue
  resources/js/Components/Home/__tests__/HomeSections.component.test.ts
  resources/js/Components/Home/types.ts
  resources/js/Composables/__tests__/useApi.test.ts
  resources/js/Composables/__tests__/useInstitutionSubscription.test.ts
  resources/js/Composables/useInstitutionSubscription.ts
  resources/js/Pages/Admin/Dashboard/__tests__/ShowAtstovavimas.component.test.ts
  resources/js/Pages/Admin/People/IndexInstitution.vue
  resources/js/Pages/Admin/People/ShowInstitution.vue
  resources/js/Pages/Admin/People/__tests__/ShowInstitution.component.test.ts
  resources/js/Types/models.d.ts
  resources/js/mocks/fixtures/user.ts
  routes/api.php
  tests/Feature/InstitutionSubscriptionTest.php
  tests/Feature/Migrations/RemoveInstitutionNotificationMutesTest.php
  tests/Feature/System/RouteAuthorizationCoverageTest.php
  tests/Feature/Tasks/Subscribers/MeetingTaskSubscriberTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Vue Components, Vue Pages, Vue Composables

Consolidate file managing logic
  app/Http/Controllers/Admin/FilesController.php
  app/Http/Controllers/Api/Admin/FileApiController.php
  app/Http/Middleware/StagingReadOnlyMode.php
  app/Http/Requests/Files/FilePathRequest.php
  app/Http/Requests/Files/IndexFilesRequest.php
  app/Http/Requests/Files/ThumbnailFileRequest.php
  app/Http/Requests/Files/UploadImageRequest.php
  app/Http/Requests/StoreFilesRequest.php
  app/Services/FileStorageService.php
  app/Services/FileUploadWriter.php
  app/Services/ImageUploadService.php
  docs/svetaine/failai.md
  lang/admin/en/files.php
  lang/admin/lt/files.php
  routes/admin.php
  tests/Feature/Admin/Resources/FilesControllerTest.php
  tests/Feature/Api/Admin/FileApiControllerTest.php
  tests/Feature/Services/FileStorageServiceTest.php
  tests/Feature/Services/FileUploadWriterTest.php
  tests/Feature/StagingIsolationTest.php
Due: backend, Laravel Controllers, Laravel Services, Laravel Features

Update docs and some rule paths
  app/Actions/BuildUserIndexQuery.php
  app/Http/Controllers/Admin/InstitutionSecretaryController.php
  docs/svetaine/baneriai.md
  docs/svetaine/greitosios-nuorodos.md
  docs/svetaine/kalendorius.md
  docs/svetaine/naujienos.md
  docs/svetaine/puslapiai.md
  docs/svetaine/renginiu-tipai.md
  docs/svetaine/studiju-rinkiniai.md
  docs/visak/instituciju-grafas.md
  resources/js/Components/Graphs/InstitutionGraph.vue
  resources/js/Components/ui/calendar/Calendar.vue
  resources/js/Components/ui/range-calendar/RangeCalendar.vue
Due: backend, frontend, Laravel Controllers, Laravel Services, Vue Components

Add staging notes and sent some emails even when in staging
  .ai/rules/audiences.md
  .ai/rules/index.md
  .ai/rules/staging.md
  app/Http/Middleware/StagingEnvironmentWarnings.php
  app/Listeners/BlockExternalNotificationsOnStaging.php
  app/Notifications/Contracts/SendsMailOnStaging.php
  app/Notifications/InstitutionActivityNotification.php
  app/Services/NotificationRouter.php
  lang/admin/en/staging.php
  lang/admin/lt/staging.php
  lang/en.json
  lang/lt.json
  resources/js/Components/ActionWindow/__tests__/ActivityRequestScreens.component.test.ts
  resources/js/Components/ActionWindow/screens/ActivityRequestReviewScreen.vue
  resources/js/Components/Files/FileableFilesPanel.vue
  resources/js/Components/StagingBanner.vue
  resources/js/Components/StagingNote.vue
  resources/js/Components/__tests__/StagingBanner.component.test.ts
  resources/js/Components/__tests__/StagingNote.component.test.ts
  resources/js/Composables/useStaging.ts
  resources/js/Pages/Admin/Files/Index.vue
  tests/Feature/Admin/Management/InstitutionActivityRequestControllerTest.php
  tests/Feature/StagingIsolationTest.php
Due: backend, frontend, Laravel Services, Vue Components, Vue Pages, Vue Composables

Trim verbose comments
  app/Services/ActivityChangeFormatter.php
  app/Services/ActivityRootResolver.php
  app/Services/AtstovavimasDashboardService.php
  app/Services/ContentResolution/Resolvers/EventListResolver.php
  app/Services/ContentResolution/Resolvers/LinkListResolver.php
  app/Services/ContentService.php
  app/Services/FileUsage/FileReferenceMatcher.php
  app/Services/HtmlSanitizerService.php
  app/Services/ModelAuthorizer.php
  app/Services/Permissions/AccessChangeAnalyzer.php
  app/Services/ResourceServices/UserDutyService.php
  app/Services/SharepointGraphService.php
Due: backend, Laravel Services

Fix some tests; lint files
  app/Http/Controllers/Admin/DashboardController.php
  app/Http/Controllers/Api/Admin/ActionWindowApiController.php
  app/Http/Controllers/Api/Admin/ContentEditorDraftApiController.php
  app/Settings/FormSettings.php
  composer.lock
  lang/admin/en/messages.php
  lang/admin/lt/messages.php
  resources/js/Components/Layouts/Shell/WorkspacePicker.vue
  tests/Browser/AdminCollectionPagesTest.php
  tests/Browser/AgendaItemPrivacyTest.php
  tests/Browser/InstitutionActivityReplyTest.php
  tests/Feature/Admin/Management/InstitutionActivityRequestControllerTest.php
  tests/Feature/InstitutionSubscriptionTest.php
  tests/Feature/Migrations/RemoveInstitutionNotificationMutesTest.php
  tests/Feature/Services/FileStorageServiceTest.php
  tests/Feature/Services/FileUploadWriterTest.php
  tests/Feature/StagingIsolationTest.php
Due: backend, frontend, Laravel Controllers, Vue Components

Reservation resources not editable after approval; study set fixes
  app/Actions/EnsureReservationCapacity.php
  app/Actions/SerializeResourceAvailability.php
  app/Http/Controllers/Admin/ApprovalController.php
  app/Http/Controllers/Admin/ReservationResourceController.php
  app/Http/Controllers/Admin/StudySetController.php
  app/Http/Requests/ReservationResourceRequest.php
  app/Http/Requests/StoreReservationResourceRequest.php
  app/Http/Requests/StoreStudySetRequest.php
  app/Http/Requests/UpdateReservationResourceRequest.php
  app/Http/Requests/UpdateStudySetRequest.php
  app/Models/Resource.php
  app/Models/StudySet.php
  app/Models/StudySetCourse.php
  app/Services/ApprovalService.php
  app/Services/ResourceCapacityCalculator.php
  docs/changelog/v3.md
  docs/en/changelog/v3.md
  docs/rezervacijos/rezervacijos.md
  docs/svetaine/studiju-rinkiniai.md
  lang/admin/en/reservations.php
  lang/admin/lt/reservations.php
  lang/en.json
  lang/lt.json
  resources/js/Components/AdminForms/ReservationResourceForm.vue
  resources/js/Components/AdminForms/StudySetForm.vue
  resources/js/Components/AdminForms/__tests__/StudySetForm.component.test.ts
  resources/js/Components/Reservations/ReservationResourceList.vue
  resources/js/Components/Reservations/__tests__/ReservationResourceList.component.test.ts
  tests/Browser/StudySetReviewsTest.php
  tests/Feature/Admin/Reservations/ReservationControllerTest.php
  tests/Feature/Admin/Reservations/ReservationResourceConcurrencyTest.php
  tests/Feature/Admin/Reservations/ResourceReservationTest.php
  tests/Feature/Admin/StudySets/StudySetControllerTest.php
  tests/Feature/Approvals/ApprovalServiceTest.php
  tests/README.md
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Laravel Features, Vue Components

Fix some links on ShowAdminHome
  docs/mano/index.md
  docs/mano/pranesimai.md
  resources/js/Components/Calendar/EventCard.vue
  resources/js/Components/Calendar/__tests__/EventCard.component.test.ts
  resources/js/Components/Home/SiteContentLists.vue
  resources/js/Components/Home/__tests__/SiteContentLists.component.test.ts
  resources/js/Components/News/NewsCard.vue
  resources/js/Components/News/__tests__/NewsCard.component.test.ts
  resources/js/Components/Notifications/NotificationLink.vue
  resources/js/Components/Notifications/NotificationToast.vue
  resources/js/Components/Notifications/__tests__/NotificationLink.component.test.ts
  resources/js/Components/Notifications/__tests__/NotificationToast.component.test.ts
  resources/js/Components/NotificationsIndicator.vue
  resources/js/Components/__tests__/NotificationsIndicator.component.test.ts
  resources/js/Features/Admin/Notifications/NotificationCard.vue
  resources/js/Features/Admin/Notifications/__tests__/NotificationCard.component.test.ts
  tests/Browser/AdminPublicLinksTest.php
Due: frontend, Vue Components

Better authorization exceptions in files and other models
  app/Http/Controllers/Admin/FilesController.php
  app/Http/Controllers/Admin/UserNotificationsController.php
  app/Http/Requests/Files/BulkDeleteFilesRequest.php
  app/Services/ApprovalService.php
  docs/mano/pranesimai.md
  docs/rezervacijos/rezervacijos.md
  docs/svetaine/failai.md
  tests/Feature/Admin/Core/UserNotificationsControllerTest.php
  tests/Feature/Admin/Resources/FilesControllerTest.php
  tests/Feature/Approvals/ApprovalControllerTest.php
  tests/Feature/Approvals/ApprovalServiceTest.php
Due: backend, Laravel Controllers, Laravel Services, Laravel Features

Better authorization exceptions for approvals and files
  app/Http/Controllers/Admin/FilesController.php
  app/Http/Controllers/Admin/UserNotificationsController.php
  app/Http/Requests/Files/BulkDeleteFilesRequest.php
  app/Services/ApprovalService.php
  app/Services/Documents/DiscoveryResult.php
  app/vendor/nvim-laravel/1d82edcf754570237c6347ffcd91dcc8.laravel-bootstrap.php
  app/vendor/nvim-laravel/5bcd36ad8e0bcea51a9e62a8738f6904.laravel-bootstrap.php
  app/vendor/nvim-laravel/795f93b6233ce7254ab201a6c3e55f70.laravel-bootstrap.php
  docs/mano/pranesimai.md
  docs/rezervacijos/rezervacijos.md
  docs/svetaine/failai.md
  tests/Feature/Admin/Core/UserNotificationsControllerTest.php
  tests/Feature/Admin/Resources/FilesControllerTest.php
  tests/Feature/Approvals/ApprovalControllerTest.php
  tests/Feature/Approvals/ApprovalServiceTest.php
Due: backend, Laravel Controllers, Laravel Services, Laravel Features

Fix browser tests
  tests/Browser/RichContentFullscreenEditorTest.php
Due: none

Fake sharepoint services when running tests
  docs/visak/dokumentai.md
  tests/Feature/Services/SharepointDocumentDiscoveryTest.php
Due: none

Path conditions:
  backend: any of: app/
  frontend: any of: resources/js/
  Laravel Controllers: any of: app/Http/Controllers/**
  Laravel Models: any of: app/Models/**
  Laravel Services: any of: app/Services/**, app/Actions/**
  Laravel Features: any of: app/Jobs/**, app/Console/**, app/Traits/**, app/Http/Requests/**
  Vue Components: any of: resources/js/Components/**
  Vue Pages: any of: resources/js/Pages/**
  Vue Composables: any of: resources/js/Composables/**, resources/js/Utils/**
