Repository vu-sa/vusa.lt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Laravel Features, Vue Components, Vue Pages, Vue Composables

Fix frontend tests
  resources/js/Components/ActionWindow/__tests__/ActionWindow.component.test.ts
  resources/js/Components/Duties/DutySectionList.vue
  resources/js/Components/Duties/DutySummaryCard.vue
  resources/js/Components/Duties/__tests__/DutySummaryCard.component.test.ts
  resources/js/Pages/Admin/People/ShowUser.vue
Due: frontend, Vue Components, Vue Pages

Fix action window cache
  resources/js/Composables/__tests__/useActionWindow.test.ts
  resources/js/Composables/useActionWindow.ts
  resources/js/Composables/useActionWindowData.ts
Due: frontend, Vue Composables

Show inflected duty names in other duties
  resources/js/Components/Duties/DutyOtherDutiesCard.vue
  resources/js/Components/Duties/__tests__/DutyOtherDutiesCard.component.test.ts
Due: frontend, Vue Components

Deployment optimizations, staging nightly DB refresh
  .ai/rules/commands-console-commands.md
  .ai/rules/index.md
  .env.example
  .github/workflows/ci.yml
  .github/workflows/deploy-common.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/deploy.yml
  app/Console/Commands/DeploymentBackup.php
  app/Console/Commands/DeploymentHealthCheck.php
  app/Console/Commands/DeploymentResume.php
  app/Console/Commands/DeploymentRun.php
  app/Console/Commands/StagingRefreshDatabase.php
  config/app.php
  deployment/supervisor/README.md
  deployment/supervisor/laravel-sharepoint-worker.conf
  deployment/supervisor/laravel-worker.conf
  deployment/supervisor/reverb.conf
  deployment/supervisor/staging-laravel-worker.conf
  routes/console.php
  tests/Feature/DeployWorkflowTest.php
  tests/Feature/DeploymentBackupTest.php
  tests/Feature/StagingRefreshDatabaseTest.php
  tests/Unit/Services/Sharepoint/SharepointPublicLinkTest.php
Due: backend, Laravel Features

Update broken notification section i18n strings
  lang/admin/en/notifications.php
  lang/admin/lt/notifications.php
  lang/en.json
  lang/lt.json
  resources/js/Components/Notifications/NotificationToast.vue
  resources/js/Components/NotificationsIndicator.vue
  resources/js/Features/Admin/Notifications/PushDeviceManagement.vue
  resources/js/Pages/Admin/ShowNotifications.vue
Due: frontend, Vue Components, Vue Pages

Fix task tables and actions
  .ai/rules/data-table.md
  .ai/rules/dialog.md
  .ai/rules/index.md
  app/Http/Controllers/Admin/DashboardController.php
  app/Http/Controllers/Admin/TaskController.php
  app/Http/Requests/IndexTaskSummaryRequest.php
  app/Models/Task.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  lang/admin/en/tasks.php
  lang/admin/lt/tasks.php
  resources/js/Components/Patterns/StatCard.vue
  resources/js/Components/Patterns/__tests__/StatCard.component.test.ts
  resources/js/Components/Patterns/index.ts
  resources/js/Components/ui/alert-dialog/AlertDialogContent.vue
  resources/js/Composables/__tests__/useTaskPresentation.test.ts
  resources/js/Composables/useTaskPresentation.ts
  resources/js/Features/Admin/TaskManager/TaskCard.vue
  resources/js/Features/Admin/TaskManager/TaskDetailDialog.vue
  resources/js/Features/Admin/TaskManager/TaskManager.vue
  resources/js/Features/Admin/TaskManager/TaskPagination.vue
  resources/js/Features/Admin/TaskManager/TaskStatsCards.vue
  resources/js/Features/Admin/TaskManager/TaskTable.vue
  resources/js/Features/Admin/TaskManager/__tests__/TaskCard.component.test.ts
  resources/js/Features/Admin/TaskManager/__tests__/TaskDetailDialog.component.test.ts
  resources/js/Features/Admin/TaskManager/__tests__/TaskManager.component.test.ts
  resources/js/Pages/Admin/Dashboard/Partials/ReservationKpiStrip.vue
  resources/js/Pages/Admin/ShowTasks.vue
  resources/js/Pages/Admin/ShowTasksSummary.vue
  tests/Feature/Tasks/TaskSummaryTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Features, Vue Components, Vue Pages, Vue Composables

Simplify ShowAdministration.vue
  lang/en.json
  resources/js/Pages/Admin/ShowAdministration.vue
  resources/js/Pages/Admin/__tests__/ShowAdministration.component.test.ts
Due: frontend, Vue Pages

Refine sharepoint document upload
  app/Jobs/SyncDocumentFromSharePointJob.php
  app/Services/DocumentSharepointSyncService.php
  app/Services/SharepointGraphService.php
Due: backend, Laravel Services, Laravel Features

Don't show filters if index page doesn't have it
  resources/js/Components/Layouts/IndexTablePage.vue
  resources/js/Components/Layouts/__tests__/IndexTablePage.component.test.ts
Due: frontend, Vue Components

Fix problem form and tiptap is better in mobile
  lang/admin/en/rich-content.php
  lang/admin/lt/rich-content.php
  resources/js/Components/AdminForms/ProblemForm.vue
  resources/js/Components/AdminForms/StudyProgramForm.vue
  resources/js/Components/AdminForms/__tests__/ProblemForm.component.test.ts
  resources/js/Components/AdminForms/__tests__/StudyProgramForm.component.test.ts
  resources/js/Components/TipTap/TiptapEditor.vue
  resources/js/Components/TipTap/__tests__/TiptapEditorMobileToolbar.component.test.ts
Due: frontend, Vue Components

Task view properly working in other pages
  app/Http/Controllers/Admin/TaskController.php
  app/Http/Requests/IndexTaskSummaryRequest.php
  resources/js/Composables/__tests__/useTaskActionDialogs.test.ts
  resources/js/Composables/__tests__/useTaskPresentation.test.ts
  resources/js/Composables/useTaskActionDialogs.ts
  resources/js/Composables/useTaskPresentation.ts
  resources/js/Pages/Admin/Dashboard/ShowAtstovavimas.vue
  resources/js/Pages/Admin/People/ShowInstitution.vue
  resources/js/Pages/Admin/People/ShowUser.vue
  resources/js/Pages/Admin/Representation/ShowMeeting.vue
  resources/js/Pages/Admin/ShowTasks.vue
  resources/js/Pages/Admin/ShowTasksSummary.vue
  tests/Feature/Tasks/TaskSummaryTest.php
Due: backend, frontend, Laravel Controllers, Laravel Features, Vue Pages, Vue Composables

Fix flaky browser test
  .ai/rules/browser.md
  .ai/rules/index.md
  app/Http/Controllers/PublicController.php
  tests/Browser/MailQueueTest.php
  tests/Browser/README.md
  tests/Feature/Public/PublicPagesTest.php
  tests/Pest.php
Due: backend, Laravel Controllers

Small package and doc updates
  app/Models/Document.php
  app/Models/Meeting.php
  app/Models/Pivots/AgendaItem.php
  app/Models/PublicMeeting.php
  app/Models/Vote.php
  package-lock.json
  resources/js/Types/models.d.ts
Due: backend, frontend, Laravel Models

Add test for checking if member registration notification mail is sent correctly
  .ai/rules/feature.md
  .ai/rules/index.md
  tests/Feature/Forms/MemberRegistrationNotificationMailTest.php
Due: none

Small manual changes
  config/google-fonts.php
  resources/css/app.css
  resources/js/Components/Public/Base/HeaderWordmark.vue
  resources/js/Components/Public/Layouts/MainNavigation.vue
Due: frontend, Vue Components

Fix padalinys selector hover exit refocus
  resources/js/Components/Public/Nav/PadalinysSelector.vue
  resources/js/Components/Public/Nav/__tests__/PadalinysSelector.component.test.ts
Due: frontend, Vue Components

Categorization of app.css contents
  .ai/rules/css.md
  .ai/rules/index.md
  resources/css/app.css
  resources/css/base/reset.css
  resources/css/base/view-transitions.css
  resources/css/components/misc.css
  resources/css/public/canvas.css
  resources/css/public/surface.css
  resources/css/public/typography.css
  resources/css/theme/base-tokens.css
  resources/css/theme/design-tokens.css
  resources/css/vendor/vue-flow.css
Due: none

Skeleton adjustment
  resources/js/Components/RichContent/Types/index.ts
Due: frontend, Vue Components

Fixes to second menu
  resources/js/Components/Public/Nav/LocaleButton.vue
  resources/js/Components/Public/Nav/SecondMenu.vue
  resources/js/Components/Public/Nav/__tests__/SecondMenu.component.test.ts
Due: frontend, Vue Components

Refine first page components
  .env.example
  app/Http/Middleware/HandleInertiaRequests.php
  config/services.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  resources/css/public/surface.css
  resources/js/Components/Calendar/EventLocationMap.vue
  resources/js/Components/Public/Layouts/MainNavigation.vue
  resources/js/Components/Public/Nav/MainMenu.vue
  resources/js/Components/Public/Nav/MainNavigationMenuContent.vue
  resources/js/Components/Public/Nav/PadalinysMap.vue
  resources/js/Components/Public/Nav/PadalinysSelector.vue
  resources/js/Components/Public/Nav/SecondMenu.vue
  resources/js/Components/Public/Nav/__tests__/PadalinysMap.component.test.ts
  resources/js/Components/Public/Nav/__tests__/PadalinysSelector.component.test.ts
  resources/js/Components/RichContent/RCSection.vue
  resources/js/Components/RichContent/RCSection/SectionDisplay.vue
  resources/js/Components/ui/SectionHeader.vue
  resources/js/Components/ui/__tests__/SectionHeader.component.test.ts
  resources/js/Components/ui/navigation-menu/NavigationMenuViewport.vue
  resources/js/Types/index.d.ts
Due: backend, frontend, Vue Components

Refine some component styles
  resources/css/public/typography.css
  resources/js/Components/Public/News/NewsCard.vue
  resources/js/Components/RichContent/RCHeroCarousel/HeroCarouselDisplay.vue
  resources/js/Components/RichContent/RCHeroCarousel/__tests__/HeroCarousel.component.test.ts
Due: frontend, Vue Components

Add footer navigation
  .ai/rules/admin-models.md
  .ai/rules/index.md
  app/Http/Controllers/Admin/NavigationController.php
  app/Http/Middleware/GetNavigationForPublic.php
  app/Http/Requests/NavigationRequest.php
  app/Services/NavigationService.php
  lang/admin/en/navigation.php
  lang/admin/lt/navigation.php
  lang/public/en/navigation.php
  lang/public/lt/navigation.php
  lang/shared/en/accessibility.php
  lang/shared/lt/accessibility.php
  resources/js/Components/AdminForms/NavigationForm.vue
  resources/js/Components/AdminForms/__tests__/NavigationForm.component.test.ts
  resources/js/Components/Public/FullWidth/SiteFooter.vue
  resources/js/Components/Public/FullWidth/__tests__/SiteFooter.component.test.ts
  resources/js/Components/Public/Layouts/Chrome.stories.ts
  resources/js/Components/Public/Nav/FacebookButton.vue
  resources/js/Components/Public/Nav/InstagramButton.vue
  resources/js/Components/Public/Nav/StartFM.vue
  resources/js/Components/Public/Nav/socialIconButtonClass.ts
  resources/js/Components/Public/Nav/types.ts
  resources/js/Features/Admin/NavigationBuilder/FooterNavigationManager.vue
  resources/js/Features/Admin/NavigationBuilder/__tests__/FooterNavigationManager.component.test.ts
  resources/js/Features/Admin/NavigationBuilder/types.ts
  resources/js/Pages/Admin/Navigation/CreateNavigation.vue
  resources/js/Pages/Admin/Navigation/EditNavigation.vue
  resources/js/Pages/Admin/Navigation/IndexNavigation.vue
  resources/js/Types/index.d.ts
  tests/Feature/Admin/Navigation/NavigationControllerTest.php
  tests/Unit/Services/NavigationServiceTest.php
Due: backend, frontend, Laravel Controllers, Laravel Services, Laravel Features, Vue Components, Vue Pages

Fix some tests
  .github/workflows/ci.yml
  app/Models/Category.php
  app/Models/News.php
  resources/css/app.css
  resources/js/Components/RichContent/__tests__/rcProseReadabilityCss.test.ts
  resources/js/Components/TipTap/__tests__/rcProseEditingCss.test.ts
  resources/js/Pages/Public/__tests__/ContentPage.component.test.ts
Due: backend, frontend, Laravel Models, Vue Components, Vue Pages

Change some more components
  docs/changelog/index.md
  docs/en/changelog/index.md
  resources/css/public/surface.css
  resources/js/Components/Public/Base/AccessibilityMenu.vue
  resources/js/Components/Public/ConsentCard.vue
  resources/js/Components/Public/FullWidth/SiteFooter.vue
  resources/js/Components/Public/FullWidth/__tests__/SiteFooter.component.test.ts
  resources/js/Components/Public/Layouts/MainNavigation.vue
  resources/js/Components/Public/Layouts/PublicLayout.vue
  resources/js/Components/Public/Nav/LocaleButton.vue
  resources/js/Components/Public/Nav/MainMenu.vue
  resources/js/Components/Public/Nav/Mobile/MobileNavigation.vue
  resources/js/Components/Public/Nav/Mobile/__tests__/MobileNavigation.component.test.ts
  resources/js/Components/Public/__tests__/ConsentCard.component.test.ts
  resources/js/Composables/__tests__/useAccessibilityPreferences.test.ts
  resources/js/Composables/__tests__/usePublicEditLinkToast.test.ts
  resources/js/Composables/__tests__/usePublicStagingToast.test.ts
  resources/js/Composables/publicToastAppearance.ts
  resources/js/Composables/useAccessibilityPreferences.ts
  resources/js/Composables/usePublicEditLinkToast.ts
  resources/js/Composables/usePublicStagingToast.ts
Due: frontend, Vue Components, Vue Composables

Fix failing vitest test
  resources/js/Components/RichContent/__tests__/rcProseReadabilityCss.test.ts
Due: frontend, Vue Components

Refine Mano VU SA button
  docs/changelog/index.md
  docs/en/changelog/index.md
  resources/js/Components/Public/Nav/Mobile/MobileNavigation.vue
  resources/js/Components/Public/Nav/Mobile/__tests__/MobileNavigation.component.test.ts
  resources/js/Components/Public/Nav/SecondMenu.vue
  resources/js/Components/Public/Nav/__tests__/SecondMenu.component.test.ts
  resources/js/Components/ui/dropdown-menu/DropdownMenuContent.vue
  resources/js/Layouts/PersistentPublicLayout.vue
Due: frontend, Vue Components

Add partners component instead of banner carousel
  app/Http/Controllers/Admin/BannerController.php
  app/Http/Requests/StoreBannerRequest.php
  app/Http/Requests/UpdateBannerRequest.php
  app/Models/Banner.php
  database/factories/BannerFactory.php
  database/migrations/2026_09_04_005000_make_banner_image_url_nullable.php
  lang/admin/en/forms.php
  lang/admin/lt/forms.php
  lang/shared/en/accessibility.php
  lang/shared/lt/accessibility.php
  resources/js/Components/AdminForms/BannerForm.vue
  resources/js/Components/Public/FullWidth/BannerCarousel.vue
  resources/js/Components/Public/FullWidth/PartnersBanner.vue
  resources/js/Components/Public/FullWidth/__tests__/PartnersBanner.component.test.ts
  resources/js/Components/Public/Layouts/PublicLayout.vue
  resources/js/Types/models.d.ts
  tests/Feature/Admin/Content/BannerControllerTest.php
  tests/Pest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Features, Vue Components

Promo display for podcast elements
  lang/admin/en/rich-content.php
  lang/admin/lt/rich-content.php
  resources/css/public/canvas.css
  resources/js/Components/Public/FullWidth/EventCalendarElement.vue
  resources/js/Components/RichContent/Editor/blockSummary.ts
  resources/js/Components/RichContent/RCCtaBand/CtaBandDisplay.vue
  resources/js/Components/RichContent/RCMixcloudEmbed.vue
  resources/js/Components/RichContent/RCSpotifyEmbed.vue
  resources/js/Components/RichContent/RCSpotifyPromoDisplay.vue
  resources/js/Components/RichContent/Types/SpotifyEmbedEditor.vue
  resources/js/Components/RichContent/Types/__tests__/SpotifyEmbedEditor.component.test.ts
  resources/js/Components/RichContent/Types/index.ts
  resources/js/Components/RichContent/__tests__/RCSpotifyEmbed.component.test.ts
  resources/js/Components/RichContent/__tests__/RCSpotifyPromoDisplay.component.test.ts
  resources/js/Components/RichContent/__tests__/embedUrl.test.ts
  resources/js/Components/RichContent/cardIcons.ts
  resources/js/Components/RichContent/embedUrl.ts
  resources/js/Types/contentParts.ts
Due: frontend, Vue Components

Phase A of the rich content refactor
  app/Models/ContentPart.php
  database/migrations/2026_09_04_120000_drop_drifted_block_colour_settings.php
  lang/admin/en/rich-content.php
  lang/admin/lt/rich-content.php
  resources/js/Components/RichContent/Editor/RCDecorationListEditor.vue
  resources/js/Components/RichContent/Editor/__tests__/blockSummary.test.ts
  resources/js/Components/RichContent/Editor/blockSummary.ts
  resources/js/Components/RichContent/RCHeroCarousel/__tests__/HeroCarousel.component.test.ts
  resources/js/Components/RichContent/RCNumberStatSection/RCNumberSection.vue
  resources/js/Components/RichContent/RCNumberStatSection/RCNumberStatistic.vue
  resources/js/Components/RichContent/RCPersonQuote/PersonQuoteDisplay.vue
  resources/js/Components/RichContent/RichContentCard.vue
  resources/js/Components/RichContent/Types/CardEditor.vue
  resources/js/Components/RichContent/Types/CarouselSlideDeckEditor.vue
  resources/js/Components/RichContent/Types/ContentGridEditor.vue
  resources/js/Components/RichContent/Types/HeroCarouselEditor.vue
  resources/js/Components/RichContent/Types/NumberStatEditor.vue
  resources/js/Components/RichContent/Types/PersonQuoteEditor.vue
  resources/js/Components/RichContent/Types/PhotoGalleryGridEditor.vue
  resources/js/Components/RichContent/Types/__tests__/ContentGridDisplay.component.test.ts
  resources/js/Components/RichContent/Types/__tests__/registry.component.test.ts
  resources/js/Components/RichContent/Types/index.ts
  resources/js/Components/RichContent/Types/samples.ts
  resources/js/Components/RichContent/__tests__/RichContentBlock.component.test.ts
  resources/js/Components/RichContent/__tests__/RichContentCard.component.test.ts
  resources/js/Components/RichContent/composables/useColorOptions.ts
  resources/js/Components/ui/DecorativeElement.vue
  resources/js/Components/ui/ImageWithDecorations.vue
  resources/js/Types/contentParts.ts
  tests/Feature/Migrations/DropDriftedBlockColourSettingsTest.php
Due: backend, frontend, Laravel Models, Vue Components

Change theme color with the dark mode
  docs/changelog/index.md
  docs/en/changelog/index.md
  resources/js/Composables/__tests__/useThemeColor.test.ts
  resources/js/Composables/useThemeColor.ts
  resources/js/app.ts
  resources/views/app.blade.php
Due: frontend, Vue Composables

Remove userway preload
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  app/Providers/AppServiceProvider.php
  resources/js/Components/Public/Base/AccessibilityMenu.vue
  resources/js/Components/Public/Base/Primitives.stories.ts
  resources/js/Components/Public/Layouts/MainNavigation.vue
  resources/js/Components/Public/Layouts/PublicLayout.vue
  resources/js/Components/Public/Layouts/__tests__/MainNavigation.component.test.ts
  resources/js/Components/Public/Nav/MainNavigationMenuContent.vue
  resources/js/Components/Public/Nav/__tests__/MainNavigationMenuContent.component.test.ts
  resources/js/Composables/useAccessibilityPreferences.ts
  tests/Feature/Public/PublicControllerSeoTest.php
Due: backend, frontend, Vue Components, Vue Composables

Fix failing test
  app/Providers/TypeScriptTransformerServiceProvider.php
Due: backend

Remove not meaningful comments from task files
  app/Tasks/DTOs/CreateTaskData.php
  app/Tasks/Enums/ActionType.php
  app/Tasks/Handlers/AgendaCompletionTaskHandler.php
  app/Tasks/Handlers/AgendaCreationTaskHandler.php
  app/Tasks/Handlers/ApprovalTaskHandler.php
  app/Tasks/Handlers/BaseTaskHandler.php
  app/Tasks/Handlers/ManualTaskHandler.php
  app/Tasks/Handlers/PeriodicityGapTaskHandler.php
  app/Tasks/Handlers/PickupTaskHandler.php
  app/Tasks/Handlers/ReturnTaskHandler.php
  app/Tasks/Handlers/TaskHandler.php
  app/Tasks/Subscribers/ApprovalTaskSubscriber.php
  app/Tasks/Subscribers/InstitutionCheckInTaskSubscriber.php
  app/Tasks/Subscribers/MeetingTaskSubscriber.php
  app/Tasks/Subscribers/ReservationTaskSubscriber.php
Due: backend

Migrate more rich content editors
  lang/admin/en/rich-content.php
  lang/admin/lt/rich-content.php
  resources/js/Components/RichContent/Editor/BlockPreviewRenderer.vue
  resources/js/Components/RichContent/Editor/Fullscreen/RCFullscreenBlock.vue
  resources/js/Components/RichContent/Editor/RCInsertAffordance.vue
  resources/js/Components/RichContent/Editor/__tests__/RCInsertAffordance.component.test.ts
  resources/js/Components/RichContent/Editor/__tests__/RCSideBySideDialog.component.test.ts
  resources/js/Components/RichContent/RCAccordion.vue
  resources/js/Components/RichContent/RCCardStack/CardStackDisplay.vue
  resources/js/Components/RichContent/RCCardStack/__tests__/CardStackDisplay.component.test.ts
  resources/js/Components/RichContent/RCCarouselSlideDeck/CarouselSlideDeckDisplay.vue
  resources/js/Components/RichContent/RCEventList/EventListDisplay.vue
  resources/js/Components/RichContent/RCEventList/__tests__/EventListDisplay.component.test.ts
  resources/js/Components/RichContent/RCHeroSection/HeroElement.vue
  resources/js/Components/RichContent/RCLinkList/LinkListDisplay.vue
  resources/js/Components/RichContent/RCNumberStatSection/RCNumberSection.vue
  resources/js/Components/RichContent/RCPersonQuote/PersonQuoteDisplay.vue
  resources/js/Components/RichContent/RCPersonQuote/__tests__/PersonQuoteDisplay.component.test.ts
  resources/js/Components/RichContent/RCPhotoGalleryGrid/PhotoGalleryGridDisplay.vue
  resources/js/Components/RichContent/RCProcessSteps/ProcessStepsDisplay.vue
  resources/js/Components/RichContent/RCSection.vue
  resources/js/Components/RichContent/RCSection/SectionBlockToolbar.vue
  resources/js/Components/RichContent/RCSection/SectionDisplay.vue
  resources/js/Components/RichContent/RCSection/__tests__/SectionBlockToolbar.component.test.ts
  resources/js/Components/RichContent/RCSection/__tests__/SectionDisplay.component.test.ts
  resources/js/Components/RichContent/RichContentEditor.vue
  resources/js/Components/RichContent/Types/PersonQuoteEditor.vue
  resources/js/Components/RichContent/Types/SectionEditor.vue
  resources/js/Components/RichContent/Types/index.ts
  resources/js/Components/RichContent/__tests__/RCAccordion.component.test.ts
  resources/js/Components/RichContent/__tests__/RCSection.component.test.ts
  resources/js/Components/RichContent/composables/useUserAttributionLookup.ts
Due: frontend, Vue Components

Path conditions:
  backend: any of: app/
  frontend: any of: resources/js/
  Laravel Controllers: any of: app/Http/Controllers/**
  Laravel Models: any of: app/Models/**
  Laravel Services: any of: app/Services/**, app/Actions/**
  Laravel Features: any of: app/Jobs/**, app/Console/**, app/Traits/**, app/Http/Requests/**
  Vue Components: any of: resources/js/Components/**
  Vue Pages: any of: resources/js/Pages/**
  Vue Composables: any of: resources/js/Composables/**, resources/js/Utils/**
