Repository vu-sa/vusa.lt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Laravel Features, Vue Components, Vue Pages, Vue Composables

.codecov.yml:

codecov:
  require_ci_to_pass: no  # Allow reports even if some CI jobs fail
  notify:
    wait_for_ci: no        # Don't wait for all CI jobs

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project: off
    patch:
      default:
        target: 65%
        threshold: 3%
        if_ci_failed: ignore

component_management:
  individual_components:
    - component_id: laravel_controllers
      name: "Laravel Controllers"
      paths:
        - "app/Http/Controllers/**"
      statuses:
        - type: patch
          target: 70%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: laravel_models
      name: "Laravel Models"
      paths:
        - "app/Models/**"
      statuses:
        - type: patch
          target: 80%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: laravel_services
      name: "Laravel Services"
      paths:
        - "app/Services/**"
        - "app/Actions/**"
      statuses:
        - type: patch
          target: 75%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: laravel_features
      name: "Laravel Features"
      paths:
        - "app/Jobs/**"
        - "app/Console/**"
        - "app/Traits/**"
        - "app/Http/Requests/**"
      statuses:
        - type: patch
          target: 65%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: vue_components
      name: "Vue Components"
      paths:
        - "resources/js/Components/**"
      statuses:
        - type: patch
          target: 60%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: vue_pages
      name: "Vue Pages"
      paths:
        - "resources/js/Pages/**"
      statuses:
        - type: patch
          target: 55%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: vue_composables
      name: "Vue Composables"
      paths:
        - "resources/js/Composables/**"
        - "resources/js/Utils/**"
      statuses:
        - type: patch
          target: 75%
          threshold: 3%
          if_ci_failed: ignore

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no      # Don't require head report for comments
  show_carryforward_flags: true

# Add flags to separate frontend and backend coverage
flags:
  backend:
    paths:
      - "app/"
    carryforward: false
  frontend:
    paths:
      - "resources/js/"
    carryforward: false

Fix how deployment works with vendor
  .github/workflows/deploy.yml
  app/Console/Commands/DeploymentDeployAssets.php
  app/Console/Commands/DeploymentRun.php
Due: backend, Laravel Features

Add --tia baseline to CI
  .agents/skills/pest-testing/SKILL.md
  .claude/skills/pest-testing/SKILL.md
  .github/skills/pest-testing/SKILL.md
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/tia-baseline.yml
  .gitignore
  .pest-cache/.gitignore
  AGENTS.md
  app/Console/Commands/DeploymentDeployAssets.php
  app/Console/Commands/DeploymentRun.php
  deployment/maintenance.php
  docker-compose.yml
  storage/framework/.gitignore
  tests/CLAUDE.md
  tests/Feature/MaintenanceModeTest.php
  tests/Pest.php
  tests/README.md
Due: backend, Laravel Features

Try to fix CI
  phpunit.xml
Due: none

Update how mobile nav looks
  lang/public/en/navigation.php
  lang/public/lt/navigation.php
  resources/js/Components/Public/Layouts/MainNavigation.vue
  resources/js/Components/Public/Nav/MainMenuMobile.vue
  resources/js/Components/Public/Nav/MainNavigationMenuContent.vue
  resources/js/Components/Public/Nav/Mobile/MobileNavLinkRow.vue
  resources/js/Components/Public/Nav/Mobile/MobileNavRootPanel.vue
  resources/js/Components/Public/Nav/Mobile/MobileNavSectionPanel.vue
  resources/js/Components/Public/Nav/Mobile/MobileNavigation.vue
  resources/js/Components/Public/Nav/Mobile/MobileTenantPanel.vue
  resources/js/Components/Public/Nav/Mobile/__tests__/MobileNavLinkRow.component.test.ts
  resources/js/Components/Public/Nav/Mobile/__tests__/MobileNavRootPanel.component.test.ts
  resources/js/Components/Public/Nav/Mobile/__tests__/MobileNavigation.component.test.ts
  resources/js/Components/Public/Nav/PadalinysSelector.vue
  resources/js/Components/Public/Nav/types.ts
  resources/js/Composables/__tests__/useTenantOptions.test.ts
  resources/js/Composables/useTenantOptions.ts
  resources/js/Pages/Admin/LoginForm.vue
Due: frontend, Vue Components, Vue Pages, Vue Composables

Further TIA baseline installments
  .codecov.yml
  .github/workflows/ci.yml
  .github/workflows/tia-baseline.yml
  AGENTS.md
  tests/Pest.php
Due: none

Fix tia baseline CI error
  .github/workflows/tia-baseline.yml
Due: none

Fix the launching of storybook
  .storybook/main.ts
Due: none

Some refinements for how contact cards are displayed
  resources/js/Components/Buttons/InfoPopover.vue
  resources/js/Components/Public/ContactWithPhoto.vue
  resources/js/Components/Public/__tests__/ContactWithPhoto.component.test.ts
Due: frontend, Vue Components

Better RSS feeds
  app/Feed/FeedHtml.php
  app/Feed/FeedItem.php
  app/Models/News.php
  config/feed.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  resources/views/vendor/feed/rss.blade.php
  tests/Feature/FeedTest.php
Due: backend, Laravel Models

Implement timeseries chart for institution status
  app/Http/Controllers/Admin/DashboardController.php
  app/Http/Controllers/Api/Admin/AtstovavimasApiController.php
  app/Http/Requests/Api/Admin/AtstovavimasStatusHistoryRequest.php
  app/Services/AtstovavimasDashboardService.php
  app/Services/InstitutionActivityStatusService.php
  lang/admin/en/visak.php
  lang/admin/lt/visak.php
  resources/js/Pages/Admin/Dashboard/Components/InstitutionStatusSummary.vue
  resources/js/Pages/Admin/Dashboard/Components/InstitutionStatusTrendChart.vue
  resources/js/Pages/Admin/Dashboard/Components/__tests__/InstitutionStatusSummary.component.test.ts
  resources/js/Pages/Admin/Dashboard/Components/__tests__/InstitutionStatusTrendChart.component.test.ts
  resources/js/Pages/Admin/Dashboard/Composables/__tests__/useTenantStatusHistory.test.ts
  resources/js/Pages/Admin/Dashboard/Composables/useTenantStatusHistory.ts
  resources/js/Pages/Admin/Dashboard/ShowAtstovavimas.vue
  resources/js/Pages/Admin/Dashboard/types.ts
  routes/api.php
  tests/Feature/Admin/Core/AtstovavimasApiTest.php
  tests/Feature/Admin/Core/DashboardControllerTest.php
Due: backend, frontend, Laravel Controllers, Laravel Services, Laravel Features, Vue Pages

Fix cases where redirects via inertia requests are not handled properly in Safari
  app/Http/Middleware/SetLocale.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  tests/Feature/System/SetLocaleFeatureTest.php
Due: backend

Update deps + phpstan fixes
  _ide_helper.php
  app/Models/Navigation.php
  app/Models/News.php
  composer.lock
  package-lock.json
  resources/js/Components/Public/ContactWithPhoto.vue
Due: backend, frontend, Laravel Models, Vue Components

Stricter user management
  app/Http/Controllers/Admin/DutyController.php
  app/Http/Controllers/Admin/UserController.php
  app/Http/Controllers/Api/Admin/UserSearchApiController.php
  app/Http/Requests/StoreUserRequest.php
  app/Http/Requests/UpdateUserRequest.php
  app/Http/Traits/HandlesSoftDeletes.php
  app/Http/Traits/HasTanstackTables.php
  app/Models/User.php
  app/Policies/UserPolicy.php
  app/Services/ResourceServices/UserDutyService.php
  app/Services/TanstackTableService.php
  app/Services/UserSimilarityFinder.php
  app/Support/AuditedRelations.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  lang/admin/en/users.php
  lang/admin/lt/users.php
  resources/js/Components/AdminForms/DuplicateUserWarning.vue
  resources/js/Components/AdminForms/UserForm.vue
  resources/js/Components/AdminForms/__tests__/DuplicateUserWarning.component.test.ts
  resources/js/Components/AdminForms/__tests__/UserForm.component.test.ts
  resources/js/Components/DutyUserWizard/Step3UserAssignment.vue
  resources/js/Components/DutyUserWizard/__tests__/Step3UserAssignment.component.test.ts
  resources/js/Composables/useDuplicateUserCheck.ts
  resources/js/Composables/useDutyUserWizard.ts
  resources/js/Pages/Admin/People/DutyUserUpdateWizard.vue
  resources/js/Pages/Admin/People/EditUser.vue
  resources/js/Pages/Admin/People/IndexUser.vue
  routes/api.php
  tests/Feature/ActivityLog/RelationshipActivityTest.php
  tests/Feature/Admin/Management/ContactManagementTest.php
  tests/Feature/Admin/Management/UserControllerTest.php
  tests/Feature/Api/Admin/UserSearchApiControllerTest.php
  tests/Feature/Permissions/UnclaimedUserVisibilityTest.php
  tests/Feature/Permissions/UserDestructiveAuthorizationTest.php
  tests/Feature/Permissions/UserIdentityAuthorizationTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Laravel Features, Vue Components, Vue Pages, Vue Composables

Proper validation of suggestion
  app/Http/Controllers/Public/MainController.php
  tests/Feature/Public/PublicPagesTest.php
Due: backend, Laravel Controllers

Create public page and news collections
  app/Console/Commands/SyncPublicSearchIndex.php
  app/Console/Kernel.php
  app/Enums/SearchableModelEnum.php
  app/Models/Institution.php
  app/Models/Meeting.php
  app/Models/News.php
  app/Models/Page.php
  app/Models/PublicNews.php
  app/Models/PublicPage.php
  app/Services/Typesense/TypesenseCollectionConfig.php
  config/scout.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  lang/en.json
  resources/js/Components/AdminForms/NewsForm.vue
  resources/js/Components/Shared/Search/facetIconColors.ts
  resources/js/Composables/__tests__/usePublicMultiSearch.test.ts
  resources/js/Composables/usePublicMultiSearch.ts
  resources/js/Features/Admin/AdminSearch/Components/AdminFacetSidebar.vue
  resources/js/Features/Admin/AdminSearch/Config/collectionFacetConfig.ts
  resources/js/Features/Admin/AdminSearch/Utils/searchHitMappers.ts
  resources/js/Pages/Public/__tests__/Search.component.test.ts
  resources/js/Shared/Search/types/index.ts
  resources/js/Types/__tests__/formTemplates.test.ts
  resources/js/Types/enums.ts
  resources/js/Types/formTemplates.ts
  tests/Feature/Admin/Content/OtherLanguagePickerIndexTest.php
  tests/Feature/Search/PublicSearchIndexSyncTest.php
  tests/Feature/Search/SearchableSoftDeletesTest.php
  tests/Feature/Services/TypesenseScopedKeyServiceTest.php
  tests/Feature/TypesenseSearchTest.php
  tests/Unit/Enums/SearchableModelEnumTest.php
Due: backend, frontend, Laravel Models, Laravel Services, Laravel Features, Vue Components, Vue Pages, Vue Composables

Properly show duty names in User instances
  resources/js/Components/AdminForms/UserForm.vue
  resources/js/Components/Duties/DutyLabel.vue
  resources/js/Components/Duties/DutySummaryCard.vue
  resources/js/Components/Duties/__tests__/DutyLabel.component.test.ts
  resources/js/Components/Duties/__tests__/DutySummaryCard.component.test.ts
  resources/js/Pages/Admin/People/ShowUser.vue
Due: frontend, Vue Components, Vue Pages

Better sanitization of rich content
  AGENTS.md
  app/Models/Calendar.php
  app/Models/ContentPart.php
  app/Models/Duty.php
  app/Models/Form.php
  app/Models/FormField.php
  app/Models/Institution.php
  app/Models/News.php
  app/Models/Pivots/Dutiable.php
  app/Models/Problem.php
  app/Models/Training.php
  app/Models/Traits/HasTranslations.php
  app/Services/HtmlSanitizerService.php
  resources/js/Components/AdminForms/DutiableForm.vue
  resources/js/Components/AdminForms/__tests__/DutiableForm.component.test.ts
  tests/Feature/Admin/Content/RichTextSanitizationTest.php
  tests/Feature/Admin/Management/ContactDescriptionSanitizationTest.php
  tests/Feature/Admin/Management/DutiableControllerTest.php
  tests/Unit/Services/HtmlSanitizerServiceTest.php
Due: backend, frontend, Laravel Models, Laravel Services, Vue Components

Prune typesense test collections
  app/Console/Commands/PruneTestTypesenseCollections.php
  app/Providers/TestingServiceProvider.php
  tests/CLAUDE.md
  tests/Feature/Search/TypesenseTestIsolationTest.php
Due: backend, Laravel Features

Fix tests and changelog
  app/Services/DutySimilarityFinder.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  resources/js/Components/AdminForms/__tests__/DuplicateDutyWarning.component.test.ts
  resources/js/Components/AdminForms/__tests__/DutyForm.component.test.ts
Due: backend, frontend, Laravel Services, Vue Components

Better automatic duty name endings
  app/Services/DutyNameNormalizer.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  resources/js/Components/Duties/InflectedDutyName.vue
  resources/js/Components/Duties/__tests__/InflectedDutyName.component.test.ts
  resources/js/Composables/useDutyGenderFlip.ts
  resources/js/Utils/String.ts
  resources/js/Utils/__tests__/String.test.ts
  tests/Unit/Services/DutyNameNormalizerTest.php
Due: backend, frontend, Laravel Services, Vue Components, Vue Composables

Allow editing names for super-admins
  resources/js/Components/AdminForms/UserForm.vue
  resources/js/Components/AdminForms/__tests__/UserForm.component.test.ts
Due: frontend, Vue Components

QoL improvements
  app/Http/Controllers/Admin/InstitutionController.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  lang/admin/en/tables.php
  lang/admin/lt/tables.php
  resources/js/Components/AdminForms/FormElement.vue
  resources/js/Components/AdminForms/__tests__/FormElement.component.test.ts
  resources/js/Components/Layouts/IndexTablePage.vue
  resources/js/Components/Layouts/__tests__/IndexTablePage.component.test.ts
  resources/js/Components/Tables/ServerDataTable.vue
  resources/js/Components/Tables/__tests__/ServerDataTable.component.test.ts
  resources/js/Components/ui/data-table/DataTableActions.vue
  resources/js/Components/ui/data-table/__tests__/DataTableActions.component.test.ts
  resources/js/Components/ui/data-table/cells/CellTooltip.vue
  resources/js/Components/ui/data-table/cells/DateCell.vue
  resources/js/Components/ui/data-table/cells/TruncatedBadge.vue
  resources/js/Components/ui/data-table/cells/TruncatedLink.vue
  resources/js/Components/ui/data-table/cells/TruncatedText.vue
  resources/js/Components/ui/data-table/cells/__tests__/DataTableCells.component.test.ts
  resources/js/Components/ui/data-table/cells/index.ts
  resources/js/Composables/__tests__/useIsTruncated.test.ts
  resources/js/Composables/useIsTruncated.ts
  resources/js/Pages/Admin/People/IndexDuty.vue
  resources/js/Pages/Admin/People/IndexInstitution.vue
  resources/js/Types/TableConfigTypes.ts
  tests/Feature/Admin/Management/InstitutionControllerTest.php
Due: backend, frontend, Laravel Controllers, Vue Components, Vue Pages, Vue Composables

Fix ex-officio duty sync
  app/Http/Controllers/Admin/DutyController.php
  app/Listeners/HandleDutiableChange.php
  app/Listeners/SyncExOfficioDutiables.php
  app/Models/Pivots/Dutiable.php
  app/Services/Permissions/AccessChangeAnalyzer.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  lang/admin/en/forms.php
  lang/admin/lt/forms.php
  resources/js/Components/AdminForms/DutiableForm.vue
  resources/js/Components/AdminForms/__tests__/DutiableForm.component.test.ts
  tests/Feature/ExOfficioAssignmentTest.php
  tests/Feature/ExOfficioSyncTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Vue Components

Update the multi-tenant duty editor
  app/Http/Controllers/Admin/DutyController.php
  app/Http/Requests/UpdateDutyRequest.php
  lang/admin/en/forms.php
  lang/admin/lt/forms.php
  resources/js/Components/AdminForms/DutyForm.vue
  resources/js/Components/AdminForms/__tests__/DutyForm.component.test.ts
  resources/js/Components/Duties/ExOfficioMemberLabel.vue
  resources/js/Components/ui/transfer-list/TransferList.vue
  resources/js/Components/ui/transfer-list/__tests__/TransferList.component.test.ts
  resources/js/Pages/Admin/People/EditDuty.vue
  tests/Feature/ExOfficioAssignmentTest.php
Due: backend, frontend, Laravel Controllers, Laravel Features, Vue Components, Vue Pages

Properly show institution overview
  resources/js/Pages/Admin/Dashboard/Components/InstitutionsOverviewCard.vue
  resources/js/Pages/Admin/Dashboard/Components/PersonalOverviewSection.vue
  resources/js/Pages/Admin/Dashboard/ShowAtstovavimas.vue
  resources/js/Pages/Admin/Dashboard/__tests__/ShowAtstovavimas.component.test.ts
Due: frontend, Vue Pages

Update deps
  _ide_helper.php
  app/Console/Commands/PruneTestTypesenseCollections.php
  app/Console/Commands/SyncPublicSearchIndex.php
  app/Http/Requests/UpdateDutyRequest.php
  app/Models/Activity.php
  app/Models/Institution.php
  app/Models/News.php
  app/Models/PublicInstitution.php
  app/Models/PublicNews.php
  app/Models/PublicPage.php
  app/Models/User.php
  app/Services/DutyNameNormalizer.php
  app/Services/DutySimilarityFinder.php
  app/Services/UserSimilarityFinder.php
  composer.lock
  package-lock.json
  tests/Feature/Admin/DutyMergeTest.php
  tests/Feature/Admin/UserMergeTest.php
  tests/Feature/Api/Admin/UserSearchApiControllerTest.php
  tests/Unit/Services/DutyNameNormalizerTest.php
Due: backend, Laravel Models, Laravel Services, Laravel Features

Update AI skills
  .agents/skills/infer-conventions/SKILL.md
  .agents/skills/infer-conventions/references/checklist.md
  .agents/skills/laravel-best-practices/rules/eloquent.md
  .agents/skills/laravel-best-practices/rules/security.md
  .agents/skills/laravel-permission-development/SKILL.md
  .agents/skills/pest-testing/SKILL.md
  .claude/skills/infer-conventions/SKILL.md
  .claude/skills/infer-conventions/references/checklist.md
  .claude/skills/laravel-best-practices/rules/eloquent.md
  .claude/skills/laravel-best-practices/rules/security.md
  .claude/skills/laravel-permission-development/SKILL.md
  .claude/skills/pest-testing/SKILL.md
  .github/skills/infer-conventions/SKILL.md
  .github/skills/infer-conventions/references/checklist.md
  .github/skills/laravel-best-practices/rules/eloquent.md
  .github/skills/laravel-best-practices/rules/security.md
  .github/skills/laravel-permission-development/SKILL.md
  .github/skills/pest-testing/SKILL.md
  AGENTS.md
  CLAUDE.md
  boost.json
Due: none

Implement laravel/head
  .github/workflows/ci.yml
  .gitignore
  app/Http/Controllers/Public/ContactController.php
  app/Http/Controllers/Public/DocumentController.php
  app/Http/Controllers/Public/MeetingController.php
  app/Http/Controllers/Public/NewsController.php
  app/Http/Controllers/Public/PublicPageController.php
  app/Http/Controllers/Public/SearchController.php
  app/Http/Controllers/Public/StudySetController.php
  app/Http/Controllers/PublicController.php
  app/Http/Kernel.php
  app/Providers/AppServiceProvider.php
  composer.json
  composer.lock
  config/seo.php
  database/migrations/2026_08_14_211019_drop_seo_table.php
  resources/js/Components/Public/Layouts/PublicLayout.vue
  resources/js/public.ts
  resources/views/app.blade.php
  tests/Browser/PublicNavigationHeadTest.php
  tests/Browser/README.md
  tests/CLAUDE.md
  tests/Feature/Public/PublicControllerSeoTest.php
  tests/Pest.php
  tests/Unit/KernelTest.php
Due: backend, frontend, Laravel Controllers, Vue Components

Update Laravel kernel implementation
  app/Console/Kernel.php
  app/Exceptions/Handler.php
  app/Http/Controllers/Admin/AuthController.php
  app/Http/Controllers/Api/Admin/AgendaItemNoteApiController.php
  app/Http/Controllers/Api/Admin/UserPreferencesApiController.php
  app/Http/Kernel.php
  app/Http/Middleware/Authenticate.php
  app/Http/Middleware/EncryptCookies.php
  app/Http/Middleware/PreventRequestsDuringMaintenance.php
  app/Http/Middleware/RedirectIfAuthenticated.php
  app/Http/Middleware/TrimStrings.php
  app/Http/Middleware/TrustProxies.php
  app/Http/Middleware/VerifyCsrfToken.php
  app/Providers/AppServiceProvider.php
  app/Providers/RouteServiceProvider.php
  app/Services/SystemMonitorService.php
  artisan
  bootstrap/app.php
  bootstrap/providers.php
  config/app.php
  public/index.php
  routes/console.php
  tests/Feature/HealthEndpointTest.php
  tests/Feature/MaintenanceModeTest.php
  tests/Feature/SystemMonitorStatusTest.php
  tests/Unit/KernelTest.php
Due: backend, Laravel Controllers, Laravel Services, Laravel Features

Faster tests
  .ai/rules/index.md
  .ai/rules/models.md
  .ai/rules/providers.md
  .ai/rules/services.md
  .ai/rules/tests.md
  app/Facades/Permission.php
  app/Http/Controllers/Admin/MeetingController.php
  app/Http/Controllers/Api/Admin/AgendaItemNoteApiController.php
  app/Http/Controllers/Api/Admin/SearchApiController.php
  app/Http/Controllers/Api/Admin/UserPreferencesApiController.php
  app/Http/Middleware/TenantPermission.php
  app/Http/Middleware/UpdateLastAction.php
  app/Policies/Traits/HasCommonChecks.php
  app/Providers/ActivityLogServiceProvider.php
  app/Providers/AppServiceProvider.php
  app/Providers/TelescopeServiceProvider.php
  app/Providers/TestingServiceProvider.php
  app/Services/ModelAuthorizer.php
  app/Services/PermissionService.php
  app/Services/Permissions/AccessChangeAnalyzer.php
  app/Services/RelationshipService.php
  phpunit.xml
  routes/api.php
  tests/CLAUDE.md
  tests/Feature/Admin/Content/OtherLanguagePickerIndexTest.php
  tests/Feature/Admin/Resources/DocumentControllerTest.php
  tests/Feature/Auth/AuthorizationTest.php
  tests/Feature/Public/PublicControllerSeoTest.php
  tests/Feature/Search/PublicSearchIndexSyncTest.php
  tests/Feature/Search/SearchableSoftDeletesTest.php
  tests/Feature/Search/TypesenseTestIsolationTest.php
  tests/Feature/Services/ContentResolution/ContentPartResolverTest.php
  tests/Feature/System/ApiEndpointsTest.php
  tests/Pest.php
  tests/README.md
  tests/Unit/Http/Middleware/UpdateLastActionTest.php
  tests/Unit/Providers/LeakedProviderStateTest.php
Due: backend, Laravel Controllers, Laravel Services

Allow browser tests to run in CI
  .github/workflows/ci.yml
  tests/Browser/Pest.php
  tests/Browser/PublicNavigationHeadTest.php
  tests/Browser/README.md
  tests/Pest.php
Due: none

Try again fixing browser test in CI
  tests/Browser/README.md
  tests/Pest.php
Due: none

Fix privacy policy selector page
  .ai/rules/config.md
  .ai/rules/index.md
  .ai/rules/settings.md
  app/Http/Controllers/Admin/SettingsController.php
  app/Http/Requests/UpdateSiteSettingsRequest.php
  app/Settings/SiteSettings.php
  database/settings/2026_08_19_000000_split_privacy_page_setting_by_language.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  lang/admin/en/settings.php
  lang/admin/lt/settings.php
  resources/js/Pages/Admin/Settings/EditSiteSettings.vue
  resources/js/Pages/Admin/Settings/__tests__/EditSiteSettings.component.test.ts
  tests/Feature/Admin/Core/SiteSettingsTest.php
Due: backend, frontend, Laravel Controllers, Laravel Features, Vue Pages
