Repository vu-sa/vusa.lt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Laravel Features, Vue Components, Vue Pages, Vue Composables

Add hero carousel
  app/Enums/ContentPartEnum.php
  app/Models/ContentPart.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  lang/admin/en/activity.php
  lang/admin/en/rich-content.php
  lang/admin/lt/activity.php
  lang/admin/lt/rich-content.php
  lang/shared/en/accessibility.php
  lang/shared/lt/accessibility.php
  resources/js/Components/RichContent/Editor/__tests__/blockSummary.test.ts
  resources/js/Components/RichContent/Editor/blockSummary.ts
  resources/js/Components/RichContent/RCCardStack/CardStackDisplay.vue
  resources/js/Components/RichContent/RCCarouselSlideDeck/CarouselSlideDeckDisplay.vue
  resources/js/Components/RichContent/RCHeroCarousel/HeroCarouselDisplay.vue
  resources/js/Components/RichContent/RCHeroCarousel/__tests__/HeroCarousel.component.test.ts
  resources/js/Components/RichContent/Types/CardStackEditor.vue
  resources/js/Components/RichContent/Types/CarouselSlideDeckEditor.vue
  resources/js/Components/RichContent/Types/HeroCarouselEditor.vue
  resources/js/Components/RichContent/Types/__tests__/registry.component.test.ts
  resources/js/Components/RichContent/Types/index.ts
  resources/js/Components/RichContent/Types/samples.ts
  resources/js/Components/RichContent/__tests__/booleanish.test.ts
  resources/js/Components/RichContent/__tests__/newBlockTypes.component.test.ts
  resources/js/Components/RichContent/booleanish.ts
  resources/js/Types/contentParts.ts
  tests/Unit/Models/ContentPartFormDataScalarsTest.php
  tests/Unit/Models/ContentPartSearchableContentTest.php
Due: backend, frontend, Laravel Models, Vue Components

Fix phpstan errors
  app/Http/Controllers/Admin/SettingsController.php
  docs/changelog/index.md
  docs/en/changelog/index.md
Due: backend, Laravel Controllers

Fix deployment
  .github/workflows/deploy-staging.yml
  .github/workflows/deploy.yml
  .gitignore
  tests/Feature/DeployWorkflowTest.php
Due: none

Update stylings of calendar form
  app/Enums/CalendarHeroStyleEnum.php
  app/Http/Requests/CalendarRequest.php
  app/Models/Calendar.php
  database/factories/CalendarFactory.php
  database/migrations/2026_08_20_113036_add_hero_style_to_calendar_table.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  resources/js/Components/AdminForms/CalendarForm.vue
  resources/js/Components/AdminForms/FormElement.vue
  resources/js/Components/Calendar/EventHero.vue
  resources/js/Components/Calendar/__tests__/EventHero.component.test.ts
  resources/js/Components/ui/date-picker/DateTimePicker.vue
  resources/js/Pages/Public/CalendarEvent.vue
  resources/js/Pages/Public/__tests__/CalendarEvent.component.test.ts
  resources/js/Types/enums.ts
  resources/js/Types/formTemplates.ts
  resources/js/Types/forms.d.ts
  resources/js/Types/models.d.ts
  tests/Feature/Admin/Calendar/CalendarControllerTest.php
  tests/Feature/Public/CalendarEventPageTest.php
Due: backend, frontend, Laravel Models, Laravel Features, Vue Components, Vue Pages

Better settings page
  docs/changelog/index.md
  docs/en/changelog/index.md
  lang/admin/en/settings.php
  lang/admin/lt/settings.php
  resources/js/Pages/Admin/Settings/IndexSettings.vue
  resources/js/Pages/Admin/Settings/__tests__/IndexSettings.component.test.ts
  resources/js/Pages/Admin/ShowAdministration.vue
  resources/js/Pages/Admin/__tests__/ShowAdministration.component.test.ts
  tests/Feature/Admin/Core/AtstovavimasSettingsTest.php
Due: frontend, Vue Pages

Fix image addition in Tiptap
  app/Http/Controllers/Api/Admin/FileApiController.php
  app/Tiptap/Image.php
  app/Tiptap/TiptapEditor.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  lang/admin/en/rich-content.php
  lang/admin/lt/rich-content.php
  lang/shared/en/accessibility.php
  lang/shared/lt/accessibility.php
  resources/css/app.css
  resources/js/Components/TipTap/AccessibleImage.ts
  resources/js/Components/TipTap/ImageAccessibilityDialog.vue
  resources/js/Components/TipTap/ImageSelector.vue
  resources/js/Components/TipTap/TiptapEditor.vue
  resources/js/Components/TipTap/TiptapImageMenu.vue
  resources/js/Components/TipTap/__tests__/ImageAccessibilityDialog.component.test.ts
  resources/js/Components/TipTap/__tests__/ImageSelector.component.test.ts
  resources/js/Components/TipTap/__tests__/ImageSelectorSubmit.component.test.ts
  resources/js/Components/TipTap/__tests__/TiptapImageMenu.component.test.ts
  resources/js/Components/TipTap/__tests__/bubbleMenuVisibility.test.ts
  resources/js/Components/TipTap/__tests__/tiptapExtensions.test.ts
  resources/js/Components/TipTap/bubbleMenuVisibility.ts
  resources/js/Components/TipTap/imageResizeNodeView.ts
  resources/js/Components/TipTap/tiptap-base.css
  resources/js/Features/Admin/FileManager/Components/FileItem.vue
  routes/api.php
  tests/Feature/Api/Admin/FileApiControllerTest.php
  tests/Unit/Tiptap/TiptapEditorTest.php
Due: backend, frontend, Laravel Controllers, Vue Components

Remove Pint in CI
  .github/workflows/ci.yml
Due: none

Fix mislabelled enum options in registration forms
  resources/js/Features/Registrations/RegistrationForm.vue
  resources/js/Features/Registrations/__tests__/RegistrationForm.component.test.ts
Due: frontend

Optimize frontend testing
  .ai/rules/index.md
  .ai/rules/js.md
  .github/workflows/ci.yml
  .github/workflows/setup.yml
  package-lock.json
  package.json
  resources/js/CLAUDE.md
  tests/setup.ts
  vitest.config.ts
Due: frontend

Fix bugs and UI of the FileManager
  app/Http/Controllers/Admin/FilesController.php
  app/Http/Controllers/Api/Admin/FileApiController.php
  app/Http/Requests/Files/SearchFilesRequest.php
  app/Http/Requests/Files/UploadImageRequest.php
  app/Services/FileStorageService.php
  app/Services/ImageUploadService.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  lang/admin/en/files.php
  lang/admin/lt/files.php
  resources/js/Components/FileUpload/FileUploadArea.vue
  resources/js/Components/FileUpload/__tests__/FileUploadArea.component.test.ts
  resources/js/Components/TipTap/composables/useTiptapFileUpload.ts
  resources/js/Composables/useFileUpload.ts
  resources/js/Features/Admin/FileManager/Components/FileGrid.vue
  resources/js/Features/Admin/FileManager/Components/FileItem.vue
  resources/js/Features/Admin/FileManager/Components/FileManagerHeader.vue
  resources/js/Features/Admin/FileManager/Components/FilePropertiesDrawer.vue
  resources/js/Features/Admin/FileManager/Components/FolderStrip.vue
  resources/js/Features/Admin/FileManager/FileManager.vue
  resources/js/Features/Admin/FileManager/FileSelector.vue
  resources/js/Features/Admin/FileManager/__tests__/FileManagerUpload.component.test.ts
  resources/js/Features/Admin/FileManager/__tests__/FolderStrip.component.test.ts
  resources/js/Features/Admin/FileManager/adapters/LocalFileAdapter.ts
  resources/js/Features/Admin/FileManager/adapters/SharepointFileAdapter.ts
  resources/js/Features/Admin/FileManager/adapters/index.ts
  resources/js/Features/Admin/FileManager/types.ts
  resources/js/Features/Admin/FileManager/useFileListing.ts
  resources/js/Pages/Admin/Files/Index.vue
  resources/js/Utils/fileIcons.ts
  resources/js/mocks/inertia.mock.ts
  routes/api.php
  tests/Feature/Admin/Resources/FilesControllerTest.php
  tests/Feature/Api/Admin/FileApiControllerTest.php
  tests/setup.ts
Due: backend, frontend, Laravel Controllers, Laravel Services, Laravel Features, Vue Components, Vue Pages, Vue Composables

Fix phpstan error
  app/Http/Controllers/Api/Admin/FileApiController.php
  app/Services/ImageUploadService.php
Due: backend, Laravel Controllers, Laravel Services

Fixes on FileManager rate limiting, browser history, etc.
  .ai/rules/index.md
  .ai/rules/routes.md
  app/Http/Controllers/Admin/FilesController.php
  app/Http/Controllers/Api/Admin/FileApiController.php
  app/Http/Requests/Files/CreateDirectoryRequest.php
  app/Providers/AppServiceProvider.php
  app/Support/StoragePath.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  lang/admin/en/files.php
  lang/admin/lt/files.php
  resources/js/Components/FileUpload/__tests__/FileUploadArea.component.test.ts
  resources/js/Features/Admin/FileManager/Components/FileGrid.vue
  resources/js/Features/Admin/FileManager/Components/FolderStrip.vue
  resources/js/Features/Admin/FileManager/FileManager.vue
  resources/js/Features/Admin/FileManager/__tests__/FileManagerUpload.component.test.ts
  resources/js/Features/Admin/FileManager/__tests__/FolderStrip.component.test.ts
  resources/js/Features/Admin/FileManager/fileApi.ts
  resources/js/Features/Admin/FileManager/types.ts
  resources/js/Features/Admin/FileManager/useFileListing.ts
  resources/js/Features/Admin/FileManager/useFileSearch.ts
  resources/js/Pages/Admin/Files/Index.vue
  routes/api.php
  tests/Feature/Admin/Resources/FilesControllerTest.php
  tests/Feature/Api/Admin/FileApiControllerTest.php
Due: backend, frontend, Laravel Controllers, Laravel Features, Vue Components, Vue Pages

Update facet filter display in search pages
  .ai/rules/commands.md
  .ai/rules/index.md
  docs/changelog/index.md
  docs/en/changelog/index.md
  resources/js/Components/Public/Search/Shared/BaseFacetSidebar.vue
  resources/js/Components/Public/Search/Shared/FilterAccordionItem.vue
  resources/js/Components/Public/Search/__tests__/DocumentFacetSidebar.component.test.ts
  resources/js/Components/Shared/Search/FilterAccordion.vue
  resources/js/Components/Shared/Search/FilterSidebar.vue
Due: frontend, Vue Components

Fix some cases of FileUsageScanner
  .ai/rules/index.md
  .ai/rules/services.md
  app/Services/FileUsageScanner.php
  tests/Feature/Services/FileUsageScannerTest.php
Due: backend, Laravel Services

Optimize controller help texts
  .ai/rules/index.md
  app/Http/Controllers/CLAUDE.md
Due: backend, Laravel Controllers

Fix phpstan errors
  app/Support/Docs/DocClaimScanner.php
  app/Support/Docs/FeatureSurface.php
  app/Support/Docs/FeatureSurfaceScanner.php
  app/Support/Docs/TestSurfaceScanner.php
Due: backend

Fix #623
  .ai/rules/index.md
  .ai/rules/system.md
  app/Http/Controllers/Admin/UserController.php
  app/Http/Controllers/Api/Admin/UserSearchApiController.php
  app/Http/Requests/Api/Admin/UserSearchRequest.php
  app/Models/Pivots/Dutiable.php
  resources/js/Components/AdminForms/ProblemForm.vue
  tests/Feature/Api/Admin/UserSearchApiControllerTest.php
  tests/Feature/Permissions/DutiablePurgeTest.php
  tests/Feature/System/DutiableDetachConventionTest.php
  tests/Unit/Models/DutiableTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Features, Vue Components

Fix phpstan bugs
  .ai/rules/app.md
  .ai/rules/index.md
  app/Actions/Cadences/SyncCadenceDatesFromAnchors.php
  app/Http/Controllers/Public/PublicPageController.php
  app/Models/Pivots/Dutiable.php
  app/Services/AtstovavimasDashboardService.php
Due: backend, Laravel Controllers, Laravel Models, Laravel Services

Better showing of agenda item status
  .ai/rules/composables.md
  .ai/rules/index.md
  app/Http/Controllers/Public/ContactController.php
  app/Models/Meeting.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  lang/en.json
  resources/js/Components/AgendaItems/AgendaItemNavigator.vue
  resources/js/Components/Meetings/MeetingAgendaList.vue
  resources/js/Components/Meetings/__tests__/MeetingAgendaList.component.test.ts
  resources/js/Components/Public/AgendaOutcomeIndicators.vue
  resources/js/Components/Public/MeetingCard.vue
  resources/js/Components/Public/PublicAgendaItemRow.vue
  resources/js/Components/Public/__tests__/PublicAgendaList.component.test.ts
  resources/js/Composables/__tests__/useAgendaItemStyling.test.ts
  resources/js/Composables/useAgendaItemStyling.ts
  resources/js/Pages/Admin/Representation/EditAgendaItem.vue
  resources/js/Pages/Admin/Representation/ShowMeeting.vue
  resources/js/Pages/Admin/Representation/__tests__/EditAgendaItem.component.test.ts
  resources/js/Pages/Public/Contacts/ShowInstitution.vue
  resources/js/Pages/Public/Meetings/ShowMeeting.vue
  resources/js/Types/models.d.ts
  tests/Feature/Meetings/MeetingStudentPerspectiveTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Vue Components, Vue Pages, Vue Composables

Show more documents available for meeting attachment
  app/Http/Controllers/Admin/MeetingController.php
  app/Http/Requests/Meetings/StoreMeetingDocumentRequest.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  resources/js/Components/Meetings/MeetingDocumentsPanel.vue
  resources/js/Components/Meetings/__tests__/MeetingDocumentsPanel.component.test.ts
  resources/js/Features/Admin/SharepointFilePicker/FilePicker.vue
  resources/js/Pages/Admin/Files/IndexDocument.vue
  resources/js/Pages/Admin/Representation/ShowMeeting.vue
  tests/Feature/Meetings/MeetingDocumentTest.php
Due: backend, frontend, Laravel Controllers, Laravel Features, Vue Components, Vue Pages

Refinements for one action
  app/Http/Controllers/Admin/MeetingController.php
  app/Http/Requests/StoreMeetingRequest.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  lang/admin/en/action_window.php
  lang/admin/lt/action_window.php
  resources/js/Components/ActionWindow/ActionWindowScreen.vue
  resources/js/Components/ActionWindow/__tests__/InstitutionPickerScreen.component.test.ts
  resources/js/Components/ActionWindow/__tests__/MeetingAgendaScreen.component.test.ts
  resources/js/Components/ActionWindow/__tests__/MeetingReviewScreen.component.test.ts
  resources/js/Components/ActionWindow/__tests__/MeetingTypeScreen.component.test.ts
  resources/js/Components/ActionWindow/__tests__/MeetingWhenScreen.component.test.ts
  resources/js/Components/ActionWindow/screens/InstitutionPickerScreen.vue
  resources/js/Components/ActionWindow/screens/MeetingAgendaScreen.vue
  resources/js/Components/ActionWindow/screens/MeetingReviewScreen.vue
  resources/js/Components/ActionWindow/screens/MeetingTypeScreen.vue
  resources/js/Components/ActionWindow/screens/MeetingWhenScreen.vue
  resources/js/Components/AdminForms/Special/AgendaItemsForm.vue
  resources/js/Components/AdminForms/Special/__tests__/AgendaItemsForm.component.test.ts
  resources/js/Components/Meetings/MeetingAgendaList.vue
  resources/js/Components/Meetings/__tests__/MeetingAgendaList.component.test.ts
  resources/js/Composables/__tests__/useActionWindowCatalog.test.ts
  resources/js/Composables/useActionWindow.ts
  resources/js/Composables/useActionWindowCatalog.ts
  resources/js/Composables/useMeetingCreation.ts
  resources/js/Pages/Admin/Representation/ShowMeeting.vue
  resources/js/Pages/Admin/Representation/__tests__/ShowMeeting.component.test.ts
  tests/Feature/Admin/Calendar/MeetingControllerTest.php
  tests/Feature/Admin/People/DutiableTimelineControllerTest.php
Due: backend, frontend, Laravel Controllers, Laravel Features, Vue Components, Vue Pages, Vue Composables

Fix stray merge artifacts
  app/Http/Controllers/Public/PublicPageController.php
  app/Models/Pivots/Dutiable.php
  app/Services/AtstovavimasDashboardService.php
  resources/js/Types/models.d.ts
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services

Remove the AWT from hero
  resources/js/Pages/Admin/ShowAdminHome.vue
Due: frontend, Vue Pages

Do not spam past users with task notifications
  .ai/rules/index.md
  .ai/rules/schedulable-console-commands.md
  .ai/rules/tasks-services.md
  app/Actions/ResolveTaskAudience.php
  app/Actions/Schedulable/TaskNotifier.php
  app/Console/Commands/RepopulateTasks.php
  app/Console/Commands/SendTaskOverdueReminders.php
  app/Listeners/HandleTaskCreated.php
  app/Models/Task.php
  app/Services/MeetingCompletionService.php
  app/Tasks/Handlers/AgendaCompletionTaskHandler.php
  app/Tasks/Handlers/BaseTaskHandler.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  tests/Feature/Notifications/NotificationFiringTest.php
  tests/Feature/Tasks/MeetingTaskTestHelpers.php
  tests/Feature/Tasks/Subscribers/MeetingTaskSubscriberTest.php
  tests/Feature/Tasks/TaskNotificationAudienceTest.php
Due: backend, Laravel Models, Laravel Services, Laravel Features

Add better task deletion + mail queue management
  .ai/rules/admin.md
  .ai/rules/index.md
  .ai/rules/pages-admin.md
  app/Console/Commands/PruneNotificationDigests.php
  app/Http/Controllers/Admin/MailQueueController.php
  app/Http/Controllers/Admin/TaskController.php
  app/Models/Task.php
  app/Models/Traits/HasTasks.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  lang/admin/en/mail_queue.php
  lang/admin/en/messages.php
  lang/admin/en/tasks.php
  lang/admin/lt/mail_queue.php
  lang/admin/lt/messages.php
  lang/admin/lt/tasks.php
  resources/js/Features/Admin/TaskManager/TaskTable.vue
  resources/js/Pages/Admin/MailQueue.vue
  resources/js/Pages/Admin/SystemStatus.vue
  routes/admin.php
  tests/Browser/MailQueueTest.php
  tests/Feature/Notifications/MailQueueControllerTest.php
  tests/Feature/Notifications/PruneNotificationDigestsTest.php
  tests/Feature/System/DutiableDetachConventionTest.php
  tests/Feature/Tasks/TaskDeletionTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Features, Vue Pages

Minus one day for cadency, when selecting meeting as end date
  app/Http/Requests/Cadences/CadenceRequest.php
Due: backend, Laravel Features

Remove the holder status from duty summary card
  resources/js/Components/Duties/DutySummaryCard.vue
  resources/js/Pages/Admin/People/ShowUser.vue
Due: frontend, Vue Components, Vue Pages

Fix cases where the members get task notifications when administrator is assigned
  .ai/rules/actions-models.md
  .ai/rules/index.md
  .ai/rules/subscribers.md
  app/Actions/GetMeetingOverseers.php
  app/Actions/ResolveMeetingNotificationAudience.php
  app/Actions/ResyncTaskAssigneesForCadence.php
  app/Models/Cadence.php
  app/Tasks/Handlers/AgendaCompletionTaskHandler.php
  app/Tasks/Subscribers/MeetingTaskSubscriber.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  lang/admin/en/settings.php
  lang/admin/lt/settings.php
  tests/Feature/Tasks/InstitutionAdministratorMailScopeTest.php
  tests/Feature/Tasks/Subscribers/MeetingTaskSubscriberTest.php
Due: backend, Laravel Models, Laravel Services

Path conditions:
  backend: any of: app/
  frontend: any of: resources/js/
  Laravel Controllers: any of: app/Http/Controllers/**
  Laravel Models: any of: app/Models/**
  Laravel Services: any of: app/Services/**, app/Actions/**
  Laravel Features: any of: app/Jobs/**, app/Console/**, app/Traits/**, app/Http/Requests/**
  Vue Components: any of: resources/js/Components/**
  Vue Pages: any of: resources/js/Pages/**
  Vue Composables: any of: resources/js/Composables/**, resources/js/Utils/**
