Repository vu-sa/vusa.lt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Laravel Features, Vue Components, Vue Pages, Vue Composables

Fix static error
  app/Notifications/UserAttachedToModel.php
Due: backend

Add Laravel Boost
  .cursor/mcp.json
  .cursor/rules/laravel-boost.mdc
  .mcp.json
  boost.json
  composer.json
  composer.lock
Due: none

Add Problem and ProblemCategory models with migrations and update ModelEnum
  app/Enums/ModelEnum.php
  app/Models/Problem.php
  app/Models/ProblemCategory.php
  database/migrations/2025_11_05_192559_create_problems_table.php
  database/migrations/2025_11_05_192608_create_problem_categories_table.php
  database/migrations/2025_11_05_192629_create_problem_problem_category_table.php
Due: backend, Laravel Models

Add ProblemPolicy for authorization and update role seeders to include problem permissions
  app/Policies/ProblemPolicy.php
  database/seeders/RoleCommunicationCoordinatorSeeder.php
  database/seeders/RoleStudentRepresentativeCoordinatorSeeder.php
  database/seeders/RoleStudentRepresentativeSeeder.php
Due: backend

Add restore route and resource for problems in admin routes
  routes/admin.php
Due: none

Add StoreProblemRequest and UpdateProblemRequest for problem management
  app/Http/Requests/StoreProblemRequest.php
  app/Http/Requests/UpdateProblemRequest.php
Due: backend, Laravel Features

Update Laravel Boost guidelines and dependencies
  .cursor/rules/laravel-boost.mdc
  .github/copilot-instructions.md
  CLAUDE.md
  boost.json
  composer.lock
Due: none

Add ProblemController for managing problems in the admin panel
  app/Http/Controllers/Admin/ProblemController.php
  app/Http/Requests/StoreProblemRequest.php
  app/Http/Requests/UpdateProblemRequest.php
  app/Models/Problem.php
Due: backend, Laravel Controllers, Laravel Models, Laravel Features

Add Problem model and related icons to the application
  resources/js/Components/icons/model-icons.ts
  resources/js/Types/Icons/regular.ts
  resources/js/Types/entities.d.ts
  resources/js/Types/enums.ts
  resources/js/entities.ts
Due: frontend, Vue Components

Add problem management features to the admin panel
  docs/_parts/problems/en/description.md
  docs/_parts/problems/lt/description.md
  lang/en.json
  lang/lt.json
  resources/js/Components/AdminForms/AdminForm.vue
  resources/js/Components/AdminForms/ProblemForm.vue
  resources/js/Pages/Admin/Problems/CreateProblem.vue
  resources/js/Pages/Admin/Problems/EditProblem.vue
  resources/js/Pages/Admin/Problems/IndexProblem.vue
  resources/js/Pages/Admin/ShowAdminHome.vue
  resources/js/Pages/Admin/ShowAdministration.vue
Due: frontend, Vue Components, Vue Pages

Add steps_taken field to problem management
  app/Http/Requests/StoreProblemRequest.php
  app/Http/Requests/UpdateProblemRequest.php
  app/Models/Problem.php
  database/migrations/2025_11_17_200039_add_steps_taken_to_problems_table.php
  lang/en/entities.php
  lang/lt/entities.php
  resources/js/Components/AdminForms/ProblemForm.vue
  resources/js/Pages/Admin/Problems/CreateProblem.vue
  resources/js/Pages/Admin/Problems/EditProblem.vue
  resources/js/Types/models.d.ts
Due: backend, frontend, Laravel Models, Laravel Features, Vue Components, Vue Pages

Add institution management to problem handling
  app/Http/Controllers/Admin/ProblemController.php
  app/Http/Requests/StoreProblemRequest.php
  app/Http/Requests/UpdateProblemRequest.php
  app/Models/Institution.php
  app/Models/Problem.php
  database/migrations/2025_11_17_202133_create_institution_problem_table.php
  resources/js/Components/AdminForms/ProblemForm.vue
  resources/js/Pages/Admin/Problems/CreateProblem.vue
  resources/js/Pages/Admin/Problems/EditProblem.vue
  resources/js/Pages/Admin/Problems/IndexProblem.vue
  resources/js/Types/models.d.ts
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Features, Vue Components, Vue Pages

More logging and disallowing links to folders in document links
  app/Http/Controllers/Admin/SharepointFileController.php
  app/Models/Document.php
  app/Services/SharepointGraphService.php
  resources/js/Features/Admin/SharepointFileManager/Viewer/FileDrawer.vue
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services

PHP Linting (Pint)
  app/Models/Document.php
  app/Services/SharepointGraphService.php
Due: backend, Laravel Models, Laravel Services

Update symphony/http-foundation to 7.4.0
  composer.lock
Due: none

Mask urls in logs, earlier InvalidArgumentException handling
  app/Models/Document.php
  app/Services/SharepointGraphService.php
Due: backend, Laravel Models, Laravel Services

Refine the check-in controller logic
  app/Http/Controllers/Admin/DashboardController.php
  app/Http/Controllers/Admin/InstitutionCheckInAdminController.php
  app/Http/Controllers/Admin/InstitutionCheckInController.php
  app/Http/Controllers/Admin/MeetingController.php
  app/Services/CheckInService.php
  resources/js/Components/CheckIns/InstitutionCheckInCard.vue
  resources/js/Components/Public/Search/InstitutionCard.vue
  resources/js/Pages/Admin/Dashboard/Components/InstitutionDataTable.vue
  resources/js/Pages/Admin/ShowAdminHome.vue
  routes/admin.php
Due: backend, frontend, Laravel Controllers, Laravel Services, Vue Components, Vue Pages

Fix coloring inconsistencies of the ShowAtstovavimas.vue page
  lang/en.json
  lang/lt.json
  resources/css/app.css
  resources/js/Components/CheckIns/InstitutionCheckInCard.vue
  resources/js/Components/Graphs/GanttLegendModal.vue
  resources/js/Components/Graphs/MeetingsGantt.vue
  resources/js/Components/Graphs/ganttColors.ts
  resources/js/Components/Hero/PageHero.vue
  resources/js/Components/Institutions/InstitutionCompactCard.vue
  resources/js/Pages/Admin/Dashboard/Components/InstitutionDataTable.vue
  resources/js/Pages/Admin/Dashboard/Components/MeetingDataTable.vue
  resources/js/Pages/Admin/Dashboard/Components/OverviewCardSkeleton.vue
  resources/js/Pages/Admin/Dashboard/Components/PersonalOverviewSection.vue
  resources/js/Pages/Admin/Dashboard/Components/TimelineGanttChart.vue
  resources/js/Pages/Admin/Dashboard/Components/TimelineGanttSkeleton.vue
  resources/js/Pages/Admin/Dashboard/Components/UpcomingMeetingsCard.vue
  resources/js/Pages/Admin/Dashboard/Components/UserTimelineSection.vue
  resources/js/Pages/Admin/Dashboard/Composables/useAtstovavimasActions.ts
Due: frontend, Vue Components, Vue Pages

Ensure unique tenant entries in GetTenantsForUpserts
  app/Actions/GetTenantsForUpserts.php
Due: backend, Laravel Services

Cleanup the atstovavimas composables
  resources/js/Pages/Admin/Dashboard/Composables/useAtstovavimasActions.ts
  resources/js/Pages/Admin/Dashboard/Composables/useAtstovavimasData.ts
  resources/js/Pages/Admin/Dashboard/Composables/useTimelineFilters.ts
  resources/js/Pages/Admin/Dashboard/ShowAtstovavimas.vue
  resources/js/Pages/Admin/Dashboard/types.ts
Due: frontend, Vue Pages

Add and update ShadcnVue components
  package-lock.json
  package.json
  resources/js/Components/ui/badge/Badge.vue
  resources/js/Components/ui/badge/index.ts
  resources/js/Components/ui/button-group/ButtonGroup.vue
  resources/js/Components/ui/button-group/ButtonGroupSeparator.vue
  resources/js/Components/ui/button-group/ButtonGroupText.vue
  resources/js/Components/ui/button-group/index.ts
  resources/js/Components/ui/separator/Separator.vue
  resources/js/Components/ui/spinner/Spinner.vue
  resources/js/Components/ui/spinner/index.ts
  resources/js/Components/ui/switch/Switch.vue
  resources/js/Components/ui/switch/index.ts
Due: frontend, Vue Components

Fix some tooltip and separator usages
  resources/js/Components/Buttons/InfoPopover.vue
  resources/js/Components/Buttons/SimpleLocaleButton.vue
  resources/js/Components/Public/ContactWithPhoto.vue
  resources/js/Components/RichContent/Types/ContentGridEditor.vue
  resources/js/Components/ui/auto-form/AutoFormFieldArray.vue
  resources/js/Components/ui/tooltip/Tooltip.vue
  resources/js/Components/ui/tooltip/TooltipContent.vue
  resources/js/Components/ui/tooltip/TooltipProvider.vue
  resources/js/Components/ui/tooltip/TooltipTrigger.vue
  resources/js/Components/ui/tooltip/index.ts
  resources/js/Features/Admin/ProgrammePlanner/ProgrammeBlock.vue
  resources/js/Features/Admin/ProgrammePlanner/ProgrammeDay.vue
  resources/js/Features/Admin/ProgrammePlanner/ProgrammeSection.vue
  resources/js/Pages/Admin/Dashboard/ShowReservations.vue
  resources/js/Pages/Public/Contacts/ContactsSearch.vue
  resources/js/Pages/Public/Contacts/ShowStudentReps.vue
Due: frontend, Vue Components, Vue Pages

Optimize loading ShowAtstovavimas.vue
  app/Http/Controllers/Admin/DashboardController.php
  app/Http/Controllers/Admin/InstitutionController.php
  app/Http/Controllers/Admin/MeetingController.php
  app/Models/Institution.php
  app/Models/Meeting.php
  app/Services/ResourceServices/DutyService.php
  database/migrations/2025_12_07_062639_add_start_time_index_to_meetings_table.php
  resources/js/Pages/Admin/Dashboard/Components/TenantTimelineSection.vue
  resources/js/Pages/Admin/Dashboard/Components/UserTimelineSection.vue
  resources/js/Pages/Admin/Dashboard/Composables/useGanttChartData.ts
  resources/js/Pages/Admin/Dashboard/ShowAtstovavimas.vue
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Vue Pages

Update ShowMeeting.vue page, components and forms
  lang/en.json
  lang/en/voting.php
  lang/lt.json
  lang/lt/voting.php
  resources/js/Components/AdminForms/AddAgendaItemForm.vue
  resources/js/Components/AdminForms/AgendaItemForm.vue
  resources/js/Components/AdminForms/MeetingDetailsForm.vue
  resources/js/Components/AdminForms/MeetingForm.vue
  resources/js/Components/AdminForms/Special/AgendaItemsForm.vue
  resources/js/Components/AgendaItems/AgendaItemCard.vue
  resources/js/Components/AgendaItems/CompactVoteIndicator.vue
  resources/js/Components/AgendaItems/InlineVoteControl.vue
  resources/js/Components/AgendaItems/SortableCardContainer.vue
  resources/js/Components/AgendaItems/VotingInfoButton.vue
  resources/js/Components/Buttons/TriStateButton.vue
  resources/js/Components/Modals/NewMeetingModal.vue
  resources/js/Components/ui/FieldTooltip.vue
  resources/js/Pages/Admin/Representation/ShowMeeting.vue
Due: frontend, Vue Components, Vue Pages

Show the check_in note
  resources/js/Components/Graphs/MeetingsGantt.vue
  resources/js/Components/Institutions/InstitutionCompactCard.vue
  resources/js/Pages/Admin/Dashboard/Composables/useAtstovavimasData.ts
  resources/js/Pages/Admin/Dashboard/Composables/useGanttChartData.ts
  resources/js/Pages/Admin/Dashboard/types.ts
Due: frontend, Vue Components, Vue Pages

Redesign MemberTimeline.vue to separate grouped components
  lang/en.json
  lang/lt.json
  resources/js/Components/Duties/DutyHero.vue
  resources/js/Components/Members/MemberHistory.vue
  resources/js/Components/Members/MemberHistoryCard.vue
  resources/js/Components/Members/MemberTimeline.vue
  resources/js/Pages/Admin/People/ShowDuty.vue
Due: frontend, Vue Components, Vue Pages

Fix fullscreen meetings gantt scrolling
  resources/js/Components/Graphs/MeetingsGantt.vue
  resources/js/Pages/Admin/Dashboard/Components/FullscreenGanttModal.vue
  resources/js/Pages/Admin/Dashboard/Components/TimelineGanttChart.vue
Due: frontend, Vue Components, Vue Pages

Implement settings management with role-based access control
  app/Http/Controllers/Admin/SettingsController.php
  app/Http/Middleware/HandleInertiaRequests.php
  app/Http/Requests/UpdateFormSettingsRequest.php
  app/Http/Requests/UpdateMeetingSettingsRequest.php
  app/Http/Requests/UpdateSettingsAuthorizationRequest.php
  app/Providers/AuthServiceProvider.php
  app/Settings/SettingsSettings.php
  database/settings/2025_12_07_000000_create_settings_settings.php
  lang/en/settings.php
  lang/lt/settings.php
  resources/js/Components/AdminForms/FormElement.vue
  resources/js/Components/icons/other-icons.ts
  resources/js/Components/ui/multi-select/MultiSelect.vue
  resources/js/Components/ui/multi-select/index.ts
  resources/js/Pages/Admin/Settings/EditFormSettings.vue
  resources/js/Pages/Admin/Settings/EditMeetingSettings.vue
  resources/js/Pages/Admin/Settings/EditSettingsAuthorization.vue
  resources/js/Pages/Admin/Settings/IndexSettings.vue
  resources/js/Pages/Admin/ShowAdministration.vue
  resources/js/Types/Icons/filled.ts
  resources/js/Types/Icons/regular.ts
  resources/js/Types/otherEnums.ts
  routes/admin.php
Due: backend, frontend, Laravel Controllers, Laravel Features, Vue Components, Vue Pages

Remove the Typesense key placeholder logic
  app/Console/Commands/GenerateTypesenseSearchKey.php
  app/Http/Controllers/Admin/SystemStatusController.php
  app/Services/Typesense/TypesenseManager.php
  config/scout.php
  database/seeders/DatabaseSeeder.php
  resources/js/Components/Public/Search/TypesenseSearch.vue
  resources/js/Composables/useDocumentSearch.ts
  resources/js/Composables/useInstitutionSearch.ts
  resources/js/Composables/useMeetingSearch.ts
  resources/js/Composables/useSearchClient.ts
  tests/Feature/TypesenseSearchTest.php
Due: backend, frontend, Laravel Controllers, Laravel Services, Laravel Features, Vue Components, Vue Composables

Show which institutions and meetings are public, in the ShowAtstovavimas.vue
  app/Http/Controllers/Admin/DashboardController.php
  lang/en.json
  resources/js/Components/Graphs/GanttLegendModal.vue
  resources/js/Components/Graphs/MeetingsGantt.vue
  resources/js/Components/Institutions/InstitutionCompactCard.vue
  resources/js/Pages/Admin/Dashboard/Components/FullscreenGanttModal.vue
  resources/js/Pages/Admin/Dashboard/Components/TenantTimelineSection.vue
  resources/js/Pages/Admin/Dashboard/Components/TimelineGanttChart.vue
  resources/js/Pages/Admin/Dashboard/Components/UpcomingMeetingsCard.vue
  resources/js/Pages/Admin/Dashboard/Components/UserTimelineSection.vue
  resources/js/Pages/Admin/Dashboard/Composables/useGanttChartData.ts
  resources/js/Pages/Admin/Dashboard/Composables/useTimelineFilters.ts
  resources/js/Pages/Admin/Dashboard/ShowAtstovavimas.vue
  resources/js/Pages/Admin/Dashboard/types.ts
Due: backend, frontend, Laravel Controllers, Vue Components, Vue Pages

Remake how StudentReps.vue is displayed and when
  CLAUDE.md
  app/Http/Controllers/Public/ContactController.php
  lang/en.json
  lang/lt.json
  lang/lt/search.php
  resources/js/Components/Public/ContactCompactCard.vue
  resources/js/Components/Public/ContactPageHeader.vue
  resources/js/Components/Public/InstitutionContacts.vue
  resources/js/Components/Public/InstitutionFigure.vue
  resources/js/Components/Public/Nav/PadalinysSelector.vue
  resources/js/Components/Public/Search/InstitutionSearchInterface.vue
  resources/js/Pages/Public/Contacts/ShowContactCategory.vue
  resources/js/Pages/Public/Contacts/ShowContacts.vue
  resources/js/Pages/Public/Contacts/ShowStudentReps.vue
  resources/js/Utils/String.ts
  routes/web.php
  tests/Feature/Public/PublicPagesTest.php
Due: backend, frontend, Laravel Controllers, Vue Components, Vue Pages, Vue Composables

Separate the MeetingCard timeline component
  resources/js/Components/Public/MeetingCard.vue
  resources/js/Components/Public/MeetingTimelineItem.vue
  resources/js/Pages/Public/Contacts/ContactInstitutionOrType.vue
Due: frontend, Vue Components, Vue Pages

Enhance layout structure and spacing in PublicLayout and ContactInstitutionOrType components
  resources/js/Components/Public/Layouts/PublicLayout.vue
  resources/js/Pages/Public/Contacts/ContactInstitutionOrType.vue
Due: frontend, Vue Components, Vue Pages

Update how meetings are shown publicly
  app/Enums/SearchableModelEnum.php
  app/Http/Controllers/Admin/MeetingController.php
  app/Http/Controllers/Public/ContactController.php
  app/Models/Meeting.php
  resources/js/Components/Meetings/MeetingHero.vue
  resources/js/Components/Public/ConsentCard.vue
  resources/js/Components/Public/InstitutionFigure.vue
  resources/js/Components/Public/MeetingCard.vue
  resources/js/Components/Public/MeetingTimelineItem.vue
  resources/js/Components/Public/Search/MeetingCompactListItem.vue
  resources/js/Components/Public/VoteIndicator.vue
  resources/js/Composables/useMeetingStatus.ts
  resources/js/Pages/Admin/Representation/ShowMeeting.vue
  resources/js/Pages/Public/Contacts/ContactInstitutionOrType.vue
  resources/js/Pages/Public/Meetings/ShowMeeting.vue
Due: backend, frontend, Laravel Controllers, Laravel Models, Vue Components, Vue Pages, Vue Composables

Consolidate search components
  resources/js/Components/Public/Search/DocumentResults.vue
  resources/js/Components/Public/Search/DocumentSearchInput.vue
  resources/js/Components/Public/Search/InstitutionResults.vue
  resources/js/Components/Public/Search/InstitutionSearchInput.vue
  resources/js/Components/Public/Search/MeetingResults.vue
  resources/js/Components/Public/Search/MeetingSearchInput.vue
  resources/js/Components/Public/Search/Shared/BaseFacetSidebar.vue
  resources/js/Components/Public/Search/Shared/BaseSearchInput.vue
  resources/js/Components/Public/Search/Shared/BaseSearchInterface.vue
  resources/js/Components/Public/Search/Shared/BaseSearchResults.vue
  resources/js/Components/Public/Search/Shared/CheckboxFilterList.vue
  resources/js/Components/Public/Search/Shared/FilterAccordionItem.vue
  resources/js/Components/Public/Search/Shared/index.ts
  resources/js/Components/Public/Search/Shared/types.ts
  resources/js/Types/BaseSearchTypes.ts
Due: frontend, Vue Components

Fix the behaviour of some institution cards
  app/Models/PublicInstitution.php
  config/scout.php
  resources/js/Components/Cards/NewInstitutionCard.vue
  resources/js/Components/Public/InstitutionFigure.vue
  resources/js/Components/Public/Search/InstitutionCompactListItem.vue
  resources/js/Components/Public/Search/InstitutionResults.vue
  resources/js/Components/Public/Search/Shared/BaseSearchResults.vue
  resources/js/Components/Public/SmartLink.vue
Due: backend, frontend, Laravel Models, Vue Components

Path conditions:
  backend: any of: app/
  frontend: any of: resources/js/
  Laravel Controllers: any of: app/Http/Controllers/**
  Laravel Models: any of: app/Models/**
  Laravel Services: any of: app/Services/**, app/Actions/**
  Laravel Features: any of: app/Jobs/**, app/Console/**, app/Traits/**, app/Http/Requests/**
  Vue Components: any of: resources/js/Components/**
  Vue Pages: any of: resources/js/Pages/**
  Vue Composables: any of: resources/js/Composables/**, resources/js/Utils/**
