Repository vu-sa/vusa.lt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Laravel Features, Vue Components, Vue Pages, Vue Composables

.codecov.yml:

codecov:
  require_ci_to_pass: no  # Allow reports even if some CI jobs fail
  notify:
    wait_for_ci: no        # Don't wait for all CI jobs

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project: off
    patch:
      default:
        target: 65%
        threshold: 3%
        if_ci_failed: ignore

component_management:
  individual_components:
    - component_id: laravel_controllers
      name: "Laravel Controllers"
      paths:
        - "app/Http/Controllers/**"
      statuses:
        - type: patch
          target: 70%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: laravel_models
      name: "Laravel Models"
      paths:
        - "app/Models/**"
      statuses:
        - type: patch
          target: 80%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: laravel_services
      name: "Laravel Services"
      paths:
        - "app/Services/**"
        - "app/Actions/**"
      statuses:
        - type: patch
          target: 75%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: laravel_features
      name: "Laravel Features"
      paths:
        - "app/Jobs/**"
        - "app/Console/**"
        - "app/Traits/**"
        - "app/Http/Requests/**"
      statuses:
        - type: patch
          target: 65%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: vue_components
      name: "Vue Components"
      paths:
        - "resources/js/Components/**"
      statuses:
        - type: patch
          target: 60%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: vue_pages
      name: "Vue Pages"
      paths:
        - "resources/js/Pages/**"
      statuses:
        - type: patch
          target: 55%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: vue_composables
      name: "Vue Composables"
      paths:
        - "resources/js/Composables/**"
        - "resources/js/Utils/**"
      statuses:
        - type: patch
          target: 75%
          threshold: 3%
          if_ci_failed: ignore

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no      # Don't require head report for comments
  show_carryforward_flags: true

# Add flags to separate frontend and backend coverage
flags:
  backend:
    paths:
      - "app/"
    carryforward: false
  frontend:
    paths:
      - "resources/js/"
    carryforward: false

Refine impersonation on dev
  app/Http/Controllers/Api/Admin/ImpersonateApiController.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  lang/en.json
  lang/lt.json
  resources/js/Components/ImpersonateBanner.vue
  resources/js/Components/__tests__/ImpersonateBanner.component.test.ts
  tests/Browser/ImpersonationControlTest.php
  tests/Feature/Admin/Core/ImpersonateApiTest.php
Due: backend, frontend, Laravel Controllers, Vue Components

Refine the ShowAdminHome.vue even more
  app/Http/Controllers/Admin/DashboardController.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  resources/js/Components/Home/AttentionQueue.vue
  resources/js/Components/Home/HomeHero.vue
  resources/js/Components/Home/__tests__/AttentionQueue.component.test.ts
  resources/js/Components/Home/__tests__/HomeHero.component.test.ts
  resources/js/Components/Home/types.ts
  resources/js/Pages/Admin/ShowAdminHome.vue
  resources/js/Pages/Admin/__tests__/ShowAdminHome.component.test.ts
  tests/Feature/Admin/Core/DashboardControllerTest.php
Due: backend, frontend, Laravel Controllers, Vue Components, Vue Pages

General improvements
  docs/changelog/index.md
  docs/en/changelog/index.md
  resources/js/Components/AdminForms/FormFieldWrapper.vue
  resources/js/Components/AdminForms/PageForm.vue
  resources/js/Components/AdminForms/PermalinkField.vue
  resources/js/Components/AdminForms/PublicUrlHistoryCard.vue
  resources/js/Components/Buttons/MoreOptionsButton.vue
  resources/js/Components/Buttons/RelatedModelButton.vue
  resources/js/Components/Dialogs/DeleteConfirmationDialog.vue
  resources/js/Components/Layouts/Shell/ShellTopBar.vue
  resources/js/Components/Layouts/Shell/__tests__/ShellTopBar.component.test.ts
  resources/js/Components/Patterns/FormPanel.vue
  resources/js/Components/Public/Institutions/NewInstitutionCard.vue
  resources/js/Components/Public/Institutions/StudentRepInstitutionCard.vue
  resources/js/Components/Public/Institutions/__tests__/StudentRepInstitutionCard.component.test.ts
  resources/js/Components/RichContent/DecorativeElement.vue
  resources/js/Components/RichContent/ImageWithDecorations.vue
  resources/js/Components/RichContent/RCCarouselSlideDeck/CarouselSlideDeckDisplay.vue
  resources/js/Components/RichContent/RCHeroSection/HeroElement.vue
  resources/js/Components/RichContent/RCHeroSection/HeroImageHotspot.vue
  resources/js/Components/RichContent/RCInstitutionList/InstitutionListDisplay.vue
  resources/js/Components/RichContent/RCPhotoGalleryGrid/PhotoGalleryGridDisplay.vue
  resources/js/Components/RichContent/RCSection.vue
  resources/js/Components/RichContent/RCSection/SectionDisplay.vue
  resources/js/Components/RichContent/SectionHeader.vue
  resources/js/Components/RichContent/Types/ContentGridDisplay.vue
  resources/js/Components/RichContent/Types/__tests__/ContentGridDisplay.component.test.ts
  resources/js/Components/RichContent/__tests__/ImageWithDecorations.component.test.ts
  resources/js/Components/RichContent/__tests__/SectionHeader.component.test.ts
  resources/js/Components/ui/date-picker/DateTimePicker.vue
  resources/js/Components/ui/multi-select/MultiSelect.vue
  resources/js/Components/ui/ordered-list-input/OrderedListInput.vue
  resources/js/Features/Admin/FileManager/FileManager.vue
  resources/js/Pages/Admin/Content/IndexQuickLink.vue
  resources/js/Pages/Admin/Content/__tests__/IndexQuickLink.component.test.ts
  resources/js/Pages/Admin/ShowAdminHome.vue
  resources/js/Pages/Admin/__tests__/ShowAdminHome.component.test.ts
  resources/js/Pages/Public/Contacts/ShowContactCategory.vue
  resources/js/Pages/Public/Contacts/ShowContacts.vue
  resources/js/Pages/Public/Contacts/ShowStudentReps.vue
Due: frontend, Vue Components, Vue Pages

Migrate Svetainė pages
  eslint.config.mjs
  resources/js/Components/AdminForms/BannerForm.vue
  resources/js/Components/AdminForms/NavigationForm.vue
  resources/js/Components/AdminForms/NavigationParentForm.vue
  resources/js/Components/AdminForms/QuickLinkForm.vue
  resources/js/Components/AdminForms/StudySetForm.vue
  resources/js/Components/AdminForms/TagForm.vue
  resources/js/Components/AdminForms/__tests__/BannerForm.component.test.ts
  resources/js/Components/AdminForms/__tests__/NavigationForm.component.test.ts
  resources/js/Components/AdminForms/__tests__/QuickLinkForm.component.test.ts
  resources/js/Components/AdminForms/__tests__/StudySetForm.component.test.ts
  resources/js/Features/Admin/FileManager/Components/FileGrid.vue
  resources/js/Features/Admin/FileManager/Components/FileItem.vue
  resources/js/Features/Admin/FileManager/Components/FileManagerHeader.vue
  resources/js/Features/Admin/FileManager/Components/FileManagerSidebar.vue
  resources/js/Features/Admin/FileManager/Components/FilePreviewModal.vue
  resources/js/Features/Admin/FileManager/Components/FilePropertiesDrawer.vue
  resources/js/Features/Admin/FileManager/FileManager.vue
  resources/js/Features/Admin/FileManager/__tests__/FileManagerView.component.test.ts
  resources/js/Features/Admin/FileManager/types.ts
  resources/js/Features/Admin/FileManager/utils.ts
  resources/js/Pages/Admin/Content/CreateTag.vue
  resources/js/Pages/Admin/Content/EditTag.vue
  resources/js/Pages/Admin/Files/Index.vue
Due: frontend, Vue Components, Vue Pages

Fix php, phpstan and vitest tests
  app/Actions/GetRecentlyChangedMeetings.php
  app/Actions/SerializeFormsForTable.php
  app/Http/Controllers/Admin/AtstovavimasDashboardController.php
  app/Http/Controllers/Admin/OrganizacijaDashboardController.php
  app/Http/Controllers/Api/Admin/TaskApiController.php
  app/Http/Requests/Content/BulkContentRequest.php
  app/Http/Requests/Content/BulkContentStatusRequest.php
  app/Http/Requests/Content/BulkDestroyNewsRequest.php
  app/Http/Requests/Content/BulkDestroyPagesRequest.php
  app/Http/Requests/Content/BulkUpdateNewsStatusRequest.php
  app/Http/Requests/Content/BulkUpdatePageStatusRequest.php
  app/Models/ContentPart.php
  app/Models/Role.php
  app/Models/Task.php
  app/Services/DeviceMetricService.php
  app/Services/MeetingCompletionService.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  resources/js/Components/AdminForms/NewsForm.vue
  resources/js/Components/AdminForms/__tests__/NewsForm.component.test.ts
  resources/js/Components/Home/__tests__/RepLoopBands.component.test.ts
  resources/js/Components/Layouts/__tests__/CollectionPage.component.test.ts
  resources/js/Pages/Admin/Content/IndexQuickLink.vue
  tests/Feature/Admin/Management/ContactManagementTest.php
  tests/Feature/Admin/People/DutiableTimelineControllerTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Laravel Features, Vue Components, Vue Pages

Update tanstack tables to v9
  docs/changelog/index.md
  docs/en/changelog/index.md
  package-lock.json
  package.json
  resources/js/Components/AdminForms/TagForm.vue
  resources/js/Components/Collection/CollectionResults.vue
  resources/js/Components/Layouts/Shell/MobileMenuPanel.vue
  resources/js/Components/Layouts/Shell/__tests__/MobileMenuPanel.component.test.ts
  resources/js/Components/Tables/ReservationBulkActionBar.vue
  resources/js/Components/Tables/ReservationsWithUnitResources.vue
  resources/js/Components/Tables/SimpleDataTable.vue
  resources/js/Components/Tables/SortableFormFieldsTable.vue
  resources/js/Components/ui/data-table/DataTable.vue
  resources/js/Components/ui/data-table/DataTableFilter.vue
  resources/js/Components/ui/data-table/DataTableProvider.vue
  resources/js/Components/ui/data-table/__tests__/DataTable.component.test.ts
  resources/js/Composables/useCollectionTable.ts
  resources/js/Composables/useDataTableColumns.ts
  resources/js/Pages/Admin/Forms/ShowForm.vue
  resources/js/Types/TableConfigTypes.ts
  resources/js/Types/admin-tables.d.ts
  resources/views/app.blade.php
  tests/Browser/DefaultThemeTest.php
Due: frontend, Vue Components, Vue Pages, Vue Composables

Migrate more admin forms
  resources/js/Components/AdminForms/DutyForm.vue
  resources/js/Components/AdminForms/InstitutionForm.vue
  resources/js/Components/AdminForms/NavigationForm.vue
  resources/js/Components/AdminForms/ProblemForm.vue
  resources/js/Components/AdminForms/StudySetForm.vue
  resources/js/Components/AdminForms/TypeForm.vue
  resources/js/Components/AdminForms/__tests__/InstitutionForm.component.test.ts
  resources/js/Components/AdminForms/__tests__/NavigationForm.component.test.ts
  resources/js/Components/AdminForms/__tests__/StudySetForm.component.test.ts
  resources/js/Components/SupportRequests/SupportRequestForm.vue
  resources/js/Pages/Admin/Content/EditHomePage.vue
Due: frontend, Vue Components, Vue Pages

Fix browser tests; update vitest to v5
  .ai/rules/browser.md
  .github/workflows/ci.yml
  .gitignore
  composer.json
  docker-compose.yml
  package-lock.json
  package.json
  resources/js/Components/Layouts/FormPage.vue
  resources/js/Components/Layouts/RecordPage.vue
  resources/js/Pages/Admin/Representation/__tests__/ShowMeeting.component.test.ts
  tests/Browser/AdminAccessibilityTest.php
  tests/Browser/AdminCollectionPagesTest.php
  tests/Browser/AdminDesignSurfaceTest.php
  tests/Browser/AdminShellTest.php
  tests/Browser/DefaultThemeTest.php
  tests/Browser/DutiableTimelineTest.php
  tests/Browser/README.md
  tests/Browser/RichContentFullscreenEditorTest.php
  tests/Browser/TmpNavigationImageTest.php
  tests/CLAUDE.md
  tests/Pest.php
  vitest.config.ts
Due: frontend, Vue Components, Vue Pages

Fix php tests
  .ai/rules/js.md
  resources/js/CLAUDE.md
  resources/js/Components/Graphs/renderers/__tests__/GanttTooltip.test.ts
  resources/js/Composables/__tests__/useTenantOptions.test.ts
  resources/js/Composables/useTenantOptions.ts
  tests/Unit/Support/AdminEntityTranslationsTest.php
  tests/setup.ts
  vitest.config.ts
Due: frontend, Vue Components, Vue Composables

Fix tests
  app/Http/Controllers/Admin/MailQueueController.php
  app/Http/Controllers/Admin/MySupportRequestController.php
  app/Http/Controllers/Admin/TypeController.php
  app/Http/Requests/BulkInstitutionFollowRequest.php
  app/Http/Requests/IndexMailQueueRequest.php
  app/Models/ReservationDraft.php
  app/Models/ReservationDraftItem.php
  app/Models/User.php
  app/Support/TaskModelIdeHelperHook.php
  app/Tasks/Subscribers/MeetingTaskSubscriber.php
  composer.lock
  config/ide-helper.php
  resources/js/Types/models.d.ts
  tests/Browser/AdminCollectionPagesTest.php
  tests/Feature/StagingIsolationTest.php
  tests/Feature/Tasks/Subscribers/MeetingTaskSubscriberTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Features

Add separate sharepoint app for staging
  .env.example
  app/Console/Commands/StagingRefreshDatabase.php
  app/Exceptions/StagingResourceReadOnlyException.php
  app/Http/Middleware/StagingEnvironmentWarnings.php
  app/Http/Middleware/StagingReadOnlyMode.php
  app/Jobs/RevokeSharepointPermissionJob.php
  app/Listeners/UpdateSharepointFolder.php
  app/Observers/DocumentObserver.php
  app/Services/DocumentSharepointSyncService.php
  app/Services/ResourceServices/SharepointFileService.php
  app/Services/SharepointGraphService.php
  app/Services/StagingIsolationService.php
  app/Support/StagingProtection.php
  config/app.php
  config/filesystems.php
  resources/js/Components/StagingBanner.vue
  resources/js/Components/__tests__/StagingBanner.component.test.ts
  tests/Feature/SharepointStagingProtectionTest.php
  tests/Feature/StagingIsolationTest.php
  tests/Feature/StagingRefreshDatabaseTest.php
Due: backend, frontend, Laravel Services, Laravel Features, Vue Components

One test suite run for dev PR
  .github/workflows/ci.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/deploy.yml
  tests/Feature/DeployWorkflowTest.php
Due: none

Fix phpstan errors
  app/Services/SharepointGraphService.php
  tests/Feature/SharepointStagingProtectionTest.php
Due: backend, Laravel Services

Staging fixes, profile page
  .env.example
  app/Services/SystemMonitorService.php
  config/filesystems.php
  config/services.php
  deployment/env/production.env.example
  deployment/env/staging.env.example
  resources/js/Pages/Admin/ShowProfile.vue
  resources/js/Pages/Admin/__tests__/ShowProfile.component.test.ts
  resources/js/Utils/__tests__/pushDevice.test.ts
  resources/js/Utils/pushDevice.ts
  tests/Unit/Services/SystemMonitorServiceTest.php
Due: backend, frontend, Laravel Services, Vue Pages, Vue Composables

Refine some gantt settings
  resources/js/Components/Graphs/MeetingsGantt.vue
  resources/js/Components/Graphs/renderers/renderCenterLine.ts
  resources/js/Pages/Admin/Dashboard/Composables/useGanttSettings.ts
  tests/Browser/GanttDateStackingTest.php
Due: frontend, Vue Components, Vue Pages

Fix php test
  tests/Feature/Admin/Search/SearchVisibilityParityTest.php
Due: none

Update how the staging banner acts in admin
  docs/changelog/index.md
  docs/en/changelog/index.md
  lang/en.json
  lang/lt.json
  resources/js/Components/Layouts/Shell/AdminShell.vue
  resources/js/Components/Layouts/Shell/MobileContextBar.vue
  resources/js/Components/Layouts/Shell/ShellTopBar.vue
  resources/js/Components/Layouts/Shell/__tests__/AdminShell.component.test.ts
  resources/js/Components/StagingBanner.vue
  resources/js/Components/__tests__/StagingBanner.component.test.ts
Due: frontend, Vue Components

Enable push on staging
  app/Listeners/BlockExternalNotificationsOnStaging.php
  app/Services/StagingIsolationService.php
  config/app.php
  config/broadcasting.php
  config/webpush.php
  deployment/env/staging.env.example
  deployment/supervisor/README.md
  deployment/supervisor/staging-reverb.conf
  resources/js/Components/Graphs/renderers/renderCenterLine.ts
  tests/Browser/GanttDateStackingTest.php
  tests/Feature/StagingIsolationTest.php
Due: backend, frontend, Laravel Services, Vue Components

Fix tests
  .github/workflows/ci.yml
  resources/js/Pages/Admin/__tests__/AccessDenied.component.test.ts
  tests/Browser/ReservationPagesTest.php
Due: frontend, Vue Pages

Try to fix CI browser failures
  tests/Browser/AdminCollectionPagesTest.php
  tests/Pest.php
Due: none

Fix test and adding comment on coverage
  .github/workflows/ci.yml
  tests/Browser/GanttDateStackingTest.php
  tests/Feature/DeployWorkflowTest.php
Due: none

Fix browser error
  tests/Pest.php
Due: none

Install PDF fonts
  .github/workflows/deploy-common.yml
Due: none

Remove soft-delete for reservations
  app/Http/Controllers/Admin/ApprovalController.php
  app/Http/Controllers/Admin/ReservationController.php
  app/Models/Pivots/ReservationResource.php
  app/Models/Reservation.php
  app/Support/Docs/FeatureSurfaceScanner.php
  database/migrations/2026_09_27_111500_drop_deleted_at_from_reservations_table.php
  docs/maintainers/coverage.md
  docs/pagrindai/platforma.md
  docs/rezervacijos/istekliai.md
  docs/rezervacijos/kategorijos.md
  docs/rezervacijos/rezervacijos.md
  resources/js/Pages/Admin/Reservations/IndexReservation.vue
  routes/admin.php
  tests/Browser/ReservationPagesTest.php
  tests/Feature/Admin/Reservations/ReservationControllerTest.php
  tests/Feature/Admin/Reservations/ResourceCategoryControllerTest.php
  tests/Feature/Admin/Reservations/ResourceControllerTest.php
  tests/Feature/Admin/Reservations/ResourceReservationTest.php
  tests/Feature/Admin/SoftDeleteSerializationTest.php
  tests/Feature/Approvals/ApprovalControllerTest.php
  tests/Feature/Docs/DocsCoverageCommandTest.php
  tests/Feature/Migrations/DropDeletedAtFromReservationsTest.php
  tests/Feature/SoftDelete/ForceDeleteGuardsTest.php
  tests/Unit/Support/Docs/FeatureSurfaceScannerTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Vue Pages
