Repository vu-sa/vusa.lt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Laravel Features, Vue Components, Vue Pages, Vue Composables

.codecov.yml:

codecov:
  require_ci_to_pass: no  # Allow reports even if some CI jobs fail
  notify:
    wait_for_ci: no        # Don't wait for all CI jobs

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project: off
    patch:
      default:
        target: 65%
        threshold: 3%
        if_ci_failed: ignore

component_management:
  individual_components:
    - component_id: laravel_controllers
      name: "Laravel Controllers"
      paths:
        - "app/Http/Controllers/**"
      statuses:
        - type: patch
          target: 70%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: laravel_models
      name: "Laravel Models"
      paths:
        - "app/Models/**"
      statuses:
        - type: patch
          target: 80%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: laravel_services
      name: "Laravel Services"
      paths:
        - "app/Services/**"
        - "app/Actions/**"
      statuses:
        - type: patch
          target: 75%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: laravel_features
      name: "Laravel Features"
      paths:
        - "app/Jobs/**"
        - "app/Console/**"
        - "app/Traits/**"
        - "app/Http/Requests/**"
      statuses:
        - type: patch
          target: 65%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: vue_components
      name: "Vue Components"
      paths:
        - "resources/js/Components/**"
      statuses:
        - type: patch
          target: 60%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: vue_pages
      name: "Vue Pages"
      paths:
        - "resources/js/Pages/**"
      statuses:
        - type: patch
          target: 55%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: vue_composables
      name: "Vue Composables"
      paths:
        - "resources/js/Composables/**"
        - "resources/js/Utils/**"
      statuses:
        - type: patch
          target: 75%
          threshold: 3%
          if_ci_failed: ignore

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no      # Don't require head report for comments
  show_carryforward_flags: true

# Add flags to separate frontend and backend coverage
flags:
  backend:
    paths:
      - "app/"
    carryforward: false
  frontend:
    paths:
      - "resources/js/"
    carryforward: false

Fix phpstan errors
  _ide_helper.php
  app/Http/Controllers/Admin/MeetingController.php
  app/Http/Controllers/Admin/QuickLinkController.php
  app/Http/Controllers/Admin/StudySetController.php
  app/Http/Controllers/Public/PublicPageController.php
  app/Http/Traits/HasTanstackTables.php
  app/Models/Meeting.php
  app/Models/PublicMeeting.php
  app/Models/QuickLink.php
  app/Services/TanstackTableService.php
  app/Services/Typesense/TypesenseCollectionConfig.php
  app/Support/Spreadsheet/SpreadsheetReader.php
  composer.lock
  docs/changelog/index.md
  docs/en/changelog/index.md
  package-lock.json
  resources/js/Components/AdminForms/NewsForm.vue
  resources/js/Components/AdminForms/PageForm.vue
  resources/js/Components/AdminForms/QuickLinkForm.vue
  resources/js/Components/AdminForms/UserForm.vue
  resources/js/Components/Tables/ServerDataTable.vue
  resources/js/Components/ui/data-table/DataTableProvider.vue
  resources/js/Components/ui/single-select/SingleSelect.vue
  resources/js/Pages/Admin/Calendar/IndexCalendarEvents.vue
  resources/js/Pages/Admin/Content/IndexQuickLink.vue
  resources/js/Pages/Admin/ModelMeta/IndexTypes.vue
  resources/js/Pages/Admin/People/IndexDuty.vue
  resources/js/Pages/Admin/People/IndexInstitution.vue
  resources/js/Pages/Admin/People/IndexMembership.vue
  resources/js/Pages/Admin/Representation/ShowMeeting.vue
  resources/js/Pages/Admin/StudySets/IndexStudySet.vue
  resources/js/Types/TableConfigTypes.ts
  resources/js/Types/enums.ts
  resources/js/Types/models.d.ts
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Vue Components, Vue Pages

Add more tests
  resources/js/Components/AdminForms/__tests__/StudySetForm.component.test.ts
  resources/js/Components/Meetings/__tests__/MeetingNavigationCards.component.test.ts
  resources/js/Components/ui/data-table/__tests__/DataTable.component.test.ts
  resources/js/Composables/__tests__/useDataTableColumns.test.ts
  tests/Feature/Admin/Content/QuickLinkControllerTest.php
  tests/Feature/Admin/StudySets/StudySetControllerTest.php
  tests/Feature/Api/TextBoxSubmissionAdminTest.php
  tests/Unit/Services/TanstackTableServiceTest.php
Due: frontend, Vue Components, Vue Composables

Updated study sets comments
  database/seeders/DatabaseSeeder.php
  database/seeders/StudySetSeeder.php
  resources/js/Pages/Public/ShowStudySets.vue
Due: frontend, Vue Pages

Optimize test execution in CI
  .github/workflows/ci.yml
  database/factories/DutyFactory.php
  database/seeders/TestSeeder.php
  tests/Feature/Public/PublicPagesTest.php
  tests/TestCase.php
  tests/Unit/Actions/DuplicateCalendarActionTest.php
  tests/Unit/Actions/DuplicateNewsActionTest.php
  tests/Unit/Collections/ReservationCollectionTest.php
  tests/Unit/DocumentModelTest.php
Due: none

Add focal point selector for photos
  app/Http/Controllers/Admin/UserController.php
  app/Http/Controllers/Public/ContactController.php
  app/Http/Requests/StoreUserRequest.php
  app/Http/Requests/UpdateDutiableRequest.php
  app/Http/Requests/UpdateUserRequest.php
  app/Models/Duty.php
  app/Models/LecturerReview.php
  app/Models/Pivots/Dutiable.php
  app/Models/StudySet.php
  app/Models/StudySetCourse.php
  app/Models/User.php
  database/factories/Pivots/DutiableFactory.php
  database/factories/UserFactory.php
  database/migrations/2026_05_06_215948_add_profile_photo_focal_point_to_users_table.php
  database/migrations/2026_05_06_215950_add_additional_photo_focal_point_to_dutiables_table.php
  resources/js/Components/AdminForms/DutiableForm.vue
  resources/js/Components/AdminForms/FormElement.vue
  resources/js/Components/AdminForms/UserForm.vue
  resources/js/Components/Public/ContactWithPhoto.vue
  resources/js/Components/ui/upload/FocalPointPicker.vue
  resources/js/Components/ui/upload/ImageUpload.vue
  resources/js/Components/ui/upload/index.ts
  resources/js/Pages/Admin/People/CreateUser.vue
  resources/js/Pages/Admin/ShowUserSettings.vue
  resources/js/Pages/Public/Contacts/ShowStudentReps.vue
  resources/js/Types/models.d.ts
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Features, Vue Components, Vue Pages

Clear package cache before deployment
  app/Console/Commands/DeploymentRun.php
Due: backend, Laravel Features

Fix table header row background color in dark mode
  resources/js/Components/ui/data-table/DataTable.vue
Due: frontend, Vue Components

Add ex-officio and cross-tenant duties
  app/Actions/BackfillExOfficioTargetDuty.php
  app/Http/Controllers/Admin/DutiableController.php
  app/Http/Controllers/Admin/DutyController.php
  app/Http/Requests/BatchUpdateDutyUsersRequest.php
  app/Http/Requests/StoreDutyRequest.php
  app/Http/Requests/UpdateDutiableRequest.php
  app/Listeners/SyncExOfficioDutiables.php
  app/Models/Duty.php
  app/Models/Pivots/Dutiable.php
  app/Policies/DutiablePolicy.php
  app/Policies/DutyPolicy.php
  app/Providers/EventServiceProvider.php
  app/Services/ResourceServices/DutyService.php
  database/factories/Pivots/DutiableFactory.php
  database/migrations/2026_05_12_203258_add_via_dutiable_id_to_dutiables_table.php
  database/migrations/2026_05_12_203258_create_duty_tenant_table.php
  database/migrations/2026_05_12_203258_create_ex_officio_duties_table.php
  database/migrations/2026_05_13_120000_add_tenant_id_to_dutiables_table.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  lang/admin/en/forms.php
  lang/admin/lt/forms.php
  resources/js/Components/AdminForms/DutiableForm.vue
  resources/js/Components/AdminForms/DutyForm.vue
  resources/js/Components/DutyUserWizard/Step1InstitutionSelect.vue
  resources/js/Components/DutyUserWizard/Step2DutySelect.vue
  resources/js/Components/DutyUserWizard/Step3UserAssignment.vue
  resources/js/Components/DutyUserWizard/Step4Review.vue
  resources/js/Components/ui/data-table/__tests__/DataTable.component.test.ts
  resources/js/Components/ui/multi-select/MultiSelect.vue
  resources/js/Pages/Admin/People/CreateDuty.vue
  resources/js/Pages/Admin/People/EditDuty.vue
  resources/js/Pages/Admin/People/IndexDuty.vue
  resources/js/Types/models.d.ts
  tests/Feature/Admin/Management/DutyControllerTest.php
  tests/Feature/CrossTenantDutyTest.php
  tests/Feature/ExOfficioSyncTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Laravel Features, Vue Components, Vue Pages

Fix number field component
  resources/js/Components/ui/number-field/NumberField.vue
  resources/js/Components/ui/number-field/__tests__/NumberField.component.test.ts
Due: frontend, Vue Components

Fix two image dropzones, showing in some cases
  resources/js/Components/ui/upload/FocalPointPicker.vue
  resources/js/Components/ui/upload/ImageUpload.vue
Due: frontend, Vue Components

Update deps
  app/Http/Requests/BatchUpdateDutyUsersRequest.php
  app/Models/Duty.php
  app/Models/Pivots/Dutiable.php
  composer.lock
  package-lock.json
  tests/Feature/Admin/Management/DutyControllerTest.php
  tests/Feature/CrossTenantDutyTest.php
Due: backend, Laravel Models, Laravel Features

Fix date logic of unassigning users from duties
  app/Http/Controllers/Admin/DutyController.php
  app/Http/Requests/BatchUpdateDutyUsersRequest.php
  app/Listeners/SyncExOfficioDutiables.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  resources/js/Composables/__tests__/useDutyUserWizard.test.ts
  resources/js/Composables/useDutyUserWizard.ts
  resources/js/Pages/Admin/People/EditDuty.vue
  tests/Feature/CrossTenantDutyTest.php
Due: backend, frontend, Laravel Controllers, Laravel Features, Vue Pages, Vue Composables

Handle cases, where ex-officio duty is in another tenant
  app/Actions/BackfillExOfficioTargetDuty.php
  app/Actions/ResolveExOfficioTenantId.php
  app/Listeners/SyncExOfficioDutiables.php
  tests/Feature/ExOfficioSyncTest.php
Due: backend, Laravel Services

Add ?web=1 to the end to use the browser to view the documents
  app/Http/Controllers/Public/DocumentRedirectController.php
  resources/js/Components/Public/Search/DocumentCompactListItem.vue
  resources/js/Components/Public/Search/DocumentListItem.vue
  resources/js/Composables/__tests__/useDocumentDisplay.test.ts
  resources/js/Composables/useDocumentDisplay.ts
  resources/js/Composables/useSearchUtils.ts
  tests/Feature/DocumentRedirectTest.php
Due: backend, frontend, Laravel Controllers, Vue Components, Vue Composables

Close menus on mobile, when a link is clicked
  resources/js/Components/AppSidebar.vue
  resources/js/Components/Public/Layouts/MainNavigation.vue
Due: frontend, Vue Components

Implement Uri class for some cases
  AGENTS.md
  app/Http/Controllers/PublicController.php
  app/Tiptap/Youtube.php
  tests/Unit/Http/PublicControllerHelpersTest.php
  tests/Unit/Tiptap/TiptapEditorTest.php
Due: backend, Laravel Controllers

Fix file deletion in SharepointFileManager.vue
  app/Http/Controllers/Api/Admin/SharepointApiController.php
  resources/js/Features/Admin/SharepointFileManager/SharepointFileManager.vue
  tests/Feature/Admin/Resources/SharepointFileControllerTest.php
  tests/Feature/Api/Admin/SharepointApiControllerTest.php
  tests/Unit/Services/Sharepoint/SharepointGraphServiceParseDriveItemsTest.php
Due: backend, frontend, Laravel Controllers

Update deps
  _ide_helper.php
  app/Models/User.php
  composer.lock
  package-lock.json
  resources/js/Types/models.d.ts
Due: backend, frontend, Laravel Models

More consistency with the sidebar open and close
  resources/js/Components/AppSidebar.vue
  resources/js/Components/Layouts/AdminLayout.vue
  resources/js/Components/ui/sidebar/Sidebar.vue
  resources/js/Pages/Admin/People/DutyUserUpdateWizard.vue
Due: frontend, Vue Components, Vue Pages

Customizable sidebar
  AGENTS.md
  app/Http/Controllers/Admin/DashboardController.php
  app/Http/Middleware/HandleInertiaRequests.php
  app/Http/Requests/UpdateUIPreferencesRequest.php
  app/Models/Traits/HasUIPreferences.php
  app/Models/User.php
  database/migrations/2026_05_19_000000_add_ui_preferences_to_users_table.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  lang/en.json
  resources/js/Components/AppSidebar.vue
  resources/js/Components/CommandPalette/AdminCommandPalette.vue
  resources/js/Components/KeyboardShortcutsDialog.vue
  resources/js/Components/Layouts/AdminLayout.vue
  resources/js/Components/NavQuickActions.vue
  resources/js/Components/Onboarding/SpotlightPopover.vue
  resources/js/Components/Sidebar/PinnedPagesSection.vue
  resources/js/Components/Sidebar/QuickActionSettingsPopover.vue
  resources/js/Components/Sidebar/RecentPagesDialog.vue
  resources/js/Components/Sidebar/RecentlyVisitedSection.vue
  resources/js/Components/Sidebar/SidebarCustomizeDialog.vue
  resources/js/Components/Sidebar/__tests__/SidebarCustomization.component.test.ts
  resources/js/Components/ui/sidebar/SidebarGroup.vue
  resources/js/Components/ui/sidebar/SidebarGroupLabel.vue
  resources/js/Components/ui/sidebar/SidebarMenu.vue
  resources/js/Components/ui/sidebar/SidebarMenuAction.vue
  resources/js/Components/ui/sidebar/SidebarMenuSubButton.vue
  resources/js/Components/ui/sidebar/SidebarSeparator.vue
  resources/js/Components/ui/sidebar/index.ts
  resources/js/Composables/__tests__/adminPageCatalog.component.test.ts
  resources/js/Composables/__tests__/useUIPreferences.component.test.ts
  resources/js/Composables/adminPageCatalog.ts
  resources/js/Composables/useCommandPalette.ts
  resources/js/Composables/useFeatureSpotlight.ts
  resources/js/Composables/useQuickActions.ts
  resources/js/Composables/useUIPreferences.ts
  routes/admin.php
  tests/Feature/UIPreferencesTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Features, Vue Components, Vue Composables

Update deps
  _ide_helper.php
  composer.lock
  package-lock.json
  resources/js/Types/models.d.ts
Due: frontend

Remove dead frontend code and relocate stray tests
  resources/js/Components/Public/Search/EmptyState.vue
  resources/js/Components/icons/form-icons.ts
  resources/js/Components/icons/index.ts
  resources/js/Components/icons/other-icons.ts
  tests/Feature/Other/ExampleTest.php
  tests/Feature/Profile/PasswordTest.php
  tests/Unit/ExampleTest.php
Due: frontend, Vue Components

Reorganize search interfaces, fix some bugs
  docs/changelog/index.md
  docs/en/changelog/index.md
  resources/js/Components/Public/Search/DateRangeFilter.vue
  resources/js/Components/Public/Search/DocumentSearchInterface.vue
  resources/js/Components/Public/Search/InstitutionSearchInterface.vue
  resources/js/Components/Public/Search/MeetingSearchInterface.vue
  resources/js/Components/Public/Search/__tests__/DocumentFacetSidebar.component.test.ts
  resources/js/Components/Public/Search/__tests__/DocumentSearchInterface.component.test.ts
  resources/js/Composables/__tests__/useSearchInterface.test.ts
  resources/js/Composables/useDocumentSearch.ts
  resources/js/Composables/useInstitutionSearch.ts
  resources/js/Composables/useMeetingSearch.ts
  resources/js/Composables/useSearchInterface.ts
  resources/js/Composables/useSearchState.ts
  resources/js/Pages/Public/ShowDocuments.vue
  resources/js/Services/DocumentSearchService.ts
  resources/js/Services/__tests__/DocumentSearchService.test.ts
  resources/js/Shared/Search/__tests__/FilterUtils.test.ts
  resources/js/Shared/Search/composables/useBaseSearch.ts
  resources/js/Shared/Search/services/FilterUtils.ts
  resources/js/Shared/Search/types/index.ts
  resources/js/Types/DocumentSearchTypes.ts
  resources/js/Types/InstitutionSearchTypes.ts
  resources/js/Types/MeetingSearchTypes.ts
  resources/js/Utils/SearchUtils.ts
  resources/js/Utils/__tests__/SearchUtils.test.ts
Due: frontend, Vue Components, Vue Pages, Vue Composables

Add search button in index pages
  docs/changelog/index.md
  docs/en/changelog/index.md
  resources/js/Components/Tables/ServerDataTable.vue
Due: frontend, Vue Components

Refactor UI preferences to API controller
  app/Http/Controllers/Admin/DashboardController.php
  app/Http/Controllers/Api/Admin/UserPreferencesController.php
  resources/js/Components/Public/Search/DocumentCompactListItem.vue
  resources/js/Components/Sidebar/__tests__/SidebarCustomization.component.test.ts
  resources/js/Composables/__tests__/useUIPreferences.component.test.ts
  resources/js/Composables/useDocumentDisplay.ts
  resources/js/Composables/useUIPreferences.ts
  routes/admin.php
  routes/api.php
  tests/Feature/Profile/UIPreferencesTest.php
Due: backend, frontend, Laravel Controllers, Vue Components, Vue Composables

Refactor the meeting UI design
  app/Http/Controllers/Admin/AgendaItemController.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  lang/en.json
  resources/js/Components/AgendaItems/AgendaItemEditor.vue
  resources/js/Components/Avatars/UsersAvatarGroup.vue
  resources/js/Components/Avatars/__tests__/UsersAvatarGroup.component.test.ts
  resources/js/Components/Meetings/MeetingAgendaList.vue
  resources/js/Components/Meetings/__tests__/MeetingAgendaList.component.test.ts
  resources/js/Pages/Admin/Representation/EditAgendaItem.vue
  resources/js/Pages/Admin/Representation/ShowMeeting.vue
  resources/js/Utils/IntlTime.ts
  tests/Feature/Admin/Calendar/AgendaItemControllerTest.php
Due: backend, frontend, Laravel Controllers, Vue Components, Vue Pages, Vue Composables

Create a proper agenda item page
  app/Http/Controllers/Admin/AgendaItemController.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  lang/en.json
  resources/css/admin.css
  resources/js/Components/AdminBreadcrumbs.vue
  resources/js/Components/AgendaItems/AgendaItemBody.vue
  resources/js/Components/AgendaItems/AgendaItemEditor.vue
  resources/js/Components/AgendaItems/AgendaItemNavigator.vue
  resources/js/Components/AgendaItems/AgendaItemNotesSidebar.vue
  resources/js/Components/AgendaItems/AgendaItemTextTabs.vue
  resources/js/Components/AgendaItems/VisibilityIndicator.vue
  resources/js/Components/AgendaItems/__tests__/AgendaItemBody.component.test.ts
  resources/js/Components/AgendaItems/__tests__/AgendaItemNavigator.component.test.ts
  resources/js/Components/AgendaItems/__tests__/AgendaItemTextTabs.component.test.ts
  resources/js/Composables/useAgendaItemAutosave.ts
  resources/js/Pages/Admin/Representation/EditAgendaItem.vue
  tests/Feature/Admin/Calendar/AgendaItemControllerTest.php
Due: backend, frontend, Laravel Controllers, Vue Components, Vue Pages, Vue Composables

Live student representative comments in agenda item
  app/Http/Controllers/Admin/AgendaItemController.php
  app/Http/Controllers/Api/Admin/AgendaItemNoteController.php
  app/Models/AgendaItemNote.php
  app/Models/Pivots/AgendaItem.php
  database/factories/AgendaItemNoteFactory.php
  database/migrations/2026_06_01_171912_create_agenda_item_notes_table.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  lang/en.json
  package-lock.json
  package.json
  resources/js/Components/AgendaItems/AgendaItemNotesEditor.vue
  resources/js/Components/AgendaItems/AgendaItemNotesMentionList.vue
  resources/js/Components/AgendaItems/AgendaItemNotesSidebar.vue
  resources/js/Components/AgendaItems/AgendaItemNotesSlashMenu.vue
  resources/js/Components/AgendaItems/NotesSaveStatusChip.vue
  resources/js/Components/AgendaItems/__tests__/AgendaItemNotesSidebar.component.test.ts
  resources/js/Components/AgendaItems/notesSlashCommands.ts
  resources/js/Components/AppSidebar.vue
  resources/js/Components/ui/sidebar/SidebarProvider.vue
  resources/js/Composables/__tests__/useYjsReverbProvider.unit.test.ts
  resources/js/Composables/useAgendaItemNotes.ts
  resources/js/Composables/useYjsReverbProvider.ts
  resources/js/Pages/Admin/Representation/EditAgendaItem.vue
  routes/api.php
  routes/channels.php
  tests/Feature/Admin/Calendar/AgendaItemNoteTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Vue Components, Vue Pages, Vue Composables

Fix phpstan errors
  app/Http/Controllers/Api/Admin/AgendaItemNoteController.php
  app/Models/AgendaItemNote.php
  composer.lock
  resources/js/Types/models.d.ts
Due: backend, frontend, Laravel Controllers, Laravel Models

PHP Linting (Pint)
  app/Http/Controllers/Api/Admin/AgendaItemNoteController.php
Due: backend, Laravel Controllers

Updated the changelog a bit
  docs/changelog/index.md
  docs/en/changelog/index.md
Due: none

Fix notifications appearing from the upper-left corner
  resources/js/Components/NotificationsIndicator.vue
Due: frontend, Vue Components

More clear cookie consent
  lang/en.json
  resources/js/Components/AppSidebar.vue
  resources/js/Components/Public/ConsentCard.vue
  resources/js/Components/Public/FullWidth/SiteFooter.vue
  resources/js/Components/Public/Layouts/PublicLayout.vue
  resources/js/Components/Public/__tests__/ConsentCard.component.test.ts
  resources/js/Composables/__tests__/useCookieConsent.test.ts
  resources/js/Composables/useCookieConsent.ts
  resources/js/Plugins/posthog.ts
  resources/js/admin.ts
  resources/js/public.ts
Due: frontend, Vue Components, Vue Composables

Fix some table styling
  resources/js/Components/Dialogs/CardModal.vue
  resources/js/Features/Admin/ActivityLogViewer/ActivityLogButton.vue
  resources/js/Features/Admin/ProgrammePlanner/ProgrammeBlock.vue
  resources/js/Features/Admin/ProgrammePlanner/ProgrammeDay.vue
  resources/js/Pages/Admin/Dashboard/Components/MeetingDataTable.vue
  resources/js/Pages/Admin/Dashboard/ShowReservations.vue
Due: frontend, Vue Components, Vue Pages

Remove public search dialog to a separate page
  app/Http/Controllers/Public/SearchController.php
  docs/changelog/index.md
  docs/en/changelog/index.md
  lang/public/en/search.php
  lang/public/lt/search.php
  package-lock.json
  package.json
  resources/js/Components/DutyUserWizard/Step1InstitutionSelect.vue
  resources/js/Components/DutyUserWizard/Step2DutySelect.vue
  resources/js/Components/Public/Nav/SearchButton.vue
  resources/js/Components/Public/Search/GenericResults.vue
  resources/js/Components/Public/Search/SearchContentTypeCollectors.vue
  resources/js/Components/Public/Search/SearchDialog.vue
  resources/js/Components/Public/Search/SearchEmptyState.vue
  resources/js/Components/Public/Search/SearchFilters.vue
  resources/js/Components/Public/Search/SearchInput.vue
  resources/js/Components/Public/Search/SearchKeyboardHelp.vue
  resources/js/Components/Public/Search/SearchPageSwitcher.vue
  resources/js/Components/Public/Search/SearchResultSection.vue
  resources/js/Components/Public/Search/SearchResultsArea.vue
  resources/js/Components/Public/Search/Shared/BaseSearchInterface.vue
  resources/js/Components/Public/Search/TypesenseSearch.vue
  resources/js/Components/Public/Search/UnifiedResults.vue
  resources/js/Composables/__tests__/usePublicMultiSearch.test.ts
  resources/js/Composables/useAdminSearch.ts
  resources/js/Composables/usePublicMultiSearch.ts
  resources/js/Composables/useSearchClient.ts
  resources/js/Composables/useSearchController.ts
  resources/js/Composables/useSearchService.ts
  resources/js/Pages/Public/Search.vue
  resources/js/Pages/Public/__tests__/Search.component.test.ts
  resources/js/Shared/Search/services/SearchClientFactory.ts
  resources/js/Types/vue-instantsearch.d.ts
  routes/web.php
  tests/Feature/Public/SearchControllerTest.php
Due: backend, frontend, Laravel Controllers, Vue Components, Vue Pages, Vue Composables

Fix the display of results
  resources/css/app.css
  resources/js/Components/Public/Search/DocumentResults.vue
  resources/js/Components/Public/Search/GenericResults.vue
  resources/js/Components/Public/Search/InstitutionResults.vue
  resources/js/Components/Public/Search/MeetingResults.vue
  resources/js/Components/Public/Search/SearchPageSwitcher.vue
  resources/js/Components/Public/Search/Shared/BaseSearchInterface.vue
  resources/js/Components/Public/Search/Shared/BaseSearchResults.vue
  resources/js/Composables/useSearchUtils.ts
  resources/js/Pages/Public/Search.vue
Due: frontend, Vue Components, Vue Pages, Vue Composables
