Repository vu-sa/vusa.lt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Laravel Features, Vue Components, Vue Pages, Vue Composables

.codecov.yml:

codecov:
  require_ci_to_pass: no  # Allow reports even if some CI jobs fail
  notify:
    wait_for_ci: no        # Don't wait for all CI jobs

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project: off
    patch:
      default:
        target: 65%
        threshold: 3%
        if_ci_failed: ignore

component_management:
  individual_components:
    - component_id: laravel_controllers
      name: "Laravel Controllers"
      paths:
        - "app/Http/Controllers/**"
      statuses:
        - type: patch
          target: 70%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: laravel_models
      name: "Laravel Models"
      paths:
        - "app/Models/**"
      statuses:
        - type: patch
          target: 80%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: laravel_services
      name: "Laravel Services"
      paths:
        - "app/Services/**"
        - "app/Actions/**"
      statuses:
        - type: patch
          target: 75%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: laravel_features
      name: "Laravel Features"
      paths:
        - "app/Jobs/**"
        - "app/Console/**"
        - "app/Traits/**"
        - "app/Http/Requests/**"
      statuses:
        - type: patch
          target: 65%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: vue_components
      name: "Vue Components"
      paths:
        - "resources/js/Components/**"
      statuses:
        - type: patch
          target: 60%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: vue_pages
      name: "Vue Pages"
      paths:
        - "resources/js/Pages/**"
      statuses:
        - type: patch
          target: 55%
          threshold: 3%
          if_ci_failed: ignore
    - component_id: vue_composables
      name: "Vue Composables"
      paths:
        - "resources/js/Composables/**"
        - "resources/js/Utils/**"
      statuses:
        - type: patch
          target: 75%
          threshold: 3%
          if_ci_failed: ignore

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no      # Don't require head report for comments
  show_carryforward_flags: true

# Add flags to separate frontend and backend coverage
flags:
  backend:
    paths:
      - "app/"
    carryforward: false
  frontend:
    paths:
      - "resources/js/"
    carryforward: false

Fix recent meetings
  app/Http/Controllers/Admin/DashboardController.php
  app/Http/Middleware/HandleInertiaRequests.php
  resources/js/Components/AdminForms/MeetingReviewForm.vue
  resources/js/Components/AdminForms/Special/AgendaItemsForm.vue
  resources/js/Components/Modals/NewMeetingModal.vue
  resources/js/Components/ui/calendar/Calendar.vue
  resources/js/Components/ui/calendar/CalendarNextButton.vue
  resources/js/Components/ui/calendar/CalendarPrevButton.vue
  resources/js/Composables/useMeetingTemplates.ts
  resources/js/Pages/Admin/Dashboard/ShowAtstovavimas.vue
Due: backend, frontend, Laravel Controllers, Vue Components, Vue Pages, Vue Composables

Reorganize API routes
  CLAUDE.md
  app/Http/Controllers/Api/Admin/FileApiController.php
  app/Http/Controllers/Api/Admin/SharepointApiController.php
  app/Http/Controllers/Api/Admin/TaskApiController.php
  app/Http/Controllers/Api/Admin/TutorialApiController.php
  app/Http/Controllers/Api/ApiController.php
  app/Http/Controllers/Api/CalendarController.php
  app/Http/Controllers/Api/DocumentController.php
  app/Http/Controllers/Api/NewsController.php
  app/Http/Controllers/Api/TypeController.php
  app/Http/Controllers/Concerns/ApiResponses.php
  app/Http/Middleware/SetLocale.php
  resources/js/Components/AdminForms/MeetingForm.vue
  resources/js/Components/AdminForms/Special/FileableForm.vue
  resources/js/Components/Modals/NewMeetingModal.vue
  resources/js/Components/TasksIndicator.vue
  resources/js/Composables/useApi.ts
  resources/js/Features/Admin/FileManager/adapters/LocalFileAdapter.ts
  resources/js/Features/Admin/FileManager/adapters/SharepointFileAdapter.ts
  resources/js/Features/Admin/FileManager/useFileListing.ts
  resources/js/Features/Admin/SharepointFileManager/SharepointFileManager.vue
  resources/js/Types/api.d.ts
  routes/admin.php
  routes/api.php
  tests/Architecture/ApiArchitectureTest.php
  tests/Architecture/ControllerArchitectureTest.php
  tests/Feature/Admin/Resources/FilesControllerTest.php
  tests/Feature/System/RouteArchitectureTest.php
Due: backend, frontend, Laravel Controllers, Vue Components, Vue Composables

Reorganize public calendar and news routes, option to show only one tenant events
  app/Http/Controllers/Admin/DashboardController.php
  app/Http/Controllers/Admin/TenantController.php
  app/Http/Controllers/Api/Admin/MeetingApiController.php
  app/Http/Controllers/Api/CalendarController.php
  app/Http/Controllers/Api/NewsController.php
  app/Http/Middleware/HandleInertiaRequests.php
  resources/js/Components/Modals/NewMeetingModal.vue
  resources/js/Components/Public/FullWidth/EventCalendarElement.vue
  resources/js/Components/RichContent/ContentEditorFactory.vue
  resources/js/Components/RichContent/Types/CalendarEditor.vue
  resources/js/Components/RichContent/Types/index.ts
  resources/js/Composables/useMeetingTemplates.ts
  resources/js/Services/ContentService.ts
  resources/js/Types/contentParts.ts
  routes/api.php
Due: backend, frontend, Laravel Controllers, Vue Components, Vue Composables

More lax checkin dates, ability to add it gantt
  app/Http/Requests/StoreInstitutionCheckInRequest.php
  resources/js/Components/Graphs/MeetingsGantt.vue
  resources/js/Components/Graphs/composables/index.ts
  resources/js/Components/Graphs/composables/useDragSelection.ts
  resources/js/Components/Graphs/renderers/index.ts
  resources/js/Components/Graphs/renderers/renderDragSelection.ts
  resources/js/Components/Graphs/renderers/renderHoverEffects.ts
  resources/js/Components/Institutions/AddCheckInDialog.vue
  resources/js/Pages/Admin/Dashboard/Components/FullscreenGanttModal.vue
  resources/js/Pages/Admin/Dashboard/Components/TenantTimelineSection.vue
  resources/js/Pages/Admin/Dashboard/Components/TimelineGanttChart.vue
  resources/js/Pages/Admin/Dashboard/Components/UserTimelineSection.vue
  resources/js/Pages/Admin/Dashboard/Composables/useAtstovavimasActions.ts
  resources/js/Pages/Admin/Dashboard/ShowAtstovavimas.vue
  tests/Feature/Admin/Management/InstitutionCheckInTest.php
Due: backend, frontend, Laravel Features, Vue Components, Vue Pages

Enhance check-in functionality and data reactivity across dashboard components
  app/Http/Controllers/Admin/DashboardController.php
  resources/js/Components/Institutions/AddCheckInDialog.vue
  resources/js/Pages/Admin/Dashboard/Components/InstitutionDataTable.vue
  resources/js/Pages/Admin/Dashboard/Components/InstitutionsOverviewCard.vue
  resources/js/Pages/Admin/Dashboard/Components/PersonalOverviewSection.vue
  resources/js/Pages/Admin/Dashboard/Composables/useAtstovavimasActions.ts
  resources/js/Pages/Admin/Dashboard/Composables/useAtstovavimasData.ts
  resources/js/Pages/Admin/Dashboard/ShowAtstovavimas.vue
  resources/js/Pages/Admin/People/ShowInstitution.vue
Due: backend, frontend, Laravel Controllers, Vue Components, Vue Pages

Refactor reservation approval system to not be dependent on comments
  app/Console/Commands/EscalateOverdueApprovals.php
  app/Contracts/Approvable.php
  app/Enums/ApprovalDecision.php
  app/Events/ApprovalDecisionMade.php
  app/Events/ApprovalFlowCompleted.php
  app/Events/ApprovalRequested.php
  app/Http/Controllers/Admin/ApprovalController.php
  app/Http/Controllers/Admin/CommentController.php
  app/Listeners/Approval/CompleteTasksOnApproval.php
  app/Listeners/Approval/CreateApprovalTask.php
  app/Listeners/ReservationResource/HandleReservationResourceCreated.php
  app/Listeners/ReservationResource/HandleReservationResourceLent.php
  app/Listeners/ReservationResource/HandleReservationResourceReserved.php
  app/Models/Approval.php
  app/Models/ApprovalFlow.php
  app/Models/Pivots/ReservationResource.php
  app/Models/Traits/HasApprovals.php
  app/Notifications/ApprovalDecisionNotification.php
  app/Notifications/ApprovalEscalationNotification.php
  app/Notifications/ApprovalRequestedNotification.php
  app/Providers/EventServiceProvider.php
  app/Services/ApprovalService.php
  app/Services/TaskService.php
  database/migrations/2026_01_15_154825_create_approvals_table.php
  database/migrations/2026_01_15_155011_add_action_type_to_tasks_table.php
  database/migrations/2026_01_15_160000_migrate_comment_decisions_to_approvals.php
  database/seeders/ApprovalFlowSeeder.php
  lang/admin/en/notifications.php
  lang/admin/lt/notifications.php
  resources/js/Components/Tables/ReservationResourceTable.vue
  resources/js/Components/ui/data-table/DataTable.vue
  resources/js/Features/Admin/Approvals/ApprovalActions.vue
  resources/js/Features/Admin/Approvals/ApprovalBadge.vue
  resources/js/Features/Admin/Approvals/ApprovalTimeline.vue
  resources/js/Features/Admin/Approvals/index.ts
  resources/js/Features/Admin/CommentViewer/CommentTipTap.vue
  resources/js/Features/Admin/CommentViewer/CommentViewer.vue
  routes/admin.php
  tests/Feature/Approvals/ApprovalControllerTest.php
  tests/Feature/Approvals/ApprovalServiceTest.php
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Laravel Features, Vue Components

Implement type-based cross-tenant authorization logic in RelationshipService and add corresponding tests
  app/Services/RelationshipService.php
  tests/Feature/Services/RelationshipServiceTest.php
Due: backend, Laravel Services

Add mobile card view for reservation resources and enhance table functionality
  app/Contracts/Approvable.php
  app/Http/Controllers/Admin/ApprovalController.php
  app/Http/Controllers/Admin/ReservationController.php
  app/Listeners/ReservationResource/CompleteTasksOnStateChange.php
  app/Models/Pivots/ReservationResource.php
  app/Providers/EventServiceProvider.php
  app/Services/ApprovalService.php
  app/States/ReservationResource/Lent.php
  app/States/ReservationResource/Reserved.php
  resources/js/Components/SmallElements/StateProgressIndicator.vue
  resources/js/Components/Tables/ReservationResourceCard.vue
  resources/js/Components/Tables/ReservationResourceTable.vue
  resources/js/Components/ui/data-table/DataTable.vue
  resources/js/Pages/Admin/Reservations/ShowReservation.vue
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Vue Components, Vue Pages

Enhance task management system with new features and UI improvements
  app/Contracts/Taskable.php
  app/Http/Controllers/Admin/DashboardController.php
  app/Http/Controllers/Admin/TaskController.php
  app/Http/Controllers/Api/Admin/TaskApiController.php
  app/Listeners/Approval/CompleteTasksOnApproval.php
  app/Listeners/Approval/CreateApprovalTask.php
  app/Listeners/ReservationResource/CompleteTasksOnStateChange.php
  app/Listeners/ReservationResource/HandleReservationResourceLent.php
  app/Listeners/ReservationResource/HandleReservationResourceReserved.php
  app/Models/Task.php
  app/Notifications/TaskAutoCompletedNotification.php
  app/Services/TaskService.php
  app/Tasks/Enums/ActionType.php
  database/migrations/2026_01_15_184453_add_metadata_to_tasks_table.php
  lang/admin/en/notifications.php
  lang/admin/lt/notifications.php
  lang/en.json
  lang/lt.json
  resources/js/Components/Tasks/TaskItem.vue
  resources/js/Components/TasksIndicator.vue
  resources/js/Features/Admin/TaskManager/TaskManager.vue
  resources/js/Features/Admin/TaskManager/TaskTable.vue
  resources/js/Pages/Admin/Dashboard/Components/TasksCard.vue
  resources/js/Pages/Admin/ShowAdminHome.vue
  resources/js/Pages/Admin/ShowTasks.vue
  resources/js/Types/TaskTypes.ts
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Vue Components, Vue Pages

Make some visual updates
  resources/js/Components/Avatars/UserAvatar.vue
  resources/js/Components/Avatars/UserPopover.vue
  resources/js/Components/Avatars/UsersAvatarGroup.vue
  resources/js/Components/ui/avatar/Avatar.vue
  resources/js/Components/ui/avatar/index.ts
  resources/js/Composables/useDashboardCardStyles.ts
  resources/js/Pages/Admin/Dashboard/Components/CalendarEventsCard.vue
  resources/js/Pages/Admin/Dashboard/Components/NewsListCard.vue
  resources/js/Pages/Admin/ShowAdminHome.vue
Due: frontend, Vue Components, Vue Pages, Vue Composables

Refactor model casts to use method syntax for improved clarity and consistency
  app/Models/Calendar.php
  app/Models/Document.php
  app/Models/Duty.php
  app/Models/FieldResponse.php
  app/Models/FileableFile.php
  app/Models/FormField.php
  app/Models/InstitutionCheckIn.php
  app/Models/Meeting.php
  app/Models/Navigation.php
  app/Models/News.php
  app/Models/NotificationDigestQueue.php
  app/Models/Page.php
  app/Models/Pivots/Dutiable.php
  app/Models/Pivots/MembershipUser.php
  app/Models/Pivots/Relationshipable.php
  app/Models/Pivots/ReservationResource.php
  app/Models/ProgrammeDay.php
  app/Models/Relationship.php
  app/Models/Reservation.php
  app/Models/Resource.php
  app/Models/Training.php
  app/Models/TrainingTask.php
  app/Models/Type.php
  app/Models/User.php
  database/factories/ApprovalFactory.php
  database/factories/ApprovalFlowFactory.php
  database/factories/TaskFactory.php
Due: backend, Laravel Models

Refactor notification digest system with enhanced email formatting, item limits, and new language support
  app/Console/Commands/ProcessNotificationDigestsCommand.php
  app/Mail/NotificationDigest.php
  lang/admin/en/notifications.php
  lang/admin/lt/notifications.php
  resources/views/emails/assigned-to-resource.blade.php
  resources/views/emails/comment-posted.blade.php
  resources/views/emails/model-commented.blade.php
  resources/views/emails/notification-digest.blade.php
  resources/views/emails/user-attached-to-model.blade.php
  resources/views/vendor/mail/html/themes/default.css
Due: backend, Laravel Features

Add global and tenant visibility roles to Atstovavimas settings and update related functionality
  app/Http/Controllers/Admin/DashboardController.php
  app/Http/Controllers/Admin/SettingsController.php
  app/Http/Requests/UpdateAtstovavimasSettingsRequest.php
  app/Services/ResourceServices/DutyService.php
  app/Settings/AtstovavimasSettings.php
  database/settings/2026_01_15_000000_add_visibility_roles_to_atstovavimas_settings.php
  lang/admin/en/settings.php
  lang/admin/lt/settings.php
  resources/js/Pages/Admin/Settings/EditAtstovavimasSettings.vue
  tests/Feature/Admin/Core/AtstovavimasSettingsTest.php
  tests/Feature/Admin/Core/DashboardControllerTest.php
Due: backend, frontend, Laravel Controllers, Laravel Services, Laravel Features, Vue Pages

Refactor tutorial management: remove deprecated TutorialController, update API routes, and enhance tutorial progress handling in the frontend
  app/Http/Controllers/Admin/SettingsController.php
  app/Http/Controllers/Admin/TutorialController.php
  app/Http/Controllers/Api/Admin/TutorialApiController.php
  app/Settings/AtstovavimasSettings.php
  resources/js/Components/AdminForms/MeetingReviewForm.vue
  resources/js/Components/AdminForms/Special/AgendaItemsForm.vue
  resources/js/Components/Onboarding/SpotlightPopover.vue
  resources/js/Composables/useApi.ts
  resources/js/Composables/useFeatureSpotlight.ts
  resources/js/Composables/useProductTour.ts
  resources/js/Pages/Admin/ShowUserSettings.vue
  routes/admin.php
  routes/api.php
  tests/Architecture/ControllerArchitectureTest.php
Due: backend, frontend, Laravel Controllers, Vue Components, Vue Pages, Vue Composables

Update deps
  app/Models/Approval.php
  app/Models/ApprovalFlow.php
  app/Models/Calendar.php
  app/Models/Comment.php
  app/Models/Duty.php
  app/Models/FileableFile.php
  app/Models/Institution.php
  app/Models/Meeting.php
  app/Models/News.php
  app/Models/NotificationDigestQueue.php
  app/Models/Pivots/ReservationResource.php
  app/Models/PublicInstitution.php
  app/Models/PublicMeeting.php
  app/Models/Task.php
  app/Models/Type.php
  app/Models/User.php
  composer.lock
  package-lock.json
  package.json
  resources/js/Types/enums.ts
  resources/js/Types/models.d.ts
Due: backend, frontend, Laravel Models

Remove ContactsSearch.vue
  resources/js/Pages/Public/Contacts/ContactsSearch.vue
Due: frontend, Vue Pages

Search functionality: integrate useOnline for network status, simplify facet merging, and enhance Typesense client creation
  resources/js/Composables/useDocumentSearch.ts
  resources/js/Composables/useInstitutionSearch.ts
  resources/js/Composables/useMeetingSearch.ts
  resources/js/Composables/useSearchClient.ts
  resources/js/Services/FacetMerger.ts
  resources/js/Services/__tests__/FacetMerger.test.ts
  resources/js/Utils/SearchUtils.ts
Due: frontend, Vue Composables

Use ShadcnVue elements in RichContentEditor
  lang/admin/en/rich-content.php
  lang/admin/lt/rich-content.php
  resources/js/Components/RichContent/RCHeroSection/HeroForm.vue
  resources/js/Components/RichContent/Types/AccordionEditor.vue
  resources/js/Components/RichContent/Types/CalendarEditor.vue
  resources/js/Components/RichContent/Types/CardEditor.vue
  resources/js/Components/RichContent/Types/FlowGraphEditor.vue
  resources/js/Components/RichContent/Types/ImageGridEditor.vue
  resources/js/Components/RichContent/Types/NewsEditor.vue
  resources/js/Components/RichContent/Types/NumberStatEditor.vue
  resources/js/Components/RichContent/Types/SpotifyEmbedEditor.vue
  resources/js/Components/RichContent/composables/useColorOptions.ts
  resources/js/Components/RichContentEditor.vue
  resources/js/Components/ui/dynamic-list-input/DynamicListInput.vue
  resources/js/Components/ui/dynamic-list-input/index.ts
  resources/js/Components/ui/field/Field.vue
  resources/js/Components/ui/field/FieldContent.vue
  resources/js/Components/ui/field/FieldDescription.vue
  resources/js/Components/ui/field/FieldError.vue
  resources/js/Components/ui/field/FieldGroup.vue
  resources/js/Components/ui/field/FieldLabel.vue
  resources/js/Components/ui/field/FieldLegend.vue
  resources/js/Components/ui/field/FieldSeparator.vue
  resources/js/Components/ui/field/FieldSet.vue
  resources/js/Components/ui/field/FieldTitle.vue
  resources/js/Components/ui/field/index.ts
  resources/js/Components/ui/label/Label.vue
  resources/js/Components/ui/label/index.ts
  resources/js/Components/ui/ordered-list-input/OrderedListInput.vue
Due: frontend, Vue Components

Enhance calendar API: implement date range filtering, enforce max range limit, and add tests for date range functionality
  app/Http/Controllers/Api/CalendarController.php
  resources/js/Components/Calendar/EventTimeline.vue
  resources/js/Components/Calendar/EventTimelineVertical.vue
  resources/js/Components/Public/FullWidth/EventCalendarElement.vue
  resources/js/Services/ContentService.ts
  tests/Feature/Api/CalendarControllerDateRangeTest.php
Due: backend, frontend, Laravel Controllers, Vue Components

Implement task subscribers and condense logic to one place
  app/Listeners/Approval/CompleteTasksOnApproval.php
  app/Listeners/Approval/CreateApprovalTask.php
  app/Listeners/ReservationResource/CompleteTasksOnStateChange.php
  app/Listeners/ReservationResource/HandleReservationResourceLent.php
  app/Listeners/ReservationResource/HandleReservationResourceReserved.php
  app/Providers/EventServiceProvider.php
  app/Services/TaskService.php
  app/Tasks/DTOs/CreateTaskData.php
  app/Tasks/Handlers/ApprovalTaskHandler.php
  app/Tasks/Handlers/BaseTaskHandler.php
  app/Tasks/Handlers/ManualTaskHandler.php
  app/Tasks/Handlers/PickupTaskHandler.php
  app/Tasks/Handlers/ReturnTaskHandler.php
  app/Tasks/Handlers/TaskHandler.php
  app/Tasks/README.md
  app/Tasks/Subscribers/ApprovalTaskSubscriber.php
  app/Tasks/Subscribers/ReservationTaskSubscriber.php
Due: backend, Laravel Services

Add meeting auto-tasks
  app/Actions/GetMeetingAdministrators.php
  app/Events/MeetingFullyCreated.php
  app/Http/Controllers/Admin/MeetingController.php
  app/Mail/NotificationDigest.php
  app/Notifications/MeetingAgendaCompletedNotification.php
  app/Notifications/MeetingCreatedNotification.php
  app/Providers/EventServiceProvider.php
  app/Tasks/Enums/ActionType.php
  app/Tasks/Handlers/AgendaCompletionTaskHandler.php
  app/Tasks/Handlers/AgendaCreationTaskHandler.php
  app/Tasks/Subscribers/MeetingTaskSubscriber.php
  database/factories/AgendaItemFactory.php
  lang/admin/en/notifications.php
  lang/admin/lt/notifications.php
  tests/Feature/Tasks/MeetingTaskSubscriberTest.php
  tests/Feature/Tasks/MeetingTaskTestHelpers.php
Due: backend, Laravel Controllers, Laravel Services

Refactor Calendar Event Page Layout and Improve UI Components
  resources/js/Components/Calendar/EventHero.vue
  resources/js/Components/Calendar/EventImageGallery.vue
  resources/js/Pages/Public/CalendarEvent.vue
Due: frontend, Vue Components, Vue Pages

Enhance task management: transform task data structure, improve urgency sorting, and update UI components for better usability
  app/Http/Controllers/Admin/MeetingController.php
  resources/js/Components/Tasks/TaskItem.vue
  resources/js/Components/TasksIndicator.vue
  resources/js/Composables/useTaskUrgency.ts
  resources/js/Features/Admin/TaskManager/TaskManager.vue
  resources/js/Pages/Admin/Dashboard/Components/TasksCard.vue
  resources/js/Pages/Admin/Representation/ShowMeeting.vue
Due: backend, frontend, Laravel Controllers, Vue Components, Vue Pages, Vue Composables

Add Start FM to admin app sidebar
  resources/js/Components/AppSidebar.vue
  resources/js/Components/SidebarStartFM.vue
Due: frontend, Vue Components

Progress on working on the ShowMeeting.vue page
  resources/js/Components/Meetings/MeetingAgendaSidebar.vue
  resources/js/Components/Meetings/MeetingHero.vue
  resources/js/Components/Meetings/MeetingOverview.vue
  resources/js/Components/ui/progress/Progress.vue
  resources/js/Components/ui/progress/index.ts
  resources/js/Pages/Admin/Representation/ShowMeeting.vue
Due: frontend, Vue Components, Vue Pages

Some more refactoring of Show page heros
  resources/js/Components/Duties/DutyHero.vue
  resources/js/Components/Hero/ShowPageHero.vue
  resources/js/Components/Institutions/InstitutionHero.vue
  resources/js/Components/Meetings/MeetingHero.vue
  resources/js/Components/Meetings/MeetingOverview.vue
  resources/js/Pages/Admin/People/ShowDuty.vue
  resources/js/Pages/Admin/People/ShowInstitution.vue
  resources/js/Pages/Admin/Representation/ShowMeeting.vue
Due: frontend, Vue Components, Vue Pages

Remove send welcome email behavior, send a simpler automatic
  app/Actions/SendWelcomeEmail.php
  app/Http/Controllers/Admin/UserController.php
  app/Http/Controllers/Api/Admin/TutorialApiController.php
  app/Mail/WelcomeEmail.php
  app/Notifications/WelcomeNotification.php
  lang/admin/en/notifications.php
  lang/admin/lt/notifications.php
  resources/js/Components/AdminForms/UserForm.vue
  resources/views/emails/welcome.blade.php
  routes/admin.php
  tests/Feature/Api/TutorialApiTest.php
  tests/Unit/Notifications/AllNotificationsTest.php
Due: backend, frontend, Laravel Controllers, Laravel Services, Vue Components

Replace ContactInstitutionOrType component with ShowInstitution for improved contact display
  app/Http/Controllers/Public/ContactController.php
  resources/js/Components/Public/ContactWithPhoto.vue
  resources/js/Components/Public/InstitutionContacts.vue
  resources/js/Pages/Public/Contacts/ContactInstitutionOrType.vue
  resources/js/Pages/Public/Contacts/ShowInstitution.vue
  tests/Feature/Public/PublicPagesTest.php
Due: backend, frontend, Laravel Controllers, Vue Components, Vue Pages

Enhance ContentPage and TableOfContents with last updated timestamps and improved layout styling
  app/Http/Controllers/Public/PublicPageController.php
  lang/en.json
  lang/lt.json
  resources/js/Components/Public/TableOfContents.vue
  resources/js/Pages/Public/ContentPage.vue
Due: backend, frontend, Laravel Controllers, Vue Components, Vue Pages

Refactor the managership indicating permission for institutions
  app/Actions/GetInstitutionManagers.php
  app/Http/Controllers/Admin/SettingsController.php
  app/Http/Requests/UpdateAtstovavimasSettingsRequest.php
  app/Observers/UserPermissionObserver.php
  app/Policies/InstitutionCheckInPolicy.php
  app/Services/InstitutionAccessService.php
  app/Services/ResourceServices/DutyService.php
  app/Services/Typesense/TypesenseScopedKeyService.php
  app/Settings/AtstovavimasSettings.php
  config/permission.php
  database/settings/2025_12_09_000000_create_atstovavimas_settings.php
  database/settings/2026_01_15_000000_add_visibility_roles_to_atstovavimas_settings.php
  database/settings/2026_01_18_000000_create_atstovavimas_settings.php
  resources/js/Pages/Admin/Settings/EditAtstovavimasSettings.vue
  tests/Feature/Admin/Core/AtstovavimasSettingsTest.php
  tests/Feature/Admin/Core/DashboardControllerTest.php
  tests/Feature/Forms/StudentRepRegistrationTest.php
Due: backend, frontend, Laravel Controllers, Laravel Services, Laravel Features, Vue Pages

Add check for existing SharePoint folder before rename operation
  app/Listeners/UpdateSharepointFolder.php
Due: backend

Improve loading state handling and fallback template for MdGetter
  resources/js/Features/Admin/PermissionTable/PermissionTable.vue
  resources/js/Features/MarkdownGetterFromDocs/MdSuspenseWrapper.vue
Due: frontend

Add task summary feature with authorization checks and UI updates
  app/Http/Controllers/Admin/TaskController.php
  app/Policies/TaskPolicy.php
  database/seeders/RoleResourceManagerSeeder.php
  database/seeders/RoleStudentRepresentativeCoordinatorSeeder.php
  lang/en.json
  lang/lt.json
  resources/js/Pages/Admin/Dashboard/ShowAtstovavimas.vue
  resources/js/Pages/Admin/Dashboard/ShowReservations.vue
  resources/js/Pages/Admin/ShowTasksSummary.vue
  routes/admin.php
Due: backend, frontend, Laravel Controllers, Vue Pages

Implement batch user update with temporary ID tracking and validation
  app/Http/Controllers/Admin/DutyController.php
  app/Http/Requests/BatchUpdateDutyUsersRequest.php
  resources/js/Components/DutyUserWizard/Step3UserAssignment.vue
  resources/js/Composables/useDutyUserWizard.ts
  tests/Feature/Admin/Management/DutyUserWizardTest.php
Due: backend, frontend, Laravel Controllers, Laravel Features, Vue Components, Vue Composables

Add resource search functionality with authorization and UI components
  app/Enums/SearchableModelEnum.php
  app/Http/Controllers/Admin/ResourceController.php
  app/Http/Controllers/Admin/SearchController.php
  app/Models/Resource.php
  app/Services/Typesense/TypesenseCollectionConfig.php
  app/Services/Typesense/TypesenseScopedKeyService.php
  config/scout.php
  resources/js/Composables/useAdminSearch.ts
  resources/js/Features/Admin/AdminSearch/Components/AdminSearchLayout.vue
  resources/js/Features/Admin/AdminSearch/Components/Cards/ResourceSearchCard.vue
  resources/js/Features/Admin/AdminSearch/Composables/useAdminCollectionSearch.ts
  resources/js/Features/Admin/AdminSearch/Config/collectionFacetConfig.ts
  resources/js/Features/Admin/AdminSearch/Types/AdminSearchTypes.ts
  resources/js/Pages/Admin/Search/SearchInstitutions.vue
  resources/js/Pages/Admin/Search/SearchResources.vue
  resources/js/Shared/Search/types/index.ts
Due: backend, frontend, Laravel Controllers, Laravel Models, Laravel Services, Vue Pages, Vue Composables

Fix checkbox v-model binding
  resources/js/Components/AppSidebar.vue
  resources/js/Components/RichContent/Types/CardEditor.vue
  resources/js/Features/Admin/TaskManager/CreateTaskDialog.vue
Due: frontend, Vue Components

Remove obsolete console commands and notifications related to approval escalations
  app/Console/Commands/EscalateOverdueApprovals.php
  app/Console/Commands/GenerateDocumentSearchKey.php
  app/Console/Commands/MakeIndexPage.php
  app/Console/Commands/SendRemindersToLoginCommand.php
  app/Console/Commands/SyncDocumentsCommand.php
  app/Console/Kernel.php
  app/Notifications/ApprovalEscalationNotification.php
  database/migrations/2026_01_18_181644_delete_all_tasks_for_repopulation.php
  tests/Feature/DocumentSyncTest.php
Due: backend, Laravel Features

Another iteration of Show pages ideas...
  resources/js/Components/Alerts/PriorityAlert.vue
  resources/js/Components/Cards/StatCard.vue
  resources/js/Components/Cards/StatsRow.vue
  resources/js/Components/Institutions/InstitutionMeetingsPreview.vue
  resources/js/Components/Institutions/InstitutionOverviewSection.vue
  resources/js/Components/Meetings/MeetingNavigationCards.vue
  resources/js/Components/Meetings/MeetingOverviewSection.vue
  resources/js/Composables/useInstitutionUrgency.ts
  resources/js/Composables/useMeetingUrgency.ts
  resources/js/Composables/useShowPageData.ts
  resources/js/Pages/Admin/People/ShowInstitution.vue
  resources/js/Pages/Admin/Representation/ShowMeeting.vue
  resources/js/Pages/Public/Meetings/ShowMeeting.vue
Due: frontend, Vue Components, Vue Pages, Vue Composables
