Repository vu-sa/vusa.lt: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project: off  # Don't require overall project coverage targets
    patch:
      default:
        target: 50%      # Liberal starting point - encourage any testing
        threshold: 5%    # Allow for reasonable drops
        if_ci_failed: ignore
      backend:
        flags:
          - backend
        target: 60%      # Slightly higher for backend since it's more critical
        threshold: 5%
        if_ci_failed: ignore
      frontend:
        flags:
          - frontend
        target: 50%      # Liberal for frontend components
        threshold: 5%
        if_ci_failed: ignore

flags:
  backend:
    paths:
      - app/
      - database/
      - routes/
      - config/
  frontend:
    paths:
      - resources/js/
      - resources/css/

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: true

Optimize Codecov configuration
  .codecov.yml
  .github/workflows/ci.yml
  package.json
Due: none

Update eslint config, update deps and run auto scripts
  CLAUDE.md
  app/Models/Category.php
  app/Models/Document.php
  app/Models/Permission.php
  app/Models/SharepointFile.php
  composer.lock
  eslint.config.mjs
  package-lock.json
  package.json
  resources/js/Types/enums.ts
  resources/js/Types/models.d.ts
  tsconfig.json
  vite.config.mts
Due: backend, frontend

Install fs-events (once again...)
  package-lock.json
Due: none

Update social media links in FacebookButton and InstagramButton components, and update text content in SummerCamps page
  resources/js/Components/Public/Nav/FacebookButton.vue
  resources/js/Components/Public/Nav/InstagramButton.vue
  resources/js/Pages/Public/SummerCamps.vue
Due: frontend

Add more tests; update documentation
  CLAUDE.md
  app/Http/Controllers/Admin/TrainingController.php
  app/Http/Requests/StoreTrainingRequest.php
  app/Models/Resource.php
  app/Models/ResourceCategory.php
  app/Models/Training.php
  database/seeders/RoleCommunicationCoordinatorSeeder.php
  resources/js/Composables/__tests__/useToasts.test.ts
  tests/CLAUDE.md
  tests/Feature/Admin/Content/RelationshipControllerTest.php
  tests/Feature/Admin/Core/DashboardControllerTest.php
  tests/Feature/Admin/Management/TrainingControllerTest.php
  tests/Feature/System/AdminSearchTest.php
  tests/Pest.php
  tests/README.md
  tests/Unit/Collections/ReservationCollectionTest.php
  tests/Unit/Models/ResourceTest.php
  tests/Unit/Services/Sharepoint/SharepointRobustnessTest.php
  tests/Unit/Support/TranslatableModelIdeHelperHookTest.php
Due: backend, frontend

Make the deployment more robust
  .github/workflows/deploy.yml
  .gitignore
  app/Console/Commands/DeploymentBackup.php
  app/Console/Commands/DeploymentDeployAssets.php
  app/Console/Commands/DeploymentHealthCheck.php
  app/Console/Commands/DeploymentResume.php
  app/Console/Commands/DeploymentRun.php
  scripts/test-deployment.sh
Due: backend

Update documentation
  CLAUDE.md
  app/Http/Controllers/CLAUDE.md
  dev/FORM_SYSTEM.md
  dev/README.md
  dev/architecture/authorization.md
  dev/test-deployment.sh
Due: backend

Cast field ID to string in validation
  app/Http/Requests/StoreRegistrationRequest.php
Due: backend

Use adminer instead of phpmyadmin
  .env.example
  docker-compose.yml
Due: none

Remove storybook code coverage addon
  .storybook/main.ts
  docker-compose.yml
  eslint.config.mjs
  package-lock.json
  package.json
Due: none

Don't duplicate searches in DocumentSearch
  lang/lt/search.php
  resources/js/Components/Public/Search/DocumentSearchInput.vue
  resources/js/Components/Public/Search/DocumentSearchInterface.vue
Due: frontend

After news duplication, properly validate after saving immediately
  app/Http/Requests/UpdateNewsRequest.php
  tests/Unit/Actions/DuplicateNewsActionTest.php
Due: backend

Fix old table sorting
  app/Services/CustomAdminSearchBuilder.php
  resources/js/Pages/Admin/Content/IndexNews.vue
  resources/js/Pages/Admin/Content/IndexPages.vue
Due: backend, frontend

Fix public toasts; make sure that registration form works
  app/Http/Controllers/Admin/FormController.php
  app/Http/Controllers/RegistrationController.php
  app/Http/Middleware/HandleInertiaRequests.php
  app/Http/Requests/StoreFormRequest.php
  app/Http/Requests/StoreRegistrationRequest.php
  app/Http/Requests/UpdateFormRequest.php
  resources/js/Components/AdminForms/FormForm.vue
  resources/js/Components/Public/Layouts/PublicLayout.vue
  resources/js/Composables/useToasts.ts
  resources/js/Pages/Admin/Forms/ShowForm.vue
Due: backend, frontend

Update Admin Layout
  resources/css/app.css
  resources/js/CLAUDE.md
  resources/js/Components/Layouts/AdminContentPage.vue
  resources/js/Components/Layouts/AdminLayout.vue
  resources/js/Components/Layouts/FormUpsertLayout.vue
  resources/js/Components/Layouts/ShowModel/ShowPageLayout.vue
  resources/js/Layouts/PersistentAdminLayout.vue
  resources/js/Pages/Admin/Dashboard/ShowAtstovavimas.vue
  resources/js/admin.ts
Due: frontend

PHP Linting (Pint)
  app/Http/Controllers/Admin/FormController.php
  app/Http/Controllers/RegistrationController.php
  app/Http/Requests/StoreRegistrationRequest.php
  app/Http/Requests/UpdateNewsRequest.php
  app/Services/CustomAdminSearchBuilder.php
  tests/Unit/Actions/DuplicateNewsActionTest.php
Due: backend

Remove old cases of useDialog
  resources/js/Components/AdminForms/AdminForm.vue
  resources/js/Components/Layouts/IndexModel/ActionColumns.vue
Due: frontend

Show the ShowRole.vue route in IndexRole.vue
  resources/js/Pages/Admin/Permissions/IndexRole.vue
  resources/js/Pages/Admin/Permissions/ShowRole.vue
Due: frontend

Show failed status for failed tests
  .github/workflows/ci.yml
  package.json
Due: none

Polish reservation pages and breadcrumbs
  resources/js/Pages/Admin/Reservations/IndexReservation.vue
  resources/js/Pages/Admin/Reservations/ShowReservation.vue
Due: frontend

Refactor the FileSelector.vue a bit
  app/Http/Controllers/Admin/FilesController.php
  lang/en/accessibility.php
  lang/en/common.php
  lang/lt/accessibility.php
  lang/lt/common.php
  resources/js/Components/FileUpload/FileUploadArea.vue
  resources/js/Components/TipTap/ImageSelector.vue
  resources/js/Components/TipTap/TiptapLinkButton.vue
  resources/js/Features/Admin/FileManager/Components/FileItem.vue
  resources/js/Features/Admin/FileManager/Components/FileManagerHeader.vue
  resources/js/Features/Admin/FileManager/FileManager.vue
  resources/js/Features/Admin/FileManager/FileSelector.vue
  resources/js/Features/Admin/FileManager/useFileListing.ts
  tests/Feature/Admin/Resources/FilesControllerTest.php
Due: backend, frontend

Remove matter_id from agenda_items
  database/migrations/2025_08_05_111557_remove_matter_related_tables_and_columns.php
Due: backend

Update how calendar events are displayed
  app/Http/Controllers/Public/PublicPageController.php
  resources/css/app.css
  resources/js/Components/Calendar/CalendarActions.vue
  resources/js/Components/Calendar/CalendarCard.vue
  resources/js/Components/Calendar/CalendarDateBadge.vue
  resources/js/Components/Calendar/CalendarEventMeta.vue
  resources/js/Components/Calendar/EventActions.vue
  resources/js/Components/Calendar/EventCalendar.vue
  resources/js/Components/Calendar/EventCard.vue
  resources/js/Components/Calendar/EventHero.vue
  resources/js/Components/Calendar/EventImageGallery.vue
  resources/js/Components/Calendar/EventListContent.vue
  resources/js/Components/Calendar/EventSocialShare.vue
  resources/js/Pages/Admin/Reservations/IndexReservation.vue
  resources/js/Pages/Public/CalendarEvent.vue
  resources/js/Utils/IntlTime.ts
Due: backend, frontend

Fix the multi-character sanitization
  resources/js/Components/Calendar/EventSocialShare.vue
Due: frontend

Fix ci.yml
  .github/workflows/ci.yml
Due: none

PHP Linting (Pint)
  app/Http/Controllers/Admin/FilesController.php
Due: backend

Properly save the publish_time for news
  app/Http/Controllers/Admin/NewsController.php
  app/Http/Requests/StoreNewsRequest.php
Due: backend

Don't remove matter_id for now
  database/migrations/2025_08_05_111557_remove_matter_related_tables_and_columns.php
Due: backend

Update how documents in admin are paginated and displayed
  app/Http/Controllers/Admin/DocumentController.php
  app/Http/Controllers/Admin/NewsController.php
  app/Http/Requests/StoreNewsRequest.php
  app/Jobs/SyncStaleDocumentsJob.php
  package.json
  resources/js/Components/Public/Search/__tests__/DocumentSearchInput.component.test.ts
  resources/js/Components/Public/Search/__tests__/DocumentSearchInterface.component.test.ts
  resources/js/Components/ui/data-table/DataTableProvider.vue
  resources/js/Components/ui/pagination/Pagination.vue
  resources/js/Components/ui/pagination/PaginationContent.vue
  resources/js/Components/ui/pagination/PaginationEllipsis.vue
  resources/js/Components/ui/pagination/PaginationFirst.vue
  resources/js/Components/ui/pagination/PaginationItem.vue
  resources/js/Components/ui/pagination/PaginationLast.vue
  resources/js/Components/ui/pagination/PaginationNext.vue
  resources/js/Components/ui/pagination/PaginationPrevious.vue
  resources/js/Components/ui/pagination/index.ts
  resources/js/Features/Admin/SharepointFileManager/Uploader/FileForm.vue
  resources/js/Pages/Admin/Files/IndexDocument.vue
  tests/Feature/Admin/Content/NewsControllerTest.php
  tests/Feature/System/AdminSearchTest.php
Due: backend, frontend

Fix tests
  app/Http/Requests/StoreNewsRequest.php
  tests/Feature/DocumentSyncTest.php
Due: backend

Enhance InstitutionFigure and ShowContactCategory components
  resources/js/Components/Public/InstitutionFigure.vue
  resources/js/Pages/Public/Contacts/ShowContactCategory.vue
Due: frontend

Fix saving publish_time
  app/Http/Requests/StoreFormRequest.php
  app/Http/Requests/UpdateFormRequest.php
Due: backend

PHP Linting (Pint)
  app/Http/Controllers/Public/PublicPageController.php
Due: backend

Fix PHPStan error and update deps
  _ide_helper.php
  app/Models/Institution.php
  composer.lock
  package-lock.json
Due: backend

Add type to SendMemberRegistrationNotification listener
  app/Listeners/SendMemberRegistrationNotification.php
Due: backend

Update workflows
  .codecov.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .gitignore
Due: none

Unduplicate route name for membership page
  routes/web.php
Due: backend

Fix deployment health check and photo gallery grid
  app/Console/Commands/DeploymentHealthCheck.php
  app/Console/Commands/DeploymentRun.php
  resources/js/Components/ui/PhotoGalleryGrid.vue
  resources/js/Pages/Public/MembershipPage.vue
Due: backend, frontend
